{% extends '/NewsLetter/NewsLetter.html' %}
{% block title %}
<title>April 2012 NewsLetter - Primary Mathematics - Learn, Practice, Progress</title>
<meta name="description" content="What's New Happening at Home Campus this month" />
{% endblock %}
{% block body %}
<div style="overflow-y:scroll;margin-left:311px;height: 535px;">
<table description="lightestBgcolor" name="tid" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="padding: 0px 20px 20px 20px;">
<div style="padding: 10px; margin: 0px;">
<table align="left" width="520" cellpadding="0" cellspacing="0" style="font-family: 'Verdana';">
<tbody>

<tr>
<td style="text-align:left;padding: 0px 20px; background: url(/images/NewsLetter/HomeCampus_newsletter_header_April2012.png) no-repeat center;">
<table description="mediumBorderBottomColor" name="tid" width="520" height="129" cellpadding="10" cellspacing="0" border="0">
<tbody>
<tr>
<td style="text-align:left;width="300">
&nbsp;</td>
<td >
<br /><br /><br />
<h3 valign="baseline" align="right" style="font-family: Verdana, Helvetica, sans-serif; font-size: 14px; padding: 2px 0px; margin: 1px;">
<b><font color="#D92118">Learn.</font> <font color="#2A91E1">Practice.</font> <font color="#F6B937">Progress.</font></b></h3>
<h3 valign="baseline" align="right" style="font-family: Verdana, Helvetica, sans-serif; font-weight: bold; color: #006666; font-size: 13px; padding: 2px 0px; margin: 1px;"><a href="http://my.homecampus.com.sg" style="text-decoration:none;"><font color="#006666">www.homecampus.com.sg</font></a></h3>
</td>
</tr>

</tbody>
</table>
</tr>
<tr>
<td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px;">
<table width="520" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left;padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">Dear Parent/Teacher,<br /><br />
Hope you and your child / children are finding Home Campus a useful learning tool and are taking advantage of the <b>FREE unlimited</b> practice problems!<br /></p>
<br /></td>
</tr>

<tr>
<td valign="top" width="300px" style="text-align:left;padding-right: 10px;padding-left: 0px;"" ><p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
We are excited to let you know that Home Campus has recently got a <b>face lift</b>! This means a neater site with a quicker access to your desired page. Do check out the <a href="http://my.homecampus.com.sg"><font color="#006666">new look</font></a> and let us know your feedback.</p>
</td>
<td><img src="/images/NewsLetter/HomeCampus_facelift_April2012.png" alt="Home Campus has got a face lift!" title="Home Campus has a new look!" /></td>
</tr>
</tbody>
</table>
<table width="520" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top"><img src="/images/NewsLetter/HomeCampus_P4registration_April2012.png" alt="Registration for 4th graders is now open!" title="Registration for 4th graders is now open!" /></td>
<td valign="top" style="text-align:left;padding-bottom: 0px; padding-left: 0px; padding-right: 10px; padding-top: 0px;">
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
<br />More news: <b><a href="http://my.homecampus.com.sg/Register"><font color="#006666">Registration for Primary 4 kids</font></a></b> is now open! The 4th Graders can now practice problems on several topics - Whole Numbers, Decimal Numbers, Fractions and Measurement, to name a few.<br /><br />
</p>
</td>
</tr>
</tbody>
</table>

<table width="520" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" width="300px" style="text-align:left;padding-right: 10px;padding-left:0px"" >
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
<br />What more? Well, we've been <b>adding plenty of content</b> to both Learn and Practice almost <b>daily</b>. For instance, check out the story <a href="http://my.homecampus.com.sg/Learn/Primary5/Measurement/Volume-Cube-Cuboid-Advanced-Word-Problems"><font color="#006666">problems on Volume</font></a> that will definitely help the 6th graders exercise their brain.<br /><br />   
</td>
<td><img src="/images/NewsLetter/HomeCampus_Volume_notes_April2012.png" alt="Advanced word problems for 6th graders on Volume" title="Advanced word problems for 6th graders on Volume" /></td>
</tr>
<tr>
<td valign="top" style="text-align:left;padding-bottom: 0px; padding-left: 0px; padding-right: 10px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
Keep visiting us and keep supporting us with your <a href="http://my.homecampus.com.sg/Contact"><font color="#006666">comments and feedback</font></a>.
<br /><br />
Wish you happy learning in April!<br /></p>

<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;"><br />Regards,<br />Team @ Home Campus<br /><strong><font color="#D92118">Learn.</font> <font color="#2A91E1">Practice.</font> <font color="#F6B937">Progress.</font></strong><br />
  <b><a href="http://my.homecampus.com.sg"><font color="#006666">www.homecampus.com.sg</font></a></b></p></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td height="10"></td>

</tr>
<tr>
<td>
<table width="520" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; font-size: 10px; line-height: 1.5em; font-family: 'Verdana'; color: #999;">
<tbody>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left;padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">For FAQs about Home Campus, please visit  <a href="http://www.homecampus.com.sg/FAQs" title="Home Campus FAQs" target="_new">my.homecampus.com.sg/FAQs</a>. </font></td>
</tr>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left;padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;">
  <font color="#999999">Follow us on Facebook and YouTube at <a href="http://www.facebook.com/HomeCampus" title="like Home Campus on Facebook" target="_new">www.facebook.com/HomeCampus</a> and <a href="http://www.youtube.com/user/HomeCampus" title="Home Campus @ YouTube" target="_new">www.youtube.com/user/HomeCampus</a>.</font>
  </td>
</tr>
<tr>

</tbody>

</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
{% endblock %}
