{% extends '/NewsLetter/NewsLetter.html' %}
{% block title %}
<title>February 2013 NewsLetter - Primary Mathematics - Learn, Practice, Progress</title>
<meta name="description" content="What's New Happening at Home Campus this month" />
{% endblock %}
{% block body %}
<div style="overflow-y:scroll;margin-left:311px;height: 535px;">
<table description="lightestBgcolor" name="tid" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="padding: 0px 20px 20px 20px;">
<div style="padding: 10px; margin: 0px;">
<table align="left" width="560" cellpadding="0" cellspacing="0" style="font-family:Verdana;">
<tbody>
<tr>
<td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px;">
<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left;padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;">
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">Dear Parents, Teachers and Children,<br /><br />
Hope you are all having a happy start to the new year!
</p>
</td>
</tr>
<tr>
<td valign="top" style="text-align:left; padding-left: 0px; padding-right: 0px;padding-bottom:0px;" >
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<b>WHAT IS NEW AT HOME CAMPUS?</b><br /><br />
Well, there are a couple of new things that we have done in the new year so far. For starters, the website has a <b>new face</b>.
<br /><br />
<a href="http://www.homecampus.com.sg" title="check out the new face of HC" alt="check out the new face of HC" style="text-decoration: none;"><img src="/images/NewsLetter/HomeCampus_Newsletter_February_2013_1.png" alt="check out the new face of HC" title="check out the new face of HC"/></a>
<br /><br />
<a href="http://www.homecampus.com.sg" title="check out the new face of HC" alt="check out the new face of HC"><font color="#F7941C">Check it out</font></a> and give us your <a href="http://my.homecampus.com.sg/Contact" title="tell us what you think" alt="tell us what you think"><font color="#F7941C">feedback</font></a>.
</p>
</td>
</tr>
</tbody>
</table>
<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td colspan=2 valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<br /><b>NEW PRACTICE SUMS</b><br /><br />
The large pool of practice questions for our <b>4th, 5th and 6th graders</b> has got even larger with the addition of a variety of <b>new problem sums</b> a.k.a. word problems. Check out some under the topics of <a href="http://my.homecampus.com.sg/Practice/Primary_5_Mathematics" title="solve a few questions" alt="solve a few questions"><font color="#F7941C">Data Analysis or Decimals</font></a>. Here's an example...
<br />
</td>
</tr>
<tr>
<td valign="top" style="text-align:left; padding-left: 0px; padding-right: 0px;" >
<a href="http://my.homecampus.com.sg/Practice" title="Answer: $37.95" alt="Answer: $37.95" style="text-decoration: none;"><img src="/images/NewsLetter/HomeCampus_Newsletter_February_2013_2.png" alt="Answer: $37.95" title="Answer: $37.95"/></a>
</td>
<td valign="top" style="text-align:left; padding-left: 20px; padding-right: 0px;" >
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<b><i><font color="#636363">Riley spent an average of $12.65 on 3 different books. What is the total cost of the books?</font></i></b>
<br />
<font color="#B7B7B7"><i>[Answer: $37.95]</i></font>
<br /><br />
Go to <a href="http://my.homecampus.com.sg/Practice" title="HC Practice" alt="HC Practice"><font color="#F7941C">HC Practice</font></a> to check out many many more. 
</p>
</td>
</tr>
</tbody>
</table>

<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left; padding-left: 0px; padding-right: 0px;" >
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<br /><b>100 THOUSAND+</b><br /><br />
HC has achieved a new milestone!! We have delivered <b>over 100 thousand video lessons</b> through our <a href="http://my.homecampus.com.sg/Learn" title="math is so easy" alt="math is so easy"><font color="#F7941C">website</font></a> and through <a href="http://www.youtube.com/homecampus" title="HC on YouTube" alt="HC on YouTube"><font color="#F7941C">YouTube</font></a>. We add video content on an ongoing basis. Stay tuned for more stuff.
<br /><br />
</p>
</td>
<td valign="middle" style="text-align:left; padding-right: 0px;">
<br />
<a href="http://www.youtube.com/homecampus" title="HC on YouTube" alt="HC on YouTube" style="text-decoration: none;"><img src="/images/NewsLetter/HomeCampus_Newsletter_February_2013_3.png" alt="100 thousand+ lessons delivered" title="100 thousand+ lessons delivered"/></a>
</td>
</tr>
</tbody>
</table>

<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" colspan=2 style="text-align:left; padding-left: 0px; padding-right: 0px;" >
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<br /><b>THANKS FOR THE APPRECIATION</b><br /><br />
Thanks for all the pats on the back. We are loving them &#x263A
</p>
</td>
</tr>
<tr>
<td valign="middle" style="text-align:left; padding-right: 20px;">
<a href="http://www.facebook.com/homecampus" alt="like us on Facebook" title="like us on Facebook" style="text-decoration: none;"><img src="/images/NewsLetter/HomeCampus_Newsletter_February_2013_4.png" alt="like us on Facebook" title="like us on Facebook"/></a>
</td>
<td valign="top" style="text-align:left; padding-left: 0px; padding-right: 0px;" >
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
If HC has been a great learning aid for your child then do <a href="http://www.facebook.com/homecampus" alt="HC on FB" title="HC on FB" style="text-decoration: none;"><font color="#F7941C">tell your Facebook friends</font></a> about us and help their kids excel in math too!!
</p>
</td>
</tr>
</tbody>
</table>

<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
So long for now.. Have a fantastic February!!
<br /></p>
<p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;"><br />Yours sincerely,<br />Team @ Home Campus<br /><strong><font color="#D92118">Learn.</font> <font color="#2A91E1">Practice.</font> <font color="#F6B937">Progress.</font></strong><br />
<b><a href="http://my.homecampus.com.sg"><font color="#006666">www.homecampus.com.sg</font></a></b></p></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td height="10"></td>
</tr>
<tr>
<td>
<table width="560" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; font-size: 10px; line-height: 1.5em; font-family:Verdana; color: #999;">
<tbody>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">For FAQs about Home Campus, please visit  <a href="http://my.homecampus.com.sg/FAQs" title="Home Campus FAQs" target="_new">my.homecampus.com.sg/FAQs</a>. </font></td>
</tr>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">Follow us on Facebook and YouTube at <a href="http://www.facebook.com/HomeCampus" title="like Home Campus on Facebook" target="_new">www.facebook.com/HomeCampus</a> and <a href="http://www.youtube.com/HomeCampus" title="Home Campus @ YouTube" target="_new">www.youtube.com/HomeCampus</a>.</font></td>
</tr>
</tbody>

</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>

</div>
{% endblock %}
