{% extends '/NewsLetter/NewsLetter.html' %}
{% block title %}
<title>January 2013 NewsLetter - Primary Mathematics - Learn, Practice, Progress</title>
<meta name="description" content="What's New Happening at Home Campus this month" />
{% endblock %}
{% block body %}
<div style="overflow-y:scroll;margin-left:311px;height: 535px;">
<table description="lightestBgcolor" name="tid" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="padding: 0px 20px 20px 20px;">
<div style="padding: 10px; margin: 0px;">
<table align="left" width="560" cellpadding="0" cellspacing="0" style="font-family:Verdana;">
<tbody>

<tr>
<td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px;">
<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left;padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">Dear Parents, Teachers and Children,<br /><br />
Wish you a very happy 2013!!
</p>
</td>
</tr>
<tr>
<td colspan="2" valign="top" width="340px" style="text-align:left; padding-left: 0px; padding-right: 0px;" >
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<b>EDUCATION IS PRICELESS</b><br /><br />
We hope you found Home Campus useful during your learning journey in 2012. Thanks for your support through the beta version of HC in the past years. A <b>new version</b> of HC is here.
</p>
</td>
</tr>
<tr>
<td valign="top" style="text-align:left; padding-right: 0px;">
<br />
<img src="/images/NewsLetter/HomeCampus_Newsletter_January_2013_1.png" alt="education is priceless" title="education is priceless"/>
</td>
<td valign="top" width="340px" style="text-align:left; padding-left: 0px; padding-right: 0px;" >
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
You'd all agree that education is not just invaluable but it is also priceless. This is why it has been near impossible for us, at Home Campus, to put a price tag to our offerings. So, starting 2013, we have left it to you to <b>pay what you wish</b> for using Home Campus.<br /><br />
Fees collected will help us keep Home Campus running, <b>improve the website features</b> and be accessible to under-privileged kids.<br /><br />
We look forward to your continued support in 2013.
</p>
</td>
</tr>
</tbody>
</table>


<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td colspan=2 valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<br /><b>A RECAP OF 2012</b><br /><br />
Home Campus grew by leaps and bounds in the past year. Here's a summary of our major achievements in 2012:<br /></p>
<ul><li><p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;"><b>Grades 4, 5 and 6 - all complete.</b> You have everything you need on all topics for these grades including <a href="http://my.homecampus.com.sg/Learn" title="learn" alt="learn">learning content</a>, <a href="http://my.homecampus.com.sg/Practice" title="practice makes perfect" alt="practice makes perfect">practice problems</a> and <a href="http://my.homecampus.com.sg/Tests" title="quiz yourself" alt="quiz yourself">tests</a>.</p></li>
<li><p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;"><b>HC Tests.</b> Now, you can not only take tests but <a href="http://my.homecampus.com.sg/Tests" title="design and create tests" alt="design and create tests">create</a> them too. Find out which areas you are excelling in and which others need improvement.</p></li>
<li><p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;"><b>HC Progress.</b> Especially useful for parents and teachers, <a href="http://my.homecampus.com.sg/Progress" title="find out how your child is performing" alt="find out how your child is performing">HC Progress</a> is the tool you will need for a detailed insight into your child's or pupil's performance.</p></li>
<li><p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;"><b>HC Goals.</b> Another powerful tool for parents and teachers is <a href="http://my.homecampus.com.sg/Goals" title="set goals for your children and pupils" alt="set goals for your children or pupils">HC Goals</a> which allows you to set the learning objectives for your children and pupils so s/he can learn at his/her own pace.</p></li></ul>
</td>
</tr>
</tbody>
</table>

<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" width="340px" style="text-align:left; padding-left: 0px; padding-right: 0px;" >
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<br /><b>FOR 2013</b><br /><br />
We have lots of new features and content slated for 2013. Our third and other lower graders can look forward to seeing learning and practice material readied for them soon. Stay tuned to <a href="http://www.facebook.com/homecampus" alt="HC on FB" title="HC on FB"><font color="#006666"><img src="/images/NewsLetter/HomeCampus_Newsletter_August_2012_4.png" alt="HC on FB" title="HC on FB"/></font></a> to hear the latest from us.<br /><br />   
Also, do <a href="http://my.homecampus.com.sg/Contact" title="drop us a line" alt="drop us a line">tell us</a> what you would like to see in 2013.
</p>
</td>
<td valign="middle" style="text-align:left; padding-right: 0px;">
<br />
<img src="/images/NewsLetter/HomeCampus_Newsletter_January_2013_2.png" alt="drop us a line" title="drop us a line"/>
</td>
</tr>
</tbody>
</table>

<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
Take care and have a fabulous new year! See you around!!
<br /></p>
<p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;"><br />Yours sincerely,<br />Team @ Home Campus<br /><strong><font color="#D92118">Learn.</font> <font color="#2A91E1">Practice.</font> <font color="#F6B937">Progress.</font></strong><br />
<b><a href="http://my.homecampus.com.sg"><font color="#006666">www.homecampus.com.sg</font></a></b></p></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td height="10"></td>

</tr>
<tr>
<td>
<table width="560" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; font-size: 10px; line-height: 1.5em; font-family:Verdana; color: #999;">
<tbody>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">For FAQs about Home Campus, please visit  <a href="http://my.homecampus.com.sg/FAQs" title="Home Campus FAQs" target="_new">my.homecampus.com.sg/FAQs</a>. </font></td>
</tr>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">Follow us on Facebook and YouTube at <a href="http://www.facebook.com/HomeCampus" title="like Home Campus on Facebook" target="_new">www.facebook.com/HomeCampus</a> and <a href="http://www.youtube.com/user/HomeCampus" title="Home Campus @ YouTube" target="_new">www.youtube.com/user/HomeCampus</a>.</font></td>
</tr>
</tbody>

</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
<br /><br />
</div>
{% endblock %}
