{% extends '/NewsLetter/NewsLetter.html' %}
{% block title %}
<title>July 2012 NewsLetter - Primary Mathematics - Learn, Practice, Progress</title>
<meta name="description" content="What's New Happening at Home Campus this month" />
{% endblock %}
{% block body %}
<div style="overflow-y:scroll;margin-left:311px;height: 535px;">
<table description="lightestBgcolor" name="tid" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="padding: 0px 20px 20px 20px;">
<div style="padding: 10px; margin: 0px;">
<table align="left" width="560" cellpadding="0" cellspacing="0" style="font-family: 'Verdana';">
<tbody>
<tr>
<td style="padding: 0px 20px; background: url(/images/NewsLetter/HomeCampus_newsletter_header.png) no-repeat center;">
<table description="mediumBorderBottomColor" name="tid" width="560" height="129" cellpadding="10" cellspacing="0" border="0">
<tbody>
<tr>
<td style="text-align:left; width="300">
&nbsp;</td>
<td >
<br /><br />
<h3 valign="baseline" align="right" style="font-family: Verdana, Helvetica, sans-serif; font-size: 14px; padding: 2px 0px; margin: 1px;">
<b><font color="#D92118">Learn.</font> <font color="#2A91E1">Practice.</font> <font color="#F6B937">Progress.</font></b></h3>
<h3 valign="baseline" align="right" style="font-family: Verdana, Helvetica, sans-serif; font-weight: bold; color: #006666; font-size: 13px; padding: 2px 0px; margin: 1px;"><a href="http://my.homecampus.com.sg" style="text-decoration:none;"><font color="#006666">www.homecampus.com.sg</font></a></h3>
</td>
</tr>

</tbody>
</table>
</tr>
<tr>
<td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px;">
<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left;padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">Dear Parent / Teacher,<br /><br />
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
How have you been? At Home Campus, we've been at work getting some important stuff out the door!<br /><br /></p>
</td>
</tr>
<tr>
<td valign="top" width="340px" style="text-align:left; padding-left: 0px; padding-right: 0px;" ><p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
<br /><b>KEPT OUR WORD</b><br /><br />As promised last month, tests for Primary 4 are here!! Create the very first <a href="http://my.homecampus.com.sg/Tests" alt="Create the first 
 for your child" title="Create the first HC Test for your child"><font color="#006666">HC Test</font></a> for your 4th grader and check out how s/he fares at <a href="http://my.homecampus.com.sg/Progress" alt="monitor your child's progress here" title="monitor your child's progress here"><font color="#006666">HC Progress</font></a>.<br /><br />
Say bye-bye to old-style tests because with HC Tests you can now:</p>
</td>
<td style="padding-left: 20px;"><img src="/images/NewsLetter/HomeCampus_Newsletter_July_2012_1.png" alt="HC Tests are now available!" title="HC Tests are now available!"/></td>
</tr>
</tbody>
</table>

<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td><img src="/images/NewsLetter/HomeCampus_Newsletter_July_2012_2.png" alt="Check out how your child is performing" title="Check out how your child is performing"/></td>
<td valign="top" style="text-align:left; padding-left: 0px; padding-right: 0px;" >
<ol type="a">
<font style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;"><li>Design unique tests for each of your children at the click of a button, literally. BTW, your child is allowed to create his own tests while you can keep an eye on how good he's getting on the progress page.</li>
<li>Make as many topical tests as you want.</li>
<li>Generate tests now and attempt them later.</li>
<li>See result and detailed solutions as soon as the test is submitted.</li>
<li>Monitor each child's performance separately.</li></font>
</ol>
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
So, please do go <a href="http://my.homecampus.com.sg/Tests" alt="explore the cool HC Tests module" title="explore the cool HC Tests module"><font color="#006666">explore this cool test module</font></a>.<br /><br />
</p>
</td></tr></tbody></table>


<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" colspan=2 style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
<br /><b>ANSWER THIS, FOURTH GRADERS</b><br /></p>
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;"><b><i><font color="#777777">Ken and Ben had 132 paper clips altogether. Ken gave away 17 paper clips to Ben. In the end, Ken had 3 times as many paper clips as Ben. How many paper clips did Ben have in the beginning?</p>
<div align="center"><br /><img src="/images/NewsLetter/HomeCampus_Newsletter_July_2012_3.png" alt="a maths word problem solved using models" title="a maths word problem solved using models"/></div><br />
</td>
</tr>
<tr>
<td colspan=2 valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
<p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
<b>YES</b>, it's a problem that a fourth grader can solve and <b>NO</b>, she doesn't need to know algebra for that! Go to <a href="http://my.homecampus.com.sg/Learn/Primary4/Whole-Numbers/Word-Problems" alt="Turn to HC Learn to learn math the fun and easy way" title="Turn to HC Learn to learn math the fun and easy way"><font color="#006666">HC Learn</font></a> to find out how to crack this and other word problems using the simple yet powerful method of models.<br /><br />
What else? Well, we've added lots more content for our fourth graders this last June. Check out some <a href="http://my.homecampus.com.sg/Learn" alt="Learn whole numbers with HC Learn" title="Learn whole numbers with HC Learn"><font color="#006666">quick notes and short videos on Whole Numbers</font></a> at HC Learn. Then, go do some <a href="http://my.homecampus.com.sg/Practice" alt="Practice makes perect!!" title="Practice makes perfect!!"><font color="#006666">practice</font></a> or take a <a href="http://my.homecampus.com.sg/Tests" alt="Are you up for some challege?" title="Are you up for some challenge?"><font color="#006666">test</font></a> to see if you understood what you just learnt.
</p><br />
</td>
</tr>
</tbody>
</table>



<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" colspan=2 style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
<br /><b>COMING UP NEXT...</b></p>
<p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
We are working on HC Tests for our fifth and sixth graders. You can expect them in the coming weeks.<br /><br />
</p>
</td>
</tr>

<tr>
<td valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">Finally, fourth and fifth graders, do you know what a tenth, a hundredth and a thousandth are in the decimal form? No worries if you do not know yet. We'll explain them to you soon!!<br /><br />
In the meantime, if there is a feature that you would like to see on HC then don't forget to <a href="http://my.homecampus.com.sg/Contact" alt="Please send us your input" title="Please send us your input"><font color="#006666">tell us so.</font></a></p>
</td>
<td valign="top"><img src="/images/NewsLetter/HomeCampus_Newsletter_July_2012_4.png" alt="Lessons on decimals coming soon.." title="Lessons on decimals coming soon.."/></td>
</tr>

</tbody>
</table>



<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td colspan=2 valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
<br /><br />
<div style="border: 1px solid #d47e3e;width: 90%;margin: 10px auto;padding: 10px;background-color:#fcfae6;">
<p style="font-size: 11px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;"><img src="/images/NewsLetter/HomeCampus_Newsletter_July_2012_5.png" alt="Tips" title="Tips" />
<b>Tips</b></p>
<ol>
<font style="font-size: 11px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;"><li>You can create as many tests as you like. However, you can view only the last 5 <i>New</i> or <i>In Progress</i> tests. So, tell your child to keep completing his tests to keep these lists scrolling.<br /><br /></li>
<li>For reports of all <i>Completed</i> tests go to HC Progress.</li></font>
</ol>
</div>
</tr>
</tbody>
</table>


<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
<br /><br />Have a joyous July!
<br /></p>

<p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;"><br />Yours sincerely,<br />Team @ Home Campus<br /><strong><font color="#D92118">Learn.</font> <font color="#2A91E1">Practice.</font> <font color="#F6B937">Progress.</font></strong><br />
<b><a href="http://my.homecampus.com.sg"><font color="#006666">www.homecampus.com.sg</font></a></b></p></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td height="10"></td>

</tr>
<tr>
<td>
<table width="560" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; font-size: 10px; line-height: 1.5em; font-family: 'Verdana'; color: #999;">
<tbody>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">For FAQs about Home Campus, please visit  <a href="http://www.homecampus.com.sg/FAQs" title="Home Campus FAQs" target="_new">my.homecampus.com.sg/FAQs</a>. </font></td>
</tr>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">Follow us on Facebook and YouTube at <a href="http://www.facebook.com/HomeCampus" title="like Home Campus on Facebook" target="_new">www.facebook.com/HomeCampus</a> and <a href="http://www.youtube.com/user/HomeCampus" title="Home Campus @ YouTube" target="_new">www.youtube.com/user/HomeCampus</a>.</font></td>
</tr>
<tr>

</tbody>

</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
{% endblock %}
