{% extends '/NewsLetter/NewsLetter.html' %}
{% block title %}
<title>February 2013 NewsLetter - Primary Mathematics - Learn, Practice, Progress</title>
<meta name="description" content="What's New Happening at Home Campus this month" />
{% endblock %}
{% block body %}
<div style="overflow-y:scroll;margin-left:311px;height: 535px;">
<table description="lightestBgcolor" name="tid" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="padding: 0px 20px 20px 20px;">
<div style="padding: 10px; margin: 0px;">
<table align="left" width="560" cellpadding="0" cellspacing="0" style="font-family:Verdana;">
<tbody>
<tr>
<td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px;">
<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left;padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;">
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">Dear Parents, Teachers and Children,
</p>
</td>
</tr>
<tr>
<td valign="top" style="text-align:left; padding-left: 0px; padding-right: 0px;padding-bottom:0px;" >
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<a href="http://my.homecampus.com.sg/Practice/Primary_Grade_3_Mathematics" title="Practice Grade 3 Maths" alt="We are excited to inform you that we have started adding content for Grade 3. We welcome all our third graders to come practice and sent their comments." style="text-decoration: none;"><img src="/images/NewsLetter/HomeCampus_Newsletter_March_2013_1.png" alt="We are excited to inform you that we have started adding content for Grade 3. We welcome all our third graders to come practice and sent their comments." title="Practice Grade 3 Maths"/></a>
<br /><br />

<a href="http://www.homecampus.com.sg" title="Grade 3 Maths" alt="Grade 3 Maths"><font color="#F7941C">Go Practice!!</font></a>
</p>
</td>
</tr>
</tbody>
</table>


<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
Have a marvellous March!!
<br /></p>
<p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;"><br />Yours sincerely,<br />Team @ Home Campus<br /><strong><font color="#D92118">Learn.</font> <font color="#2A91E1">Practice.</font> <font color="#F6B937">Progress.</font></strong><br />
<b><a href="http://my.homecampus.com.sg"><font color="#006666">www.homecampus.com.sg</font></a></b></p></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td height="10"></td>
</tr>
<tr>
<td>
<table width="560" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; font-size: 10px; line-height: 1.5em; font-family:Verdana; color: #999;">
<tbody>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">For FAQs about Home Campus, please visit  <a href="http://my.homecampus.com.sg/FAQs" title="Home Campus FAQs" target="_new">my.homecampus.com.sg/FAQs</a>. </font></td>
</tr>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">Follow us on Facebook and YouTube at <a href="http://www.facebook.com/HomeCampus" title="like Home Campus on Facebook" target="_new">www.facebook.com/HomeCampus</a> and <a href="http://www.youtube.com/HomeCampus" title="Home Campus @ YouTube" target="_new">www.youtube.com/HomeCampus</a>.</font></td>
</tr>
</tbody>

</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>

</div>
{% endblock %}
