{% extends '/NewsLetter/NewsLetter.html' %}
{% block title %}
<title>May 2012 NewsLetter - Primary Mathematics - Learn, Practice, Progress</title>
<meta name="description" content="What's New Happening at Home Campus this month" />
{% endblock %}
{% block body %}
<div style="overflow-y:scroll;margin-left:311px;height: 535px;">
<table description="lightestBgcolor" name="tid" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="padding: 0px 20px 20px 20px;">
<div style="padding: 10px; margin: 0px;">
<table align="left" width="520" cellpadding="0" cellspacing="0" style="font-family: 'Verdana';">
<tbody>
<tr>
<td style="padding: 0px 20px; background: url(/images/NewsLetter/HomeCampus_newsletter_header.png) no-repeat center;">
<table description="mediumBorderBottomColor" name="tid" width="520" height="129" cellpadding="10" cellspacing="0" border="0">
<tbody>
<tr>
<td style="text-align:left;width="300">
&nbsp;</td>
<td >
<br /><br />
<h3 valign="baseline" align="right" style="font-family: Verdana, Helvetica, sans-serif; font-size: 14px; padding: 2px 0px; margin: 1px;">
<b><font color="#D92118">Learn.</font> <font color="#2A91E1">Practice.</font> <font color="#F6B937">Progress.</font></b></h3>
<h3 valign="baseline" align="right" style="font-family: Verdana, Helvetica, sans-serif; font-weight: bold; color: #006666; font-size: 13px; padding: 2px 0px; margin: 1px;"><a href="http://my.homecampus.com.sg" style="text-decoration:none;"><font color="#006666">www.homecampus.com.sg</font></a></h3>
</td>
</tr>

</tbody>
</table>
</tr>
<tr>
<td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px;">
<table width="520" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left;padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">Dear Parents/Teachers,<br /><br />
Knowing <i>how</i> to add is of little use if we do not know <i>when</i> to add in daily life.<br /></p>
</td>
</tr>

<tr>
<td valign="top" width="300px" style="text-align:left;padding-right: 20px;" ><p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
<br />With that in mind, we have added many, many, many practice word problems for our <a href="http://my.homecampus.com.sg/Practice/Primary_4_Mathematics"><font color="#006666">4th</font></a>, <a href="http://my.homecampus.com.sg/Practice/Primary_5_Mathematics"><font color="#006666">5th</font></a> and <a href="http://my.homecampus.com.sg/Practice/Primary_6_Mathematics"><font color="#006666">6th graders</font></a> on several topics - the most recent being <b>Ratio, Pie Charts, Algebra</b> and <b>Composite Figures</b> - to expose our children to the practical utility of their basic skills. But, if your child isn't the happiest when solving such problems, then s/he HAS TO check out the way we explain them using <b>models</b> at <a href="http://my.homecampus.com.sg/Practice"><font color="#006666">Home Campus</font></a>!!<br /><br />         
</p>
</td>
<td><img src="/images/NewsLetter/HomeCampus_Newsletter_May_2012_1.png" alt="Understanding word problems with models!" title="Understanding 	word problems with models!"/></td>
</tr>
</tbody>
</table>
<table width="520" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top"><img src="/images/NewsLetter/HomeCampus_Newsletter_May_2012_2.png" alt="Milestone achieved!!" title="Milestone achieved!!"/></td>
<td valign="top" style="text-align:left;padding-bottom: 0px; padding-left: 20px; padding-right: 20px; padding-top: 0px;">
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
<br /><b>MILESTONE ACHIEVED!!</b><br /><br />
With the addition of notes on Geometry, learning content on all topics for 6th graders - <b>Algebra, Fractions, Percentage, Ratio, Speed, Average, Circles, Area, Volume, Pie Charts, Geometry</b>, etc. - is available now!! Just stay tuned for the video lessons which are coming soon.
<br /><br />
</p>
</td>
</tr>
</tbody>
</table>

<table width="520" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" width="300px" style="text-align:left;padding-right: 20px;"" >
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
<br /><b>COMING UP...</b><br /><br />
More real life problems.. What Primary 6 kids should expect to practice this summer is a whole array of story problems of all levels of complexity on <b>Fractions, Percentage, Speed, Measurement</b> and <b>Geometry</b>. In the meantime, do tell your 6th grader to <a href="http://my.homecampus.com.sg/Practice/Primary_6_Mathematics"><font color="#006666">brush up their basic skills on these topics and others</font></a>.<br /><br /></p></td>
<td><img src="/images/NewsLetter/HomeCampus_Newsletter_May_2012_3.png" alt="Lots more coming up!!!" title="Lots more coming up!!!"/></td>
<tr>
<td colspan=2 style="text-align:left;">
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">
More learning content.. Primary 4 children should look forward to learning a lot of exciting stuff like <b>Symmetry, Tessellation, Time, Money, Area, Perimeter</b> and <b>Decimals</b> in the next couple of months with Home Campus. Meanwhile, do ask your 4th grader to check out what we have already put together on topics such as <a href="http://my.homecampus.com.sg/Learn"><font color="#006666">Whole Numbers, Fractions, Angles and Lines, Tables, Bar Graphs and Line Graphs</font></a>.    
</td>

</tr>
<tr>
<td valign="top" style="text-align:left;padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;">

So much for now.. Thank you for all your <a href="http://my.homecampus.com.sg/Contact"><font color="#006666">feedback and comments</font></a>.<br /><br />

Wishing you an excelling learning journey in May!
<br /></p>

<p style="font-size: 12px; line-height: 1.7em; font-family: 'Verdana'; color: #333333;"><br />Yours sincerely,<br />Team @ Home Campus<br /><strong><font color="#D92118">Learn.</font> <font color="#2A91E1">Practice.</font> <font color="#F6B937">Progress.</font></strong><br />
  <b><a href="http://my.homecampus.com.sg"><font color="#006666">www.homecampus.com.sg</font></a></b></p></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td height="10"></td>

</tr>
<tr>
<td>
<table width="520" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; font-size: 10px; line-height: 1.5em; font-family: 'Verdana'; color: #999;">
<tbody>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">For FAQs about Home Campus, please visit  <a href="http://www.homecampus.com.sg/FAQs" title="Home Campus FAQs" target="_new">my.homecampus.com.sg/FAQs</a>. </font></td>
</tr>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;">
  <font color="#999999">Follow us on Facebook and YouTube at <a href="http://www.facebook.com/HomeCampus" title="like Home Campus on Facebook" target="_new">www.facebook.com/HomeCampus</a> and <a href="http://www.youtube.com/user/HomeCampus" title="Home Campus @ YouTube" target="_new">www.youtube.com/user/HomeCampus</a>.</font>
  </td>
</tr>
<tr>

</tbody>

</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table></div>
{% endblock %}
