{% extends 'MainPage.html' %}
{% block title %}
<title></title>
<meta name="description" content="What's New Happening at Home Campus this month" />
{% endblock %}
<div style="background-image: url(/images/site/background.png);">
<br>
<div id="NotesContent" >
{% block extra %}
<div id="nav">
    <h4>Newsletter</h4>
    <div class="imgnav">
        <img src="/images/site/navimages.png" width="205" height="27" alt="nav decorative element" />
    </div>
    <div class="ymenu" id="yMenu">
	    <ul>
	         	<li><a href="/NewsLetter/April2012">April 2012</a></li>
	         	<li><a href="/NewsLetter/May2012">May 2012</a></li>
	         	<li><a href="/NewsLetter/June2012">June 2012</a></li>
	         	<li><a href="/NewsLetter/July2012">July 2012</a></li>
	         	<li><a href="/NewsLetter/August2012">August 2012</a></li>
	         	<li><a href="/NewsLetter/October2012">October 2012</a></li>
	         	<li><a href="/NewsLetter/November2012">November 2012</a></li>
	         	<li><a href="/NewsLetter/December2012">December 2012</a></li>
	         	<li><a href="/NewsLetter/January2013">January 2013</a></li>
	         	<li><a href="/NewsLetter/February2013">February 2013</a></li>
	         	<li><a href="/NewsLetter/March2013">March 2013</a></li>
	  	</ul>
	</div>
</div>
{% endblock %}
{% block body %}
{% endblock %}
</div>
</div>