{% extends '/NewsLetter/NewsLetter.html' %}
{% block title %}
<title>November 2012 NewsLetter - Primary Mathematics - Learn, Practice, Progress</title>
<meta name="description" content="What's New Happening at Home Campus this month" />
{% endblock %}
{% block body %}
<div style="overflow-y:scroll;margin-left:311px;height: 535px;">
<table description="lightestBgcolor" name="tid" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="padding: 0px 20px 20px 20px;">
<div style="padding: 10px; margin: 0px;">
<table align="left" width="560" cellpadding="0" cellspacing="0" style="font-family:Verdana;">
<tbody>

<tr>
<td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px;">
<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left;padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">Dear Parent / Teacher / Children,<br />
</p>
</td>
</tr>
<tr>
<td colspan=2 valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<b>WHAT WOULD YOU LIKE YOUR CHILD TO ACHIEVE?</b><br /></p>
</td>
</tr>
<tr>
<td valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 25px; padding-top: 0px;">
<div align="center"><br /><img src="/images/NewsLetter/HomeCampus_Newsletter_November_2012_1.png" alt="Have you set goals for your child yet?" title="Have you set goals for your child yet?"/></div><br />
</td>
<td valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
<p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
Every child has a different learning curve. Some can grasp a topic within no time while others require regular practice. It is the parents and teachers who best <b>understand the requirements and the pace of your child/ren</b>.
<br /><br />
With that in mind, we have added our newest facility, <a href="http://my.homecampus.com.sg/Goals" alt="HC Goals" title="HC Goals"><font color="#006666"><b>HC Goals</b></font></a>, which provides a powerful tool to parents and teachers to set the learning objectives for your child/ren.</p>
</td>
</tr>
<tr>
<td colspan=2 valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
HC Goals:</p>
<ul><li><p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">Lets you <b>set goals for each of your child/ren</b> separately,</p></li>
<li><p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">Lets you <b>set targets by Level / Topic / Subtopic</b>,</p></li>
<li><p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">Lets you and your child <b>keep track of his progress</b> in every individual topic,</p></li>
<li><p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">And, much more.</p></li></ul>
<p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
Sign in to your HC account to <a href="http://my.homecampus.com.sg/Goals" title="What would you like your child to achieve?" alt="What would you like your child to achieve?"><font color="#006666">set the first goal for your child</font></a> now. Also, do send us your input about how we can <a href="http://my.homecampus.com.sg/Contact" title="send us your input" alt="send us your input"><font color="#006666">improve this feature</font></a>. We want to hear from you. 
<br /><br />
</p>
</td>
</tr>
</tbody>
</table>

<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td colspan=2 valign="top" style="text-align:left; padding-left: 0px; padding-right: 0px;" ><p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<b>OTHER UPDATES</b><br /><br />
We have finished adding detailed solutions for every type of <a href="http://my.homecampus.com.sg/Practice" alt="unlimited practice exercises" title="unlimited practice exercises"><font color="#006666">problem for our 5th and 6th graders</font></a>. So, no worries if you got a question wrong.. Our explanations will surely help you get it right the next time. Go ahead and practice and <b>do not be afraid to make mistakes</b>!
<br /><br />
While you are there, quiz yourself with a few <a href="http://my.homecampus.com.sg/Tests" alt="HC Tests" title="HC Tests"><font color="#006666">HC Tests</font></a>, too.<br /><br />
</p>  
</td>
</tr>
</tbody>
</table>


<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" width="340px" style="text-align:left; padding-left: 0px; padding-right: 0px;" ><p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<b>HC IN THE NEWS</b><br /><br />
HC recently received some coverage in the media about the work we do. <b>Thanks to you all for your support!</b> Thanks to UdaipurTimes for the kind words of appreciation. Check out the news article <a href="http://www.udaipurtimes.com/udaipur-couple-set-new-online-platform-for-education/" title="HC in the news" alt="HC in the news">here</a>.
</td>
<td valign="top">
<img src="/images/NewsLetter/HomeCampus_Newsletter_November_2012_2.png" alt="HC in the news" title="HC in the news"/>
</td>
</tr>
<tr>
<td colspan=2 valign="top" style="text-align:left; padding-left: 0px; padding-right: 0px;" ><p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
So much for now. Stay tuned to <a href="http://www.facebook.com/homecampus" alt="HC on FB" title="HC on FB"><font color="#006666"><img src="/images/NewsLetter/HomeCampus_Newsletter_August_2012_4.png" alt="HC on FB" title="HC on FB"/></font></a> for updates.
</p>
</tr>
</tbody>
</table>


<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
Have a nice November!
<br /></p>
<p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;"><br />Yours sincerely,<br />Team @ Home Campus<br /><strong><font color="#D92118">Learn.</font> <font color="#2A91E1">Practice.</font> <font color="#F6B937">Progress.</font></strong><br />
<b><a href="http://my.homecampus.com.sg"><font color="#006666">www.homecampus.com.sg</font></a></b></p></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td height="10"></td>

</tr>
<tr>
<td>
<table width="560" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; font-size: 10px; line-height: 1.5em; font-family:Verdana; color: #999;">
<tbody>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">For FAQs about Home Campus, please visit  <a href="http://my.homecampus.com.sg/FAQs" title="Home Campus FAQs" target="_new">my.homecampus.com.sg/FAQs</a>. </font></td>
</tr>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">Follow us on Facebook and YouTube at <a href="http://www.facebook.com/HomeCampus" title="like Home Campus on Facebook" target="_new">www.facebook.com/HomeCampus</a> and <a href="http://www.youtube.com/user/HomeCampus" title="Home Campus @ YouTube" target="_new">www.youtube.com/user/HomeCampus</a>.</font></td>
</tr>
</tbody>

</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
<br /><br />
</div>
{% endblock %}
