{% extends '/NewsLetter/NewsLetter.html' %}
{% block title %}
<title>October 2012 NewsLetter - Primary Mathematics - Learn, Practice, Progress</title>
<meta name="description" content="What's New Happening at Home Campus this month" />
{% endblock %}
{% block body %}
<div style="overflow-y:scroll;margin-left:311px;height: 535px;">
<table description="lightestBgcolor" name="tid" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="padding: 0px 20px 20px 20px;">
<div style="padding: 10px; margin: 0px;">
<table align="left" width="560" cellpadding="0" cellspacing="0" style="font-family:Verdana;">
<tbody>

<tr>
<td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px;">
<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left;padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">Dear Parent / Teacher / Children,<br />
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
Hope you are well! Here's what we have been up to at Home Campus the last few weeks!!</p>
</td>
</tr>
<tr>
<td colspan=2 valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<b>MADE PROGRESS ON HC PROGRESS!</b><br /></p>
<div align="center"><br /><img src="/images/NewsLetter/HomeCampus_Newsletter_October_2012_1.png" alt="If you have questions, we have the answers" title="If you have questions, we have the answers"/></div><br />
<p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
If the questions above are what you have got, then it's the answers that we have got... with our reports. Go, check them out at <a href="http://my.homecampus.com.sg/Progress" alt="HC Progress" title="HC Progress"><font color="#006666">HC Progress</font></a> for a <b>detailed insight</b> into your child's performance.<br />
</p>
</td>
</tr>
<tr>
<td valign="top" colspan=2 style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
<div align="center"><img src="/images/NewsLetter/HomeCampus_Newsletter_October_2012_2.png" alt="HC reports offer a detailed insight into your child's performance" title="HC reports offer a detailed insight into your child's performance"/></div>
</td>
</tr>
<tr>
<td colspan=2 valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
<p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;"><br />
<a href="http://my.homecampus.com.sg" alt="Log in to HC" title="Log in to HC"><font color="#006666">Log in</font></a> to Home Campus and go to the Progress tab. The summary <b>report</b> gives you a gist of how each of your children is performing. You can also drill down individual topics to see his indulgence in each sub-topic. Isn't that useful?<br /><br />
That's not all! We are working on adding several more <b>performance metrics</b> so you have a clear sense of how your child is spending his time on HC and how HC is helping him achieve his goals. Stay tuned for more!!
<br /><br />
Until then, if there is anything specific that you would like to see on HC Progress, <a href="http://my.homecampus.com.sg/Contact" alt="send us your input" title="send us your input"><font color="#006666">give us a shout</font></a>!
<br />
</td>
</tr>

</tbody>
</table>

<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" width="340px" style="text-align:left; padding-left: 0px; padding-right: 0px;" ><p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<b>SOME QUICK UPDATES</b><br /><br />
With the addition of <a href="http://my.homecampus.com.sg/Practice" alt="unlimited practice exercises" title="unlimited practice exercises"><font color="#006666">unlimited practice exercises</font></a> on Fractions, we have <b>finished</b> putting together <b>everything</b> that our 4th graders need to learn, practice and progress in maths.<br /><br />
<b>Other topics</b> for our P4 kids are: <a href="http://my.homecampus.com.sg/Learn/Primary4/Whole-Numbers/Word-Problems" alt="Whole Numbers" title="Whole Numbers"><font color="#006666">Whole Numbers</font></a>; <a href="http://my.homecampus.com.sg/Learn/Primary4/Decimal/Word-Problems" alt="Decimals" title="Decimals"><font color="#006666">Decimals</font></a>; <a href="http://my.homecampus.com.sg/Learn/Primary4/Measurement/Area-and-Perimeter-of-Rectangles-and-Squares" alt="Measurement" title="Measurement"><font color="#006666">Measurement</font></a>; <a href="http://my.homecampus.com.sg/Learn/Primary4/Geometry/Angles-Turns-and-Directions" alt="Geometry" title="Geometry"><font color="#006666">Geometry</font></a>; and <a href="http://my.homecampus.com.sg/Learn/Primary4/Data-Analysis/Tables-and-Bar-Graphs" alt="Tables, Bar Graphs and Line Graphs" title="Tables, Bar Graphs and Line Graphs"><font color="#006666">Tables, Bar Graphs and Line Graphs</font></a>.
</td>
<td valign="middle" style="padding-left: 10px;"><img src="/images/NewsLetter/HomeCampus_Newsletter_October_2012_3.png" alt="Done!" title="Done!"/></td>
</tr>
<tr>
<td colspan="2" valign="top" style="text-align:left; padding-left: 0px; padding-right: 0px;" ><p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
When you have learnt and practised these skills, <b>quiz</b> yourself with a few <a href="http://my.homecampus.com.sg/Tests" alt="HC Tests" title="HC Tests"><font color="#006666">HC Tests</font></a>.<br /><br />
By the way, we hope that our older learners, the <a href="http://my.homecampus.com.sg/Practice/Primary_5_Mathematics" alt="for our 5th graders" title="for our 5th graders"><font color="#006666">5<sup>th</sup></font></a> and <a href="http://my.homecampus.com.sg/Practice/Primary_6_Mathematics" alt="for our 6th graders" title="for our 6th graders"><font color="#006666">6<sup>th</sup></font></a> graders, are also taking advantage of the <b>complete and comprehensive</b> set of learning, practice and test tools we have at their disposal.</p>  
</td>
</tr>
</tbody>
</table>


<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="middle">
<img src="/images/NewsLetter/HomeCampus_Newsletter_October_2012_4.png" alt="To-do" title="To-do"/>
</td>
<td valign="top" width="340px" style="text-align:left; padding-left: 0px; padding-right: 0px;" ><p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
<b>IN THE COMING WEEKS...</b><br /><br />
...We will be adding a facility for you to <b>set goals</b> for your child of what you would like him to achieve with Home Campus. We will also be adding several more varieties of problems to each topic for all levels. Follow us on <a href="http://www.facebook.com/homecampus" alt="HC on FB" title="HC on FB"><font color="#006666"><img src="/images/NewsLetter/HomeCampus_Newsletter_August_2012_4.png" alt="HC on FB" title="HC on FB"/></font></a> for updates!!<br /><br />
</td>
</tr>
</tbody>
</table>



<table width="560" cellpadding="0" cellspacing="0" border="0" >
<tbody>
<tr>
<td valign="top" style="text-align:left; padding-bottom: 0px; padding-left: 0px; padding-right: 20px; padding-top: 0px;" colspan=2>
<p style="font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;">
So long... Have a wonderful October!
<br /></p>
<p style="text-align:left; font-size: 12px; line-height: 1.7em; font-family:Verdana; color: #333333;"><br />Yours sincerely,<br />Team @ Home Campus<br /><strong><font color="#D92118">Learn.</font> <font color="#2A91E1">Practice.</font> <font color="#F6B937">Progress.</font></strong><br />
<b><a href="http://my.homecampus.com.sg"><font color="#006666">www.homecampus.com.sg</font></a></b></p></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td height="10"></td>

</tr>
<tr>
<td>
<table width="560" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; font-size: 10px; line-height: 1.5em; font-family:Verdana; color: #999;">
<tbody>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">For FAQs about Home Campus, please visit  <a href="http://my.homecampus.com.sg/FAQs" title="Home Campus FAQs" target="_new">my.homecampus.com.sg/FAQs</a>. </font></td>
</tr>
<tr>
<td colspan="4" height="10" bgcolor="#f7f7f2" style="text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 1px; padding-top: 1px;"><font color="#999999">Follow us on Facebook and YouTube at <a href="http://www.facebook.com/HomeCampus" title="like Home Campus on Facebook" target="_new">www.facebook.com/HomeCampus</a> and <a href="http://www.youtube.com/user/HomeCampus" title="Home Campus @ YouTube" target="_new">www.youtube.com/user/HomeCampus</a>.</font></td>
</tr>
<tr>

</tbody>

</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
{% endblock %}
