{% extends 'NotesPage.html' %}
{% block title %}
<title>Meter to Miles Conversion - Home Campus</title>
<meta name="keywords" content="Convert meter to miles">
<meta name="description" content="Converter Metres to miles" />
{% endblock %}
{% block content %}
	
<div style="margin: 10px;"><a href="/Learn/Length-Units-Converter"><u>Length</u></a> >> <a href="/Learn/Meter-Unit-Converter"><u>Meter Converter</u></a></div>
<h2 class="learn-heading">How to Convert Meters to Miles?</h2>


<!-- Calculator 1 -->
<div class="concept-set">
	<div class="concept-set__container">
		<div class="concept-set__question">
			<h4>Meters to Miles Converter: </h4>
		</div>			
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				Meters&nbsp;=&nbsp; <input id="meter" type="number" size=6><br><br>
				<button class="btn-quiz" id="ConvertToMiles" onclick="ConvertToMiles()">Convert To Miles</button><br><br> 
			</div>
			<div class="col-10 col-off-1" id="MilesAnswer"></div>
		</div>
	</div>
</div> <!-- End of calculator 1 -->


<!-- Concept 1 -->
<div class="concept-set">
	<div class="concept-set__container"  style="background-color: rgb(255, 228, 243);">
		<div class="concept-set__question">
				1 meter &nbsp;=&nbsp; 0.0006214 mile<br><br>
				1 mile &nbsp;=&nbsp; 1609.34 meters		
		</div>
	</div>
</div> <!-- End of Concept 1 -->


<!-- Examples -->
<div class="concept-set">
	<div class="concept-set__container"  style="background-color: rgb(218, 250, 255);">
		<div class="concept-set__question">
			<strong>Example 1: convert 5000 meters to miles.</strong>
		</div>
		<div class="concept-set__answer">	
			<div class="col-10 col-off-1">
				Divide 5000 by 1609.34
				<br><br>Miles in 5000 meters &nbsp;=&nbsp; 5000 &nbsp;&divide;&nbsp; 1609.34 &nbsp;=&nbsp; 3.107
				<br><br>Hence, there are <strong>3.107 miles in 5000 meters.</strong>
			</div>				  
		</div>							
		<div class="concept-set__question">
			<strong>Example 2: Distance from my home to school is 7540 m. How much is that in miles?</strong>
		</div>
		<div class="concept-set__answer">	
			<div class="col-10 col-off-1">
				Divide 7540 meters by 1609.34
				<br><br>Miles in 7540 meters &nbsp;=&nbsp; 7540 &nbsp;&divide;&nbsp; 1609.34 &nbsp;=&nbsp; 4.685 miles
				<br><br>Hence, distance from my home to school is <strong>4.685 miles.</strong>
			</div>				  
		</div>							
	</div>
</div> <!-- End of Concept 1 -->


<!-- Concept 2 -->
<div class="concept-set">
	<div class="concept-set__container">
		<div class="concept-set__question">
			<h4>1 Meter &nbsp;= </h4>
		</div>			
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				100 centimeters<br><br>
				1000 millimeters<br><br>
				0.001 kilometer<br><br>
				0.0006214 mile<br><br>
				1.09361 yards<br><br>
				3.28084 feet<br><br>
				39.3701 inches
			</div>
		</div>
	</div>
</div> <!-- End of concept 2 -->


<!-- Meter Miles Chart -->
<div class="concept-set">
	<div class="concept-set__container">
		<div class="concept-set__question">
			<h4>Meters to Miles Conversion Chart </h4>
		</div>			
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" id="MeterR1C1" style="background-color: rgb(255, 212, 206);">
			</div>
			<div class="col-5 col-off-1" id="MeterR1C2" style="background-color: rgb(245, 255, 202);">
			</div>			
		</div>
	</div>
</div> <!-- End of Meter Miles Chart -->

<script>

function ConvertToMiles() {
	var meter = document.getElementById("meter").value;
	var miles = meter/1609.34;
	document.getElementById("MilesAnswer").innerHTML = "There are <strong>"+miles.toFixed(3)+" miles</strong> in "+meter+" meters."
}

/* Generating Hours Row 1 Column 1 */

var MeterR1C1HTML = '<br>';

for (var i = 1; i <= 50; i=i+1) {
    MeterR1C1HTML += (i)+ ' meters &nbsp;=&nbsp; ' + (i/1609.34).toFixed(3) + ' miles<br/><br/>';
  }
document.getElementById("MeterR1C1").innerHTML = MeterR1C1HTML;

/* R1C1 Ends */


/* Generating Hours Row 1 Column 2 */

var MeterR1C2HTML = '<br>';

for (var i = 1000; i <= 50000; i=i+1000) {
    MeterR1C2HTML += (i)+ ' meters &nbsp;=&nbsp; ' + (i/1609.34).toFixed(3) + ' miles<br/><br/>';
  }
document.getElementById("MeterR1C2").innerHTML = MeterR1C2HTML;

/* R1C2 Ends */

</script>

<script type="application/ld+json">{"@context":"https://schema.org","@type":"FAQPage","mainEntity":[{"@type":"Question","name":"How many meters is 1 mile?","acceptedAnswer":{"@type":"Answer","text":"1 mile = 1609.34 meters"}}]}</script>


{% endblock %}
