{% extends 'NotesPage.html' %}
{% block title %}
<title>Meter Conversion - Home Campus</title>
<meta name="keywords" content="Convert Meter to Centimeter Kilometer Millimeter Yard Mile Inches Feet">
<meta name="description" content="Conversion - Meter to Centimeter - Meter to Millimeter - Meter to Kilometer - Meter to Mile - Meter to Yard - Meter to Inches - Meter to Feet" />
{% endblock %}
{% block content %}
	
<div style="margin: 10px;"><a href="/Learn/Length-Units-Converter"><u>More Length Converters</u></a></div>
<h2 class="learn-heading">Meter Conversion</h2>

<div class="concept-set">
	<div class="concept-set__container">		
		<div class="concept-set__answer">
			<div class="col-11 col-off-1">
				<ul>
					<li><a href="/Learn/Meter-to-Centimeter-Converter">Convert Meter to Centimeter</a></li>
					<li><a href="/Learn/Meter-to-Millimeter-Converter">Convert Meter to Millimeter</a></li>
					<li><a href="/Learn/Meter-to-Kilometre-Converter">Convert Meter to Kilometre</a></li>
					<li><a href="/Learn/Meter-to-Inches-Converter">Convert Meter to Inches</a></li>
					<li><a href="/Learn/Meter-to-Feet-Converter">Convert Meter to Feet</a></li>
					<li><a href="/Learn/Meter-to-Feet-and-Inches-Conversion">Convert Meter to Feet and Inches</a></li>
					<li><a href="/Learn/Meter-to-Miles-Conversion">Convert Meter to Miles</a></li>
					<li><a href="/Learn/Meter-to-Yards-Conversion">Convert Meter to Yards</a></li>
				</ul>
			</div>
		</div>		
	</div>
</div>


<!-- Concept 1 -->
<div class="concept-set">
	<div class="concept-set__container">
		<div class="concept-set__question">
			<h4>1 Meter &nbsp;= </h4>
		</div>			
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				100 centimeters<br><br>
				1000 millimeters<br><br>
				0.001 kilometer<br><br>
				0.0006214 mile<br><br>
				1.09361 yards<br><br>
				3.281 feet<br><br>
				39.37 inches
			</div>
		</div>
	</div>
</div> <!-- End of concept 1 -->


{% endblock %}
