{% extends 'NotesPage.html' %}
{% block title %}
<title>Key Concepts in Mathematics for School Children - Home Campus</title>
<meta name="keywords" content="Math Elementary Concepts">
<meta name="description" content="Key Math Concepts Explained for Elementary Secondary School Children to Help Learn Basics of Mathematics" />
{% endblock %}
{% block content %}
	
<h2 class="learn-heading">Key Math Concepts</h2>

<div class="concept-set">
	<div class="concept-set__container">		
		<div class="concept-set__answer">
			<div class="col-11 col-off-1">
				<ul>
					<li><a href="/Rectangle">Rectangle</a></li>
					<li><a href="/Square">Square</a></li>
				</ul>
			</div>
		</div>		
	</div>
</div>
{% endblock %}
