{% extends 'NotesPage.html' %}
{% block title %}
<title>Rectangle - Properties - Area - Perimeter - Home Campus</title>
<meta name="keywords" content="rectangle, properties, perimeter, area, free math worksheets, math homework help, free maths online, Singapore math, math models, elementary math, math tuition, P3 math tuition, math tuition at home">
<meta name="description" content="Properties of Rectangle. How to calculate area and perimeter of a rectangle?" />
{% endblock %}
{% block content %}
	
<h2 class="learn-heading">Rectangle - Properties - Area - Perimeter</h2>
<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Learn/Calculator-Perimeter-Area-Rectangle-Square">Area Perimeter Calculator</a>
</div>


<!-- CONCEPTS -->
<div class="concept-set">
	<div class="concept-set__container" style="background-color: rgb(198, 255, 219);">
		<div class="concept-set__question"><h4>Concepts Covered:</h4></div>
			
		<div class="concept-set__answer">
			<div class="col-11 col-off-1">
				<a href="#Concept-1">1. What is a Rectangle?</a><br><br>
				<a href="#Concept-2">2. What are properties of a Rectangle?</a><br><br>
				<a href="#Concept-3">3. What is the perimeter of a Rectangle?</a><br><br>
				<a href="#Concept-4">4. What is the area of a Rectangle?</a><br><br>
				<a href="/Learn/Primary-Grade-4/Measurement/Area-and-Perimeter-of-Rectangles-and-Squares#question-3">5. Solved Area and Perimeter Questions</a>
			</div>
		</div>
	<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Free-Math-Worksheets/Perimeter-of-Rectangles">Download Free Worksheets</a></div>
	</div>
</div> <!-- End of concepts -->

<!-- CONCEPT 1 -->
<div class="learn-set">
	<div class="learn-set__container">
		
		<div class="learn-set__question">
			<h4 id="Concept-1">Rectangle is a four-sided geometric shape of which all internal angles are 90&deg; and opposite sides are parallel and equal.</h4>
		</div>

		<div class="learn-set__answer">
			<div id="Concept-2" class="col-10 col-off-1">
				<img src="/images/notes/four_sided_figures_rectangle.png" alt="rectangle" /><br />
				
				Properties of a Rectangle:<br />
				<ul>
					<li>has four sides</li>
					<li>opposite sides are parallel and equal</li>
					<li>all angles are 90&deg;</li>
				</ul>
			</div>
		</div>
	<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Grade_5_Math_Practice/Find_Unknown_Angles_in_Four_Sided_Figures">Practice Unlimited Questions</a></div>
	</div>
</div><!-- End of CONCEPT 1 -->

<!-- CONCEPT 2 -->
<div class="concept-set">
	<div class="concept-set__container" style="background-color: rgb(255, 219, 227);">
		<div class="concept-set__question"><h4 id="Concept-3">What is the perimeter of a Rectangle?</h4></div>
			
		<div class="concept-set__answer">
			<div class="col-11 col-off-1">
				The perimeter of a rectangle is the length of all its 4 sides. Formula to calculate the perimeter of a rectangle is:<br><br>
				Perimeter of Rectangle &nbsp;=&nbsp; 2 &nbsp;&times;&nbsp; Length &nbsp;+&nbsp; 2 &nbsp;&times;&nbsp; Breadth<br><br>
				<img src="/images/notes/P4_area_and_perimeter_rectangles_squares_1.png" alt="" /><br />				
				The perimeter can be represented using a model as below.
			</div>
			<div class="col-11 col-off-1">
				<img src="/images/notes/P4_area_and_perimeter_rectangles_squares_2.png" alt="" /><br />
				
				Perimeter &nbsp;=&nbsp; Length &nbsp;+&nbsp; Breadth &nbsp;+&nbsp; Length &nbsp;+&nbsp; Breadth<br />
 	  			<span style="margin-left:80px;">=&nbsp; 2 &nbsp;&times;&nbsp; Length &nbsp;+&nbsp; 2 &nbsp;&times;&nbsp; Breadth</span><br /><br />
			</div>
			<div class="col-11 col-off-1">
				<img src="/images/notes/P4_area_and_perimeter_rectangles_squares_3.png" alt="" /><br />
				
				Length &nbsp;+&nbsp; Breadth &nbsp;=&nbsp; Perimeter &nbsp;&divide;&nbsp; 2
			</div>
		</div>
	<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Free-Math-Worksheets/Perimeter-of-Rectangles">Download Free Worksheets</a></div>
	</div>
</div> <!-- End of concept 2 -->


<!-- Concept 3 -->
<div class="concept-set">
	<div class="concept-set__container" style="background-color: rgb(236, 255, 242);">
		<div class="concept-set__question"><h4 id="Concept-4">What is the formula to calculate Area of a Rectangle?</h4></div>
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				<b>Area of Rectangle &nbsp;=&nbsp; Length &nbsp;&times;&nbsp; Breadth<br /><br />
				<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:rgb(215, 156, 200);" href="/Free-Math-Worksheets/Area-of-Rectangles">Download Free Worksheets</a></div><br>
				Let's find the area of the rectangle below. <br/>
				<img src="/images/notes/P4_area_and_perimeter_rectangles_squares_5.png" alt="" /><br />
				
				To find the area of the rectangle, we find out how many one-centimetre squares we can fit into the rectangle.<br />
				<img src="/images/notes/P4_area_and_perimeter_rectangles_squares_6.png" alt="" /><br /><br />
				
				Area of the rectangle &nbsp;=&nbsp; 4 &nbsp;&times;&nbsp; 2<br />
				=&nbsp; 8 cm<sup>2</sup><br /><br />
				
				We need 8 one-centimetre squares to make a rectangle 4 cm long and 2 cm wide.<br />
				The area of the rectangle is 8 cm<sup>2</sup>.<br /><br />
			</div>
		</div>
	<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Learn/Calculator-Perimeter-Area-Rectangle-Square">Area Perimeter Calculator</a>
	</div>
</div> <!-- End of concept 3 -->


{% endblock %}
