{% extends 'NotesPage.html' %}
{% block title %}
<title>Squares - Properties - Area - Perimeter - Home Campus</title>
<meta name="keywords" content="square, properties, perimeter, area, free math worksheets, math homework help, free maths online, Singapore math, math models, elementary math, math tuition, P3 math tuition, math tuition at home">
<meta name="description" content="Properties of Square. How to calculate area and perimeter of a square?" />
{% endblock %}
{% block content %}
	
<h2 class="learn-heading">Square - Properties - Area - Perimeter</h2>
<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Learn/Calculator-Perimeter-Area-Rectangle-Square">Area Perimeter Calculator</a>
</div>


<!-- CONCEPTS -->
<div class="concept-set">
	<div class="concept-set__container" style="background-color: rgb(198, 255, 219);">
		<div class="concept-set__question"><h4>Concepts Covered:</h4></div>
			
		<div class="concept-set__answer">
			<div class="col-11 col-off-1">
				<a href="#Concept-1">1. What is a Square?</a><br><br>
				<a href="#Concept-2">2. What are properties of a Square?</a><br><br>
				<a href="#Concept-3">3. What is the perimeter of a Square?</a><br><br>
				<a href="#Concept-4">4. What is the area of a Square?</a><br><br>
				<a href="/Learn/Primary-Grade-4/Measurement/Area-and-Perimeter-of-Rectangles-and-Squares#question-4">5. Solved Area and Perimeter Questions</a>
			</div>
		</div>
	<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Free-Math-Worksheets/Perimeter-of-Rectangles">Download Free Worksheets</a></div>
	</div>
</div> <!-- End of concepts -->

<!-- Concept 1 -->
<div class="learn-set">
	<div class="learn-set__container">
		
		<div class="learn-set__question">
			<h4 id="Concept-1">Square is a four-sided figure which all sides equal. Opposite sides are parallel and all internal angles are 90&deg;</h4>
		</div>

		<div class="learn-set__answer">
			<div id = "Concept-2" class="col-10 col-off-1">
				<img src="/images/notes/four_sided_figures_square.png" alt="square" /><br />
				
				Properties of a Square:<br />
				<ul>
					<li>all sides are equal</li>
					<li>opposite sides are parallel</li>
					<li>all angles are 90&deg;</li>
					<li>square is a special case of rectangle</li>
				</ul>
			</div>
		</div>
	<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Grade_5_Math_Practice/Find_Unknown_Angles_in_Four_Sided_Figures">Practice Unlimited Questions</a></div>
	</div>
</div><!-- End of concept 1 -->



<!-- Concept 2 -->
<div class="concept-set">
	<div class="concept-set__container" style="background-color: rgb(237, 246, 255);">
		<div class="concept-set__question"><h4 id="Concept-3">What is the perimeter of a Square?</h4></div>			
		
		<div class="concept-set__answer">
			<div class="col-5 col-off-1">
				Perimeter of Square &nbsp;=&nbsp; 4 &nbsp;&times;&nbsp; Length<br><br>
				<img src="/images/notes/P4_area_and_perimeter_rectangles_squares_4.png" alt="" />
			</div>
			<div class="col-10 col-off-1">
				Property of a square: All sides are equal.
			</div>
			<div class="col-10 col-off-1">
				Perimeter &nbsp;=&nbsp; Length &nbsp;+&nbsp; Length &nbsp;+&nbsp; Length &nbsp;+&nbsp; Length<br />
 	  			<span style="margin-left:80px;">=&nbsp; 4 &nbsp;&times;&nbsp; Length</span>
			</div>
		</div>
	<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Free-Math-Worksheets/Perimeter-of-Squares">Download Free Worksheets</a></div>
	</div>
</div> <!-- End of concept 2 -->



<!-- Concept 3 -->
<div class="concept-set">
	<div class="concept-set__container" style="background-color: rgb(236, 255, 242);">
		<div class="concept-set__question"><h4 id="Concept-4">What is the formula to calculate Area of a Square?</h4></div>
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				Area of Square &nbsp;=&nbsp; Length &nbsp;&times;&nbsp; Length</b><br /><br />
				<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:rgb(215, 156, 200);" href="/Free-Math-Worksheets/Area-of-Squares">Download Free Worksheets</a></div><br>
			</div>
		</div>
	<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Learn/Calculator-Perimeter-Area-Rectangle-Square">Area Perimeter Calculator</a>
	</div>
</div> <!-- End of concept 3 -->


{% endblock %}
