<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.2 Addition and Subtraction of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.2 Addition and Subtraction of Integers</div>
	{% endif %}
	<div class="grade7TopicName">2.2 Addition and Subtraction of Integers</div>
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;"><font class="grade7SubTopicName">2.2.1 Adding two integers with the same sign</font></div>
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 8:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">A boy is 2 years old. What will be his age 3 years later?
		</div>
		<div style="margin-top:15px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 8:</font></div>
		<div style="margin-top:15px;display:inline-block;width:320px;vertical-align:top;">
			<div>Age of the boy after 3 years = 2 + 3</div>
			<div style="margin-top:10px;">A number line can be used to show how two positive integers are added:</div>
			<div><img src="/images/Grade7/G7_RN_AS_Eg_8.png"></div>
			<div style="margin-top:10px;">Start at positive 2 on the number line and move +3 units to the right. The answer is +5.</div>	
		</div>
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 9:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">A fish was spotted at a depth of 6 metres in a lake. It swam further down by 5 metres. At what depth, from the surface of the lake, is the fish now?
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

