<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.2 Addition and Subtraction of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.2 Addition and Subtraction of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:15px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 12:(contd.)</font></div>
		<div style="margin-top:15px;display:inline-block;width:320px;vertical-align:top;">
			<div><strong>Method 3:</strong></div>
			<div style="margin-left:-20px;margin-top:10px;"><img src="/images/Grade7/G7_RN_AS_Eg_12b.png"></div>
		</div>
		<div class="grade7YellowSideBox" style="margin-top:20px;"><strong>Rules of adding integers...</strong>
		<ul>
			<li><strong>To add integers with same sign:</strong> Keep the same sign and sum up the absolute values.</li>
			<li><strong>To add 2 integers with different signs:</strong> Keep the sign of the number with the larger absolute value and subtract the smaller absolute value from the larger.</li>
		</ul>
		</div>	
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

