<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.2 Addition and Subtraction of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.2 Addition and Subtraction of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;"><font class="grade7SubTopicName">2.2.2 Adding two integers with different signs</font></div>
		<div style="margin-top:30px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 11:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">An ice cream initially at a temperature of &minus;3&deg;C melts as the temperature increases by 7&deg;C. What is the temperature of the melted ice cream?
		</div>
		<div style="margin-top:15px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 11:</font></div>
		<div style="margin-top:15px;display:inline-block;width:320px;vertical-align:top;">
			<div>Temperature of melted ice cream = &minus;3 + 7</div>
			<div style="margin-left:-40px;margin-top:10px;"><img src="/images/Grade7/G7_RN_AS_Eg_11.png"></div>
			<div style="margin-top:10px;">Start at negative 3 on the number line and move +7 units to the right. The answer is +4.</div>
			<div style="margin-top:10px;"><strong>Alternative method:</strong></div>
			<div style="margin-top:10px;">When adding two integers with the different sign, First, subtract the smaller absolute value (3) from the larger (7).</div>
			<div style="margin-top:10px;">In the example above, 7 &minus; 3 = 4.</div>	
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

