<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.2 Addition and Subtraction of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.2 Addition and Subtraction of Integers</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:10px;">Practice - Advanced</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">The table below shows the last 5 transactions of a bank account. Complete the Balance column in the table.
			</div>
		</div>
		<table style="border-collapse:collapse;margin-top:20px;margin-left:10px;">
			<tr>
				<td style="border:1px solid #8064A2;"><strong>Date</strong></td>
				<td style="border:1px solid #8064A2;"><strong>Deposit</strong></td>
				<td style="border:1px solid #8064A2;"><strong>Withdrawal</strong></td>
				<td style="border:1px solid #8064A2;"><strong>Balance</strong></td>
			</tr>
			<tr>
				<td style="border:1px solid #8064A2;">May 4, 2013</td>
				<td style="border:1px solid #8064A2;">$25680</td>
				<td style="border:1px solid #8064A2;"></td>
				<td style="border:1px solid #8064A2;">$42983</td>
				<td></td>
			</tr>
			<tr>
				<td style="border:1px solid #8064A2;">May 25, 2013</td>
				<td style="border:1px solid #8064A2;"></td>
				<td style="border:1px solid #8064A2;">$15203</td>
				<td style="border:1px solid #8064A2;">$
					{% if RNASAdvanced_1_1_answer_correct is defined %}
						<input id="RNASAdvanced_1_1_answer" value='{{RNASAdvanced_1_1_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> &nbsp;
					{% else %}
						<input id="RNASAdvanced_1_1_answer" value='{{RNASAdvanced_1_1_answer}}' style="width:50px;" > &nbsp;
					{% endif %}				
				</td>
				<td>
					{% if RNASAdvanced_1_1_answer_correct is defined %}
						{% if RNASAdvanced_1_1_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{RNASAdvanced_1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					{% endif %}
				</td>
			</tr>						
			<tr>
				<td style="border:1px solid #8064A2;">June 7, 2013</td>
				<td style="border:1px solid #8064A2;">$9310</td>
				<td style="border:1px solid #8064A2;"></td>
				<td style="border:1px solid #8064A2;">$
					{% if RNASAdvanced_1_2_answer_correct is defined %}
						<input id="RNASAdvanced_1_2_answer" value='{{RNASAdvanced_1_2_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> &nbsp;
					{% else %}
						<input id="RNASAdvanced_1_2_answer" value='{{RNASAdvanced_1_2_answer}}' style="width:50px;" > &nbsp;
					{% endif %}				
				</td>
				<td>
					{% if RNASAdvanced_1_2_answer_correct is defined %}
						{% if RNASAdvanced_1_2_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{RNASAdvanced_1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td style="border:1px solid #8064A2;">July 1, 2013</td>
				<td style="border:1px solid #8064A2;"></td>
				<td style="border:1px solid #8064A2;">$12500</td>
				<td style="border:1px solid #8064A2;">$
					{% if RNASAdvanced_1_3_answer_correct is defined %}
						<input id="RNASAdvanced_1_3_answer" value='{{RNASAdvanced_1_3_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> &nbsp;
					{% else %}
						<input id="RNASAdvanced_1_3_answer" value='{{RNASAdvanced_1_3_answer}}' style="width:50px;" > &nbsp;
					{% endif %}				
				</td>
				<td>
					{% if RNASAdvanced_1_3_answer_correct is defined %}
						{% if RNASAdvanced_1_3_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{RNASAdvanced_1_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td style="border:1px solid #8064A2;">July 15, 2013</td>
				<td style="border:1px solid #8064A2;"></td>
				<td style="border:1px solid #8064A2;">$2322</td>
				<td style="border:1px solid #8064A2;">$
					{% if RNASAdvanced_1_4_answer_correct is defined %}
						<input id="RNASAdvanced_1_4_answer" value='{{RNASAdvanced_1_4_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> &nbsp;
					{% else %}
						<input id="RNASAdvanced_1_4_answer" value='{{RNASAdvanced_1_4_answer}}' style="width:50px;" > &nbsp;
					{% endif %}				
				</td>
				<td>
					{% if RNASAdvanced_1_4_answer_correct is defined %}
						{% if RNASAdvanced_1_4_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{RNASAdvanced_1_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					{% endif %}
				</td>
			</tr>
		</table>		

		{% if RNASAdvanced_1_1_answer_correct is defined %}
			<div style="margin-top:30px;margin-left:340px;"><button id="RNASAdvanced_1_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="RNASAdvanced_1_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>
<script>
	$("#RNASAdvanced_1_1_answer").change(function()
	{
		question_id = "RNASAdvanced_1";
		question_type = "AdditionSubtractionIntegers"
		answer_id = "RNASAdvanced_1_1_answer";
		entered_answer = $("#RNASAdvanced_1_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RNASAdvanced_1_2_answer").change(function()
			{
				question_id = "RNASAdvanced_1";
				question_type = "AdditionSubtractionIntegers"
				answer_id = "RNASAdvanced_1_2_answer";
				entered_answer = $("#RNASAdvanced_1_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#RNASAdvanced_1_3_answer").change(function()
			{
				question_id = "RNASAdvanced_1";
				question_type = "AdditionSubtractionIntegers"
				answer_id = "RNASAdvanced_1_3_answer";
				entered_answer = $("#RNASAdvanced_1_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#RNASAdvanced_1_4_answer").change(function()
			{
				question_id = "RNASAdvanced_1";
				question_type = "AdditionSubtractionIntegers"
				answer_id = "RNASAdvanced_1_4_answer";
				entered_answer = $("#RNASAdvanced_1_4_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	
	$("#RNASAdvanced_1_Submit").button({label:"Check Answers"});
	$("#RNASAdvanced_1_Retry").button({label:"Retry"});
	$("#RNASAdvanced_1_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "AdditionSubtractionIntegers"
		//getting question id, answer id and entered answer in form of a string
		var answers = "RNASAdvanced_1"+"#%$"+"RNASAdvanced_1_1_answer"+"#%$"+$("#RNASAdvanced_1_1_answer").val();
		answers = answers + "#%$"+"RNASAdvanced_1"+"#%$"+"RNASAdvanced_1_2_answer"+"#%$"+$("#RNASAdvanced_1_2_answer").val();
		answers = answers + "#%$"+"RNASAdvanced_1"+"#%$"+"RNASAdvanced_1_3_answer"+"#%$"+$("#RNASAdvanced_1_3_answer").val();
		answers = answers + "#%$"+"RNASAdvanced_1"+"#%$"+"RNASAdvanced_1_4_answer"+"#%$"+$("#RNASAdvanced_1_4_answer").val();

		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#RNASAdvanced_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "RNASAdvanced_1_1_answer,RNASAdvanced_1_2_answer,RNASAdvanced_1_3_answer,";
		answer_ids = answer_ids + "RNASAdvanced_1_4_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


