<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.2 Addition and Subtraction of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.2 Addition and Subtraction of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 9:(contd.)</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">
			<div>Then, put their common sign in the front. In the example above, the answer after putting the negative sign is &minus;11.</div>
		</div>
		<div style="margin-top:30px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 10:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">Evaluate (&minus;3) + (&minus;3).
		</div>
		<div style="margin-top:15px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 10:</font></div>
		<div style="margin-top:15px;display:inline-block;width:320px;vertical-align:top;">
			<div style="margin-top:10px;"><img src="/images/Grade7/G7_RN_AS_Eg_10.png"></div>
			<div style="margin-top:10px;">(&minus;3) + (&minus;3) can also be written as:</div>
			<div style="margin-top:10px;">&minus;3 &minus;3 &nbsp;=&nbsp; &minus;6.</div>	
		</div>


	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

