<div style="height:480px;">
	<div class="grade7ChapterNumberDiv" style="background-color:#F36D27;">
		<div class="grade7ChapterNumber" style="color:#FFF;">
			Chapter 2
		</div>
	</div>
	<div class="grade7ChapterNameDiv" style="background-color:#FAA756;">
		<div class="grade7ChapterName" style="width:380px;color:#F36D27;">
			Real Numbers and Their Operations
		</div>
	</div>
	<br>
	<div class="grade7LearningOutcomes">Learning Outcomes</div>
	<div class="grade7LearningOutcomesList" style="margin-left:20%;">
		<ul>
			<li><a href="javascript:Grade7BookPageLoadByName('What-are-Negative-Numbers-1')">What are Negative Numbers?</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Integers-1')">Integers</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Number-Line-1')">Number Line</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Addition-of-Integers-1')">Addition and Subtraction of Integers</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Multiplication-of-Integers-1')">Multiplication and Division of Integers</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Four-Operations-of-Integers-1')">Four Operations of Integers</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Rational-Numbers-1')">Rational Numbers</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Rational-Numbers-3')">Four Operations of Rational Numbers</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Real-Numbers-1')">Real Numbers</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Topical-Test-1-Real-Numbers')">Topical Test</a></li>
		</ul>
	</div>		
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>