<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.3 Multiplication and Division of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:45%;">2.3 Multiplication and Division of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 20: (contd.)</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">
			<div style="display:inline-block;width:15px;">b)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;">
				(&minus;65) &divide; (&minus;5) = 13			
			</div>
			<div style="display:inline-block;width:15px;margin-top:10px;">c)</div>
			<div style="display:inline-block;width:300px;margin-top:10px;vertical-align:top;">
				(&minus;144) &divide; 24 = &minus;6		
			</div>							
		</div>
		<div style="margin-top:20px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 21:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">
			<div> Solve the following:</div>
			<div style="">a) 56 &divide; [&minus;(64)<sup>&frac12;</sup>]</div>
			<div style="margin-top:10px;">b) 0 &divide; &minus;8</div>
			<div style="margin-top:10px;">c) (&minus;55) &divide; 0</div>
		</div>
		<div style="margin-top:25px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 21:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">
			<div style="display:inline-block;width:15px;">a)</div>
			<div style="display:inline-block;width:105px;">
				56 &divide; [&minus;(64)<sup>&frac12;</sup>]			
			</div>
			<div style="display:inline-block;">=&nbsp; 56 &divide; (&minus;8)</div>
			<br>		
			<div style="display:inline-block;width:125px;"></div>
			<div style="display:inline-block;">=&nbsp; &minus;7</div>
			<br>
			<div style="display:inline-block;width:15px;margin-top:10px;">b)</div>
			<div style="display:inline-block;width:300px;margin-top:10px;vertical-align:top;">
				0 &divide; &minus;8 = 0
				<div>0 divided by any number is equal to 0.</div>		
			</div>	
			<div style="display:inline-block;width:15px;margin-top:10px;">c)</div>
			<div style="display:inline-block;width:300px;margin-top:10px;vertical-align:top;">
				(&minus;55) &divide; 0
				<div>A number divided by 0 is not defined.</div>		
			</div>		
		</div>				
		<div class="grade7OrangeSideBox" style="margin-top:20px;"><strong>For your understanding...</strong>
			<div style="margin-top:10px;">Division by 0 is not defined. Dividing is splitting into equal parts. Dividing a number by zero does not make sense!</div>
		</div>	
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

