<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.3 Multiplication and Division of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:45%;">2.3 Multiplication and Division of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;"><font class="grade7SubTopicName">2.3.2 Division</font></div>
		<div style="margin-top:20px;">Divide the absolute values and follow the rules given below to determine the sign.</div>
		<div class="grade7YellowSideBox" style="margin-top:20px;"><strong>Rules of dividing integers...</strong>
		<ol>
			<li><strong>Dividing 2 integers with the same sign:</strong> The result is always positive.
				<div>(+) &divide; (+) = (+)</div>
				<div>(&minus;) &divide; (&minus;) = (+)</div>
			</li>
			<br>
			<li><strong>Dividing 2 integers with different signs:</strong> The result is always negative.
				<div>(+) &divide; (&minus;) = (&minus;)</div>
				<div>(&minus;) &divide; (+) = (&minus;)</div>
			</li>
		</ol>
		</div>
		<div style="margin-top:20px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 20:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">
			<div style="">a) 33 &divide; (&minus;3)</div>
			<div style="margin-top:10px;">b) (&minus;65) &divide; (&minus;5)</div>
			<div style="margin-top:10px;">c) (&minus;144) &divide; 24</div>
		</div>
		<div style="margin-top:20px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 20:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">
			<div style="display:inline-block;width:15px;">a)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;">
				33 &divide; (&minus;3) = &minus;11				
			</div>					
		</div>				
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

