<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.3 Multiplication and Division of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:45%;">2.3 Multiplication and Division of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:25px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 23: (contd.)</font></div>
		<div style="margin-top:25px;display:inline-block;width:320px;vertical-align:top;">
			<div style="display:inline-block;width:15px;margin-top:0px;">c)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:0px;">
				<div style="margin-top:-5px;">[(&minus;15) &minus; (&minus;3) + (&minus;15)<sup>2</sup>] &divide; 3 &times; (&minus;4)</div>
				<div style="margin-top:10px;">= [(&minus;15) &minus; (&minus;3) + 225] &divide; 3 &times; (&minus;4)</div>
				<div style="margin-top:10px;">= [&minus;15 + 3 + 225] &divide; 3 &times; (&minus;4)</div>
				<div style="margin-top:10px;">= 213 &divide; 3 &times; (&minus;4)</div>
				<div style="margin-top:10px;">Step 2: Multiply and divide from left to right.</div>
				<div style="margin-top:10px;">213 &divide; 3 &times; (&minus;4)</div>
				<div style="margin-top:10px;">= 71 &times; (&minus;4) = &minus;284</div>
			</div>
			<div style="display:inline-block;width:15px;margin-top:20px;">d)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:20px;">
				<div style="margin-top:-5px;">350 &divide; (&minus;5)<sup>2</sup> &minus; (&minus;6)<sup>3</sup></div>
				<div style="margin-top:10px;">Step 1: Evaluate the exponents.</div>
				<div style="margin-top:10px;">350 &divide; (&minus;5)<sup>2</sup> &minus; (&minus;6)<sup>3</sup> = 350 &divide; 25 &minus; (&minus;216)</div>
				<div style="margin-top:10px;">Step 2: Divide.</div>
				<div style="margin-top:10px;">350 &divide; 25 &minus; (&minus;216) = 14 &minus; (&minus;216)</div>
				<div style="margin-top:10px;">Step 3: Subtract.</div>
				<div style="margin-top:10px;">14 &minus; (&minus;216) = 230</div>
			</div>										
		</div>				
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

