<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.3 Multiplication and Division of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:45%;">2.3 Multiplication and Division of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;"><font class="grade7SubTopicName">2.3.3 Combined Four Operations of Integers</font></div>
		<div style="margin-top:10px;">We learnt about the rules of the order of operations on whole numbers in lower classes. The same rules apply to operations on integers.
			The acronym BEMDAS explained below denotes the order of operations.
		</div>		
		<div class="grade7BlueSideBox" style="margin-top:20px;">
			<div style=""><strong>B - Brackets:</strong> First, evaluate the expressions within the brackets, starting from the innermost brackets.</div>
			<div style="margin-top:10px;"><strong>E - Exponents:</strong> Next, evaluate the exponents, indexes or powers.</div>
			<div style="margin-top:10px;"><strong>MD - Multiplication and Division:</strong> Then, multiply and divide from left to right.</div>
			<div style="margin-top:10px;"><strong>AS - Addition and Subtraction:</strong> Lastly, add or subtract from left to right.</div>
		</div>
		<div style="margin-top:20px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 22:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">
			<div>Evaluate the following:</div>
			<div style="">a) (&minus;10) &times; 5 &divide; 2</div>
			<div style="margin-top:10px;">b) 51 &divide; (&minus;3) + 12 &times; (&minus;3)</div>
			<div style="margin-top:10px;">c) 1 &minus; (&minus;75) &divide; 5 &minus; (&minus;4)</div>
			<div style="margin-top:10px;">d) 11 &times; (&minus;3)<sup>2</sup> &minus; 22</div>
		</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

