<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.3 Multiplication and Division of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:45%;">2.3 Multiplication and Division of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:25px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 23: (contd.)</font></div>
		<div style="margin-top:25px;display:inline-block;width:320px;vertical-align:top;">
			<div style="display:inline-block;width:15px;">a)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:0px;">
				<div>Step 2: Multiply and divide from left to right.</div>
				<div style="margin-top:10px;">18 &times; 21 &divide; (&minus;7) = 54</div>
			</div>
			<br>
			<div style="display:inline-block;width:15px;margin-top:20px;">b)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:20px;">
				<div>0 &minus; 56 &divide; 8 + <font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">&minus;8&nbsp;</span> &times; <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">9&nbsp;</span></div>
				<div style="margin-top:10px;">Step 1: Evaluate the exponents.</div>
				<div style="margin-top:10px;">0 &minus; 56 &divide; 8 + <font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">&minus;8&nbsp;</span> &times; <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">9&nbsp;</span></div>
				<div>= 0 &minus; 56 &divide; 8 + (&minus;2) &times; 3</div>
				<div style="margin-top:10px;">Step 2: Multiply and divide from left to right.</div>
				<div style="margin-top:10px;">0 &minus; 56 &divide; 8 + (&minus;2) &times; 3 = 0 &minus; 7 + (&minus;6)</div>
				<div style="margin-top:10px;">Step 3: Add and subtract from left to right.</div>
				<div style="margin-top:10px;">0 &minus; 7 + (&minus;6) = &minus;13</div>
			</div>
			<div style="display:inline-block;width:15px;margin-top:20px;">c)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:20px;">
				<div style="margin-top:-5px;">[(&minus;15) &minus; (&minus;3) + (&minus;15)<sup>2</sup>] &divide; 3 &times; (&minus;4)</div>
				<div style="margin-top:10px;">Step 1: Evaluate the expression within the brackets, starting with the innermost brackets. </div>
			</div>							
		</div>				
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

