<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.3 Multiplication and Division of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:45%;">2.3 Multiplication and Division of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:25px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 22: (contd.)</font></div>
		<div style="margin-top:25px;display:inline-block;width:320px;vertical-align:top;">
			<div style="display:inline-block;width:15px;">d)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:-5px;">
				<div>11 &times; (&minus;3)<sup>2</sup> &minus; 22</div>
				<div style="margin-top:10px;">Step 1: Evaluate the exponent.</div>
				<div style="margin-top:10px;">11 &times; (&minus;3)<sup>2</sup> &minus; 22 = 11 &times; 9 &minus; 22</div>
				<div style="margin-top:10px;">Step 2: Multiply.</div>
				<div style="margin-top:10px;">11 &times; 9 &minus; 22 = 99 &minus; 22</div>
				<div style="margin-top:10px;">Step 3: Subtract.</div>
				<div style="margin-top:10px;">99 &minus; 22 = 77</div>
			</div>
		</div>				
		<div style="margin-top:25px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 23:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">
			<div style="">a) [<font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">81&nbsp;</span> + (3)<sup>2</sup>] &times; 21 &divide; (&minus;7)</div>
			<div style="margin-top:10px;">b) 0 &minus; 56 &divide; 8 + <font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">&minus;8&nbsp;</span> &times; <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">9&nbsp;</span></div>
			<div style="margin-top:10px;">c) [(&minus;15) &minus; (&minus;3) + (&minus;15)<sup>2</sup>] &divide; 3 &times; (&minus;4)</div>
			<div style="margin-top:10px;">d) 350 &divide; (&minus;5)<sup>2</sup> &minus; (&minus;6)<sup>3</sup></div>
		</div>		
		<div style="margin-top:25px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 23:</font></div>
		<div style="margin-top:25px;display:inline-block;width:320px;vertical-align:top;">
			<div style="display:inline-block;width:15px;">a)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:-5px;">
				<div>[<font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">81&nbsp;</span> + (3)<sup>2</sup>] &times; 21 &divide; (&minus;7)</div>
				<div style="margin-top:10px;">Step 1: Evaluate the expression within the brackets.</div>
				<div style="margin-top:10px;">[<font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">81&nbsp;</span> + (3)<sup>2</sup>] = 9 + 9 = 18</div>
			</div>
		</div>				
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

