<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.3 Multiplication and Division of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:45%;">2.3 Multiplication and Division of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:25px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 22:</font></div>
		<div style="margin-top:25px;display:inline-block;width:320px;vertical-align:top;">
			<div style="display:inline-block;width:15px;">a)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;">
				(&minus;10) &times; 5 &divide; 2
				<div style="margin-top:10px;">Multiply and divide from left to right.</div>
				<div style="display:inline-block;width:110px;margin-top:10px;">(&minus;10) &times; 5 &divide; 2</div>
				<div style="display:inline-block;margin-top:10px;">=&nbsp;(&minus;50) &divide; 2</div>
				<br>
				<div style="display:inline-block;width:110px;"></div>
				<div style="display:inline-block;">=&nbsp;&minus;25</div>
			</div>
			<br>
			<div style="display:inline-block;width:15px;margin-top:20px;">b)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:20px;">
				51 &divide; (&minus;3) + 12 &times; (&minus;3)
				<div style="margin-top:10px;margin-left:-10px;">Step 1: Multiply and divide from left to right.</div>
				<div style="margin-top:10px;">51 &divide; (&minus;3) + 12 &times; (&minus;3) = (&minus;17) + (&minus;36)</div>
				<div style="margin-top:10px;">Step 2: Add.</div>
				<div style="margin-top:10px;">(&minus;17) + (&minus;36) = &minus;53</div>
			</div>		
			<br>
			<div style="display:inline-block;width:15px;margin-top:20px;">c)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:20px;">
				1 &minus; (&minus;75) &divide; 5 &minus; (&minus;4)
				<div style="margin-top:10px;">Step 1: Divide.</div>
				<div style="display:inline-block;margin-top:10px;">1 &minus; (&minus;75) &divide; 5 &minus; (&minus;4) = 1 &minus; (&minus;15) &minus; (&minus;4)</div>
				<div style="margin-top:10px;">Step 2: Subtract from left to right.</div>
				<div style="display:inline-block;width:130px;margin-top:10px;">1 &minus; (&minus;15) &minus; (&minus;4)</div>
				<div style="display:inline-block;margin-top:10px;">=&nbsp;1 + 15 + 4</div>
				<br>
				<div style="display:inline-block;width:130px;margin-top:10px;"></div>
				<div style="display:inline-block;margin-top:10px;">=&nbsp;20</div>
			</div>
		</div>				
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

