<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.1 Negative Numbers, Integers and Number Line</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:40%;">2.1 Negative Numbers, Integers and Number Line</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 4:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">
			On a certain day, Roy received a monthly salary of $7000 in his bank account. He withdrew $500 from it later on the same day. How would these transactions appear in the financial statement of his bank account?	
		</div>
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 4:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">
			Money credited, received or deposited into a bank account is represented as a positive number in the financial statement.
			<div style="margin-top:10px;">Money debited, deducted or withdrawn from a bank account is represented as a negative number in the financial statement.</div>
			<div style="margin-top:10px;">Money credited = +$7000</div>
			<div style="margin-top:10px;">Money debited = &minus;$500</div>
			<div style="margin-top:10px;">Balance available = $6500</div>

		</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

