<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.1 Negative Numbers, Integers and Number Line</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:40%;">2.1 Negative Numbers, Integers and Number Line</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;"><font class="grade7SubTopicName">2.1.2 Integers</font></div>
		<div style="margin-top:20px;">Integers are the set of numbers that include positive numbers (1, 2, 3, ...), zero and negative numbers (&minus;1, &minus;2, &minus;3, ...), provided those numbers are non-fractional.</div>
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 3:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">Which of the following are integers?
			<div>a)	&minus;45</div>
			<div style="display:inline-block;margin-top:15px;">b) +</div>
			<div style="width:30px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:3px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;">2<br></p>
			</div>
			<div>c)	+0.59</div>		
			<div style="margin-top:15px;">d) 21</div>
			<div style="display:inline-block;margin-top:15px;">e) &minus;</div>
			<div style="width:40px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:3px;">
				<p style="line-height:20%;text-align:center;">100<br>___<br></p>
				<p style="line-height:20%;text-align:center;">9<br></p>
			</div>
			<div>f)	0</div>				
		</div>
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 3:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">
			Only &minus;45, 21 and 0 are integers. The rest of the numbers are fractions and hence cannot be integers.
		</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

