<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.3 Multiplication and Division of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:45%;">2.3 Multiplication and Division of Integers</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Mr. Scott had some money. He gave $15 in pocket money to each of his 6 children.
			</div>
		</div>
		<br>
		<div style="display:inline-block;margin-left:25px;width:15px;margin-top:10px;">a)</div>
		<div style="display:inline-block;margin-top:10px;width:390px;vertical-align:top;">Find the change in the amount of money he had.</div>
		<div style="margin-left:60px;margin-top:20px;">Answer: $
			{% if RNMDMedium_2_1_answer_correct is defined %}
				<input id="RNMDMedium_2_1_answer" value='{{RNMDMedium_2_1_answer}}' readonly style="width:40px;background-color:#DFDFDF;"> &nbsp;
					{% if RNMDMedium_2_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RNMDMedium_2_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="RNMDMedium_2_1_answer" value='{{RNMDMedium_2_1_answer}}' style="width:40px;" > &nbsp;
			{% endif %}
		</div>
		<div style="display:inline-block;margin-left:25px;width:15px;margin-top:10px;">b)</div>
		<div style="display:inline-block;margin-top:10px;width:390px;vertical-align:top;">If he had $98 at first, how much money had he left in the end?</div>
		<div style="margin-left:60px;margin-top:20px;">Answer: $
			{% if RNMDMedium_2_2_answer_correct is defined %}
				<input id="RNMDMedium_2_2_answer" value='{{RNMDMedium_2_2_answer}}' readonly style="width:40px;background-color:#DFDFDF;"> &nbsp;
					{% if RNMDMedium_2_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RNMDMedium_2_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="RNMDMedium_2_2_answer" value='{{RNMDMedium_2_2_answer}}' style="width:40px;" > &nbsp;
			{% endif %}
		</div>
		<div style="margin-left:20px;margin-top:30px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="margin-top:30px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">A clothing store had a stock clearance sale. By the end of the sale, the manager realized that each muffler was sold at a price lower than its cost price. The total loss incurred from the sale of mufflers was $880. They had a stock of 11 mufflers before the sale. If all the mufflers got sold, how much loss did the store bear per piece?
			</div>
		</div>
		<div style="margin-left:60px;margin-top:20px;">Answer: $
			{% if RNMDMedium_3_answer_correct is defined %}
				<input id="RNMDMedium_3_answer" value='{{RNMDMedium_3_answer}}' readonly style="width:40px;background-color:#DFDFDF;"> &nbsp;
					{% if RNMDMedium_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RNMDMedium_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="RNMDMedium_3_answer" value='{{RNMDMedium_3_answer}}' style="width:40px;" > &nbsp;
			{% endif %}
		</div>


		{% if RNMDMedium_2_1_answer_correct is defined %}
			<div style="margin-top:-15px;margin-left:380px;"><button id="RNMDMedium_2_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="RNMDMedium_2_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>
<script>
	$("#RNMDMedium_2_1_answer").change(function()
	{
		question_id = "RNMDMedium_2";
		question_type = "MultiplicationDivisionIntegers"
		answer_id = "RNMDMedium_2_1_answer";
		entered_answer = $("#RNMDMedium_2_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RNMDMedium_2_2_answer").change(function()
			{
				question_id = "RNMDMedium_2";
				question_type = "MultiplicationDivisionIntegers"
				answer_id = "RNMDMedium_2_2_answer";
				entered_answer = $("#RNMDMedium_2_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#RNMDMedium_3_answer").change(function()
			{
				question_id = "RNMDMedium_3";
				question_type = "MultiplicationDivisionIntegers"
				answer_id = "RNMDMedium_3_answer";
				entered_answer = $("#RNMDMedium_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	
	$("#RNMDMedium_2_Submit").button({label:"Check Answers"});
	$("#RNMDMedium_2_Retry").button({label:"Retry"});
	$("#RNMDMedium_2_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "MultiplicationDivisionIntegers"
		//getting question id, answer id and entered answer in form of a string
		var answers = "RNMDMedium_2"+"#%$"+"RNMDMedium_2_1_answer"+"#%$"+$("#RNMDMedium_2_1_answer").val();
		answers = answers + "#%$"+"RNMDMedium_2"+"#%$"+"RNMDMedium_2_2_answer"+"#%$"+$("#RNMDMedium_2_2_answer").val();
		answers = answers + "#%$"+"RNMDMedium_3"+"#%$"+"RNMDMedium_3_answer"+"#%$"+$("#RNMDMedium_3_answer").val();

		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#RNMDMedium_2_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "RNMDMedium_2_1_answer,RNMDMedium_2_2_answer,RNMDMedium_3_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


