<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.3 Multiplication and Division of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:45%;">2.3 Multiplication and Division of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:10px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 17:</font></div>
		<div style="margin-top:10px;display:inline-block;width:320px;vertical-align:top;">Evaluate each of the following:
			<div style="margin-top:10px;">a) 6 &times; (&minus;5)</div>
			<div>b)	(&minus;20) &times; (&minus;20)</div>
			<div>c)	(&minus;61) &times; 0</div>
			<div>d)	(&minus;4) &times; (&minus;12) &times; (&minus;2)</div>
		</div>
		<div style="margin-top:10px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 17:</font></div>
		<div style="margin-top:10px;display:inline-block;width:320px;vertical-align:top;">
			<div style="display:inline-block;width:15px;">a)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;">
				<div>6 &times; (&minus;5)</div>
				<div style="margin-top:10px;">This is 6 times repeated addition of (&minus;5).</div>
				<div style="margin-top:10px;">(&minus;5) + (&minus;5) + (&minus;5) + (&minus;5) + (&minus;5) + (&minus;5) = &minus;30</div>
			</div>
			<div style="display:inline-block;width:15px;margin-top:10px;">b)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:10px;">
				<div>(&minus;20) &times; (&minus;20) = &minus; [20 &times; (&minus;20)]</div>
				<div style="margin-top:10px;">This is 20 times addition of (&minus;20).</div>
				<div style="margin-top:10px;">&minus;[20 &times; (&minus;20)] = &minus; [&minus;400] = 400</div>
			</div>			
			<div style="margin-top:10px;">c) (&minus;61) &times; 0 = 0</div>
			<div style="margin-top:10px;">Note: The product of a number and zero is zero. Zero is neither positive nor negative.</div>
			<div style="margin-top:10px;">d) (&minus;4) &times; (&minus;12) &times; (&minus;2)</div>
			<div style="margin-top:10px;margin-left:20px;">= &nbsp;[(&minus;)4 &times; (&minus;)12] &times; (&minus;2)</div>
			<div style="margin-top:10px;margin-left:20px;">= &nbsp;(+48) &times; (&minus;2) = &minus;96</div>

			
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

