<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.3 Multiplication and Division of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:45%;">2.3 Multiplication and Division of Integers</div>
	{% endif %}
	<div class="grade7TopicName">2.3 Multiplication and Division of Integers</div>
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;"><font class="grade7SubTopicName">2.3.1 Multiplication</font></div>
		<div style="margin-top:20px;">Multiply the absolute values and follow the rules given below to determine the sign.</div>
		<div class="grade7YellowSideBox" style="margin-top:30px;"><strong>Rules of multiplying integers...</strong>
		<ol>
			<li><strong>Multiplying 2 integers with the same sign:</strong> The result is always positive.
				<div>(+) &times; (+) = (+)</div>
				<div>(&minus;) &times; (&minus;) = (+)</div>
			</li>
			<br>
			<li><strong>Multiplying 2 integers with different signs:</strong> The result is always negative.
				<div>(+) &times; (&minus;) = (&minus;)</div>
				<div>(&minus;) &times; (+) = (&minus;)</div>
			</li>
		</ol>
		</div>
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

