<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.3 Multiplication and Division of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:45%;">2.3 Multiplication and Division of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 18:</font></div>
		<div style="margin-top:10px;display:inline-block;width:320px;vertical-align:top;">
			<div style="">a) Is (4)<sup>2</sup> different from (&minus;4)<sup>2</sup>?</div>
			<div>b)	Is (5)<sup>3</sup> different from (&minus;5)<sup>3</sup>?</div>
			<div style="margin-top:10px;">c) Find <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">4&nbsp;</span>, <font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">27&nbsp;</span>, <font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">(&minus;27)&nbsp;</span></div>
		</div>
		<div style="margin-top:15px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 18:</font></div>
		<div style="margin-top:15px;display:inline-block;width:320px;vertical-align:top;">
			<div style="display:inline-block;width:15px;margin-top:3px;">a)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;">
				<div>(4)<sup>2</sup> = 4 &times; 4 = 16</div>
				<div>(&minus;4)<sup>2</sup> = (&minus;4) &times; (&minus;4) = 16</div>
				<div style="margin-top:10px;">So, (4)<sup>2</sup> = (&minus;4)<sup>2</sup></div>
				<div style="margin-top:10px;">We can also say that,</div>
				<div style="margin-top:10px;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">16&nbsp;</span> = &plusmn;4 (&plusmn; stands for '+' or '&minus;')</div>				
			</div>
			<div style="display:inline-block;width:15px;margin-top:15px;">b)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:10px;">
				<div>(5)<sup>3</sup> = 125</div>
				<div>(&minus;5)<sup>3</sup> = &minus;125</div>
				<div style="margin-top:10px;">So, (5)<sup>3</sup> &#8800; (&minus;5)<sup>3</sup></div>
				<div style="margin-top:10px;"><font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">125&nbsp;</span> = 5 and <font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">&minus;125&nbsp;</span> = &minus;5</div>				
			</div>						
			<div style="display:inline-block;width:15px;margin-top:15px;">c)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:15px;">
				<div><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">4&nbsp;</span> = <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">2&times;2&nbsp;</span> or <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">(&minus;2&times;&minus;2)&nbsp;</span> = &plusmn;2</div>
				<div style="margin-top:10px;"><font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">27&nbsp;</span> = <font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">(3&times;3&times;3)&nbsp;</span> = 3</div>
				<div style="margin-top:10px;"><font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">&minus;27&nbsp;</span> = <font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">(&minus;3&times;&minus;3&times;&minus;3)&nbsp;</span> = &minus;3</div>
			</div>						
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

