<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.3 Multiplication and Division of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:45%;">2.3 Multiplication and Division of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div class="grade7YellowSideBox" style="margin-top:10px;"><strong>Conclusion...</strong>
			<div style="margin-top:10px;">A positive number has two square roots but only one cube root.</div>
			<div style="margin-top:10px;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">100&nbsp;</span> = &plusmn;10 &nbsp;&nbsp;&nbsp;&nbsp;<font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">(1000)&nbsp;</span> = 10</div>
			<div style="margin-top:10px;">A negative number has no square roots but one cube root.</div>
			<div style="margin-top:10px;"><font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">(&minus;512)&nbsp;</span> = &minus;8</div>
		</div>
		<div style="margin-top:20px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 19:</font></div>
		<div style="margin-top:10px;display:inline-block;width:320px;vertical-align:top;">
			<div style="">a) (&minus;3)<sup>2</sup> &times; &minus; 8</div>
			<div style="margin-top:10px;">b) &minus;<font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">49&nbsp;</span> &times; <font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">(&minus;27)&nbsp;</span></div>
			<div style="margin-top:10px;">c) (&minus;5)<sup>2</sup> &times; <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">64&nbsp;</span> &times; <font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">(&minus;64)&nbsp;</span></div>
		</div>
		<div style="margin-top:25px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 19:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">
			<div style="display:inline-block;width:15px;margin-top:3px;">a)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;">
				<div style="display:inline-block;width:90px;">(&minus;3)<sup>2</sup> &times; &minus; 8</div>
				<div style="display:inline-block;">=&nbsp;&nbsp;9 &times; (&minus;8)</div>
				<br>
				<div style="display:inline-block;width:90px;"></div>
				<div style="display:inline-block;">=&nbsp;&nbsp;&minus;72</div>				
			</div>
			<div style="display:inline-block;width:15px;margin-top:25px;">b)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:25px;">
				<div style="display:inline-block;width:130px;">&minus;<font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">49&nbsp;</span> &times; <font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">(&minus;27)&nbsp;</span></div>
				<div style="display:inline-block;">=&nbsp;&nbsp;&minus;7 &times; &minus;3</div>
				<br>
				<div style="display:inline-block;width:130px;"></div>
				<div style="display:inline-block;">=&nbsp;&nbsp;21</div>				
			</div>						
			<div style="display:inline-block;width:15px;margin-top:20px;">c)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:15px;">
				<div style="display:inline-block;width:180px;">(&minus;5)<sup>2</sup> &times; <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">64&nbsp;</span> &times; <font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">(&minus;64)&nbsp;</span></div>
				<div style="display:inline-block;">=&nbsp;&nbsp;25 &times; 8 &times; &minus;4</div>
				<br>
				<div style="display:inline-block;width:180px;"></div>
				<div style="display:inline-block;">=&nbsp;&nbsp;&minus;800</div>				
			</div>						
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

