<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.1 Negative Numbers, Integers and Number Line</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:40%;">2.1 Negative Numbers, Integers and Number Line</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:25px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 5:</font></div>
		<div style="margin-top:25px;display:inline-block;width:310px;vertical-align:top;">
			<div style="margin-top:0px;margin-left:-20px;"><img src="/images/Grade7/G7_RN_NL_Eg_5.png"></div>	
		</div>
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 6:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">
			Which is greater? Explain your answer using a number line.
			<div style="margin-top:15px;">a) &minus;4 or &minus;3</div>
			<div style="margin-top:5px;">b) 0 or &minus;6</div>
		</div>			
		<div style="margin-top:25px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 6:</font></div>
		<div style="margin-top:25px;display:inline-block;width:310px;vertical-align:top;">
			<div style="margin-top:-10px;margin-left:0px;"><img src="/images/Grade7/G7_RN_NL_Eg_6.png"></div>
			<div style="display:inline-block;width:15px;margin-top:10px;">a)</div>
			<div style="display:inline-block;width:280px;vertical-align:top;margin-top:10px;">&minus;3 appears to the right of &minus;4 on the number line. &there4; &minus;3 is greater than &minus;4.
			<br>It can also be written as &minus;3 &gt; &minus;4.
			</div>
		</div>			
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

