<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.1 Negative Numbers, Integers and Number Line</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:40%;">2.1 Negative Numbers, Integers and Number Line</div>
	{% endif %}	
		<div style="margin-top:20px;margin-left:20px;">
			<div style="margin-top:0px;">b) Which city had the highest recorded temperature that day?</div> 
		</div>
		<div style="margin-left:60px;margin-top:20px;">
			Answer:
			{% if RNNIAdvanced_4_5_answer_correct is defined %}
				<input id="RNNIAdvanced_4_5_answer" value='{{RNNIAdvanced_4_5_answer}}' readonly style="width:80px;background-color:#DFDFDF;"> &nbsp;
					{% if RNNIAdvanced_4_5_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RNNIAdvanced_4_5_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="RNNIAdvanced_4_5_answer" value='{{RNNIAdvanced_4_5_answer}}' style="width:80px;" > &nbsp;
			{% endif %}	
		</div>		
		<div style="margin-top:20px;margin-left:20px;">
			<div style="margin-top:0px;">c) Which city had the lowest recorded temperature that day?</div> 
		</div>
		<div style="margin-left:60px;margin-top:20px;">
			Answer:
			{% if RNNIAdvanced_4_6_answer_correct is defined %}
				<input id="RNNIAdvanced_4_6_answer" value='{{RNNIAdvanced_4_6_answer}}' readonly style="width:80px;background-color:#DFDFDF;"> &nbsp;
					{% if RNNIAdvanced_4_6_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RNNIAdvanced_4_6_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="RNNIAdvanced_4_6_answer" value='{{RNNIAdvanced_4_6_answer}}' style="width:80px;" > &nbsp;
			{% endif %}	
		</div>		
		<div style="margin-top:20px;margin-left:20px;">
			<div style="margin-top:0px;">d)	If the temperature in Kyoto that day was 24.6&deg;C, what was the temperature in Toronto?</div> 
		</div>
		<div style="margin-left:60px;margin-top:20px;">
			Answer:
			{% if RNNIAdvanced_4_7_answer_correct is defined %}
				<input id="RNNIAdvanced_4_7_answer" value='{{RNNIAdvanced_4_7_answer}}' readonly style="width:40px;background-color:#DFDFDF;"> &deg;C&nbsp;
					{% if RNNIAdvanced_4_7_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RNNIAdvanced_4_7_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="RNNIAdvanced_4_7_answer" value='{{RNNIAdvanced_4_7_answer}}' style="width:40px;" > &deg;C&nbsp;
			{% endif %}	
		</div>		
		
		
		{% if RNNIAdvanced_4_5_answer_correct is defined %}
			<div style="margin-top:10px;margin-left:340px;"><button id="RNNIAdvanced_5_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="RNNIAdvanced_5_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>
<script>
	$("#RNNIAdvanced_4_5_answer").change(function()
	{
		question_id = "RNNIAdvanced_4";
		question_type = "NumbersIntegers"
		answer_id = "RNNIAdvanced_4_5_answer";
		entered_answer = $("#RNNIAdvanced_4_5_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RNNIAdvanced_4_6_answer").change(function()
			{
				question_id = "RNNIAdvanced_4";
				question_type = "NumbersIntegers"
				answer_id = "RNNIAdvanced_4_6_answer";
				entered_answer = $("#RNNIAdvanced_4_6_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#RNNIAdvanced_4_7_answer").change(function()
			{
				question_id = "RNNIAdvanced_4";
				question_type = "NumbersIntegers"
				answer_id = "RNNIAdvanced_4_7_answer";
				entered_answer = $("#RNNIAdvanced_4_7_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	
	$("#RNNIAdvanced_5_Submit").button({label:"Check Answers"});
	$("#RNNIAdvanced_5_Retry").button({label:"Retry"});
	$("#RNNIAdvanced_5_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "NumbersIntegers"
		//getting question id, answer id and entered answer in form of a string
		var answers = "RNNIAdvanced_4"+"#%$"+"RNNIAdvanced_4_5_answer"+"#%$"+$("#RNNIAdvanced_4_5_answer").val();
		answers = answers + "#%$"+"RNNIAdvanced_4"+"#%$"+"RNNIAdvanced_4_6_answer"+"#%$"+$("#RNNIAdvanced_4_6_answer").val();
		answers = answers + "#%$"+"RNNIAdvanced_4"+"#%$"+"RNNIAdvanced_4_7_answer"+"#%$"+$("#RNNIAdvanced_4_7_answer").val();

		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#RNNIAdvanced_5_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "RNNIAdvanced_4_5_answer,RNNIAdvanced_4_6_answer,RNNIAdvanced_4_6_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


