<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.4 Rational Numbers and Real Numbers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.4 Rational Numbers and Real Numbers</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 31:</font></div>
		<div style="display:inline-block;vertical-align:top;">
			<div style="margin-top:20px;display:inline-block;width:15px;vertical-align:top;margin-left:-10px;">a)</div>
			<div style="margin-top:20px;display:inline-block;width:300px;vertical-align:top;">
				<div><strong>Logic:</strong></div>
				<div style="display:inline-block;width:70px;margin-top:10px;">1.5 &times; 2.3 </div>
				<div style="display:inline-block;margin-top:10px;">=</div>
				<div style="width:30px;display:inline-block;vertical-align:top;margin-left:4px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">15<br>___<br></p>
					<p style="line-height:20%;text-align:center;">10<br></p>
				</div>
				<div style="display:inline-block;margin-top:10px;">&times;</div>
				<div style="width:30px;display:inline-block;vertical-align:top;margin-left:4px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">23<br>___<br></p>
					<p style="line-height:20%;text-align:center;">10<br></p>
				</div>
				<br>
				<div style="margin-left:20px;">[Convert each decimal to integer]</div>
				<br>
				<div style="display:inline-block;width:70px;margin-top:0px;"></div>
				<div style="display:inline-block;margin-top:0px;">=</div>
				<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">(15 &times; 23)<br>_________<br></p>
					<p style="line-height:20%;text-align:center;">100<br></p>
				</div>
				<br>
				<div style="display:inline-block;width:70px;margin-top:0px;"></div>
				<div style="display:inline-block;margin-top:0px;">=</div>
				<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">345<br>____<br></p>
					<p style="line-height:20%;text-align:center;">100<br></p>
				</div>
				<div style="display:inline-block;margin-top:0px;">= 3.45</div>
				<br>
				<div style="margin-left:20px;">[Express the answer as decimal]</div>																
			</div>
			<br>
			<div style="margin-top:20px;display:inline-block;width:15px;vertical-align:top;margin-left:-10px;">b)</div>
			<div style="margin-top:20px;display:inline-block;width:300px;vertical-align:top;">
				<div style="margin-top:0px;margin-left:10px;"><img src="/images/Grade7/G7_RN_Decimals_Eg31b.png"></div>
			</div>			
		</div>
		
		<div style="margin-top:30px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 32:</font></div>
		<div style="margin-top:30px;display:inline-block;vertical-align:top;width:310px;">Divide the following decimals:
		<br>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">a) </div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">1.17 &divide; 0.9</div>
			<br>					
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">b) </div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">1.815 &divide; 0.15</div>		
		</div>				
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

