<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.4 Rational Numbers and Real Numbers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.4 Rational Numbers and Real Numbers</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;"><font class="grade7SubTopicName">2.4.4 Decimals</font></div>
		<div style="margin-top:20px;">There are two types of decimals that are rational numbers:</div>
		<ol>
			<li style="list-style-type:decimal;">
				<div><strong>Terminating decimals</strong>: These are decimals that have a finite number of digits. They are rational numbers because they can be expressed as fractions.</div> 
				<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:4px;">Eg.: 3</div>					
				<div style="width:30px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">3<br>__<br></p>
					<p style="line-height:20%;text-align:center;">4<br></p>
				</div>			
				<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:0px;">= </div>
				<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:4px;">3.75, </div>
				<div style="width:30px;display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">7<br>__<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>			
				<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:0px;">= </div>
				<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:4px;">1.4</div>
			</li>
			<li style="list-style-type:decimal;">
				<div><strong>Recurring or Repeating decimals</strong>: These are decimals that have an infinite number of repeating blocks. E.g.:</div> 
				<ol style="margin-top:10px;">
					<li style="list-style-type:lower-alpha;">
						<div style="width:30px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-15px;">
							<p style="line-height:20%;text-align:center;">1<br>__<br></p>
							<p style="line-height:20%;text-align:center;">3<br></p>
						</div>
						<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">= </div>
						<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:4px;">0.333 or 0.<span style="text-decoration:overline;">3</span> </div>
						<br>
						(repeating blocks of 3 indicated by a bar above '3')				
					</li>
					<br>
					<li style="list-style-type:lower-alpha;">
						<div style="width:30px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-15px;">
							<p style="line-height:20%;text-align:center;">9<br>__<br></p>
							<p style="line-height:20%;text-align:center;">11<br></p>
						</div>
						<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">= </div>
						<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:4px;">0.8181 or 0.<span style="text-decoration:overline;">81</span> </div>
						<br>
						(repeating blocks of 81 indicated by a bar above '81')				
					</li>					
				</ol>
			</li>			
		</ol>
		<div style="margin-top:10px;">There is a third category of decimals called <strong>non-terminating and non-recurring decimals</strong> that are not rational numbers but are instead categorized as irrational numbers. They are discussed in the next section.</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

