<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.4 Rational Numbers and Real Numbers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.4 Rational Numbers and Real Numbers</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:30px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 28:</font></div>
		<div style="margin-top:30px;display:inline-block;vertical-align:top;margin-left:-5px;">a) Convert the following fractions to decimals:
		<br>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">i) </div>		
			<div style="width:30px;display:inline-block;vertical-align:top;margin-left:4px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">9<br>___<br></p>
				<p style="line-height:20%;text-align:center;">10<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:5px;">ii)</div>					
			<div style="width:30px;display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">&minus;4<br>___<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:5px;">iii)</div>		
			<div style="width:30px;display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">5<br>__<br></p>
				<p style="line-height:20%;text-align:center;">6<br></p>
			</div>			
		</div>
		<br>		
		<div style="margin-top:0px;display:inline-block;vertical-align:top;margin-left:90px;">b) Arrange the above fractions in increasing order.		
		</div>
		<br>
		<div style="margin-top:20px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 28:</font></div>
		<div style="margin-top:20px;display:inline-block;width:15px;vertical-align:top;margin-left:-10px;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:300px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">i) </div>		
			<div style="width:30px;display:inline-block;vertical-align:top;margin-left:4px;margin-top:-2px;">
				<p style="line-height:20%;text-align:center;">9<br>___<br></p>
				<p style="line-height:20%;text-align:center;">10<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;"> = 9 &divide; 10</div>			
			<div style="margin-top:10px;"><img src="/images/Grade7/G7_RN_Decimals_Eg28a1.png"></div>
			<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">Therefore, </div>		
			<div style="width:30px;display:inline-block;vertical-align:top;margin-left:4px;margin-top:-2px;">
				<p style="line-height:20%;text-align:center;">9<br>___<br></p>
				<p style="line-height:20%;text-align:center;">10<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;"> = 0.9</div>		
		</div>
		<br>
		<div style="margin-top:20px;display:inline-block;width:15px;vertical-align:top;margin-left:80px;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:300px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">ii) </div>		
			<div style="width:30px;display:inline-block;vertical-align:top;margin-left:4px;margin-top:-2px;">
				<p style="line-height:20%;text-align:center;">&minus;4<br>___<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;"> = &minus;4 &divide; 3</div>			
		</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

