<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.4 Rational Numbers and Real Numbers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.4 Rational Numbers and Real Numbers</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:12px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="margin-top:0px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">
				  
				<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">Sheryl had a stationery shop. Of the total number of</div>
				<br>
				<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">items,</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">1<br>__<br></p>
					<p style="line-height:20%;text-align:center;">7<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">of them were erasers, half of them were</div>
				<br>
				<div style="display:inline-block;vertical-align:top;margin-top:2px;margin-left:0px;">pens,</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">1<br>__<br></p>
					<p style="line-height:20%;text-align:center;">3<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:-2px;margin-left:0px;">of them were pencils and the rest were</div>
				<br>
				<div>sharpeners. If there were 80 erasers and pencils, find the number of sharpeners in her shop.</div>
			</div>
		</div>
		<div style="margin-left:60px;margin-top:20px;">Answer: 
			{% if RNRNAdvanced_2_answer_correct is defined %}
			<div style="display:inline-block;vertical-align:top;margin-top:-8px;margin-left:4px;">
				<input id="RNRNAdvanced_2_answer" value='{{RNRNAdvanced_2_answer}}' readonly style="width:40px;background-color:#DFDFDF;"> sharpeners&nbsp;
					{% if RNRNAdvanced_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not RNRNAdvanced_2_answer_correct and RNRNAdvanced_2_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RNRNAdvanced_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			</div>
			{% else %}
			<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:4px;">	
				<input id="RNRNAdvanced_2_answer" value='{{RNRNAdvanced_2_answer}}' style="width:40px;" > sharpeners&nbsp;
			</div>
			{% endif %}
		</div>	
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="margin-top:8px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">
				  				  
				<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">Last April, Lucy donated</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">1<br>__<br></p>
					<p style="line-height:20%;text-align:center;">2<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">of her income to charity.</div>
				<br>
				<div style="display:inline-block;vertical-align:top;margin-top:6px;margin-left:0px;">She used</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-6px;">
					<p style="line-height:20%;text-align:center;">1<br>__<br></p>
					<p style="line-height:20%;text-align:center;">3<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:6px;margin-left:0px;">of the remaining income to pay house rent.</div>
				<br>
				<div style="display:inline-block;vertical-align:top;margin-top:2px;margin-left:0px;">She spent</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">1<br>__<br></p>
					<p style="line-height:20%;text-align:center;">4<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:-2px;margin-left:0px;">of the remaining income, left after paying</div>
				<br>
				<div>the rent, on food and utilities. She saved the rest of her income. If her saving was $2300, how much money did she pay in house rent? Round off your answer to 2 decimal places.</div>
			</div>
		</div>
		<div style="margin-left:60px;margin-top:20px;">Answer: $
			{% if RNRNAdvanced_3_answer_correct is defined %}
			<div style="display:inline-block;vertical-align:top;margin-top:-8px;margin-left:4px;">
				<input id="RNRNAdvanced_3_answer" value='{{RNRNAdvanced_3_answer}}' readonly style="width:55px;background-color:#DFDFDF;"> &nbsp;
					{% if RNRNAdvanced_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not RNRNAdvanced_3_answer_correct and RNRNAdvanced_3_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RNRNAdvanced_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			</div>
			{% else %}
			<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:4px;">	
				<input id="RNRNAdvanced_3_answer" value='{{RNRNAdvanced_3_answer}}' style="width:55px;" > &nbsp;
			</div>
			{% endif %}
		</div>	
		
		{% if RNRNAdvanced_2_answer_correct is defined %}
			<div style="margin-top:-10px;margin-left:340px;"><button id="RNRNAdvanced_2_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:-10px;margin-left:280px;"><button id="RNRNAdvanced_2_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>
<script>
	$("#RNRNAdvanced_2_answer").change(function()
	{
		question_id = "RNRNAdvanced_2";
		question_type = "RationalRealNumbers"
		answer_id = "RNRNAdvanced_2_answer";
		entered_answer = $("#RNRNAdvanced_2_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RNRNAdvanced_3_answer").change(function()
			{
				question_id = "RNRNAdvanced_3";
				question_type = "RationalRealNumbers"
				answer_id = "RNRNAdvanced_3_answer";
				entered_answer = $("#RNRNAdvanced_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	
	$("#RNRNAdvanced_2_Submit").button({label:"Check Answers"});
	$("#RNRNAdvanced_2_Retry").button({label:"Retry"});
	$("#RNRNAdvanced_2_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "RationalRealNumbers"
		//getting question id, answer id and entered answer in form of a string
		var answers = "RNRNAdvanced_2"+"#%$"+"RNRNAdvanced_2_answer"+"#%$"+$("#RNRNAdvanced_2_answer").val();
		answers = answers + "#%$"+"RNRNAdvanced_3"+"#%$"+"RNRNAdvanced_3_answer"+"#%$"+$("#RNRNAdvanced_3_answer").val();

		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#RNRNAdvanced_2_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "RNRNAdvanced_2_answer,RNRNAdvanced_3_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


