<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.4 Rational Numbers and Real Numbers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.4 Rational Numbers and Real Numbers</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:10px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="margin-top:10px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Arrange the following numbers in descending order:
			</div>
		</div>
		<div style="margin-left:60px;margin-top:0px;">
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">&pi;<br>__<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>		
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">, 1</div>		
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;">6<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">, &minus;25.3,</div>
			<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">32&nbsp;</span><br>____<br></p>
				<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">2&nbsp;</span><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">, &minus;2.23,</div>			
			<div style="display:inline-block;vertical-align:top;margin-top:8px;margin-left:0px;"><div>(0.3<span style="text-decoration:overline;">12</span>)<sup>2</sup></div></div>
		</div>
		<div style="margin-left:65px;margin-top:10px;">
			{% if RNRNMedium_3_1_answer_correct is defined %}
				<input type=radio name="RNRNMedium_3_1_answer" value='A' disabled
				{% if RNRNMedium_3_1_answer == 'A'%} 
   					checked="checked"
   				{%endif%}
				 >				 
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">&minus;25.3, &minus;2.23,</div>
				<div style="display:inline-block;vertical-align:top;margin-top:-3px;margin-left:0px;"><div>(0.3<span style="text-decoration:overline;">12</span>)<sup>2</sup></div></div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">,</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">&pi;<br>__<br></p>
					<p style="line-height:20%;text-align:center;">3<br></p>
				</div>		
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">, 1</div>		
				<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">1<br>__<br></p>
					<p style="line-height:20%;text-align:center;">6<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">,</div>			
				<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">32&nbsp;</span><br>____<br></p>
					<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">2&nbsp;</span><br></p>
				</div>
				 <br>
				<input type=radio name="RNRNMedium_3_1_answer" value='B' disabled
				{% if RNRNMedium_3_1_answer == 'B' %} 
   					checked="checked"
   				{%endif%}
				 >
				<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">32&nbsp;</span><br>____<br></p>
					<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">2&nbsp;</span><br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">, 1</div>		
				<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">1<br>__<br></p>
					<p style="line-height:20%;text-align:center;">6<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">,</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">&pi;<br>__<br></p>
					<p style="line-height:20%;text-align:center;">3<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">,</div>
				<div style="display:inline-block;vertical-align:top;margin-top:-3px;margin-left:0px;"><div>(0.3<span style="text-decoration:overline;">12</span>)<sup>2</sup></div></div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">, &minus;2.23, &minus;25.3</div>
				 <br>
				<input type=radio name="RNRNMedium_3_1_answer" value='C' disabled
				{% if RNRNMedium_3_1_answer == 'C' %} 
   					checked="checked"
   				{%endif%}
				 >
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">&pi;<br>__<br></p>
					<p style="line-height:20%;text-align:center;">3<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">, 1</div>		
				<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">1<br>__<br></p>
					<p style="line-height:20%;text-align:center;">6<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">,</div>
				<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">32&nbsp;</span><br>____<br></p>
					<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">2&nbsp;</span><br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">,</div>
				<div style="display:inline-block;vertical-align:top;margin-top:-3px;margin-left:0px;"><div>(0.3<span style="text-decoration:overline;">12</span>)<sup>2</sup></div></div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">, &minus;2.23, &minus;25.3</div>
				 &nbsp;&nbsp;
				{% if RNRNMedium_3_1_answer_correct %}
					<img src="/images/g7_correct.png">
				{% else %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{RNRNMedium_3_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input type=radio name="RNRNMedium_3_1_answer" value='A'
				{% if RNRNMedium_3_1_answer == 'A' %} 
   					checked="checked"
   				{%endif%}
				 >
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">&minus;25.3, &minus;2.23,</div>
				<div style="display:inline-block;vertical-align:top;margin-top:-3px;margin-left:0px;"><div>(0.3<span style="text-decoration:overline;">12</span>)<sup>2</sup></div></div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">,</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">&pi;<br>__<br></p>
					<p style="line-height:20%;text-align:center;">3<br></p>
				</div>		
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">, 1</div>		
				<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">1<br>__<br></p>
					<p style="line-height:20%;text-align:center;">6<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">,</div>			
				<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">32&nbsp;</span><br>____<br></p>
					<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">2&nbsp;</span><br></p>
				</div>			
				 <br>
				<input type=radio name="RNRNMedium_3_1_answer" value='B'
				{% if RNRNMedium_3_1_answer == 'B'%} 
   					checked="checked"
   				{%endif%}
				 >
				<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">32&nbsp;</span><br>____<br></p>
					<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">2&nbsp;</span><br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">, 1</div>		
				<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">1<br>__<br></p>
					<p style="line-height:20%;text-align:center;">6<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">,</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">&pi;<br>__<br></p>
					<p style="line-height:20%;text-align:center;">3<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">,</div>
				<div style="display:inline-block;vertical-align:top;margin-top:-3px;margin-left:0px;"><div>(0.3<span style="text-decoration:overline;">12</span>)<sup>2</sup></div></div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">, &minus;2.23, &minus;25.3</div>
				 <br>
				 <input type=radio name="RNRNMedium_3_1_answer" value='C'
				{% if RNRNMedium_3_1_answer == 'C'%} 
   					checked="checked"
   				{%endif%}
				 >
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">&pi;<br>__<br></p>
					<p style="line-height:20%;text-align:center;">3<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">, 1</div>		
				<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">1<br>__<br></p>
					<p style="line-height:20%;text-align:center;">6<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">,</div>
				<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">32&nbsp;</span><br>____<br></p>
					<p style="line-height:20%;text-align:center;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">2&nbsp;</span><br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">,</div>
				<div style="display:inline-block;vertical-align:top;margin-top:-3px;margin-left:0px;"><div>(0.3<span style="text-decoration:overline;">12</span>)<sup>2</sup></div></div>
				<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;">, &minus;2.23, &minus;25.3</div>
				 			 
			{% endif %}	
		</div>

		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Of the total employees in a company, </div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">7<br>__<br></p>
				<p style="line-height:20%;text-align:center;">11<br></p>				
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">worked in the</div>
			<br>
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">finance department and </div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">2<br>__<br></p>
				<p style="line-height:20%;text-align:center;">7<br></p>				
			</div>			 
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">of those in the finance</div>
			<br>
			<div> department were women. What fraction of the total employees were women working in the finance department?</div>
		</div>
		<div style="margin-left:60px;margin-top:20px;">
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">Answer:</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-20px;">
				<p style="line-height:20%;text-align:center;">
					{% if RNRNMedium_4_1_answer_correct is defined %}
						&nbsp; <input id="RNRNMedium_4_1_answer" value='{{RNRNMedium_4_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> &nbsp;
					{% else %}
						<input id="RNRNMedium_4_1_answer" value='{{RNRNMedium_4_1_answer}}' style="width:30px;" >
					{% endif %}
				<br>_____<br></p>
				<p style="line-height:20%;text-align:center;">
					{% if RNRNMedium_4_2_answer_correct is defined %}
						&nbsp; <input id="RNRNMedium_4_2_answer" value='{{RNRNMedium_4_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> &nbsp;
					{% else %}
						<input id="RNRNMedium_4_2_answer" value='{{RNRNMedium_4_2_answer}}' style="width:30px;" >
					{% endif %}
				<br></p>				
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:5px;">
				{% if RNRNMedium_4_1_answer_correct is defined %}
					{% if RNRNMedium_4_1_answer_correct and RNRNMedium_4_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RNRNMedium_4_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		
		{% if RNRNMedium_3_1_answer_correct is defined %}
			<div style="margin-top:-30px;margin-left:340px;"><button id="RNRNMedium_2_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:-30px;margin-left:280px;"><button id="RNRNMedium_2_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>
<script>
	$("input[name='RNRNMedium_3_1_answer']").click(function()
	{
		question_id = "RNRNMedium_3";
		question_type = "RationalRealNumbers"
		answer_id = "RNRNMedium_3_1_answer";
		entered_answer = $("input:radio[name=RNRNMedium_3_1_answer]:checked").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});

	$("#RNRNMedium_4_1_answer").change(function()
			{
				question_id = "RNRNMedium_4";
				question_type = "RationalRealNumbers"
				answer_id = "RNRNMedium_4_1_answer";
				entered_answer = $("#RNRNMedium_4_1_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#RNRNMedium_4_2_answer").change(function()
			{
				question_id = "RNRNMedium_4";
				question_type = "RationalRealNumbers"
				answer_id = "RNRNMedium_4_2_answer";
				entered_answer = $("#RNRNMedium_4_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	
	$("#RNRNMedium_2_Submit").button({label:"Check Answers"});
	$("#RNRNMedium_2_Retry").button({label:"Retry"});
	$("#RNRNMedium_2_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "RationalRealNumbers"
		//getting question id, answer id and entered answer in form of a string
		var answers = "RNRNMedium_3"+"#%$"+"RNRNMedium_3_1_answer"+"#%$"+$("input:radio[name=RNRNMedium_3_1_answer]:checked").val();
		answers = answers + "#%$"+"RNRNMedium_4"+"#%$"+"RNRNMedium_4_1_answer"+"#%$"+$("#RNRNMedium_4_1_answer").val();
		answers = answers + "#%$"+"RNRNMedium_4"+"#%$"+"RNRNMedium_4_2_answer"+"#%$"+$("#RNRNMedium_4_2_answer").val();


		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#RNRNMedium_2_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "RNRNMedium_3_1_answer";
		answer_ids = answer_ids + "RNRNMedium_4_1_answer,RNRNMedium_4_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


