<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.4 Rational Numbers and Real Numbers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.4 Rational Numbers and Real Numbers</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 32:</font></div>
		<div class="grade7YellowSideBox" style="margin-top:10px;"><strong>To divide a decimal by another decimal:</strong>
			<ul>
				<li>
					First, change the divisor to a whole number by shifting its decimal point.
				</li>
				<li>
					Then, shift the decimal point of the dividend by an equal number of places as the divisor in the step above.
				</li>
				<li>
					Lastly, use long division to get the answer.
				</li>
			</ul>
		</div>
		<div style="margin-top:20px;display:inline-block;width:15px;vertical-align:top;margin-left:10px;">a)</div>
		<div style="margin-top:20px;display:inline-block;width:300px;vertical-align:top;">
			<div style="margin-top:-10px;margin-left:10px;"><img src="/images/Grade7/G7_RN_Decimals_Eg32a.png"></div>
			<div style="margin-top:10px;">&there4; 1.17 &divide; 0.9 = 1.3</div>
		</div>	
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

