<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.4 Rational Numbers and Real Numbers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.4 Rational Numbers and Real Numbers</div>
	{% endif %}
	<div class="grade7TopicName">2.4. Rational Numbers and Real Numbers</div>
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;"><font class="grade7SubTopicName">2.4.1 Rational Numbers</font></div>
		<div style="margin-top:10px;">A rational number is a number that can be expressed in the</div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;">form of a fraction</div>
		<div style="width:30px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:0px;">
			<p style="line-height:20%;text-align:center;">p<br>__<br></p>
			<p style="line-height:20%;text-align:center;">q<br></p>
		</div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;">where p and q are integers and q &#8800; 0.</div>	
		<br>
		<div style="width:30px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:0px;">
			<p style="line-height:20%;text-align:center;">2<br>__<br></p>
			<p style="line-height:20%;text-align:center;">3<br></p>
		</div>
		<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:-5px;">, &minus;</div>		
		<div style="width:30px;display:inline-block;vertical-align:top;margin-left:-8px;margin-top:0px;">
			<p style="line-height:20%;text-align:center;">4<br>__<br></p>
			<p style="line-height:20%;text-align:center;">1<br></p>
		</div>		
		<div style="display:inline-block;vertical-align:top;margin-top:10px;">and</div>		
		<div style="width:50px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:0px;">
			<p style="line-height:20%;text-align:center;">100<br>____<br></p>
			<p style="line-height:20%;text-align:center;">9<br></p>
		</div>		
		<div style="display:inline-block;vertical-align:top;margin-top:10px;">are examples of rational numbers.</div>	
		<br>	
		<div style="display:inline-block;vertical-align:top;margin-top:10px;">Integers are rational numbers of the form</div>
		<div style="width:30px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:0px;">
			<p style="line-height:20%;text-align:center;">p<br>__<br></p>
			<p style="line-height:20%;text-align:center;">q<br></p>
		</div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;">where q = 1.</div>	
		<br>
		<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:-5px;"><i>Examples:</i> 5 = </div>		
		<div style="width:30px;display:inline-block;vertical-align:top;margin-left:-8px;margin-top:0px;">
			<p style="line-height:20%;text-align:center;">5<br>__<br></p>
			<p style="line-height:20%;text-align:center;">1<br></p>
		</div>		
		<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:-5px;">, &minus;4 = &minus;</div>		
		<div style="width:30px;display:inline-block;vertical-align:top;margin-left:-8px;margin-top:0px;">
			<p style="line-height:20%;text-align:center;">4<br>__<br></p>
			<p style="line-height:20%;text-align:center;">1<br></p>
		</div>		
		<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:-5px;">, 0 = </div>		
		<div style="width:30px;display:inline-block;vertical-align:top;margin-left:-8px;margin-top:0px;">
			<p style="line-height:20%;text-align:center;">0<br>__<br></p>
			<p style="line-height:20%;text-align:center;">1<br></p>
		</div>		
		<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:-5px;">, and so on.</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

