<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.4 Rational Numbers and Real Numbers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.4 Rational Numbers and Real Numbers</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 30:</font></div>
		<div style="display:inline-block;vertical-align:top;">
			<div style="margin-top:20px;display:inline-block;width:15px;vertical-align:top;margin-left:-10px;">c)</div>
			<div style="margin-top:20px;display:inline-block;width:300px;vertical-align:top;">
				<div>5.094 + 1.54</div>
				<div style="margin-top:10px;margin-left:-20px;"><img src="/images/Grade7/G7_RN_Decimals_Eg30c.png"></div>
			</div>
			<br>
			<div style="margin-top:20px;display:inline-block;width:15px;vertical-align:top;margin-left:-10px;">d)</div>
			<div style="margin-top:20px;display:inline-block;width:300px;vertical-align:top;">
				<div>61.2 &minus; 23.465</div>
				<div style="margin-top:10px;margin-left:-20px;"><img src="/images/Grade7/G7_RN_Decimals_Eg30d.png"></div>
			</div>			
		</div>
		<div style="margin-top:30px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 31:</font></div>
		<div style="margin-top:30px;display:inline-block;vertical-align:top;width:310px;">Multiply the following decimals:
		<br>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">a) </div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">1.5 &times; 2.3</div>
			<br>					
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">b) </div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">4.091 &times; 0.5</div>		
		</div>			
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

