<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.4 Rational Numbers and Real Numbers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.4 Rational Numbers and Real Numbers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div class="grade7OrangeSideBox" style="margin-top:10px;font-family:arial;"><strong>Fun Fact...</strong>
			<br>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">if &pi; = </div>		
			<div style="width:30px;display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">22<br>___<br></p>
				<p style="line-height:20%;text-align:center;">7<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">and if the fraction</div>		
			<div style="width:30px;display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">22<br>___<br></p>
				<p style="line-height:20%;text-align:center;">7<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">is a rational number then why is &pi;</div>
			<br>
			<div>an irrational number?</div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">The real value of &pi; is not equal to</div>		
			<div style="width:30px;display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">22<br>___<br></p>
				<p style="line-height:20%;text-align:center;">7<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:-5px;">. Mathematicians approximate </div>
			<br>
			<div style="display:inline-block;vertical-align:top;margin-top:2px;margin-left:0px;">  &pi; to</div>		
			<div style="width:30px;display:inline-block;vertical-align:top;margin-left:0px;margin-top:-8px;">
				<p style="line-height:20%;text-align:center;">22<br>___<br></p>
				<p style="line-height:20%;text-align:center;">7<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:2px;margin-left:0px;">to make calculations involving &pi; easy to do.</div>					
		</div>

		<div style="margin-top:30px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 34:</font></div>
		<div style="margin-top:30px;display:inline-block;vertical-align:top;margin-left:-5px;width:300px;">
			<div>Study the list of numbers below and answer the questions that follow:
			<br>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">0<br>__<br></p>
					<p style="line-height:20%;text-align:center;">4<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:-2px;margin-top:10px;">,</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">&minus;5<br>___<br></p>
					<p style="line-height:20%;text-align:center;">7<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:-2px;margin-top:10px;">, &minus;123, <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">9&nbsp;</span>, <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">2&nbsp;</span>, <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">80&nbsp;</span>, 21</div>			
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">a) Arrange the numbers in increasing order.</div>	
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">b) Which of the numbers are irrational numbers?</div>	
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">c) Which of the numbers are rational numbers?</div>	
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">d) Which of the numbers are integers?</div>			
		</div>

	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

