<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.4 Rational Numbers and Real Numbers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.4 Rational Numbers and Real Numbers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;"><font class="grade7SubTopicName">2.4.5 Real Numbers</font></div>
		<div style="margin-top:10px;">A real number is a value that can be expressed on a number line.</div>
		<div style="margin-top:10px;">The following numbers can be represented by points on the number line:</div>
		<div>
			<ul>
				<li style="font-family:arial;font-size:0.94em;"><strong>Rational Numbers</strong> - Include integers, fractions, terminating decimals and repeating decimals.</li>
				<li style="font-family:arial;font-size:0.94em;"><strong>Irrational numbers </strong> - Include non-terminating and non-recurring decimals. E.g.: <font style="font-size:1em;">&radic;</font><span style="text-decoration:overline">2&nbsp;</span> (=1.41421356...*),  <font style="font-size:1em;">&radic;</font><span style="text-decoration:overline">3&nbsp;</span> (=1.73205080...*), &pi; (=3.14159265358979...*).</li>
			</ul>
		</div>
		<div class="grade7OrangeSideBox" style="margin-top:10px;font-family:arial;"><strong>What is NOT a Real Number?</strong>
			<ul>
				<li style="font-family:arial;font-size:1.1em;">
					Imaginary numbers like <font style="font-size:1em;">&radic;</font><span style="text-decoration:overline">&minus;2&nbsp;</span> (square root of minus two) i.e.  <font style="font-size:0.9em;">&radic;</font><span style="text-decoration:overline">&minus;x&nbsp;</span>, where x is a positive number.
				</li>
				<li style="font-family:arial;font-size:1.1em;">
					Infinity (&#8734;) - It has no end. Example: (10)<sup>&#8734;</sup> means 10 to the power of infinity i.e. 1 followed by an endless string of zeros. Hence, it is not defined.
				</li>
			</ul>
		</div>
		<div style="margin-top:10px;">* Only a finite number of digits are shown here.</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

