<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.4 Rational Numbers and Real Numbers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.4 Rational Numbers and Real Numbers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 34:</font></div>
		<div style="margin-top:20px;display:inline-block;vertical-align:top;margin-left:-5px;width:300px;">
			
			<div>Numbers are easy to compare when we find their decimal value.
			<br>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">0<br>__<br></p>
					<p style="line-height:20%;text-align:center;">4<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;"> = 0</div>
				<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">&minus;5<br>___<br></p>
					<p style="line-height:20%;text-align:center;">7<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;"> = -0.<span style="text-decoration:overline;">714285</span></div>
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">9&nbsp;</span> = 3</div>
				<br>
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">2&nbsp;</span> = 1.41421....</div>
				<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:10px;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">80&nbsp;</span> = 8.94427...</div>
							
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">a)
				&minus;123 &lt; &minus;0.714285 &lt; 0 &lt; 1.41421 &lt; 3 &lt; 8.94427 &lt; 21 
				<div style="margin-top:10px;">In the increasing order, the numbers can be arranged as below:</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">&minus;123,</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">&minus;5<br>___<br></p>
					<p style="line-height:20%;text-align:center;">7<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:-2px;margin-top:10px;">,</div>			
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">0<br>__<br></p>
					<p style="line-height:20%;text-align:center;">4<br></p>
				</div>			
				<div style="display:inline-block;vertical-align:top;margin-left:-2px;margin-top:10px;">, <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">2&nbsp;</span>, <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">9&nbsp;</span>, <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">80&nbsp;</span>, 21</div>			
			</div>	
			<div style="display:inline-block;vertical-align:top;margin-top:2px;margin-left:0px;">b) Irrational numbers from the list are:<br>
			 	<div style="margin-top:10px;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">2&nbsp;</span> and <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">80&nbsp;</span></div>
			</div>	
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">c)
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">Rational numbers from the list are:</div>
				<br>
				<div style="display:inline-block;vertical-align:top;margin-left:-2px;margin-top:10px;">&minus;123,</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">&minus;5<br>___<br></p>
					<p style="line-height:20%;text-align:center;">7<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:-2px;margin-top:10px;">,</div>			
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">0<br>__<br></p>
					<p style="line-height:20%;text-align:center;">4<br></p>
				</div>			
				<div style="display:inline-block;vertical-align:top;margin-left:-2px;margin-top:10px;">, <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">9&nbsp;</span>, 21</div>			
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:12px;margin-left:0px;">d)
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">Integers from the list are:</div>
				<br>	
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">0<br>__<br></p>
					<p style="line-height:20%;text-align:center;">4<br></p>
				</div>			
				<div style="display:inline-block;vertical-align:top;margin-left:-2px;margin-top:10px;">, &minus;123, <font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">9&nbsp;</span>, 21</div>			
			</div>
		</div>

	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

