<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.2 Addition and Subtraction of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.2 Addition and Subtraction of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;"><font class="grade7SubTopicName">2.2.3 Subtracting a positive integer</font></div>
		<div style="margin-top:30px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 13:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">The temperature of a city is &minus;4 &deg;C. It further drops by 5 &deg;C. What is the temperature of the city now?
		</div>
		<div style="margin-top:15px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 13:</font></div>
		<div style="margin-top:15px;display:inline-block;width:320px;vertical-align:top;">
			<div><strong>Method 1:</strong></div>
			<div style="margin-top:10px;">Temperature of the city at first = &minus;4 &deg;C</div>
			<div style="margin-top:10px;">Temperature of the city after the drop</div>
			<div style="">=&nbsp; &minus;4 &minus; (5)</div>
			<div style="">=&nbsp; &minus;4 &minus; 5</div>
			<div style="">=&nbsp; &minus;9 &deg;C</div>
			<div style="margin-top:10px;"><strong>Method 2:</strong></div>
			<div style="margin-top:10px;">Subtracting a number is the same as adding the opposite of the number. Opposite of + is &minus; and vice versa. Here, the opposite of 5 or +5 is (&minus;5).</div>
			<div style="margin-top:10px;">So, &minus;4 &minus; 5 = &minus;4 + (&minus;5) and hence, the rules of addition of integers with the same sign can be applied here.</div>	
		</div>

	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

