<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.2 Addition and Subtraction of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.2 Addition and Subtraction of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:30px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 16:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">Evaluate &minus;3 &minus; (+17).
		</div>
		<div style="margin-top:15px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 16:</font></div>
		<div style="margin-top:15px;display:inline-block;width:320px;vertical-align:top;">
			<div>&minus;3 &minus; (+17) = &minus;3 &minus; 17</div>
			<div style="margin-top:10px;">This is the same as adding two integers with the same sign.</div>
			<div style="margin-top:10px;">Hence, &minus;3 &minus; (+17) = &minus;3 &minus; 17 = &minus;20
			</div>
		</div>
		<div class="grade7YellowSideBox" style="margin-top:40px;"><strong>Rules of subtracting integers...</strong>
			<ul>
			<li><strong>Subtracting a positive integer:</strong> It is the same as adding a negative integer.</li>
			<li><strong>Subtracting a negative integer:</strong> It is the same as adding a positive integer.</li>
			</ul>
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

