<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.2 Addition and Subtraction of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.2 Addition and Subtraction of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:15px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 14:(contd.)</font></div>
		<div style="margin-top:15px;width:15px;display:inline-block;margin-left:-10px;vertical-align:top;">b)</div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">3 &minus; 9 = 3 + (&minus;9)
			<div style="margin-top:10px;">Subtract the absolute values (9 &minus; 3 = 6) and put the sign of the larger number (&minus;) in front. The answer is &minus;6.</div>
		</div>
		<br>
		<div style="margin-top:15px;width:100px;display:inline-block;margin-left:-10px;"></div>
		<div style="margin-top:15px;width:15px;display:inline-block;margin-left:-10px;vertical-align:top;">c)</div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">(&minus;2) &minus; 4 = (&minus;2) + (&minus;4)
			<div style="margin-top:10px;">This is the same as adding integers with the same sign. Add 2 and 4 and put negative sign in front. So, (&minus;2) &minus; 4 = &minus;(2 + 4) = &minus;6
			</div>
		</div>
		<div style="margin-top:30px;"><font class="grade7SubTopicName">2.2.4 Subtracting a negative integer</font></div>
		<div style="margin-top:30px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 15:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">What is the value of (&minus;6) &minus; (&minus;8)?
		</div>
		<div style="margin-top:15px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 15:</font></div>
		<div style="margin-top:15px;display:inline-block;width:320px;vertical-align:top;">
			<div>Negative of <font class="grade7Variables">x</font>   = (&minus;<font class="grade7Variables">x</font>)</div>
			<div style="margin-top:10px;">Negative of (&minus;<font class="grade7Variables">x</font>) = &minus;(&minus; <font class="grade7Variables">x</font>) = +<font class="grade7Variables">x</font></div>
			<div style="margin-top:10px;">So, (&minus;6) &minus; (&minus;8) = &minus;6 + 8</div>
			<div style="margin-top:10px;">This is the same as adding two integers with different signs.</div>
			<div style="margin-top:10px;">Hence, (&minus;6) &minus; (&minus;8) = &minus;6 + 8 = 2</div>	
		</div>
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

