<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.2 Addition and Subtraction of Integers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:50%;">2.2 Addition and Subtraction of Integers</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:15px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 13:(contd.)</font></div>
		<div style="margin-top:15px;display:inline-block;width:320px;vertical-align:top;">
			<div style="margin-top:10px;margin-left:-20px;"><img src="/images/Grade7/G7_RN_AS_Eg_13.png"></div>
			<div style="margin-top:10px;">Start at &minus;4 on the number line and move &minus;5 units to the left. The answer you will get is &minus;9.</div>
			<div style="margin-top:10px;">Hence, the temperature of the city now is &minus;9&deg;C.</div>
		</div>
		<div style="margin-top:20px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 14:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">Evaluate each of the following:
		</div>
		<div style="margin-top:10px;width:100px;display:inline-block;margin-left:-10px;text-align:right;">a)&nbsp;</div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">+7 &minus; 5</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;margin-left:-10px;text-align:right;">b)&nbsp;</div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">3 &minus; 9</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;margin-left:-10px;text-align:right;">c)&nbsp;</div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">(&minus;2) &minus; 4</div>
		<div style="margin-top:15px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 14:</font></div>
		<div style="margin-top:15px;width:15px;display:inline-block;margin-left:-10px;">a)</div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">+7 &minus; 5 = +7 + (&minus;5)
			<div style="margin-top:10px;">This is the same as adding integers with different signs.
				Subtract 5 from 7 (7 &minus; 5 = 2) and put the sign of the larger number (+) in front. The answer is +2 or simply 2.</div>
		</div>

	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

