<div style="height:480px;">
	<div class="grade7PageHeader" style="color:#F36D27;">Rational and Real Numbers - Topical Test</div>
	{% if test_status != 'Completed' %}
	<div style="float:right;margin-right:10px;display:inline-block;">
		<div style="display:inline-block;"><button id="RRN_TT_1_Pause" style="outline:none;"></button></div>
		<div id="TestTimer" style="display:inline-block;"></div>
	</div>
	<br>
	{% endif %}
	<div style="clear:both;" class="grade7PageMargin">
		<div style="display:inline-block;margin-left:20px;margin-top:10px;"><font class="grade7PracticeQuestionNumber">14)</font></div>		
		<div style="display:inline-block;width:380px;margin-top:10px;vertical-align:top;">
			Two identical bottles A and B contained milk. Bottle A  			 
			<div style="display:inline-block;margin-left:0px;">was</div>
			<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">5<br>__<br></p>
				<p style="line-height:20%;text-align:center;">12<br></p>
			</div>
			<div style="display:inline-block;margin-left:5px;">full of milk and bottle B was</div>
			<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">5<br>__<br></p>
				<p style="line-height:20%;text-align:center;">6<br></p>
			</div>
			<div style="display:inline-block;margin-left:5px;">full. Two kids</div>					
			<br>
			were fighting for the bottle which had more milk in it when their mother intervened and poured some quantity of milk from one bottle to another such that each kid could have the same volume of milk.
		</div>
		<div style="margin-left:50px;margin-top:20px;">
			<div style="display:inline-block;width:20px;vertical-align:top;">a)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;">Which bottle contained more milk initially?</div>
			<br>		
			<div style="margin-top:10px;margin-left:30px;">
				{% if test_status == 'Completed' %}
					<input type=radio name="RRNTT1_14_1_answer" value='Bottle A' disabled
					{% if RRNTT1_14_1_answer == 'Bottle A'%} 
	   					checked="checked"
	   				{%endif%}
					 >Bottle A<br>			 
					<input type=radio name="RRNTT1_14_1_answer" value='Bottle B' disabled
					{% if RRNTT1_14_1_answer == 'Bottle B' %} 
	   					checked="checked"
	   				{%endif%}
					 >Bottle B&nbsp;&nbsp;
					{% if RRNTT1_14_1_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{RRNTT1_14_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>					
						<font class="grade7TestScore">(Mark: 1 / 1)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{RRNTT1_14_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore">(Mark: 0 / 1)</font>					
					{% endif %}
					
				{% else %}
					<input type=radio name="RRNTT1_14_1_answer" value='Bottle A'
					{% if RRNTT1_14_1_answer == 'Bottle A' %} 
	   					checked="checked"
	   				{%endif%}
					 >Bottle A<br>				 
					<input type=radio name="RRNTT1_14_1_answer" value='Bottle B'
					{% if RRNTT1_14_1_answer == 'Bottle B' %} 
	   					checked="checked"
	   				{%endif%}
					 >Bottle B<font class="grade7TestMark">(Mark: 1)</font>		 
				{% endif %}	
			</div>
		
			<div style="display:inline-block;width:20px;vertical-align:top;margin-top:20px;">b)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;margin-top:20px;">What fraction of the capacity of a bottle of milk was poured from one bottle to another?</div>
			<br>
			<div style="display:inline-block;margin-left:25px;margin-top:30px;vertical-align:top;">Answer: &nbsp;</div>		
			<div style="display:inline-block;margin-top:20px;vertical-align:top;"> 
			{% if test_status == 'Completed' %}
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-20px;">
					<p style="line-height:20%;text-align:center;">
						&nbsp; <input id="RRNTT1_14_2_answer" value='{{RRNTT1_14_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> &nbsp;
					<br>_____<br></p>
					<p style="line-height:20%;text-align:center;">
						&nbsp; <input id="RRNTT1_14_3_answer" value='{{RRNTT1_14_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> &nbsp;
					<br></p>				
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:10px;">
					{% if RRNTT1_14_2_answer and RRNTT1_14_3_answer %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{RRNTT1_14_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore">(Mark: 2 / 2)</font>					
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{RRNTT1_14_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore">(Mark: 0 / 2)</font>					
					{% endif %}
				</div>
			{% else %}
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-20px;">
					<p style="line-height:20%;text-align:center;">
						<input id="RRNTT1_14_2_answer" value='{{RRNTT1_14_2_answer}}' style="width:30px;" >
					<br>_____<br></p>
					<p style="line-height:20%;text-align:center;">
						<input id="RRNTT1_14_3_answer" value='{{RRNTT1_14_3_answer}}' style="width:30px;" >
					<br></p>				
				</div>				  
				<div style="display:inline-block;vertical-align:top;"><font class="grade7TestMark">(Mark: 2)</font></div>
			{% endif %}
			</div>
		</div>

	</div>

	<div id="explain_dialog"></div>
</div>
	<div class="grade7TestBackButton"><button id="RRN_TT_1_back" style="outline:none;"></button></div>
<script>

$("#RRN_TT_1_Pause").button({label:"Pause"});
var total_seconds_elapsed = {{elapsed_time_seconds}};
$("#RRN_TT_1_Pause").click(function()
	{
		Grade7SaveTestTime('{{test_id}}',total_seconds_elapsed,'{{current_user.username}}','Topical-Test-1-Real-Numbers');
  	});	
$("#RRN_TT_1_back").button({label:"<<"});
$("#RRN_TT_1_back").click(function()
	{
		test_id = '{{test_id}}';
		student_id = '{{student_id}}';
		leftPage = '/Grade-7/Chapter-2/Topical-Test-1-Real-Numbers-Page-9.html';
		rightPage = '/Grade-7/Chapter-2/Topical-Test-1-Real-Numbers-Page-10.html';
		Grade7SaveAndLoadTest(test_id,student_id,leftPage,rightPage,total_seconds_elapsed,'');		
  	});

$("input[name='RRNTT1_14_1_answer']").click(function()	
		{
			question_id = "RRNTT1_14";
			test_id = '{{test_id}}';
			answer_id = "RRNTT1_14_1_answer";
			entered_answer = $("input:radio[name=RRNTT1_14_1_answer]:checked").val();
			student_id = '{{current_user.username}}';
			question_marks = 1;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#RRNTT1_14_2_answer").change(function()
		{
			question_id = "RRNTT1_14";
			test_id = '{{test_id}}';
			answer_id = "RRNTT1_14_2_answer";
			entered_answer = $("#RRNTT1_14_2_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 0;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#RRNTT1_14_3_answer").change(function()
		{
			question_id = "RRNTT1_14";
			test_id = '{{test_id}}';
			answer_id = "RRNTT1_14_3_answer";
			entered_answer = $("#RRNTT1_14_3_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});


if ('{{test_status}}' != 'Completed')
{
	TestTimer();
	clearInterval(timeVar);
	var timeVar=setInterval(function(){TestTimer()},1000);
}
function TestTimer()
{
	function pretty_time_string(num)
	{
	return ( num < 10 ? "0" : "" ) + num;   
	}
	total_seconds_elapsed = total_seconds_elapsed + 1;
	display_seconds = total_seconds_elapsed;
	hours = Math.floor(display_seconds / 3600);
	display_seconds = display_seconds % 3600;
	minutes = Math.floor(display_seconds / 60);
	display_seconds = display_seconds % 60;
	var seconds = Math.floor(display_seconds);
	hours = pretty_time_string(hours);
	minutes = pretty_time_string(minutes);
	seconds = pretty_time_string(display_seconds);
	var currentTimeString = hours + ":" + minutes + ":" + seconds;
	document.getElementById("TestTimer").innerHTML=currentTimeString;
}

$("#explain_dialog").dialog
({
	autoOpen: false,
	title:"Explanation",
    position:"center",   			
	buttons:{"Ok": function(){$(this).dialog("close");}},
	modal:true,
	width:500
});
function ShowExplanation(htmlText)
{
	$("#explain_dialog").html(htmlText);
	$("#explain_dialog").addClass("ExplanationFont");
	$("#explain_dialog").dialog("open");	
}


</script>

