<div style="height:480px;">
	<div class="grade7PageHeader" style="color:#F36D27;margin-left:48%;">Rational and Real Numbers - Topical Test</div>
	<div class="grade7PageMargin" style="clear:both;">
		<div style="display:inline-block;margin-left:20px;margin-top:30px;"><font class="grade7PracticeQuestionNumber">11)</font></div>
		<div style="display:inline-block;width:380px;margin-top:30px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">2<br>__<br></p>
				<p style="line-height:20%;text-align:center;">5<br></p>
			</div>
			<div style="display:inline-block;margin-left:5px;">of the items at an electronics store were television</div>			
			<br>
			<div style="display:inline-block;margin-left:0px;">sets, </div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">3<br>__<br></p>
				<p style="line-height:20%;text-align:center;">8<br></p>
			</div>
			<div style="display:inline-block;margin-left:5px;">were refrigerators and the rest were washing</div> 
			<br>
			<div style="display:inline-block;margin-left:0px;">machines. Of the washing machines,</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">4<br>__<br></p>
				<p style="line-height:20%;text-align:center;">9<br></p>
			</div>
			<div style="display:inline-block;margin-left:5px;">were semi-</div> 
			<br>
			automatic while the remaining were fully automatic.
		</div>
		<div style="margin-left:50px;margin-top:20px;">
			<div style="display:inline-block;width:20px;vertical-align:top;">a)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;">What fraction of all the items in the store were washing machines?</div>
			<br>
			<div style="display:inline-block;margin-left:25px;margin-top:30px;vertical-align:top;">Answer: &nbsp;</div>		
			<div style="display:inline-block;margin-top:20px;vertical-align:top;"> 
			{% if test_status == 'Completed' %}
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-20px;">
					<p style="line-height:20%;text-align:center;">
						&nbsp; <input id="RRNTT1_11_1_answer" value='{{RRNTT1_11_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> &nbsp;
					<br>_____<br></p>
					<p style="line-height:20%;text-align:center;">
						&nbsp; <input id="RRNTT1_11_2_answer" value='{{RRNTT1_11_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> &nbsp;
					<br></p>				
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:10px;">
					{% if RRNTT1_11_1_answer and RRNTT1_11_2_answer %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{RRNTT1_11_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore">(Mark: 1 / 1)</font>					
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{RRNTT1_11_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore">(Mark: 0 / 1)</font>					
					{% endif %}
				</div>
			{% else %}
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-20px;">
					<p style="line-height:20%;text-align:center;">
						<input id="RRNTT1_11_1_answer" value='{{RRNTT1_11_1_answer}}' style="width:30px;" >
					<br>_____<br></p>
					<p style="line-height:20%;text-align:center;">
						<input id="RRNTT1_11_2_answer" value='{{RRNTT1_11_2_answer}}' style="width:30px;" >
					<br></p>				
				</div>				  
				<div style="display:inline-block;vertical-align:top;"><font class="grade7TestMark">(Mark: 1)</font></div>
			{% endif %}
			</div>
			<br>
			<div style="display:inline-block;width:20px;vertical-align:top;">b)</div>
			<div style="display:inline-block;width:300px;vertical-align:top;">What fraction of all the items in the store were fully automatic washing machines?</div>
			<br>
			<div style="display:inline-block;margin-left:25px;margin-top:30px;vertical-align:top;">Answer: &nbsp;</div>		
			<div style="display:inline-block;margin-top:20px;vertical-align:top;"> 
			{% if test_status == 'Completed' %}
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-20px;">
					<p style="line-height:20%;text-align:center;">
						&nbsp; <input id="RRNTT1_11_3_answer" value='{{RRNTT1_11_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> &nbsp;
					<br>_____<br></p>
					<p style="line-height:20%;text-align:center;">
						&nbsp; <input id="RRNTT1_11_4_answer" value='{{RRNTT1_11_4_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> &nbsp;
					<br></p>				
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:10px;">
					{% if RRNTT1_11_3_answer and RRNTT1_11_4_answer %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{RRNTT1_11_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore">(Mark: 2 / 2)</font>					
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{RRNTT1_11_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore">(Mark: 0 / 2)</font>					
					{% endif %}
				</div>
			{% else %}
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-20px;">
					<p style="line-height:20%;text-align:center;">
						<input id="RRNTT1_11_3_answer" value='{{RRNTT1_11_3_answer}}' style="width:30px;" >
					<br>_____<br></p>
					<p style="line-height:20%;text-align:center;">
						<input id="RRNTT1_11_4_answer" value='{{RRNTT1_11_4_answer}}' style="width:30px;" >
					<br></p>				
				</div>				  
				<div style="display:inline-block;vertical-align:top;"><font class="grade7TestMark">(Mark: 2)</font></div>
			{% endif %}
			</div>
		</div>
		
	</div>
	<div id="explain_dialog"></div>
</div>
<div class="grade7TestForwardButton"><button id="RRN_TT_1_Continue" style="outline:none;"></button></div>
<script>
$("#RRN_TT_1_Continue").button({label:">>"});
$("#RRN_TT_1_Continue").click(function()
	{
		test_id = '{{test_id}}';
		student_id = '{{student_id}}';
		leftPage = '/Grade-7/Chapter-2/Topical-Test-1-Real-Numbers-Page-9.html';
		rightPage = '/Grade-7/Chapter-2/Topical-Test-1-Real-Numbers-Page-10.html';
		//saving all un-attempted questions in the database on ">>" click.
		separatorText = '#%$'
		answer_ids = 'RRNTT1_10_1_answer'+separatorText+'RRNTT1_10_2_answer'+separatorText+'RRNTT1_11_1_answer'+separatorText+'RRNTT1_11_2_answer'+separatorText+separatorText
		answer_ids = answer_ids + 'RRNTT1_11_3_answer'+separatorText+'RRNTT1_11_4_answer'
		Grade7SaveAndLoadTest(test_id,student_id,leftPage,rightPage,total_seconds_elapsed,answer_ids);
  	});

$("#RRNTT1_11_1_answer").change(function()
		{
			question_id = "RRNTT1_11";
			test_id = '{{test_id}}';
			answer_id = "RRNTT1_11_1_answer";
			entered_answer = $("#RRNTT1_11_1_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 0;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#RRNTT1_11_2_answer").change(function()
		{
			question_id = "RRNTT1_11";
			test_id = '{{test_id}}';
			answer_id = "RRNTT1_11_2_answer";
			entered_answer = $("#RRNTT1_11_2_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 1;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#RRNTT1_11_3_answer").change(function()
		{
			question_id = "RRNTT1_11";
			test_id = '{{test_id}}';
			answer_id = "RRNTT1_11_3_answer";
			entered_answer = $("#RRNTT1_11_3_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 0;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#RRNTT1_11_4_answer").change(function()
		{
			question_id = "RRNTT1_11";
			test_id = '{{test_id}}';
			answer_id = "RRNTT1_11_4_answer";
			entered_answer = $("#RRNTT1_11_4_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});


		
$("#explain_dialog").dialog
({
	autoOpen: false,
	title:"Explanation",
    position:"center",   			
	buttons:{"Ok": function(){$(this).dialog("close");}},
	modal:true,
	width:500
});
function ShowExplanation(htmlText)
{
	$("#explain_dialog").html(htmlText);
	$("#explain_dialog").addClass("ExplanationFont");
	$("#explain_dialog").dialog("open");	
}

</script>

