<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.1 Negative Numbers, Integers and Number Line</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:40%;">2.1 Negative Numbers, Integers and Number Line</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;display:inline-block;width:200px;">
			A number that is more than zero is called a positive number. +1, +&frac12;, +1.5, etc. are positive numbers. If a number has no sign it is considered to be a positive number.
		</div>
		<div class="grade7OrangeSideBox" style="display:inline-block;margin-top:20px;margin-left:10px;width:200px;vertical-align:top;">
			<b>Little did they know...</b>
			<div style="margin-top:10px;">Prior to the concept of negative numbers, negative solutions to problems were considered "false" and equations requiring negative solutions were described as absurd!</div>
		</div>		
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 1:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">Identify the following numbers as positive or negative numbers.
			<div style="margin-top:5px;">a)	0.01 minutes</div>
			<div style="margin-top:5px;">b)	&minus;12.5 &deg;C</div>
			<div style="display:inline-block;margin-top:5px;">c) &minus;</div>
			<div style="width:30px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-7px;">
				<p style="line-height:20%;text-align:center;">3<br>__<br></p>
				<p style="line-height:20%;text-align:center;">2<br></p>
			</div>
		</div>
		<br>
		<div style="margin-top:15px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 1:</font></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div style="">a)	0.01 &gt; 0, hence it is a positive number.</div>
			<div style="margin-top:10px;">b)	&minus;12.5 &deg;C is a negative number. It means the temperature is 12.5 &deg;C below 0 &deg;C.</div>
			<div style="display:inline-block;margin-top:15px;">c) &minus;</div>
			<div style="width:30px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:3px;">
				<p style="line-height:20%;text-align:center;">3<br>__<br></p>
				<p style="line-height:20%;text-align:center;">2<br></p>
			</div>
			<div style="display:inline-block;margin-top:15px;width:200px;vertical-align:top;">is less than zero. Hence, it is</div>
			<div style="margin-top:-5px;"> a negative number.</div>		
		</div>


	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

