<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F36D27;">2.1 Negative Numbers, Integers and Number Line</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F36D27;margin-left:40%;">2.1 Negative Numbers, Integers and Number Line</div>
	{% endif %}
	<div class="grade7TopicName">2.1 Negative Numbers, Integers and Number Line</div>
	<div class="grade7PageMargin">		
		<div style="margin-top:20px;"><font class="grade7SubTopicName">2.1.1 Negative Numbers</font></div>
		<div style="margin-top:10px;">You would have noticed the daily weather records in newspapers giving temperature readings of &minus;5 &deg;C, &minus;24 &deg;C, +17 &deg;C, +39 &deg;C, etc.</div>
		<div style="margin-top:20px;">Note the '+' and '&minus;' signs before the numbers. &minus;24 &deg;C means the temperature is 24 &deg;C below 0 &deg;C while +17 &deg;C means the temperature is 17 &deg;C above 0 &deg;C.</div>
		<div class="grade7BlueSideBox" style="margin-top:20px;"><strong>Good to know...</strong>
			<div style="margin-top:10px;">On a thermometer, 0 &deg;C is the point at which water freezes. 0 &deg;C is considered as the standard reference point for measuring temperatures.</div>
		</div>
		<div style="margin-top:20px;">A number that is less than zero is called a negative number. It is written with a 'minus' sign in front. For example, &minus;5 is a negative number with a magnitude of 5. It is read as 'minus five' or 'negative five'.</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#F36D27;color:#fff">{{page_number}}</div>

