<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.1 Addition and Subtraction of Linear Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:40%;">8.1 Addition and Subtraction of Linear Expressions</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;">When we simplify an algebraic expression, we arrange the like terms together. <strong>Only like terms can be added or subtracted</strong>.</div>
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 1:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">
			Given the following algebraic terms, group all the like terms together:
		</div>
		<br>
		<div style="margin-top:10px;margin-left:30px;">5<font class="grade7Variables">m</font>, &minus;13<font class="grade7Variables">x</font><sup>2</sup><font class="grade7Variables">y</font>, 8<font class="grade7Variables">mn</font>, 2<font class="grade7Variables">n</font><sup>3</sup>, 2<font class="grade7Variables">xy</font>, &minus;5<font class="grade7Variables">x</font>, 3<font class="grade7Variables">mn</font>, 17<font class="grade7Variables">y</font>, 10<font class="grade7Variables">xy</font><sup>2</sup>, &minus;9<font class="grade7Variables">m</font>, &minus;<font class="grade7Variables">xy</font>, 5<font class="grade7Variables">yx</font><sup>2</sup>, &minus;2<font class="grade7Variables">xy</font></div>
		<div style="margin-top:20px;"><font class="grade7ExampleSolution">Solution 1:</font></div>
		<table style="margin-top:20px;margin-left:40px;border-collapse:collapse;">
			<tr><td style="border:1px solid black;"><strong>Like terms</strong></td><td style="border:1px solid black;"><strong>Terms with no like variables</strong></td></tr>
			<tr><td style="border:1px solid black;">5<font class="grade7Variables">m</font> and &minus;9<font class="grade7Variables">m</font></td><td style="border:1px solid black;">10<font class="grade7Variables">xy</font><sup>2</sup></td></tr>
			<tr><td style="border:1px solid black;">&minus;13<font class="grade7Variables">x</font><sup>2</sup><font class="grade7Variables">y</font> and 5<font class="grade7Variables">yx</font><sup>2</sup></td><td style="border:1px solid black;">2<font class="grade7Variables">n</font><sup>3</sup></td></tr>
			<tr><td style="border:1px solid black;">8<font class="grade7Variables">mn</font> and 3<font class="grade7Variables">mn</font></td><td style="border:1px solid black;">&minus;5<font class="grade7Variables">x</font></td></tr>
			<tr><td style="border:1px solid black;">2<font class="grade7Variables">xy</font> and &minus;<font class="grade7Variables">xy</font></td><td style="border:1px solid black;">17<font class="grade7Variables">y</font></td></tr>
		</table>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>

