<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.1 Addition and Subtraction of Linear Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:40%;">8.1 Addition and Subtraction of Linear Expressions</div>
	{% endif %}
	<div class="grade7TopicName">8.1 Addition and Subtraction of Linear Expressions</div>
	<div class="grade7PageMargin">
		<div style="margin-top:15px;"><font class="grade7SubTopicName">8.1.1 Like and Unlike Terms</font></div>
		<div style="margin-top:10px;">Algebraic terms in an algebraic expression are of two types:</div>
		<div style="margin-top:10px;"><strong>Like terms</strong> and <strong>Unlike terms</strong>.</div>
		<div style="margin-top:10px;">Like terms are those algebraic terms that consist of the same variables and their exponents. However, their coefficients can be different.</div> 
		<div style="margin-top:0px;width:200px;margin-left:200px;" class="grade7OrangeSideBox"><strong>Do Note:</strong>
			<div>All constant terms are like terms.</div>
		</div>
		<div style="margin-top:10px;">Consider the following examples of like terms: 3<font class="grade7Variables">y</font> and 13<font class="grade7Variables">y</font>, 2<font class="grade7Variables">x</font><sup>2</sup> and &minus;14<font class="grade7Variables">x</font><sup>2</sup>, 2<font class="grade7Variables">ab</font><sup>2</sup><font class="grade7Variables">c</font> and &minus;3<font class="grade7Variables">acb</font><sup>2</sup>.</div>
		<div style="margin-top:10px;">Like terms can be grouped together to simplify an algebraic expression.</div>
		<div style="margin-top:10px;">Unlike terms, on the other hand, have different variables and cannot be grouped together in an algebraic expression.</div>
		<div style="margin-top:10px;">Consider the following examples of unlike terms: 6<font class="grade7Variables">ab</font><sup>4</sup><font class="grade7Variables">c</font> and 2<font class="grade7Variables">abc</font><sup>4</sup>, 2<font class="grade7Variables">x</font> and 3<font class="grade7Variables">y</font>, 12<font class="grade7Variables">a</font> and 15, &minus;<font class="grade7Variables">mn</font><sup>2</sup> and <font class="grade7Variables">m</font><sup>2</sup><font class="grade7Variables">n</font>.</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>

