<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.3 Factorisation</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:77%;">8.3 Factorisation</div>
	{% endif %}
	<div class="grade7TopicName">8.3 Factorisation</div>
	<div class="grade7PageMargin">
		<p>We learnt in a previous lesson about prime factorization wherein composite numbers can be expressed as a product of their prime factors.</p>
		<p>For instance, 210 can be factorised into the following prime factors:</p>
		<p>210 = 2 &times; 3 &times; 4 &times; 5</p>
		<p>Similarly, an algebraic expression can be expressed as a product of other algebraic expressions.</p>
		<p>For example, 4<font class="grade7Variables">ab</font> &minus; 6<font class="grade7Variables">ac</font> can be factorised into two factors, 2<font class="grade7Variables">a</font> and (2<font class="grade7Variables">b</font> &minus; 3<font class="grade7Variables">c</font>) as follows:</p>
		<p>4<font class="grade7Variables">ab</font> &minus; 6<font class="grade7Variables">ac</font> = 2<font class="grade7Variables">a</font>(2<font class="grade7Variables">b</font> &minus; 3<font class="grade7Variables">c</font>)</p>
		<p>In the process of <strong>factorisation, common factors</strong> are identified as detailed below:</p>
		<div style="display:inline-block;margin-top:10px;vertical-align:top;"><strong>Step 1:</strong></div>
		<div style="display:inline-block;margin-top:10px;width:360px;">Identify all the factors common to all the terms in the algebraic expression.</div>	
	</div>
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>

