<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.3 Factorization</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:77%;">8.3 Factorization</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Express each of the following in its simplest form:
			</div>
		</div>
		<div style="display:inline-block;">
			<div style="margin-left:40px;margin-top:10px;">
				<div style="display:inline-block;vertical-align:top;margin-top:5px;margin-left:0px;">a)</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
					<p style="line-height:20%;text-align:center;">3(<font class="grade7Variables">a</font> &minus; 3)<br>_______<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:7px;margin-left:5px;">&minus;</div>
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
					<p style="line-height:20%;text-align:center;">4(2 + <font class="grade7Variables">a</font>)<br>_______<br></p>
					<p style="line-height:20%;text-align:center;">2<br></p>
				</div>
			</div>
			<div style="margin-left:65px;margin-top:10px;">
				{% if ALFAMedium_3_1_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_1_answer" value='A' disabled
					{% if ALFAMedium_3_1_answer == 'A' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">26<font class="grade7Variables">a</font> &minus; 58<br>________<br></p>
						<p style="line-height:20%;text-align:center;">10<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_1_answer" value='B' disabled
					{% if ALFAMedium_3_1_answer == 'B' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">&minus;7<font class="grade7Variables">a</font> &minus; 29<br>________<br></p>
						<p style="line-height:20%;text-align:center;">5<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_1_answer" value='C' disabled
					{% if ALFAMedium_3_1_answer == 'C' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">13<font class="grade7Variables">a</font> &minus; 29<br>________<br></p>
						<p style="line-height:20%;text-align:center;">5<br></p>
					</div>							 
					<div style="display:inline-block;margin-top:-10px;margin-left:10px;">	
						{% if ALFAMedium_3_1_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{ALFAMedium_3_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					</div>
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_1_answer" value='A'
					{% if ALFAMedium_3_1_answer == 'A' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">26<font class="grade7Variables">a</font> &minus; 58<br>________<br></p>
						<p style="line-height:20%;text-align:center;">10<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_1_answer" value='B'
					{% if ALFAMedium_3_1_answer == 'B' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">&minus;7<font class="grade7Variables">a</font> &minus; 29<br>________<br></p>
						<p style="line-height:20%;text-align:center;">5<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_1_answer" value='C'
					{% if ALFAMedium_3_1_answer == 'C' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">13<font class="grade7Variables">a</font> &minus; 29<br>________<br></p>
						<p style="line-height:20%;text-align:center;">5<br></p>
					</div>							 
				{% endif %}	
			</div>
		</div>

		<div style="display:inline-block;margin-left:0px;">
			<div style="margin-left:40px;margin-top:0px;">
				<div style="display:inline-block;vertical-align:top;margin-top:5px;margin-left:0px;">b)</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
					<p style="line-height:20%;text-align:center;">2(4<font class="grade7Variables">z</font> + 5)<br>_______<br></p>
					<p style="line-height:20%;text-align:center;">4<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:7px;margin-left:5px;">+</div>
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
					<p style="line-height:20%;text-align:center;">6(2<font class="grade7Variables">z</font> &minus; 4)<br>_______<br></p>
					<p style="line-height:20%;text-align:center;">6<br></p>
				</div>
			</div>
			<div style="margin-left:65px;margin-top:10px;">
				{% if ALFAMedium_3_2_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_2_answer" value='A' disabled
					{% if ALFAMedium_3_2_answer == 'A' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">8<font class="grade7Variables">z</font> + 3<br>_____<br></p>
						<p style="line-height:20%;text-align:center;">2<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_2_answer" value='B' disabled
					{% if ALFAMedium_3_2_answer == 'B' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">8<font class="grade7Variables">z</font> &minus; 3<br>_____<br></p>
						<p style="line-height:20%;text-align:center;">4<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_2_answer" value='C' disabled
					{% if ALFAMedium_3_2_answer == 'C' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">8<font class="grade7Variables">z</font> &minus; 3<br>_____<br></p>
						<p style="line-height:20%;text-align:center;">2<br></p>
					</div>							 

				<div style="display:inline-block;margin-top:-10px;margin-left:10px;">	
					{% if ALFAMedium_3_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{ALFAMedium_3_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				</div>
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_2_answer" value='A'
					{% if ALFAMedium_3_2_answer == 'A' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">8<font class="grade7Variables">z</font> + 3<br>_____<br></p>
						<p style="line-height:20%;text-align:center;">2<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_2_answer" value='B'
					{% if ALFAMedium_3_2_answer == 'B' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">8<font class="grade7Variables">z</font> &minus; 3<br>_____<br></p>
						<p style="line-height:20%;text-align:center;">4<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_2_answer" value='C'
					{% if ALFAMedium_3_2_answer == 'C' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">8<font class="grade7Variables">z</font> &minus; 3<br>_____<br></p>
						<p style="line-height:20%;text-align:center;">2<br></p>
					</div>							 
				{% endif %}	
			</div>
		</div>
		<br>
		<div style="display:inline-block;">
			<div style="margin-left:10px;margin-top:20px;">
				<div style="display:inline-block;vertical-align:top;margin-top:5px;margin-left:0px;">c)</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
					<p style="line-height:20%;text-align:center;">7(<font class="grade7Variables">a</font> + 4<font class="grade7Variables">b</font>)<br>________<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:5px;margin-left:5px;">&minus;</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
					<p style="line-height:20%;text-align:center;">3<font class="grade7Variables">b</font><br>___<br></p>
					<p style="line-height:20%;text-align:center;">6<br></p>
				</div>			
			</div>
			<div style="margin-left:45px;margin-top:10px;">
				{% if ALFAMedium_3_3_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_3_answer" value='A' disabled
					{% if ALFAMedium_3_3_answer == 'A' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">14<font class="grade7Variables">a</font> + 51<font class="grade7Variables">b</font><br>_________<br></p>
						<p style="line-height:20%;text-align:center;">10<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_3_answer" value='B' disabled
					{% if ALFAMedium_3_3_answer == 'B' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">14<font class="grade7Variables">a</font> + 51<font class="grade7Variables">b</font><br>_________<br></p>
						<p style="line-height:20%;text-align:center;">5<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_3_answer" value='C' disabled
					{% if ALFAMedium_3_3_answer == 'C' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">7<font class="grade7Variables">a</font> + 23<font class="grade7Variables">b</font><br>_________<br></p>
						<p style="line-height:20%;text-align:center;">10<br></p>
					</div>							 
					<div style="display:inline-block;margin-top:-10px;margin-left:0px;">	
						{% if ALFAMedium_3_3_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{ALFAMedium_3_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					</div>
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_3_answer" value='A'
					{% if ALFAMedium_3_3_answer == 'A' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">14<font class="grade7Variables">a</font> + 51<font class="grade7Variables">b</font><br>_________<br></p>
						<p style="line-height:20%;text-align:center;">10<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_3_answer" value='B'
					{% if ALFAMedium_3_3_answer == 'B' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">14<font class="grade7Variables">a</font> + 51<font class="grade7Variables">b</font><br>_________<br></p>
						<p style="line-height:20%;text-align:center;">5<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_3_answer" value='C'
					{% if ALFAMedium_3_3_answer == 'C' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">7<font class="grade7Variables">a</font> + 23<font class="grade7Variables">b</font><br>_________<br></p>
						<p style="line-height:20%;text-align:center;">10<br></p>
					</div>							 
				{% endif %}	
			</div>
		</div>
		
		<div style="display:inline-block;margin-left:0px;">
			<div style="margin-left:30px;margin-top:20px;">
				<div style="display:inline-block;vertical-align:top;margin-top:5px;margin-left:0px;">d)</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
					<p style="line-height:20%;text-align:center;">2(<font class="grade7Variables">p</font> + 4<font class="grade7Variables">q</font>)<br>________<br></p>
					<p style="line-height:20%;text-align:center;">7<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:5px;margin-left:5px;">&minus;</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
					<p style="line-height:20%;text-align:center;">3(<font class="grade7Variables">p</font> + <font class="grade7Variables">q</font>)<br>_______<br></p>
					<p style="line-height:20%;text-align:center;">2<br></p>
				</div>			
			</div>
			<div style="margin-left:35px;margin-top:10px;">
				{% if ALFAMedium_3_4_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_4_answer" value='A' disabled
					{% if ALFAMedium_3_4_answer == 'A' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">17<font class="grade7Variables">p</font> + 5<font class="grade7Variables">q</font><br>_________<br></p>
						<p style="line-height:20%;text-align:center;">14<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_4_answer" value='B' disabled
					{% if ALFAMedium_3_4_answer == 'B' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">&minus;17<font class="grade7Variables">p</font> &minus; 5<font class="grade7Variables">q</font><br>_________<br></p>
						<p style="line-height:20%;text-align:center;">14<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_4_answer" value='C' disabled
					{% if ALFAMedium_3_4_answer == 'C' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">&minus;17<font class="grade7Variables">p</font> + 37<font class="grade7Variables">q</font><br>__________<br></p>
						<p style="line-height:20%;text-align:center;">14<br></p>
					</div>							 
					<div style="display:inline-block;margin-top:-10px;margin-left:0px;">	
						{% if ALFAMedium_3_4_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{ALFAMedium_3_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					</div>
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_4_answer" value='A'
					{% if ALFAMedium_3_4_answer == 'A' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">17<font class="grade7Variables">p</font> + 5<font class="grade7Variables">q</font><br>_________<br></p>
						<p style="line-height:20%;text-align:center;">14<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_4_answer" value='B'
					{% if ALFAMedium_3_4_answer == 'B' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">&minus;17<font class="grade7Variables">p</font> &minus; 5<font class="grade7Variables">q</font><br>_________<br></p>
						<p style="line-height:20%;text-align:center;">14<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAMedium_3_4_answer" value='C'
					{% if ALFAMedium_3_4_answer == 'C' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">&minus;17<font class="grade7Variables">p</font> + 37<font class="grade7Variables">q</font><br>__________<br></p>
						<p style="line-height:20%;text-align:center;">14<br></p>
					</div>							 
				{% endif %}	
			</div>
		</div>


		{% if ALFAMedium_3_1_answer_correct is defined %}
			<div style="margin-top:30px;margin-left:340px;"><button id="ALFAMedium_5_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="ALFAMedium_5_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>
<script>

$("input[name='ALFAMedium_3_1_answer']").click(function()
		{
			question_id = "ALFAMedium_3";
			question_type = "AlgebraFactorisation"
			answer_id = "ALFAMedium_3_1_answer";
			entered_answer = $("input:radio[name=ALFAMedium_3_1_answer]:checked").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});
$("input[name='ALFAMedium_3_2_answer']").click(function()
		{
			question_id = "ALFAMedium_3";
			question_type = "AlgebraFactorisation"
			answer_id = "ALFAMedium_3_2_answer";
			entered_answer = $("input:radio[name=ALFAMedium_3_2_answer]:checked").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});
	$("input[name='ALFAMedium_3_3_answer']").click(function()
			{
				question_id = "ALFAMedium_3";
				question_type = "AlgebraFactorisation"
				answer_id = "ALFAMedium_3_3_answer";
				entered_answer = $("input:radio[name=ALFAMedium_3_3_answer]:checked").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("input[name='ALFAMedium_3_4_answer']").click(function()
			{
				question_id = "ALFAMedium_3";
				question_type = "AlgebraFactorisation"
				answer_id = "ALFAMedium_3_4_answer";
				entered_answer = $("input:radio[name=ALFAMedium_3_4_answer]:checked").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#ALFAMedium_5_Submit").button({label:"Check Answers"});
	$("#ALFAMedium_5_Retry").button({label:"Retry"});
	$("#ALFAMedium_5_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "AlgebraFactorisation"
		//getting question id, answer id and entered answer in form of a string
		var answers = "ALFAMedium_3"+"#%$"+"ALFAMedium_3_1_answer"+"#%$"+$("input:radio[name=ALFAMedium_3_1_answer]:checked").val();
		answers = answers + "#%$"+"ALFAMedium_3"+"#%$"+"ALFAMedium_3_2_answer"+"#%$"+$("input:radio[name=ALFAMedium_3_2_answer]:checked").val();
		answers = answers + "#%$"+"ALFAMedium_3"+"#%$"+"ALFAMedium_3_3_answer"+"#%$"+$("input:radio[name=ALFAMedium_3_3_answer]:checked").val();
		answers = answers + "#%$"+"ALFAMedium_3"+"#%$"+"ALFAMedium_3_4_answer"+"#%$"+$("input:radio[name=ALFAMedium_3_4_answer]:checked").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#ALFAMedium_5_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "ALFAMedium_3_1_answer,ALFAMedium_3_2_answer,ALFAMedium_3_3_answer,ALFAMedium_3_4_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


