<div style="height:480px;">
	<div class="grade7ChapterNumberDiv" style="background-color:#E12958;">
		<div class="grade7ChapterNumber" style="color:#FFF;">
			Chapter 8
		</div>
	</div>
	<div class="grade7ChapterNameDiv" style="background-color:#E895AB;">
		<div class="grade7ChapterName" style="width:380px;color:#E12958;">
			Algebraic Manipulation
		</div>
	</div>
	<br>
	<div class="grade7LearningOutcomes">Learning Outcomes</div>
	<div class="grade7LearningOutcomesList" style="margin-left:20%;">
		<ul>
			<li><a href="javascript:Grade7BookPageLoadByName('Addition-Subtraction-Of-Linear-Expressions-1')">Addition and Subtraction of Linear Expressions</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Simplifying-Linear-Expressions-1')">Simplifying Linear Expressions</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Algebra-Factorisation-1')">Factorisation</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Topical-Test-1-Algebraic-Manipulations')">Topical Test</a></li>
			
		</ul>		
	</div>		
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>

