<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.3 Factorization</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:77%;">8.3 Factorization</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">
				Saisha is 4 times older than her daughter. If the difference of the ages of Saisha and her daughter after 3 years and 7 years respectively is <font class="grade7Variables">Y</font>, find the daughter's present age, in terms of <font class="grade7Variables">Y</font>.
			</div>
		</div>
		<div style="margin-left:60px;margin-top:20px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Daughter's present age &nbsp;=</div>
				{% if ALFAAdvanced_4_1_answer_correct is defined %}
				<div style="display:inline-block;vertical-align:top;margin-left:15px;margin-top:-15px;">
					<p style="line-height:20%;text-align:center;"><input id="ALFAAdvanced_4_1_answer" value='{{ALFAAdvanced_4_1_answer}}' readonly style="width:45px;background-color:#DFDFDF;text-align:center;"><br>_______<br></p>
					<p style="line-height:20%;text-align:center;"><input id="ALFAAdvanced_4_2_answer" value='{{ALFAAdvanced_4_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br></p>
				</div>
				{% else %}
				<div style="display:inline-block;vertical-align:top;margin-left:15px;margin-top:-15px;">
					<p style="line-height:20%;text-align:center;"><input id="ALFAAdvanced_4_1_answer" value='{{ALFAAdvanced_4_1_answer}}'  style="width:45px;text-align:center;"><br>_______<br></p>
					<p style="line-height:20%;text-align:center;"><input id="ALFAAdvanced_4_2_answer" value='{{ALFAAdvanced_4_2_answer}}'  style="width:30px;text-align:center;"><br></p>
				</div>
				{% endif %}
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if ALFAAdvanced_4_1_answer_correct is defined %}
					{% if ALFAAdvanced_4_1_answer_correct and ALFAAdvanced_4_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{ALFAAdvanced_4_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		<div style="margin-left:20px;margin-top:10px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">5)</font></div>
		<div style="margin-top:10px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">
				A conference had 130 guests. They were seated around identical tables such that 3 seats were placed on each side of the table and 2 seats at each end.
			</div>
		</div>
		<div style="margin-left:40px;margin-top:10px;display:inline-block;vertical-align:top;">a)</div>
		<div style="margin-top:10px;display:inline-block;vertical-align:top;width:380px;">Find the minimum number of tables required to seat all the guests.</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if ALFAAdvanced_5_1_answer_correct is defined %}
					<input id="ALFAAdvanced_5_1_answer" value='{{ALFAAdvanced_5_1_answer}}' readonly style="width:25px;background-color:#DFDFDF;"> tables
				{% else %}
					<input id="ALFAAdvanced_5_1_answer" value='{{ALFAAdvanced_5_1_answer}}' style="width:25px;" > tables
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if ALFAAdvanced_5_1_answer_correct is defined %}
					{% if ALFAAdvanced_5_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{ALFAAdvanced_5_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:10px;display:inline-block;vertical-align:top;">b)</div>
		<div style="margin-top:10px;display:inline-block;vertical-align:top;width:380px;">For a certain workshop, the tables are joined end to end so that all tables are placed in a single row. What is the minimum number of tables required to accommodate all the guests?</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if ALFAAdvanced_5_2_answer_correct is defined %}
					<input id="ALFAAdvanced_5_2_answer" value='{{ALFAAdvanced_5_2_answer}}' readonly style="width:25px;background-color:#DFDFDF;"> tables
				{% else %}
					<input id="ALFAAdvanced_5_2_answer" value='{{ALFAAdvanced_5_2_answer}}' style="width:25px;" > tables
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if ALFAAdvanced_5_2_answer_correct is defined %}
					{% if ALFAAdvanced_5_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{ALFAAdvanced_5_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>



		{% if ALFAAdvanced_4_1_answer_correct is defined %}
			<div style="margin-top:-30px;margin-left:340px;"><button id="ALFAAdvanced_4_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:-30px;margin-left:280px;"><button id="ALFAAdvanced_4_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>
<script>

$("#ALFAAdvanced_4_1_answer").change(function()
		{
			question_id = "ALFAAdvanced_4";
			question_type = "AlgebraFactorisation"
			answer_id = "ALFAAdvanced_4_1_answer";
			entered_answer = $("#ALFAAdvanced_4_1_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});
	$("#ALFAAdvanced_4_2_answer").change(function()
			{
				question_id = "ALFAAdvanced_4";
				question_type = "AlgebraFactorisation"
				answer_id = "ALFAAdvanced_4_2_answer";
				entered_answer = $("#ALFAAdvanced_4_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#ALFAAdvanced_5_1_answer").change(function()
			{
				question_id = "ALFAAdvanced_5";
				question_type = "AlgebraFactorisation"
				answer_id = "ALFAAdvanced_5_1_answer";
				entered_answer = $("#ALFAAdvanced_5_1_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
		$("#ALFAAdvanced_5_2_answer").change(function()
				{
					question_id = "ALFAAdvanced_5";
					question_type = "AlgebraFactorisation"
					answer_id = "ALFAAdvanced_5_2_answer";
					entered_answer = $("#ALFAAdvanced_5_2_answer").val();
					student_id = '{{current_user.username}}';
					Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
				});
	$("#ALFAAdvanced_4_Submit").button({label:"Check Answers"});
	$("#ALFAAdvanced_4_Retry").button({label:"Retry"});
	$("#ALFAAdvanced_4_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "AlgebraFactorisation"
		//getting question id, answer id and entered answer in form of a string
		var answers = "ALFAAdvanced_4"+"#%$"+"ALFAAdvanced_4_1_answer"+"#%$"+$("#ALFAAdvanced_4_1_answer").val();
		answers = answers + "#%$"+"ALFAAdvanced_4"+"#%$"+"ALFAAdvanced_4_2_answer"+"#%$"+$("#ALFAAdvanced_4_2_answer").val();
		answers = answers + "#%$"+"ALFAAdvanced_5"+"#%$"+"ALFAAdvanced_5_1_answer"+"#%$"+$("#ALFAAdvanced_5_1_answer").val();
		answers = answers + "#%$"+"ALFAAdvanced_5"+"#%$"+"ALFAAdvanced_5_2_answer"+"#%$"+$("#ALFAAdvanced_5_2_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#ALFAAdvanced_4_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "ALFAAdvanced_4_1_answer,ALFAAdvanced_4_2_answer,ALFAAdvanced_5_1_answer,ALFAAdvanced_5_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>