<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.3 Factorization</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:77%;">8.3 Factorization</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 9:</font></div>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			14<font class="grade7Variables">mn</font> &minus; 21<font class="grade7Variables">mp</font>
			<p>Step 1: 7 and <font class="grade7Variables">m</font> are common factors.</p>
			<p>Step 2: 14<font class="grade7Variables">mn</font> &minus; 21<font class="grade7Variables">mp</font> = 7<font class="grade7Variables">m</font>(2<font class="grade7Variables">n</font>) &minus; 7<font class="grade7Variables">m</font>(3<font class="grade7Variables">p</font>)</p>
			<p>Step 3: 14<font class="grade7Variables">mn</font> &minus; 21<font class="grade7Variables">mp</font> = 7<font class="grade7Variables">m</font>(2<font class="grade7Variables">n</font> &minus; 3<font class="grade7Variables">p</font>)</p>
			<p>**Note: 7<font class="grade7Variables">m</font>(2<font class="grade7Variables">n</font> &minus; 3<font class="grade7Variables">p</font>) is incomplete factorisation because the common factor m has not been factored out.</p>
		</div>		
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">b)</div>
		<div style="margin-top:6px;display:inline-block;width:360px;vertical-align:top;">
			<div>11<font class="grade7Variables">a</font> + 22<font class="grade7Variables">a</font><sup>2</sup> &minus; 44<font class="grade7Variables">ab</font></div>
			<div style="display:inline-block;margin-top:10px;vertical-align:top;">Step 1:</div>
			<div style="display:inline-block;margin-top:10px;width:300px;">11 and <font class="grade7Variables">a</font> are factors common to all the three algebraic terms.</div>
			<div style="margin-top:10px;">Step 2:</div>
			<div>11<font class="grade7Variables">a</font> + 22<font class="grade7Variables">a</font><sup>2</sup> &minus; 44<font class="grade7Variables">ab</font>
				= 11<font class="grade7Variables">a</font>(1) + 11<font class="grade7Variables">a</font>(2<font class="grade7Variables">a</font>) &minus; 11<font class="grade7Variables">a</font>(4<font class="grade7Variables">b</font>)
			</div>
			<p>Step 3: 11<font class="grade7Variables">a</font> + 22<font class="grade7Variables">a</font><sup>2</sup> &minus; 44<font class="grade7Variables">ab</font>
				= 11<font class="grade7Variables">a</font>(1 + 2<font class="grade7Variables">a</font> &minus; 4<font class="grade7Variables">b</font>)
			</p>
			<div style="margin-top:10px;">
			** Note: Expand 11<font class="grade7Variables">a</font>(2<font class="grade7Variables">a</font> &minus; 4<font class="grade7Variables">b</font>). We get 22<font class="grade7Variables">a</font><sup>2</sup> &minus; 44<font class="grade7Variables">ab</font>. The algebraic term 11a is missing as given in the original algebraic expression.
			</div>		
		</div>		
				
	</div>
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>

