<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.3 Factorization</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:77%;">8.3 Factorization</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Express each of the following in its simplest form:
			</div>
		</div>
		<div style="display:inline-block;">
			<div style="margin-left:20px;margin-top:20px;">
				<div style="display:inline-block;vertical-align:top;margin-top:5px;margin-left:0px;">e)</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
					<p style="line-height:20%;text-align:center;">&minus;4<font class="grade7Variables">t</font> &minus; 3<br>_______<br></p>
					<p style="line-height:20%;text-align:center;">10<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:7px;margin-left:5px;">&minus;</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
					<p style="line-height:20%;text-align:center;">&minus;2<font class="grade7Variables">t</font><br>____<br></p>
					<p style="line-height:20%;text-align:center;">9<br></p>
				</div>			
			</div>
			<div style="margin-left:45px;margin-top:0px;">
				{% if ALFAEasy_3_5_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAEasy_3_5_answer" value='A' disabled
					{% if ALFAEasy_3_5_answer == 'A' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">&minus;56<font class="grade7Variables">k</font> &minus; 27<br>________<br></p>
						<p style="line-height:20%;text-align:center;">90<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAEasy_3_5_answer" value='B' disabled
					{% if ALFAEasy_3_5_answer == 'B' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">&minus;16<font class="grade7Variables">t</font> &minus; 27<br>________<br></p>
						<p style="line-height:20%;text-align:center;">90<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAEasy_3_5_answer" value='C' disabled
					{% if ALFAEasy_3_5_answer == 'C' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">&minus;6<font class="grade7Variables">t</font> &minus; 3<br>_______<br></p>
						<p style="line-height:20%;text-align:center;">90<br></p>
					</div>
					<div style="display:inline-block;margin-top:-10px;margin-left:10px;">	
						{% if ALFAEasy_3_5_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{ALFAEasy_3_5_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					</div>					
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAEasy_3_5_answer" value='A'
					{% if ALFAEasy_3_5_answer == 'A' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">&minus;56<font class="grade7Variables">k</font> &minus; 27<br>________<br></p>
						<p style="line-height:20%;text-align:center;">90<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAEasy_3_5_answer" value='B'
					{% if ALFAEasy_3_5_answer == 'B' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">&minus;16<font class="grade7Variables">t</font> &minus; 27<br>________<br></p>
						<p style="line-height:20%;text-align:center;">90<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAEasy_3_5_answer" value='C'
					{% if ALFAEasy_3_5_answer == 'C' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">&minus;6<font class="grade7Variables">t</font> &minus; 3<br>_______<br></p>
						<p style="line-height:20%;text-align:center;">90<br></p>
					</div>							 
				{% endif %}	
			</div>
		</div>
		
		<div style="display:inline-block;margin-left:20px;">
			<div style="margin-left:20px;margin-top:20px;">
				<div style="display:inline-block;vertical-align:top;margin-top:5px;margin-left:0px;">f)</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
					<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font> + <font class="grade7Variables">y</font><br>______<br></p>
					<p style="line-height:20%;text-align:center;">2<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-top:7px;margin-left:5px;">&minus;</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
					<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font> &minus; <font class="grade7Variables">y</font><br>______<br></p>
					<p style="line-height:20%;text-align:center;">3<br></p>
				</div>			
			</div>
			<div style="margin-left:45px;margin-top:0px;">
				{% if ALFAEasy_3_6_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAEasy_3_6_answer" value='A' disabled
					{% if ALFAEasy_3_6_answer == 'A' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font> &minus; 5<font class="grade7Variables">y</font><br>______<br></p>
						<p style="line-height:20%;text-align:center;">6<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAEasy_3_6_answer" value='B' disabled
					{% if ALFAEasy_3_6_answer == 'B' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">5<font class="grade7Variables">x</font> + <font class="grade7Variables">y</font><br>______<br></p>
						<p style="line-height:20%;text-align:center;">6<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAEasy_3_6_answer" value='C' disabled
					{% if ALFAEasy_3_6_answer == 'C' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font> + 5<font class="grade7Variables">y</font><br>______<br></p>
						<p style="line-height:20%;text-align:center;">6<br></p>
					</div>
					<div style="display:inline-block;margin-top:-10px;margin-left:10px;">	
						{% if ALFAEasy_3_6_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{ALFAEasy_3_6_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					</div>					
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAEasy_3_6_answer" value='A'
					{% if ALFAEasy_3_6_answer == 'A' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font> &minus; 5<font class="grade7Variables">y</font><br>______<br></p>
						<p style="line-height:20%;text-align:center;">6<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAEasy_3_6_answer" value='B'
					{% if ALFAEasy_3_6_answer == 'B' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;">5<font class="grade7Variables">x</font> + <font class="grade7Variables">y</font><br>______<br></p>
						<p style="line-height:20%;text-align:center;">6<br></p>
					</div>
					<br>			 
					<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
					<input type=radio name="ALFAEasy_3_6_answer" value='C'
					{% if ALFAEasy_3_6_answer == 'C' %} 
	   					checked="checked"
	   				{%endif%}
					 ></div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:2px;"></div>
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
						<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font> + 5<font class="grade7Variables">y</font><br>______<br></p>
						<p style="line-height:20%;text-align:center;">6<br></p>
					</div>							 
				{% endif %}	
			</div>
		</div>
		<br>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Factorize each of the following expressions completely:
			</div>
		</div>
		<div style="margin-left:40px;margin-top:10px;">a) 18<font class="grade7Variables">x</font> &minus; 14<font class="grade7Variables">y</font></div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if ALFAEasy_4_1_answer_correct is defined %}
					<input id="ALFAEasy_4_1_answer" value='{{ALFAEasy_4_1_answer}}' readonly style="width:55px;background-color:#DFDFDF;">
				{% else %}
					<input id="ALFAEasy_4_1_answer" value='{{ALFAEasy_4_1_answer}}' style="width:55px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if ALFAEasy_4_1_answer_correct is defined %}
					{% if ALFAEasy_4_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{ALFAEasy_4_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:10px;">b) 242<font class="grade7Variables">x</font> + 11</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if ALFAEasy_4_2_answer_correct is defined %}
					<input id="ALFAEasy_4_2_answer" value='{{ALFAEasy_4_2_answer}}' readonly style="width:65px;background-color:#DFDFDF;">
				{% else %}
					<input id="ALFAEasy_4_2_answer" value='{{ALFAEasy_4_2_answer}}' style="width:65px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if ALFAEasy_4_2_answer_correct is defined %}
					{% if ALFAEasy_4_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{ALFAEasy_4_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>


		{% if ALFAEasy_3_5_answer_correct is defined %}
			<div style="margin-top:30px;margin-left:340px;"><button id="ALFAEasy_4_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="ALFAEasy_4_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>
<script>

	$("input[name='ALFAEasy_3_5_answer']").click(function()
			{
				question_id = "ALFAEasy_3";
				question_type = "AlgebraFactorisation"
				answer_id = "ALFAEasy_3_5_answer";
				entered_answer = $("input:radio[name=ALFAEasy_3_5_answer]:checked").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("input[name='ALFAEasy_3_6_answer']").click(function()
			{
				question_id = "ALFAEasy_3";
				question_type = "AlgebraFactorisation"
				answer_id = "ALFAEasy_3_6_answer";
				entered_answer = $("input:radio[name=ALFAEasy_3_6_answer]:checked").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#ALFAEasy_4_1_answer").change(function()
			{
				question_id = "ALFAEasy_4";
				question_type = "AlgebraFactorisation"
				answer_id = "ALFAEasy_4_1_answer";
				entered_answer = $("#ALFAEasy_4_1_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#ALFAEasy_4_2_answer").change(function()
			{
				question_id = "ALFAEasy_4";
				question_type = "AlgebraFactorisation"
				answer_id = "ALFAEasy_4_2_answer";
				entered_answer = $("#ALFAEasy_4_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	
	
	
	$("#ALFAEasy_4_Submit").button({label:"Check Answers"});
	$("#ALFAEasy_4_Retry").button({label:"Retry"});
	$("#ALFAEasy_4_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "AlgebraFactorisation"
		//getting question id, answer id and entered answer in form of a string
		var answers = "ALFAEasy_3"+"#%$"+"ALFAEasy_3_5_answer"+"#%$"+$("input:radio[name=ALFAEasy_3_5_answer]:checked").val();
		answers = answers + "#%$"+"ALFAEasy_3"+"#%$"+"ALFAEasy_3_6_answer"+"#%$"+$("input:radio[name=ALFAEasy_3_6_answer]:checked").val();
		answers = answers + "#%$"+"ALFAEasy_4"+"#%$"+"ALFAEasy_4_1_answer"+"#%$"+$("#ALFAEasy_4_1_answer").val();
		answers = answers + "#%$"+"ALFAEasy_4"+"#%$"+"ALFAEasy_4_2_answer"+"#%$"+$("#ALFAEasy_4_2_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#ALFAEasy_4_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "ALFAEasy_3_5_answer,ALFAEasy_3_6_answer,ALFAEasy_4_1_answer,ALFAEasy_4_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


