<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.3 Factorization</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:77%;">8.3 Factorization</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Expand and simplify each of the following:
			</div>
		</div>
		<div style="margin-left:40px;margin-top:10px;">a) 4(3<font class="grade7Variables">a</font> &minus; 4<font class="grade7Variables">b</font>) &minus; (&minus;7<font class="grade7Variables">b</font>)</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if ALFAEasy_2_1_answer_correct is defined %}
					<input id="ALFAEasy_2_1_answer" value='{{ALFAEasy_2_1_answer}}' readonly style="width:55px;background-color:#DFDFDF;">
				{% else %}
					<input id="ALFAEasy_2_1_answer" value='{{ALFAEasy_2_1_answer}}' style="width:55px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if ALFAEasy_2_1_answer_correct is defined %}
					{% if ALFAEasy_2_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{ALFAEasy_2_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:10px;">b) 11(2<font class="grade7Variables">a</font> &minus; 3) + 7(&minus;<font class="grade7Variables">a</font> + 6)</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if ALFAEasy_2_2_answer_correct is defined %}
					<input id="ALFAEasy_2_2_answer" value='{{ALFAEasy_2_2_answer}}' readonly style="width:55px;background-color:#DFDFDF;">
				{% else %}
					<input id="ALFAEasy_2_2_answer" value='{{ALFAEasy_2_2_answer}}' style="width:55px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if ALFAEasy_2_2_answer_correct is defined %}
					{% if ALFAEasy_2_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{ALFAEasy_2_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:10px;">c) &minus;2[3<font class="grade7Variables">x</font> &minus; 4(<font class="grade7Variables">x</font> + 10)]</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if ALFAEasy_2_3_answer_correct is defined %}
					<input id="ALFAEasy_2_3_answer" value='{{ALFAEasy_2_3_answer}}' readonly style="width:55px;background-color:#DFDFDF;">
				{% else %}
					<input id="ALFAEasy_2_3_answer" value='{{ALFAEasy_2_3_answer}}' style="width:55px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if ALFAEasy_2_3_answer_correct is defined %}
					{% if ALFAEasy_2_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{ALFAEasy_2_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:10px;">d) (&minus;4)(2<font class="grade7Variables">s</font> &minus; 5<font class="grade7Variables">t</font>) + 2(&minus;6<font class="grade7Variables">s</font> + 3<font class="grade7Variables">t</font> + 9)</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if ALFAEasy_2_4_answer_correct is defined %}
					<input id="ALFAEasy_2_4_answer" value='{{ALFAEasy_2_4_answer}}' readonly style="width:90px;background-color:#DFDFDF;">
				{% else %}
					<input id="ALFAEasy_2_4_answer" value='{{ALFAEasy_2_4_answer}}' style="width:90px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if ALFAEasy_2_4_answer_correct is defined %}
					{% if ALFAEasy_2_4_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{ALFAEasy_2_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:10px;">e) 2[2<font class="grade7Variables">w</font> &minus; 5 + 9<font class="grade7Variables">w</font>(&minus;3 + 6)]</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if ALFAEasy_2_5_answer_correct is defined %}
					<input id="ALFAEasy_2_5_answer" value='{{ALFAEasy_2_5_answer}}' readonly style="width:55px;background-color:#DFDFDF;">
				{% else %}
					<input id="ALFAEasy_2_5_answer" value='{{ALFAEasy_2_5_answer}}' style="width:55px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if ALFAEasy_2_5_answer_correct is defined %}
					{% if ALFAEasy_2_5_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{ALFAEasy_2_5_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:10px;">f) 3<font class="grade7Variables">c</font> + 2<font class="grade7Variables">d</font> &minus; <font class="grade7Variables">e</font> + <font class="grade7Variables">c</font> &minus;(&minus;14<font class="grade7Variables">d</font> + 5<font class="grade7Variables">e</font>)</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if ALFAEasy_2_6_answer_correct is defined %}
					<input id="ALFAEasy_2_6_answer" value='{{ALFAEasy_2_6_answer}}' readonly style="width:90px;background-color:#DFDFDF;">
				{% else %}
					<input id="ALFAEasy_2_6_answer" value='{{ALFAEasy_2_6_answer}}' style="width:90px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if ALFAEasy_2_6_answer_correct is defined %}
					{% if ALFAEasy_2_6_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{ALFAEasy_2_6_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>



		{% if ALFAEasy_2_1_answer_correct is defined %}
			<div style="margin-top:-40px;margin-left:340px;"><button id="ALFAEasy_2_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:-40px;margin-left:300px;"><button id="ALFAEasy_2_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>
<script>

	$("#ALFAEasy_2_1_answer").change(function()
	{
		question_id = "ALFAEasy_2";
		question_type = "AlgebraFactorisation"
		answer_id = "ALFAEasy_2_1_answer";
		entered_answer = $("#ALFAEasy_2_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#ALFAEasy_2_2_answer").change(function()
			{
				question_id = "ALFAEasy_2";
				question_type = "AlgebraFactorisation"
				answer_id = "ALFAEasy_2_2_answer";
				entered_answer = $("#ALFAEasy_2_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#ALFAEasy_2_3_answer").change(function()
			{
				question_id = "ALFAEasy_2";
				question_type = "AlgebraFactorisation"
				answer_id = "ALFAEasy_2_3_answer";
				entered_answer = $("#ALFAEasy_2_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#ALFAEasy_2_4_answer").change(function()
			{
				question_id = "ALFAEasy_2";
				question_type = "AlgebraFactorisation"
				answer_id = "ALFAEasy_2_4_answer";
				entered_answer = $("#ALFAEasy_2_4_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#ALFAEasy_2_5_answer").change(function()
			{
				question_id = "ALFAEasy_2";
				question_type = "AlgebraFactorisation"
				answer_id = "ALFAEasy_2_5_answer";
				entered_answer = $("#ALFAEasy_2_5_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#ALFAEasy_2_6_answer").change(function()
			{
				question_id = "ALFAEasy_2";
				question_type = "AlgebraFactorisation"
				answer_id = "ALFAEasy_2_6_answer";
				entered_answer = $("#ALFAEasy_2_6_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#ALFAEasy_2_Submit").button({label:"Check Answers"});
	$("#ALFAEasy_2_Retry").button({label:"Retry"});
	$("#ALFAEasy_2_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "AlgebraFactorisation"
		//getting question id, answer id and entered answer in form of a string
		var answers = "ALFAEasy_2"+"#%$"+"ALFAEasy_2_1_answer"+"#%$"+$("#ALFAEasy_2_1_answer").val();
		answers = answers + "#%$"+"ALFAEasy_2"+"#%$"+"ALFAEasy_2_2_answer"+"#%$"+$("#ALFAEasy_2_2_answer").val();
		answers = answers + "#%$"+"ALFAEasy_2"+"#%$"+"ALFAEasy_2_3_answer"+"#%$"+$("#ALFAEasy_2_3_answer").val();
		answers = answers + "#%$"+"ALFAEasy_2"+"#%$"+"ALFAEasy_2_4_answer"+"#%$"+$("#ALFAEasy_2_4_answer").val();
		answers = answers + "#%$"+"ALFAEasy_2"+"#%$"+"ALFAEasy_2_5_answer"+"#%$"+$("#ALFAEasy_2_5_answer").val();
		answers = answers + "#%$"+"ALFAEasy_2"+"#%$"+"ALFAEasy_2_6_answer"+"#%$"+$("#ALFAEasy_2_6_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#ALFAEasy_2_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "ALFAEasy_2_1_answer,ALFAEasy_2_2_answer,ALFAEasy_2_3_answer,ALFAEasy_2_4_answer,ALFAEasy_2_5_answer,ALFAEasy_2_6_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


