<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.2 Simplifying Linear Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:55%;">8.2 Simplifying Linear Expressions</div>
	{% endif %}
	<div class="grade7PageMargin">	
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 7 (contd.):</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:30px;">b)</div>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:0px;">&minus;</div>
		<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">2<font class="grade7Variables">p</font> + 3<br>_____<br></p>
			<p style="line-height:20%;text-align:center;">6<br></p>
		</div>		
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">+</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">5<font class="grade7Variables">p</font> &minus; 5<br>_____<br></p>
			<p style="line-height:20%;text-align:center;">7<br></p>
		</div>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">&minus;</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;"><font class="grade7Variables">p</font> + 7<br>_____<br></p>
			<p style="line-height:20%;text-align:center;">5<br></p>
		</div>
		<p>LCM of the three denominators, 6, 7 and 5, is a common denominator of the resulting fraction. LCM of 6, 7 and 5 is 210.</p>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:30px;">=</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">&minus;35(2<font class="grade7Variables">p</font> + 3) + 30(5<font class="grade7Variables">p</font> &minus; 5) &minus; 42(<font class="grade7Variables">p</font> + 7)<br>_______________________________<br></p>
			<p style="line-height:20%;text-align:center;">210<br></p>
		</div>
		<br>Apply the Distributive Law<br>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:30px;">=</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">&minus;70<font class="grade7Variables">p</font> &minus; 105 + 150<font class="grade7Variables">p</font> &minus; 150 &minus; 42<font class="grade7Variables">p</font> &minus; 294<br>__________________________________<br></p>
			<p style="line-height:20%;text-align:center;">210<br></p>
		</div>
		<br>Collect the like terms together<br>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:30px;">=</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">&minus;70<font class="grade7Variables">p</font> + 150<font class="grade7Variables">p</font> &minus; 42<font class="grade7Variables">p</font> &minus; 105 &minus; 150 &minus; 294<br>__________________________________<br></p>
			<p style="line-height:20%;text-align:center;">210<br></p>
		</div>
		<br>Add or subtract the like terms<br>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:30px;">=</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">38<font class="grade7Variables">p</font> &minus; 549<br>__________<br></p>
			<p style="line-height:20%;text-align:center;">210<br></p>
		</div>						
	</div>
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>

