<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.2 Simplifying Linear Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:55%;">8.2 Simplifying Linear Expressions</div>
	{% endif %}
	<div class="grade7PageMargin">
		<p><strong>Distributive law</strong> applies to the process of expansion in the following ways:</p>
		<div class="grade7OrangeSideBox" style="margin-top:10px;margin-left:10px;width:390px;">
			<p>1.	a(b + c) = ab + ac,</p>
			<p>which means that a times (b + c) is the same as a times b + a times c.</p>
			<p>2.	a(b &minus; c) = ab &minus; ac</p>
			<p>3.	a(b + c + d) = ab + ac + ad</p>
		</div>
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 6:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">
			Expand and simplify the following:
		</div>
		<br>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			&minus;4(5<font class="grade7Variables">a</font>) + 3(&minus;8<font class="grade7Variables">b</font>)
		</div>
		<br>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">b)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			&minus;13(20<font class="grade7Variables">y</font> + 3<font class="grade7Variables">z</font>)
		</div>		
		<br>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">c)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			2[<font class="grade7Variables">p</font> &minus; 2(<font class="grade7Variables">p</font> + <font class="grade7Variables">q</font>)]
		</div>
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 6:</font></div>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;vertical-align:top;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			&minus;4(5<font class="grade7Variables">a</font>) + 3(&minus;8<font class="grade7Variables">b</font>)
			<p>= &minus;4 &times; 5<font class="grade7Variables">a</font> + 3 &times; (&minus;8<font class="grade7Variables">b</font>)</p>
			<p>= &minus;20<font class="grade7Variables">a</font> &minus; 24<font class="grade7Variables">b</font></p>
			
		</div>					
	</div>
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>

