<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.2 Simplifying Linear Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:55%;">8.2 Simplifying Linear Expressions</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 7 (contd.):</font></div>
		<p>LCM of the two denominators, 5 and 6, is a common denominator of the resulting fraction. LCM of 5 and 6 is 30.</p>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:30px;">=</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">6 &times; (<font class="grade7Variables">p</font> &minus; 4<font class="grade7Variables">q</font>)<br>___________<br></p>
			<p style="line-height:20%;text-align:center;">30<br></p>
		</div>		
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">+</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">5 &times; (&minus;3(7<font class="grade7Variables">p</font> &minus; 2<font class="grade7Variables">q</font>))<br>______________<br></p>
			<p style="line-height:20%;text-align:center;">30<br></p>
		</div>
		<br>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:30px;">=</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">6 &times; (<font class="grade7Variables">p</font> &minus; 4<font class="grade7Variables">q</font>) + 5 &times; (&minus;21<font class="grade7Variables">p</font> + 6<font class="grade7Variables">q</font>)<br>____________________________<br></p>
			<p style="line-height:20%;text-align:center;">30<br></p>
		</div>
		<br>
		Apply the distributive law
		<br>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:30px;">=</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">6<font class="grade7Variables">p</font> &minus; 24<font class="grade7Variables">q</font> &minus; 105<font class="grade7Variables">p</font> + 30<font class="grade7Variables">q</font><br>_____________________<br></p>
			<p style="line-height:20%;text-align:center;">30<br></p>
		</div>
		<br>Collect the like terms together<br>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:30px;">=</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">6<font class="grade7Variables">p</font> &minus; 105<font class="grade7Variables">p</font> &minus; 24<font class="grade7Variables">q</font> + 30<font class="grade7Variables">q</font><br>_____________________<br></p>
			<p style="line-height:20%;text-align:center;">30<br></p>
		</div>
		<br>Add or subtract like terms<br>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:30px;">=</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">&minus;99<font class="grade7Variables">p</font> + 6<font class="grade7Variables">q</font><br>_________<br></p>
			<p style="line-height:20%;text-align:center;">30<br></p>
		</div>
		<br>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:30px;">=</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">3(&minus;33<font class="grade7Variables">p</font> + 2<font class="grade7Variables">q</font>)<br>__________<br></p>
			<p style="line-height:20%;text-align:center;">30<br></p>
		</div>
		
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:15px;">=</div>
		<div style="display:inline-block;vertical-align:top;margin-left:15px;margin-top:3px;">
			<p style="line-height:20%;text-align:center;">&minus;33<font class="grade7Variables">p</font> + 2<font class="grade7Variables">q</font><br>_________<br></p>
			<p style="line-height:20%;text-align:center;">10<br></p>
		</div>													
	</div>
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>

