<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.2 Simplifying Linear Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:55%;">8.2 Simplifying Linear Expressions</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;margin-left:30px;">
			<p>In this example, all the terms change their signs when brackets are removed.</p>
			<p>= <font class="grade7Variables">e</font> &minus; 2<font class="grade7Variables">g</font> + 4<font class="grade7Variables">f</font> + 5<font class="grade7Variables">g</font> &minus; <font class="grade7Variables">f</font> &minus; 17</p>
			<p><strong>Step 2</strong>: Collect the like terms together</p>
			<p>= <font class="grade7Variables">e</font> &minus; 2<font class="grade7Variables">g</font> + 5<font class="grade7Variables">g</font> + 4<font class="grade7Variables">f</font> &minus; <font class="grade7Variables">f</font> &minus; 17</p>
			<p><strong>Step 3</strong>: Add or subtract the like terms</p>
			<p>= <font class="grade7Variables">e</font> + 3<font class="grade7Variables">g</font> + 3<font class="grade7Variables">f</font> &minus; 17</p>
			<p>b) <font class="grade7Variables">x</font> &minus; 1 &minus; [&minus;(3<font class="grade7Variables">x</font> + 3)]</p>
			<p><strong>Step 1</strong>: Remove the brackets.</p>
			<p>All the terms change their signs when brackets are removed.</p>
			<p>= <font class="grade7Variables">x</font> &minus; 1 + (3<font class="grade7Variables">x</font> + 3) = <font class="grade7Variables">x</font> &minus; 1 + 3<font class="grade7Variables">x</font> + 3</p>
			<p><strong>Step 2</strong>: Collect the like terms together</p>
			<p>= <font class="grade7Variables">x</font> + 3<font class="grade7Variables">x</font> &minus; 1 + 3</p>
			<p><strong>Step 3</strong>: Add or subtract the like terms</p>
			<p>= 4<font class="grade7Variables">x</font> + 2</p>
			
		</div>									
	</div>
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>

