<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.2 Simplifying Linear Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:55%;">8.2 Simplifying Linear Expressions</div>
	{% endif %}
	<div class="grade7TopicName">8.2 Simplifying Linear Expressions</div>
	<div class="grade7PageMargin">
		<p>Following steps are applied to simplify linear expressions:</p>
		<div style="margin-left:20px;">
			<div style="display:inline-block;width:15px;margin-top:10px;vertical-align:top;">1.</div>
			<div style="display:inline-block;margin-top:10px;width:360px;">Remove the brackets using distributive law, wherever applicable</div>
			<p>2. Collect the like terms together</p>
			<p>3. Add or subtract the like terms</p>
		</div>
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 5:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">
			Simplify the following algebraic terms:
		</div>
		<br>	
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			&minus;(&minus;<font class="grade7Variables">e</font> + 2<font class="grade7Variables">g</font> &minus; 4<font class="grade7Variables">f</font> &minus; 5<font class="grade7Variables">g</font> + <font class="grade7Variables">f</font> + 17)
		</div>
		<br>	
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">b)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			<font class="grade7Variables">x</font> &minus; 1 &minus; [&minus;(3<font class="grade7Variables">x</font> + 3)]
		</div>
		<br>				
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:30px;">c)</div>
		<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
			<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font><br>__<br></p>
			<p style="line-height:20%;text-align:center;">3<br></p>
		</div>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">+</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
			<p style="line-height:20%;text-align:center;"><font class="grade7Variables">y</font><br>__<br></p>
			<p style="line-height:20%;text-align:center;">3<br></p>
		</div>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">&minus;</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
			<p style="line-height:20%;text-align:center;">11<font class="grade7Variables">x</font><br>____<br></p>
			<p style="line-height:20%;text-align:center;">9<br></p>
		</div>
		<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">+</div>
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
			<p style="line-height:20%;text-align:center;">11<font class="grade7Variables">y</font><br>____<br></p>
			<p style="line-height:20%;text-align:center;">6<br></p>
		</div>
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 5:</font></div>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			&minus;(&minus;<font class="grade7Variables">e</font> + 2<font class="grade7Variables">g</font> &minus; 4<font class="grade7Variables">f</font> &minus; 5<font class="grade7Variables">g</font> + <font class="grade7Variables">f</font> + 17)
		</div>
		<div style="margin-top:10px;margin-left:30px;"><strong>Step 1</strong>: Remove the brackets.</div>									
	</div>
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>

