<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#E12958;">8.2 Simplifying Linear Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#E12958;margin-left:55%;">8.2 Simplifying Linear Expressions</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-left:30px;">
			<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:0px;">c)</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font><br>__<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">+</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">y</font><br>__<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">&minus;</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:2px;">
				<p style="line-height:20%;text-align:center;">11<font class="grade7Variables">x</font><br>____<br></p>
				<p style="line-height:20%;text-align:center;">9<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">+</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:2px;">
				<p style="line-height:20%;text-align:center;">11<font class="grade7Variables">y</font><br>____<br></p>
				<p style="line-height:20%;text-align:center;">6<br></p>
			</div>
			<p><strong>Step 1</strong>: Since there is no bracket in the expression, collect the like terms together.</p>
			<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:0px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font><br>__<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">&minus;</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:2px;">
				<p style="line-height:20%;text-align:center;">11<font class="grade7Variables">x</font><br>____<br></p>
				<p style="line-height:20%;text-align:center;">9<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">+</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">y</font><br>__<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">+</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:2px;">
				<p style="line-height:20%;text-align:center;">11<font class="grade7Variables">y</font><br>____<br></p>
				<p style="line-height:20%;text-align:center;">6<br></p>
			</div>
			<p><strong>Step 2</strong>: Add or subtract the like terms</p>
			<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:0px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:2px;">
				<p style="line-height:20%;text-align:center;">3<font class="grade7Variables">x</font> &minus; 11<font class="grade7Variables">x</font><br>_______<br></p>
				<p style="line-height:20%;text-align:center;">9<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">+</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:2px;">
				<p style="line-height:20%;text-align:center;">2<font class="grade7Variables">y</font> + 11<font class="grade7Variables">y</font><br>_______<br></p>
				<p style="line-height:20%;text-align:center;">6<br></p>
			</div>
			<br>
			<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:0px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:2px;">
				<p style="line-height:20%;text-align:center;">&minus;8<font class="grade7Variables">x</font><br>____<br></p>
				<p style="line-height:20%;text-align:center;">9<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:15px;margin-left:5px;">+</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:2px;">
				<p style="line-height:20%;text-align:center;">13<font class="grade7Variables">y</font><br>____<br></p>
				<p style="line-height:20%;text-align:center;">6<br></p>
			</div>
		</div>
		<p>In order to simplify a linear expression like 2(3<font class="grade7Variables">a</font> + <font class="grade7Variables">b</font>), expand the expression as follows:</p>
		<div style="display:inline-block;">
		<p style="margin-top:-10px;"><img src="/images/Grade7/G7_AM_Simplifying_Linear_Expression_5.png"></p>	
		<p>= 2 &times; 3<font class="grade7Variables">a</font> + 2 &times; <font class="grade7Variables">b</font> = 6<font class="grade7Variables">a</font> + 2<font class="grade7Variables">b</font></p>
		</div>
		<div style="display:inline-block;width:170px;margin-left:20px;vertical-align:top;" class="grade7BlueSideBox">To expand 2(3a + b), distribute 2 over 3a + b.</div>
												
	</div>
</div>
<div class="{{page_class}}" style="background-color:#E12958;color:#fff">{{page_number}}</div>

