<div style="height:480px;">
	<div class="grade7PageHeader" style="color:#E12958;margin-left:58%;">Algebraic Manipulations - Topical Test</div>
	<div class="grade7PageMargin" style="clear:both;">
		<div style="display:inline-block;margin-left:20px;margin-top:10px;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="display:inline-block;width:380px;margin-top:10px;vertical-align:top;">
			Mike and Tim each had a carton of bulbs. The number of bulbs in each carton was different. Mike then gave 23 of his bulbs to Tim.
			In the end, the number of bulbs 
			<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">in Tim's carton was </div>		
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">7<br>__<br></p>
				<p style="line-height:20%;text-align:center;">9<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:5px;">of the number of bulbs in</div>		

			Mike's carton. If Tim had 47 bulbs at first, find the number of bulbs that Mike had at first.
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;margin-left:15px;margin-top:10px;">Answer: &nbsp;</div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
					<input id="AGMTT1_2_answer" value='{{AGMTT1_2_answer}}' readonly style="width:40px;background-color:#DFDFDF;text-align:center;"> bulbs
				{% else %}
					<input id="AGMTT1_2_answer" value='{{AGMTT1_2_answer}}' style="width:40px;text-align:center;" > bulbs
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if AGMTT1_2_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{AGMTT1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 4 / 4)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{AGMTT1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 4)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 4)</font>
				{% endif %}
			</div>		
		</div>

		<div style="display:inline-block;margin-left:20px;margin-top:10px;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="display:inline-block;width:380px;margin-top:10px;vertical-align:top;">
			<div>A pigeon sitting on the top of a 10 m tall tree flies to the window of the 20<sup>th</sup> floor of a nearby building. The height of each floor is (3<font class="grade7Variables">k</font> + 2)m. The pigeon then flies down to the 9<sup>th</sup> floor in search of water. Assume the ground floor of the building to be 0<sup>th</sup> floor.</div>
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;width:15px;vertical-align:top;">a)</div>
			<div style="display:inline-block;width:370px;">What is the final position of the pigeon from the ground?</div>
			<div style="display:inline-block;margin-left:15px;margin-top:10px;">Answer: &nbsp;</div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
					<input id="AGMTT1_3_1_answer" value='{{AGMTT1_3_1_answer}}' readonly style="width:50px;background-color:#DFDFDF;text-align:center;"> m
				{% else %}
					<input id="AGMTT1_3_1_answer" value='{{AGMTT1_3_1_answer}}' style="width:50px;text-align:center;" > m
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if AGMTT1_3_1_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{AGMTT1_3_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 2 / 2)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{AGMTT1_3_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 2)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 2)</font>
				{% endif %}
			</div>		
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;width:15px;vertical-align:top;">b)</div>
			<div style="display:inline-block;width:370px;"><div>Find the distance travelled by the pigeon from the tree top to the 9<sup>th</sup> floor of the building.</div></div>
			<div style="display:inline-block;margin-left:15px;margin-top:10px;">Answer: &nbsp;</div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
					<input id="AGMTT1_3_2_answer" value='{{AGMTT1_3_2_answer}}' readonly style="width:65px;background-color:#DFDFDF;text-align:center;"> m
				{% else %}
					<input id="AGMTT1_3_2_answer" value='{{AGMTT1_3_2_answer}}' style="width:65px;text-align:center;" > m
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if AGMTT1_3_2_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{AGMTT1_3_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 2 / 2)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{AGMTT1_3_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 2)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 2)</font>
				{% endif %}
			</div>		
		</div>		
		
			
	</div>
	<div id="explain_dialog"></div>
</div>
<div class="grade7TestForwardButton"><button id="AGM_TT_1_Continue" style="outline:none;"></button></div>
<script>
$("#AGM_TT_1_Continue").button({label:">>"});
$("#AGM_TT_1_Continue").click(function()
	{
		test_id = '{{test_id}}';
		student_id = '{{student_id}}';
		leftPage = '/Grade-7/Chapter-8/Topical-Test-1-Algebraic-Manipulations-Page-3.html';
		rightPage = '/Grade-7/Chapter-8/Topical-Test-1-Algebraic-Manipulations-Page-4.html';
		//saving all un-attempted questions in the database on ">>" click.
		separatorText = '#%$'
		answer_ids = 'AGMTT1_1_1_answer'+separatorText+'AGMTT1_1_2_answer'+separatorText+'AGMTT1_1_3_answer'+separatorText+'AGMTT1_1_4_answer'+separatorText+'AGMTT1_1_5_answer'+separatorText+'AGMTT1_2_answer'+separatorText
		answer_ids = answer_ids + 'AGMTT1_3_1_answer'+separatorText+'AGMTT1_3_2_answer'
		Grade7SaveAndLoadTest(test_id,student_id,leftPage,rightPage,total_seconds_elapsed,answer_ids);
  	});

$("#AGMTT1_2_answer").change(function()
		{
			question_id = "AGMTT1_2";
			test_id = '{{test_id}}';
			answer_id = "AGMTT1_2_answer";
			entered_answer = $("#AGMTT1_2_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 1;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});

$("#AGMTT1_3_1_answer").change(function()
		{
			question_id = "AGMTT1_3";
			test_id = '{{test_id}}';
			answer_id = "AGMTT1_3_1_answer";
			entered_answer = $("#AGMTT1_3_1_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 1;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#AGMTT1_3_2_answer").change(function()
		{
			question_id = "AGMTT1_3";
			test_id = '{{test_id}}';
			answer_id = "AGMTT1_3_2_answer";
			entered_answer = $("#AGMTT1_3_2_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
		
$("#explain_dialog").dialog
({
	autoOpen: false,
	title:"Explanation",
    position:"center",   			
	buttons:{"Ok": function(){$(this).dialog("close");}},
	modal:true,
	width:500
});
function ShowExplanation(htmlText)
{
	$("#explain_dialog").html(htmlText);
	$("#explain_dialog").addClass("ExplanationFont");
	$("#explain_dialog").dialog("open");	
}

</script>

