<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 13:</font></div>
		<div style="margin-top:10px;margin-left:20px;">
			<div>Let the salaries of Nina and Tina be $5<font class="grade7Variables">x</font> and $7<font class="grade7Variables">x</font>.</div>
			<div style="margin-top:10px;">7<font class="grade7Variables">x</font> &minus; 5<font class="grade7Variables">x</font> = 560</div>
			<div style="margin-top:10px;">2<font class="grade7Variables">x</font> = 560 &#8667; <font class="grade7Variables">x</font> = 280</div>
			<div style="margin-top:10px;">Hence, monthly salary of Nina = 5 &times; $280 = $1400</div>
			<div style="margin-top:10px;">And, monthly salary of Tina = 7 &times; $280 = $1960</div>				
		</div>
		<div style="margin-top:30px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 14:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">
			<div>Mark had some 5-dollar and 10-dollar notes in the ratio 7 : 2. He gave two $5 notes to Susan in exchange for a $10 note. In the end, the ratio of the number of 5-dollar notes to that of 10-dollar notes left with Mark was 5 : 3. Find the total amount of money with Mark?</div>
		</div>
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 14:</font></div>
		<div style="margin-top:10px;margin-left:20px;">
			<div>Let the number of $5 notes and $10 notes that Mark had at first be 7<font class="grade7Variables">x</font> and 2<font class="grade7Variables">x</font> respectively.</div>
			<div style="margin-top:10px;">The number of $5 notes after the exchange = 7<font class="grade7Variables">x</font> &minus; 2 </div>			
		</div>				
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

