<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.2 Rate</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.2 Rate</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 17:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">
			On a certain day, 400.20 USD could be exchanged for 500 SGD.
		</div>
		<br>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:40px;vertical-align:top;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			Find the exchange rate between the two currencies, correct to 4 decimal places,
			<div style="margin-top:10px;">i)	From USD to SGD</div>
			<div>ii) From SGD to USD</div>
		</div>
		<br>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:40px;vertical-align:top;">b)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			If you exchanged 230 SGD to USD, how much money would you receive in USD?
		</div>		
		<br>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:40px;vertical-align:top;">c)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			Mrs. Yang's son, studying in New York, needed 12000 USD. How much amount, in SGD, did she transfer?
		</div>		
		<br>		
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 17:</font></div>
		<div style="margin-top:10px;margin-left:40px;">
			<div>a)	500 SGD = 400.20 USD</div>
			<div style="display:inline-block;width:60px;margin-left:20px;margin-top:10px;">i) 1 SGD</div>
			<div style="display:inline-block;margin-top:10px;">= 400.20 &divide; 500 USD</div>
			<br>
 			<div style="display:inline-block;width:60px;margin-left:20px;"></div>
			<div style="display:inline-block;">= 0.8004 USD</div>
            <div style="margin-top:10px;">The exchange rate is 0.8004 USD to 1 SGD.</div>
			<div style="display:inline-block;width:70px;margin-left:20px;margin-top:10px;">ii) 1 USD</div>
			<div style="display:inline-block;margin-top:10px;">= 500 &divide; 400.20 SGD</div>
			<br>
 			<div style="display:inline-block;width:70px;margin-left:20px;"></div>
			<div style="display:inline-block;">= 1.2493 SGD</div>
            <div style="margin-top:10px;">The exchange rate is 1.2493 SGD to 1 USD.</div>
			
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

