<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.2 Rate</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.2 Rate</div>
	{% endif %}
	<div class="grade7TopicName" style="margin-top:10px;">4.2 Rate</div>
	<div class="grade7PageMargin">
		<div style="margin-top:20px;"><font class="grade7SubTopicName">4.2.1 Average Rate</font></div>
		<div style="margin-top:20px;">In a cricket match, player A scored 28 runs in 2 overs while player B scored 50 runs in 5 overs. Which player showed a better performance?</div>
		<div style="margin-top:20px;">To find out their performances, calculate their scores per over. The number of runs scored in an over is termed as '<strong>Run Rate</strong>'.</div>
		<div style="display:inline-block;width:140px;margin-top:20px;">Run rate of player A</div>
		<div style="display:inline-block;margin-top:20px;">= 28 runs &divide; 2 overs</div>
		<br>
		<div style="display:inline-block;width:140px;"></div>
		<div style="display:inline-block;">= 14 runs per over</div>
		<br>
		<div style="display:inline-block;width:140px;margin-top:10px;">Run rate of player B</div>
		<div style="display:inline-block;margin-top:10px;">= 50 runs &divide; 5 overs</div>
		<br>
		<div style="display:inline-block;width:140px;"></div>
		<div style="display:inline-block;">= 10 runs per over</div>
		<div style="margin-top:20px;">Player A scored 4 runs more than player B per over. Hence, player A performed better.</div>
		<div style="margin-top:20px;">From the above example, we can define a rate as a <strong>ratio between two measurements with different units</strong>.</div>
	

	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

