<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.2 Rate</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.2 Rate</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div class="grade7BlueSideBox" style="margin-top:20px;"><strong>In other words...</strong>
			<p>Rate is a value that describes one quantity (e.g. runs) in terms of another quantity (e.g. over).</p>
		</div>
		<div style="margin-top:30px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 15:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">
			A construction worker receives $100 for working 8 hours a day. What is his hourly wage rate?
		</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 15:</font></div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">
			<div style="display:inline-block;width:75px;">Wage rate</div>
			<div style="display:inline-block;">= $100 &divide; 8 hours</div>
			<br>
			<div style="display:inline-block;width:75px;"></div>
			<div style="display:inline-block;">= $12.50 per hour</div>
		</div>
		<br>				
		<div style="margin-top:30px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 16:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">
			A train covers a distance of 500 km in 4 hours. What is the rate at which the train moves in km/h?
		</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 16:</font></div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">
			<div style="display:inline-block;width:45px;">Rate</div>
			<div style="display:inline-block;">= 500 km &divide; 4 hours </div>
			<br>
			<div style="display:inline-block;width:45px;"></div>
			<div style="display:inline-block;">= 125 km/h</div>
		</div>
		<br>
		<div style="margin-top:10px;">Note that this rate is the <strong>average speed</strong> of the train.</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

