<div style="height:480px;">
	<div class="grade7ChapterNumberDiv" style="background-color:#57995D;">
		<div class="grade7ChapterNumber" style="color:#FFF;">
			Chapter 4
		</div>
	</div>
	<div class="grade7ChapterNameDiv" style="background-color:#79DA4D;">
		<div class="grade7ChapterName" style="width:380px;color:#57995D;">
			Ratio, Rate and Proportion
		</div>
	</div>
	<br>
	<div class="grade7LearningOutcomes">Learning Outcomes</div>
	<div class="grade7LearningOutcomesList" style="margin-left:20%;">
		<ul>
			<li><a href="javascript:Grade7BookPageLoadByName('Ratio-Review-1')">Review</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Ratio-Involving-Rational-Numbers-1')">Ratios Involving Rational Numbers</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Ratio-of-Three-Quantities-1')">Ratios of Three Quantities</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Application-of-Ratios-1')">Application of Ratios</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Average-Rate-1')">Average Rate</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Interest-Rate-1')">Interest Rate</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Proportion-1')">Proportion</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Topical-Test-1-Rate-Ratio')">Topical Test</a></li>					
		</ul>		
	</div>		
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

