<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.2 Rate</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.2 Rate</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;"><font class="grade7SubTopicName">4.2.2 Interest Rate</font></div>
		<div style="margin-top:20px;">When you borrow money from a bank, you pay the bank a fee to compensate for the use of borrowed money. Similarly, when you deposit money in a bank, the bank pays you a fee in return for the money you deposited. This fee is called interest. </div>
		<div class="grade7BlueSideBox" style="margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;"><strong>Interest rate</strong> = </div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">Interest<br>_____________________________<br></p>
				<p style="line-height:20%;text-align:center;">Amount of money deposited or borrowed<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">&times; 100</div>				
		</div>
		<div style="margin-top:10px;">It is usually computed per annum i.e. per year. It is expressed as a percentage.</div>	
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 18:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">
			A man deposits $5500 in a bank for 2 years. If the interest rate is 4% per annum, how much total interest will he earn after 2 years if he withdraws interest at the end of each year?
		</div>
		<br>
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 18:</font></div>
		<div style="margin-top:10px;margin-left:40px;">
			<div>Interest for 2 years = $5500 &times; 4% &times; 2 = $440</div>
			<div style="margin-top:10px;">Total amount of interest earned = $440</div>
		</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

