<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.3 Proportion</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:80%;">4.3 Proportion</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;"><font class="grade7ExampleSolution">Solution 19:</font></div>
		<div style="margin-top:10px;margin-left:40px;">
			<p>Let <font class="grade7Variables">x</font> be the temperature difference between the two liquids marked on the graph.</p>
			<p>10 : 1.5 = 25 : <font class="grade7Variables">x</font></p>
			<p><font class="grade7Variables">x</font> = 25 &times; 1.5 &divide; 10</p>
			<p><font class="grade7Variables">x</font> = 3.75 &deg;C</p>
		</div>
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 20:</font></div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">
			If Saisha covers 12 m in 4 seconds at a constant speed, how much time will she take to cover 66 m? 
		</div>
		<br>
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 20:</font></div>
		<div style="margin-top:10px;margin-left:40px;">
			<p>Ratio of distance : time = 12 : 4 = 3 : 1</p>
			<p>Let <font class="grade7Variables">x</font> be the time required to cover 66 m at the same speed.</p>
			<p>3 : 1 = 66 : <font class="grade7Variables">x</font></p>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:5px;"><font class="grade7Variables">x</font> = 66 &times;</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>	
			<p style="margin-top:-8px;"><font class="grade7Variables">x</font> = 22 seconds</p>

		</div>				
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

