<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.2 Rate</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.2 Rate</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Medium</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;">
			<div style="display:inline-block;margin-top:0px;">If 25 m<sup>2</sup> of flooring costs $75, find
			</div>
		</div>
		<br>
		<div style="margin-left:60px;margin-top:10px;display:inline-block;width:15px;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;">
			The cost of 57 m<sup>2</sup> of flooring.
		</div>			
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">Answer: &nbsp; $
				{% if RATEMedium_1_1_answer_correct is defined %}
					<input id="RATEMedium_1_1_answer" value='{{RATEMedium_1_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
				{% else %}
					<input id="RATEMedium_1_1_answer" value='{{RATEMedium_1_1_answer}}' style="width:30px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if RATEMedium_1_1_answer_correct is defined %}
					{% if RATEMedium_1_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATEMedium_1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:60px;margin-top:10px;display:inline-block;width:15px;vertical-align:top;">b)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			The maximum area that can be covered with the flooring if the budget is limited to $51.
		</div>			
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if RATEMedium_1_2_answer_correct is defined %}
					<input id="RATEMedium_1_2_answer" value='{{RATEMedium_1_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> m<sup>2</sup>
				{% else %}
					<input id="RATEMedium_1_2_answer" value='{{RATEMedium_1_2_answer}}' style="width:30px;" > m<sup>2</sup>
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if RATEMedium_1_2_answer_correct is defined %}
					{% if RATEMedium_1_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATEMedium_1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:20px;margin-top:25px;display:inline-block;width:20px;vertical-align:top;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;margin-top:0px;">
				<div>A floor had a total area of 30 m<sup>2</sup>. It was being laid with square marble tiles measuring 5000 cm<sup>2</sup>. The total cost of laying tiles on the floor was $1296. At this rate, how much would it cost to lay 50 such tiles?</div>
			</div>
		</div>
		<br>	
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">Answer: &nbsp; $
				{% if RATEMedium_2_answer_correct is defined %}
					<input id="RATEMedium_2_answer" value='{{RATEMedium_2_answer}}' readonly style="width:40px;background-color:#DFDFDF;">
				{% else %}
					<input id="RATEMedium_2_answer" value='{{RATEMedium_2_answer}}' style="width:40px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if RATEMedium_2_answer_correct is defined %}
					{% if RATEMedium_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATEMedium_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		
		{% if RATEMedium_1_1_answer_correct is defined %}
			<div style="margin-top:30px;margin-left:340px;"><button id="RATEMedium_1_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="RATEMedium_1_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>
<script>
	$("#RATEMedium_1_1_answer").change(function()
	{
		question_id = "RATEMedium_1";
		question_type = "Rate"
		answer_id = "RATEMedium_1_1_answer";
		entered_answer = $("#RATEMedium_1_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATEMedium_1_2_answer").change(function()
			{
				question_id = "RATEMedium_1";
				question_type = "Rate"
				answer_id = "RATEMedium_1_2_answer";
				entered_answer = $("#RATEMedium_1_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#RATEMedium_2_answer").change(function()
			{
				question_id = "RATEMedium_2";
				question_type = "Rate"
				answer_id = "RATEMedium_2_answer";
				entered_answer = $("#RATEMedium_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	
	$("#RATEMedium_1_Submit").button({label:"Check Answers"});
	$("#RATEMedium_1_Retry").button({label:"Retry"});
	$("#RATEMedium_1_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "Rate"
		//getting question id, answer id and entered answer in form of a string
		var answers = "RATEMedium_1"+"#%$"+"RATEMedium_1_1_answer"+"#%$"+$("#RATEMedium_1_1_answer").val();
		answers = answers + "#%$"+"RATEMedium_1"+"#%$"+"RATEMedium_1_2_answer"+"#%$"+$("#RATEMedium_1_2_answer").val();
		answers = answers + "#%$"+"RATEMedium_2"+"#%$"+"RATEMedium_2_answer"+"#%$"+$("#RATEMedium_2_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#RATEMedium_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "RATEMedium_1_1_answer,RATEMedium_1_2_answer,";
		answer_ids = answer_ids + "RATEMedium_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


