<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.2 Rate</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.2 Rate</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Advanced</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;vertical-align:top;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;margin-top:0px;">Two pipes, A and B, fill a water storage tank in 10 minutes, when used together. Pipe B runs twice as fast as pipe A. How long would it take each pipe to fill the tank by itself?
			</div>
		</div>
		<br>	
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">Tank A: &nbsp; 
				{% if RATEAdvanced_1_1_answer_correct is defined %}
					<input id="RATEAdvanced_1_1_answer" value='{{RATEAdvanced_1_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> min
				{% else %}
					<input id="RATEAdvanced_1_1_answer" value='{{RATEAdvanced_1_1_answer}}' style="width:30px;" > min
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if RATEAdvanced_1_1_answer_correct is defined %}
					{% if RATEAdvanced_1_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATEAdvanced_1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>		
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Tank B: &nbsp;
				{% if RATEAdvanced_1_2_answer_correct is defined %}
					<input id="RATEAdvanced_1_2_answer" value='{{RATEAdvanced_1_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> min
				{% else %}
					<input id="RATEAdvanced_1_2_answer" value='{{RATEAdvanced_1_2_answer}}' style="width:30px;" > min
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if RATEAdvanced_1_2_answer_correct is defined %}
					{% if RATEAdvanced_1_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATEAdvanced_1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:20px;margin-top:25px;display:inline-block;width:20px;vertical-align:top;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="margin-top:25px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;margin-top:0px;">
				<div>Wheel A makes 250 revolutions to cover a certain distance. Wheel B whose radius compared to Wheel A is in the ratio 2 : 1. How many revolutions does Wheel B make to cover the same distance?</div>
			</div>
		</div>
		<br>	
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">Answer: &nbsp; 
				{% if RATEAdvanced_2_answer_correct is defined %}
					<input id="RATEAdvanced_2_answer" value='{{RATEAdvanced_2_answer}}' readonly style="width:40px;background-color:#DFDFDF;"> revolutions
				{% else %}
					<input id="RATEAdvanced_2_answer" value='{{RATEAdvanced_2_answer}}' style="width:40px;" > revolutions
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if RATEAdvanced_2_answer_correct is defined %}
					{% if RATEAdvanced_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATEAdvanced_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		
		{% if RATEAdvanced_1_1_answer_correct is defined %}
			<div style="margin-top:30px;margin-left:340px;"><button id="RATEAdvanced_1_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="RATEAdvanced_1_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>
<script>
	$("#RATEAdvanced_1_1_answer").change(function()
	{
		question_id = "RATEAdvanced_1";
		question_type = "Rate"
		answer_id = "RATEAdvanced_1_1_answer";
		entered_answer = $("#RATEAdvanced_1_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATEAdvanced_1_2_answer").change(function()
			{
				question_id = "RATEAdvanced_1";
				question_type = "Rate"
				answer_id = "RATEAdvanced_1_2_answer";
				entered_answer = $("#RATEAdvanced_1_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#RATEAdvanced_2_answer").change(function()
			{
				question_id = "RATEAdvanced_2";
				question_type = "Rate"
				answer_id = "RATEAdvanced_2_answer";
				entered_answer = $("#RATEAdvanced_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	
	$("#RATEAdvanced_1_Submit").button({label:"Check Answers"});
	$("#RATEAdvanced_1_Retry").button({label:"Retry"});
	$("#RATEAdvanced_1_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "Rate"
		//getting question id, answer id and entered answer in form of a string
		var answers = "RATEAdvanced_1"+"#%$"+"RATEAdvanced_1_1_answer"+"#%$"+$("#RATEAdvanced_1_1_answer").val();
		answers = answers + "#%$"+"RATEAdvanced_1"+"#%$"+"RATEAdvanced_1_2_answer"+"#%$"+$("#RATEAdvanced_1_2_answer").val();
		answers = answers + "#%$"+"RATEAdvanced_2"+"#%$"+"RATEAdvanced_2_answer"+"#%$"+$("#RATEAdvanced_2_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#RATEAdvanced_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "RATEAdvanced_1_1_answer,RATEAdvanced_1_2_answer,";
		answer_ids = answer_ids + "RATEAdvanced_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


