<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;"><font class="grade7SubTopicName">4.1.2 Ratios Involving Rational Numbers</font></div>
		<div style="margin-top:20px;">In the previous examples, the terms of the ratios were integers. Ratio can also be used to compare rational numbers as explained in the examples below.</div>
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 3:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">Simply the following:</div>
		<br>
		<div style="margin-top:10px;margin-left:20px;">a) 2.5 : 5.5</div>
		<div style="margin-top:10px;margin-left:20px;">b) 0.18 : 0.204</div>
		<div style="display:inline-block;vertical-align:top;margin-left:20px;margin-top:10px;">c) </div>
		<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:0px;">
			<p style="line-height:20%;text-align:center;">4<br>__<br></p>
			<p style="line-height:20%;text-align:center;">5<br></p>
		</div>
		<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">: 1</div>		
		<br>
		<div style="display:inline-block;vertical-align:top;margin-left:20px;margin-top:0px;">d) 1</div>
		<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-12px;">
			<p style="line-height:20%;text-align:center;">3<br>__<br></p>
			<p style="line-height:20%;text-align:center;">5<br></p>
		</div>
		<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:0px;">: &nbsp;2</div>	
		<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-12px;">
			<p style="line-height:20%;text-align:center;">4<br>__<br></p>
			<p style="line-height:20%;text-align:center;">5<br></p>
		</div>	
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 3:</font></div>
		<div style="margin-top:10px;margin-left:20px;">
			<div style="display:inline-block;width:15px;">a)</div>
			<div style="display:inline-block;width:380px;vertical-align:top;">
				<div>2.5 : 5.5</div>
				<div>= 2.5 &times; 10 : 5.5 &times; 10	<font style="color:green;font-size:0.8em;">(Multiply by 10 to convert to integer)</font></div>
				<div>= 25 : 55</div>
				<div>= 25 &divide; 5 : 55 &divide; 5 <font style="color:green;font-size:0.8em;">(Divide by HCF of 25 and 55 i.e. 5)</font></div>
				<div>= 5 : 11</div>
			</div>
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

