<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:15px;">
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:5px;">&there4; Fraction of boys in the class =</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
				<p style="line-height:20%;text-align:center;">3<br>__<br></p>
				<p style="line-height:20%;text-align:center;">5<br></p>
			</div>						
		</div>
		<div style="margin-top:10px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 2:</font></div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">A fruit basket contains 5 pears, 2 plums and 3 peaches.</div>
		<div>
			<p>Ratio of the number of pears to the number of plums = 5:2</p>
			<p>Ratio of the number of plums to the number of peaches = 2:3</p>
			<p>Ratio of the number of pears to the number of peaches = 5:3</p>
			<p>All the ratios above compare one part to another. They are called <strong>Part to Part</strong> ratios.</p>
			<p>Consider the ratios below:</p>
			<p>Ratio of the number of pears to the total number of fruits</p>
			<div style="margin-left:30px;margin-top:-15px;">= 5:10 or 1:2</div>
			<p>Ratio of the number of plums to the total number of fruits</p> 
			<div style="margin-left:30px;margin-top:-15px;">= 2:10 or 1:5</div>
			<p>Ratio of the number of peaches to the total number of fruits</p> 
			<div style="margin-left:30px;margin-top:-15px;">= 3:10</div>
			<p>The ratios above where a part is compared to the whole lot are called <strong>Part to Whole</strong> ratios.</p>
					
		</div>		
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

