<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
	<div class="grade7TopicName" style="margin-top:10px;">4.1 Ratio</div>
	<div class="grade7PageMargin">
		<div style="margin-top:20px;"><font class="grade7SubTopicName">4.1.1 Review</font></div>
		<div style="margin-top:20px;">We have studied in lower grades that a ratio compares two quantities. </div>
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 1:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">In a class of 150 students, 90 are boys.</div>
		<br>
		<div style="margin-top:10px;width:90px;display:inline-block;text-align:right;">a)&nbsp;</div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">What is the relation between the number of girls and the number of boys?</div>	
		<br>
		<div style="text-align:center;margin-top:15px;"><img src="/images/Grade7/G7_RRP_Ratio_Eg_1.png"></div>
		<div style="margin-top:15px;">
			<div>In terms of <strong>ratio</strong>, we say,</div> 
			<div style="margin-top:10px;margin-left:40px;">The number of girls to the number of boys is 2:3.</div>
			<div style="margin-top:10px;">In terms of <strong>fraction</strong>, we say,</div>
			<div style="display:inline-block;vertical-align:top;margin-left:40px;margin-top:10px;">The number of girls is</div>
			<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">2<br>__<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">of the number of boys.</div>
			
		</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

