<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 9: (contd.)</font></div>
		<div style="margin-top:10px;margin-left:20px;">
			<div style="display:inline-block;width:15px;margin-top:0px;">b)</div>
			<div style="display:inline-block;width:380px;vertical-align:top;">
				<div>0.6 : 3 : 1.2</div>
				<div style="margin-top:10px;">= (0.6 &times; 10) : (3 &times; 10) : (1.2 &times; 10)</div>
				<div><font style="color:green;font-size:0.8em;">(Multiply by 10 to convert the quantities to integers)</font></div>
				<div style="margin-top:10px;">= 6 : 30 : 12</div>
				<div style="margin-top:10px;">= (6 &divide; 6) : (30 &divide; 6) : (12  &divide; 6) <font style="color:green;font-size:0.8em;"> (HCF of 6, 30 and 12 is 6)</font></div>
				<div style="margin-top:10px;">= 1 : 5 : 2</div>
			</div>
		</div>
		<div style="margin-top:30px;width:100px;display:inline-block;margin-left:-10px;"><font class="grade7ExampleNumber">Example 10:</font></div>
		<div style="margin-top:30px;display:inline-block;width:320px;vertical-align:top;">If <font class="grade7Variables">a</font> : <font class="grade7Variables">b</font> = 3 : 4 and <font class="grade7Variables">b</font> : <font class="grade7Variables">c</font> = 5 : 6, find <font class="grade7Variables">a : b : c</font>.</div>
		<br>
		<div style="margin-top:10px;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 10:</font></div>
			<div style="margin-top:10px;margin-left:20px;">
				<div>Note that <font class="grade7Variables">b</font> is common to the two given ratios. However, the values of <font class="grade7Variables">b</font> are different in the two ratios. If we combine the two ratios <font class="grade7Variables">a : b</font> and <font class="grade7Variables">b : c</font> into a single ratio <font class="grade7Variables">a : b : c</font>, we can have only one value for <font class="grade7Variables">b</font>. To achieve this, we convert each of the two given ratios to its equivalent ratio such that the value of <font class="grade7Variables">b</font> is the same in the two ratios. This is obtained by finding the LCM of the 2 original values of <font class="grade7Variables">b</font>.</div>
			</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

