<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Easy</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Simplify the following ratios to their integer values:
			</div>
		</div>
		<div style="margin-left:40px;margin-top:20px;">
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">a) 2</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;">2<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">: 4</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;">2<br></p>
			</div>					
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;"> =
				{% if RATIOEasy_1_1_a_answer_correct is defined or RATIOEasy_1_1_b_answer_correct is defined%}
					<input id="RATIOEasy_1_1_a_answer" value='{{RATIOEasy_1_1_a_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> 
					:
					<input id="RATIOEasy_1_1_b_answer" value='{{RATIOEasy_1_1_b_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
				{% else %}
					<input id="RATIOEasy_1_1_a_answer" value='{{RATIOEasy_1_1_a_answer}}' style="width:30px;" > 
					:
					<input id="RATIOEasy_1_1_b_answer" value='{{RATIOEasy_1_1_b_answer}}' style="width:30px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if RATIOEasy_1_1_a_answer_correct is defined or RATIOEasy_1_1_b_answer_correct is defined%}
					{% if RATIOEasy_1_1_a_answer_correct and RATIOEasy_1_1_b_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATIOEasy_1_1_a_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:20px;">b) 0.750 : 0.325 : 0.575
			=
			{% if RATIOEasy_1_2_a_answer_correct is defined or RATIOEasy_1_2_b_answer_correct is defined or RATIOEasy_1_2_c_answer_correct is defined %}
				<input id="RATIOEasy_1_2_a_answer" value='{{RATIOEasy_1_2_a_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> 
				:
				<input id="RATIOEasy_1_2_b_answer" value='{{RATIOEasy_1_2_b_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
				:
				<input id="RATIOEasy_1_2_c_answer" value='{{RATIOEasy_1_2_c_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
				{% if RATIOEasy_1_2_a_answer_correct and RATIOEasy_1_2_b_answer_correct and RATIOEasy_1_2_c_answer_correct%}
					<img src="/images/g7_correct.png">
				{% else %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{RATIOEasy_1_2_a_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="RATIOEasy_1_2_a_answer" value='{{RATIOEasy_1_2_a_answer}}' style="width:30px;" > 
				:
				<input id="RATIOEasy_1_2_b_answer" value='{{RATIOEasy_1_2_b_answer}}' style="width:30px;" >
				:
				<input id="RATIOEasy_1_2_c_answer" value='{{RATIOEasy_1_2_c_answer}}' style="width:30px;" >
			{% endif %}	
		</div>
		<div style="margin-left:40px;margin-top:20px;">
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">c) 56 : 2</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>				
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;"> =
				{% if RATIOEasy_1_3_a_answer_correct is defined or RATIOEasy_1_3_b_answer_correct is defined%}
					<input id="RATIOEasy_1_3_a_answer" value='{{RATIOEasy_1_3_a_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> 
					:
					<input id="RATIOEasy_1_3_b_answer" value='{{RATIOEasy_1_3_b_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
				{% else %}
					<input id="RATIOEasy_1_3_a_answer" value='{{RATIOEasy_1_3_a_answer}}' style="width:30px;" > 
					:
					<input id="RATIOEasy_1_3_b_answer" value='{{RATIOEasy_1_3_b_answer}}' style="width:30px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if RATIOEasy_1_3_a_answer_correct is defined or RATIOEasy_1_3_b_answer_correct is defined%}
					{% if RATIOEasy_1_3_a_answer_correct and RATIOEasy_1_3_b_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATIOEasy_1_3_a_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>
		</div>
		<div style="margin-left:40px;margin-top:20px;">
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">d) 4.4 : 5</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;">2<br></p>
			</div>				
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">: 55 =
				{% if RATIOEasy_1_4_a_answer_correct is defined or RATIOEasy_1_4_b_answer_correct is defined or RATIOEasy_1_4_c_answer_correct is defined %}
					<input id="RATIOEasy_1_4_a_answer" value='{{RATIOEasy_1_4_a_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> 
					:
					<input id="RATIOEasy_1_4_b_answer" value='{{RATIOEasy_1_4_b_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
					:
					<input id="RATIOEasy_1_4_c_answer" value='{{RATIOEasy_1_4_c_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
				{% else %}
					<input id="RATIOEasy_1_4_a_answer" value='{{RATIOEasy_1_4_a_answer}}' style="width:30px;" > 
					:
					<input id="RATIOEasy_1_4_b_answer" value='{{RATIOEasy_1_4_b_answer}}' style="width:30px;" >
					:
					<input id="RATIOEasy_1_4_c_answer" value='{{RATIOEasy_1_4_c_answer}}' style="width:30px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if RATIOEasy_1_4_a_answer_correct is defined or RATIOEasy_1_4_b_answer_correct is defined or RATIOEasy_1_4_c_answer_correct is defined %}
					{% if RATIOEasy_1_4_a_answer_correct and RATIOEasy_1_4_b_answer_correct and RATIOEasy_1_4_c_answer_correct%}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATIOEasy_1_4_a_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>

		</div>
		<div style="margin-left:40px;margin-top:20px;">e) 0.75 : 1 : 2.5
			=
			{% if RATIOEasy_1_5_a_answer_correct is defined or RATIOEasy_1_5_b_answer_correct is defined or RATIOEasy_1_5_c_answer_correct is defined %}
				<input id="RATIOEasy_1_5_a_answer" value='{{RATIOEasy_1_5_a_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> 
				:
				<input id="RATIOEasy_1_5_b_answer" value='{{RATIOEasy_1_5_b_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
				:
				<input id="RATIOEasy_1_5_c_answer" value='{{RATIOEasy_1_5_c_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
				{% if RATIOEasy_1_5_a_answer_correct and RATIOEasy_1_5_b_answer_correct and RATIOEasy_1_5_c_answer_correct%}
					<img src="/images/g7_correct.png">
				{% else %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{RATIOEasy_1_5_a_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="RATIOEasy_1_5_a_answer" value='{{RATIOEasy_1_5_a_answer}}' style="width:30px;" > 
				:
				<input id="RATIOEasy_1_5_b_answer" value='{{RATIOEasy_1_5_b_answer}}' style="width:30px;" >
				:
				<input id="RATIOEasy_1_5_c_answer" value='{{RATIOEasy_1_5_c_answer}}' style="width:30px;" >
			{% endif %}	
		</div>
		<div style="margin-left:40px;margin-top:20px;">
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">f)</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;">4<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">:</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">:</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;">5<br></p>
			</div>										
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">=
				{% if RATIOEasy_1_6_a_answer_correct is defined or RATIOEasy_1_6_b_answer_correct is defined or RATIOEasy_1_6_c_answer_correct is defined %}
					<input id="RATIOEasy_1_6_a_answer" value='{{RATIOEasy_1_6_a_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> 
					:
					<input id="RATIOEasy_1_6_b_answer" value='{{RATIOEasy_1_6_b_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
					:
					<input id="RATIOEasy_1_6_c_answer" value='{{RATIOEasy_1_6_c_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
				{% else %}
					<input id="RATIOEasy_1_6_a_answer" value='{{RATIOEasy_1_6_a_answer}}' style="width:30px;" > 
					:
					<input id="RATIOEasy_1_6_b_answer" value='{{RATIOEasy_1_6_b_answer}}' style="width:30px;" >
					:
					<input id="RATIOEasy_1_6_c_answer" value='{{RATIOEasy_1_6_c_answer}}' style="width:30px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if RATIOEasy_1_6_a_answer_correct is defined or RATIOEasy_1_6_b_answer_correct is defined or RATIOEasy_1_6_c_answer_correct is defined %}
					{% if RATIOEasy_1_6_a_answer_correct and RATIOEasy_1_6_b_answer_correct and RATIOEasy_1_6_c_answer_correct%}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATIOEasy_1_6_a_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>
		</div>
		
		
		{% if RATIOEasy_1_1_a_answer_correct is defined %}
			<div style="margin-top:-10px;margin-left:340px;"><button id="RATIOEasy_1_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:0px;margin-left:280px;"><button id="RATIOEasy_1_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>
<script>
	$("#RATIOEasy_1_1_a_answer").change(function()
	{
		question_id = "RATIOEasy_1";
		question_type = "Ratio"
		answer_id = "RATIOEasy_1_1_a_answer";
		entered_answer = $("#RATIOEasy_1_1_a_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATIOEasy_1_1_b_answer").change(function()
	{
		question_id = "RATIOEasy_1";
		question_type = "Ratio"
		answer_id = "RATIOEasy_1_1_b_answer";
		entered_answer = $("#RATIOEasy_1_1_b_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATIOEasy_1_2_a_answer").change(function()
	{
		question_id = "RATIOEasy_1";
		question_type = "Ratio"
		answer_id = "RATIOEasy_1_2_a_answer";
		entered_answer = $("#RATIOEasy_1_2_a_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATIOEasy_1_2_b_answer").change(function()
	{
		question_id = "RATIOEasy_1";
		question_type = "Ratio"
		answer_id = "RATIOEasy_1_2_b_answer";
		entered_answer = $("#RATIOEasy_1_2_b_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATIOEasy_1_2_c_answer").change(function()
	{
		question_id = "RATIOEasy_1";
		question_type = "Ratio"
		answer_id = "RATIOEasy_1_2_c_answer";
		entered_answer = $("#RATIOEasy_1_2_c_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});	
	$("#RATIOEasy_1_3_a_answer").change(function()
	{
		question_id = "RATIOEasy_1";
		question_type = "Ratio"
		answer_id = "RATIOEasy_1_3_a_answer";
		entered_answer = $("#RATIOEasy_1_3_a_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATIOEasy_1_3_b_answer").change(function()
	{
		question_id = "RATIOEasy_1";
		question_type = "Ratio"
		answer_id = "RATIOEasy_1_3_b_answer";
		entered_answer = $("#RATIOEasy_1_3_b_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATIOEasy_1_4_a_answer").change(function()
			{
				question_id = "RATIOEasy_1";
				question_type = "Ratio"
				answer_id = "RATIOEasy_1_4_a_answer";
				entered_answer = $("#RATIOEasy_1_4_a_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
			$("#RATIOEasy_1_4_b_answer").change(function()
			{
				question_id = "RATIOEasy_1";
				question_type = "Ratio"
				answer_id = "RATIOEasy_1_4_b_answer";
				entered_answer = $("#RATIOEasy_1_4_b_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
			$("#RATIOEasy_1_4_c_answer").change(function()
			{
				question_id = "RATIOEasy_1";
				question_type = "Ratio"
				answer_id = "RATIOEasy_1_4_c_answer";
				entered_answer = $("#RATIOEasy_1_4_c_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});	
	$("#RATIOEasy_1_5_a_answer").change(function()
			{
				question_id = "RATIOEasy_1";
				question_type = "Ratio"
				answer_id = "RATIOEasy_1_5_a_answer";
				entered_answer = $("#RATIOEasy_1_5_a_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
			$("#RATIOEasy_1_5_b_answer").change(function()
			{
				question_id = "RATIOEasy_1";
				question_type = "Ratio"
				answer_id = "RATIOEasy_1_5_b_answer";
				entered_answer = $("#RATIOEasy_1_5_b_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
			$("#RATIOEasy_1_5_c_answer").change(function()
			{
				question_id = "RATIOEasy_1";
				question_type = "Ratio"
				answer_id = "RATIOEasy_1_5_c_answer";
				entered_answer = $("#RATIOEasy_1_5_c_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});	
	$("#RATIOEasy_1_6_a_answer").change(function()
			{
				question_id = "RATIOEasy_1";
				question_type = "Ratio"
				answer_id = "RATIOEasy_1_6_a_answer";
				entered_answer = $("#RATIOEasy_1_6_a_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
			$("#RATIOEasy_1_6_b_answer").change(function()
			{
				question_id = "RATIOEasy_1";
				question_type = "Ratio"
				answer_id = "RATIOEasy_1_6_b_answer";
				entered_answer = $("#RATIOEasy_1_6_b_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
			$("#RATIOEasy_1_6_c_answer").change(function()
			{
				question_id = "RATIOEasy_1";
				question_type = "Ratio"
				answer_id = "RATIOEasy_1_6_c_answer";
				entered_answer = $("#RATIOEasy_1_6_c_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});	

					
	$("#RATIOEasy_1_Submit").button({label:"Check Answers"});
	$("#RATIOEasy_1_Retry").button({label:"Retry"});
	$("#RATIOEasy_1_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "Ratio"
		//getting question id, answer id and entered answer in form of a string
		var answers = "RATIOEasy_1"+"#%$"+"RATIOEasy_1_1_a_answer"+"#%$"+$("#RATIOEasy_1_1_a_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_1_b_answer"+"#%$"+$("#RATIOEasy_1_1_b_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_2_a_answer"+"#%$"+$("#RATIOEasy_1_2_a_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_2_b_answer"+"#%$"+$("#RATIOEasy_1_2_b_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_2_c_answer"+"#%$"+$("#RATIOEasy_1_2_c_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_3_a_answer"+"#%$"+$("#RATIOEasy_1_3_a_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_3_b_answer"+"#%$"+$("#RATIOEasy_1_3_b_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_4_a_answer"+"#%$"+$("#RATIOEasy_1_4_a_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_4_b_answer"+"#%$"+$("#RATIOEasy_1_4_b_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_4_c_answer"+"#%$"+$("#RATIOEasy_1_4_c_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_5_a_answer"+"#%$"+$("#RATIOEasy_1_5_a_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_5_b_answer"+"#%$"+$("#RATIOEasy_1_5_b_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_5_c_answer"+"#%$"+$("#RATIOEasy_1_5_c_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_6_a_answer"+"#%$"+$("#RATIOEasy_1_6_a_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_6_b_answer"+"#%$"+$("#RATIOEasy_1_6_b_answer").val();
		answers = answers + "#%$"+"RATIOEasy_1"+"#%$"+"RATIOEasy_1_6_c_answer"+"#%$"+$("#RATIOEasy_1_6_c_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#RATIOEasy_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "RATIOEasy_1_1_a_answer,RATIOEasy_1_1_b_answer,";
		answer_ids = answer_ids + "RATIOEasy_1_2_a_answer,RATIOEasy_1_2_b_answer,RATIOEasy_1_2_c_answer,";
		answer_ids = answer_ids + "RATIOEasy_1_3_a_answer,RATIOEasy_1_3_b_answer,";
		answer_ids = answer_ids + "RATIOEasy_1_4_a_answer,RATIOEasy_1_4_b_answer,RATIOEasy_1_4_c_answer,";
		answer_ids = answer_ids + "RATIOEasy_1_5_a_answer,RATIOEasy_1_5_b_answer,RATIOEasy_1_5_c_answer,";
		answer_ids = answer_ids + "RATIOEasy_1_6_a_answer,RATIOEasy_1_6_b_answer,RATIOEasy_1_6_c_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


