<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 5:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">A mother and her son go for an evening walk. While the mother jogs at a uniform speed of 24 km/h, the son walks at a uniform speed of 4 m/s. What is the ratio of the speed of mother to that of the son?</div>
		<div style="margin-top:10px;display:inline-block;width:90px;vertical-align:top;"><font class="grade7ExampleSolution">Solution 5:</font></div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">
			<div style="display:inline-block;width:110px;">Mother's speed</div>
			<div style="display:inline-block;">= 24 km/h</div>
			<br>
			<div style="display:inline-block;width:110px;margin-top:10px;"></div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">= 24 &times; </div>
			<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:-2px;">
				<p style="line-height:20%;text-align:center;">5<br>___<br></p>
				<p style="line-height:20%;text-align:center;">18<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">m/s</div>
			<br>
			<div style="display:inline-block;width:110px;margin-top:10px;"></div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">= </div>
			<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:-2px;">
				<p style="line-height:20%;text-align:center;">20<br>___<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">m/s</div>
			<br>
			<div style="margin-top:10px;">Son's speed = 4 m/s</div>
			<div style="margin-top:10px;">Ratio of the speed of mother to that of son </div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">= </div>
			<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:-2px;">
				<p style="line-height:20%;text-align:center;">20<br>___<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">: 4</div>
			<div>= 5 : 3</div>
		</div>
		<div class="grade7YellowSideBox" style="margin-top:20px;margin-left:40px;">
			<strong>As a rule,</strong>
			<ul>
				<li>The unit of measurement of the quantities being compared in a ratio must be same.</li>
			</ul>
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

