<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
	{% if current_user -%}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Alysha, Betty and Cindy work at a ballet academy. They get paid at a rate of $100 an hour. Every week, Alysha works for 6 hours, Betty works for 18 hours and Cindy works for 10 hours. Find
			</div>
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;width:15px;">a)</div>
			<div style="display:inline-block;vertical-align:top;width:390px;">The simplified ratio of their weekly pays of Alysha to Betty to Cindy.</div>		
			<div style="display:inline-block;vertical-align:top;margin-left:40px;margin-top:10px;">Required ratio = 
				{% if RATIOMedium_4_1_a_answer_correct is defined or RATIOMedium_4_1_b_answer_correct is defined or RATIOMedium_4_1_c_answer_correct is defined %}
					<input id="RATIOMedium_4_1_a_answer" value='{{RATIOMedium_4_1_a_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> 
					:
					<input id="RATIOMedium_4_1_b_answer" value='{{RATIOMedium_4_1_b_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
					:
					<input id="RATIOMedium_4_1_c_answer" value='{{RATIOMedium_4_1_c_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
				{% else %}
					<input id="RATIOMedium_4_1_a_answer" value='{{RATIOMedium_4_1_a_answer}}' style="width:30px;" > 
					:
					<input id="RATIOMedium_4_1_b_answer" value='{{RATIOMedium_4_1_b_answer}}' style="width:30px;" >
					:
					<input id="RATIOMedium_4_1_c_answer" value='{{RATIOMedium_4_1_c_answer}}' style="width:30px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:10px;">
				{% if RATIOMedium_4_1_a_answer_correct is defined or RATIOMedium_4_1_b_answer_correct is defined or RATIOMedium_4_1_c_answer_correct is defined %}
					{% if RATIOMedium_4_1_a_answer_correct and RATIOMedium_4_1_b_answer_correct and RATIOMedium_4_1_c_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATIOMedium_4_1_a_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>
			<br>
			<div style="display:inline-block;vertical-align:top;width:15px;margin-top:10px;">b)</div>
			<div style="display:inline-block;vertical-align:top;width:390px;margin-top:10px;">The ratio of the weekly pays of Cindy to Betty.</div>		
			<div style="display:inline-block;vertical-align:top;margin-left:40px;margin-top:10px;">Required ratio = 
				{% if RATIOMedium_4_2_a_answer_correct is defined or RATIOMedium_4_2_b_answer_correct is defined%}
					<input id="RATIOMedium_4_2_a_answer" value='{{RATIOMedium_4_2_a_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> 
					:
					<input id="RATIOMedium_4_2_b_answer" value='{{RATIOMedium_4_2_b_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
				{% else %}
					<input id="RATIOMedium_4_2_a_answer" value='{{RATIOMedium_4_2_a_answer}}' style="width:30px;" > 
					:
					<input id="RATIOMedium_4_2_b_answer" value='{{RATIOMedium_4_2_b_answer}}' style="width:30px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:10px;">
				{% if RATIOMedium_4_2_a_answer_correct is defined or RATIOMedium_4_2_b_answer_correct is defined%}
					{% if RATIOMedium_4_2_a_answer_correct and RATIOMedium_4_2_b_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATIOMedium_4_2_a_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>					
		</div>
		<div style="margin-left:20px;margin-top:10px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">5)</font></div>
		<div style="margin-top:10px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">In an alloy, aluminium (Al) and zinc (Zn) are mixed in the ratio of 5 : 8.
			</div>
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div>a)	If the mass of Al is 50.1 kg, what is the mass of Zn?</div>		
			<div style="display:inline-block;vertical-align:top;margin-left:40px;margin-top:10px;">Answer =  
				{% if RATIOMedium_5_1_answer_correct is defined %}
					<input id="RATIOMedium_5_1_answer" value='{{RATIOMedium_5_1_answer}}' readonly style="width:40px;background-color:#DFDFDF;"> kg
				{% else %}
					<input id="RATIOMedium_5_1_answer" value='{{RATIOMedium_5_1_answer}}' style="width:40px;" > kg
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:10px;">
				{% if RATIOMedium_5_1_answer_correct is defined %}
					{% if RATIOMedium_5_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATIOMedium_5_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>
			<br>
			<div style="margin-top:10px;display:inline-block;width:15px;vertical-align:top;">b)</div>
			<div style="margin-top:10px;display:inline-block;width:390px;">If the mass of the alloy is 65 g, what are the masses of Al and Zn?</div>		
			<div style="display:inline-block;vertical-align:top;margin-left:40px;margin-top:10px;">Al =  
				{% if RATIOMedium_5_2_answer_correct is defined %}
					<input id="RATIOMedium_5_2_answer" value='{{RATIOMedium_5_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> g
				{% else %}
					<input id="RATIOMedium_5_2_answer" value='{{RATIOMedium_5_2_answer}}' style="width:30px;" > g
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:10px;">
				{% if RATIOMedium_5_2_answer_correct is defined %}
					{% if RATIOMedium_5_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATIOMedium_5_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>
			<br>
			<div style="display:inline-block;vertical-align:top;margin-left:40px;margin-top:10px;">Zn =  
				{% if RATIOMedium_5_3_answer_correct is defined %}
					<input id="RATIOMedium_5_3_answer" value='{{RATIOMedium_5_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> g
				{% else %}
					<input id="RATIOMedium_5_3_answer" value='{{RATIOMedium_5_3_answer}}' style="width:30px;" > g
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:10px;">
				{% if RATIOMedium_5_3_answer_correct is defined %}
					{% if RATIOMedium_5_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RATIOMedium_5_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		
		{% if RATIOMedium_4_1_a_answer_correct is defined %}
			<div style="margin-top:-50px;margin-left:340px;"><button id="RATIOMedium_3_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:-20px;margin-left:300px;"><button id="RATIOMedium_3_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>
	{% else %}
		<div style="margin-left:30px;margin-top:40px;"><a href="/SignIn?continue=%2FSecondary-1-Grade-7-Mathematics?pageName=Ratio-Medium-Questions-1"><img src="/images/g7_lock.png"></a></div>
		<div style="margin-top:20px;text-align:center;">Or learn the next topic..</div>
		<div style="margin-top:20px;text-align:center;"><a href="javascript:Grade7BookPageLoadByName('Addition-of-Integers-2')">Addition and Subtraction of Integers</a></div>
	{% endif %}	
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>
<script>
	$("#RATIOMedium_4_1_a_answer").change(function()
	{
		question_id = "RATIOMedium_4";
		question_type = "Ratio"
		answer_id = "RATIOMedium_4_1_a_answer";
		entered_answer = $("#RATIOMedium_4_1_a_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATIOMedium_4_1_b_answer").change(function()
	{
		question_id = "RATIOMedium_4";
		question_type = "Ratio"
		answer_id = "RATIOMedium_4_1_b_answer";
		entered_answer = $("#RATIOMedium_4_1_b_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATIOMedium_4_1_c_answer").change(function()
		{
			question_id = "RATIOMedium_4";
			question_type = "Ratio"
			answer_id = "RATIOMedium_4_1_c_answer";
			entered_answer = $("#RATIOMedium_4_1_c_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});	
	$("#RATIOMedium_4_2_a_answer").change(function()
	{
		question_id = "RATIOMedium_4";
		question_type = "Ratio"
		answer_id = "RATIOMedium_4_2_a_answer";
		entered_answer = $("#RATIOMedium_4_2_a_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATIOMedium_4_2_b_answer").change(function()
	{
		question_id = "RATIOMedium_4";
		question_type = "Ratio"
		answer_id = "RATIOMedium_4_2_b_answer";
		entered_answer = $("#RATIOMedium_4_2_b_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATIOMedium_5_1_answer").change(function()
	{
		question_id = "RATIOMedium_5";
		question_type = "Ratio"
		answer_id = "RATIOMedium_5_1_answer";
		entered_answer = $("#RATIOMedium_5_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATIOMedium_5_2_answer").change(function()
	{
		question_id = "RATIOMedium_5";
		question_type = "Ratio"
		answer_id = "RATIOMedium_5_2_answer";
		entered_answer = $("#RATIOMedium_5_2_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RATIOMedium_5_3_answer").change(function()
			{
				question_id = "RATIOMedium_5";
				question_type = "Ratio"
				answer_id = "RATIOMedium_5_3_answer";
				entered_answer = $("#RATIOMedium_5_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

					
	$("#RATIOMedium_3_Submit").button({label:"Check Answers"});
	$("#RATIOMedium_3_Retry").button({label:"Retry"});
	$("#RATIOMedium_3_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "Ratio"
		//getting question id, answer id and entered answer in form of a string
		var answers = "RATIOMedium_4"+"#%$"+"RATIOMedium_4_1_a_answer"+"#%$"+$("#RATIOMedium_4_1_a_answer").val();
		answers = answers + "#%$"+"RATIOMedium_4"+"#%$"+"RATIOMedium_4_1_b_answer"+"#%$"+$("#RATIOMedium_4_1_b_answer").val();
		answers = answers + "#%$"+"RATIOMedium_4"+"#%$"+"RATIOMedium_4_1_c_answer"+"#%$"+$("#RATIOMedium_4_1_c_answer").val();
		answers = answers + "#%$"+"RATIOMedium_4"+"#%$"+"RATIOMedium_4_2_a_answer"+"#%$"+$("#RATIOMedium_4_2_a_answer").val();
		answers = answers + "#%$"+"RATIOMedium_4"+"#%$"+"RATIOMedium_4_2_b_answer"+"#%$"+$("#RATIOMedium_4_2_b_answer").val();
		answers = answers + "#%$"+"RATIOMedium_5"+"#%$"+"RATIOMedium_5_1_answer"+"#%$"+$("#RATIOMedium_5_1_answer").val();
		answers = answers + "#%$"+"RATIOMedium_5"+"#%$"+"RATIOMedium_5_2_answer"+"#%$"+$("#RATIOMedium_5_2_answer").val();
		answers = answers + "#%$"+"RATIOMedium_5"+"#%$"+"RATIOMedium_5_3_answer"+"#%$"+$("#RATIOMedium_5_3_answer").val();


		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#RATIOMedium_3_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "RATIOMedium_4_1_a_answer,RATIOMedium_4_1_b_answer,RATIOMedium_4_1_c_answer,";
		answer_ids = answer_ids + "RATIOMedium_4_2_a_answer,RATIOMedium_4_2_b_answer,";
		answer_ids = answer_ids + "RATIOMedium_5_1_answer,RATIOMedium_5_2_answer,RATIOMedium_5_3_answer";

		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


