<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 4:</font></div>
		<div style="margin-top:10px;margin-left:20px;">
			<div>a)	Ratio of typing speed of Sam to that of Frank</div>
			<div style="margin-left:20px;">= 52 : 76</div>
			<div style="margin-left:20px;">= 52 &divide; 4 : 76 &divide; 4 <font style="color:green;font-size:0.8em;">(HCF of 52 and 76 is 4)</font></div>
			<div style="margin-left:20px;">= 13 : 19</div>
			<div style="margin-top:20px;">b) Ratio of typing speed of Frank to that of Sam </div>
			<div style="margin-left:20px;">= 76 : 52</div>
			<div style="margin-left:20px;">= 19 : 13</div>
			<div style="margin-top:20px;">c) 13 : 19 &#8800; 19 :13</div>
			<div style="margin-left:20px;">&there4; The two ratios are not equal.</div>		
		</div>
		<div class="grade7YellowSideBox" style="margin-top:20px;width:200px;margin-left:80px;">
			<strong>As a rule,</strong>
			<ul>
				<li>A ratio has no unit, and</li>
				<li>Generally, a:b &#8800; b:a</li>
			</ul>
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

