<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;margin-left:-10px;"><font class="grade7ExampleSolution">Solution 10: (contd.)</font></div>
		<div style="margin-top:10px;margin-left:20px;">
			<div class="grade7OrangeSideBox">Convert each ratio to an equivalent ratio where the value of b in the final ratio is the LCM of the original values of b.</div>
			<p>LCM of 4 and 5 is 20. Hence, the value of <font class="grade7Variables">b</font> in the ratio <font class="grade7Variables">a : b : c</font> is 20.</p>
			<p><font class="grade7Variables">a : b</font> = 3 &times; 5 : 4 &times; 5 = 15 : 20 </p>
			<p><font class="grade7Variables">b : c</font> = 5 &times; 4 : 6 &times; 4 = 20 : 24</p>
			<p><font class="grade7Variables">a : b : c</font> = 15 : 20 : 24</p>		
		</div>
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 11:</font></div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">Loyola has red, orange and green markers. The ratio of the number of red markers to that of orange markers is 7 : 8. The ratio of the number of orange markers to that of green markers is 3 : 5.</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;text-align:right;">a) &nbsp;</div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">
			What is the ratio of the number of red markers to that of orange markers to that of green markers?
		</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;text-align:right;">b) &nbsp;</div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">
			b)	If she has a total of 425 markers, find the number of each colour of markers.
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

