<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 3: (contd.)</font></div>
		<div style="margin-top:10px;margin-left:20px;">
			<div style="display:inline-block;width:15px;">b)</div>
			<div style="display:inline-block;width:380px;vertical-align:top;">
				<div>0.18 : 0.204</div>
				<div>= 0.18 &times; 1000 : 0.204 &times; 1000 <font style="color:green;font-size:0.8em;">(Convert  to integer)</font></div>
				<div>= 180 : 204</div>
				<div>= 180 &divide; 12 : 204 &divide; 12	<font style="color:green;font-size:0.8em;">(HCF of 180 and 204 is 12)</font></div>
				<div>= 15 : 17</div>
			</div>
		</div>
		<div style="margin-top:10px;margin-left:20px;">
			<div style="display:inline-block;width:15px;">c)</div>
			<div style="display:inline-block;width:380px;vertical-align:top;">
				<div><strong>Method 1</strong></div>
				<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">4<br>__<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">: 1</div>
				<br>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">=</div>
				<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">4<br>__<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:0px;">&times; 5 : 1 &times; 5 <font style="color:green;font-size:0.8em;">(Multiply by 5 to convert to integer)</font></div>
				<div>= 4 : 5</div>
				<div style="margin-top:10px;"><strong>Method 1</strong></div>
				<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">4<br>__<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">: 1</div>
				<div>= 0.8 : 1 <font style="color:green;font-size:0.8em;">(Convert fraction to decimal)</font></div>			
				<div>= 8 : 10 <font style="color:green;font-size:0.8em;">(Multiply by 10 to convert decimal to integer)</font></div>
				<div>= 4 : 5</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;"><strong>Note</strong>: The ratios</div>
				<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:0px;">
					<p style="line-height:20%;text-align:center;">4<br>__<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">: 1, 0.8 : 1, 8 : 10 and 4 : 5 are</div>
				<div style="margin-top:-5px;">called <strong>equivalent ratios</strong> since they all can be simplified to 4 : 5.</div>
			</div>
		</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

