<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:15px;">
			<div>Both ratio and fraction tell us that,</div> 
			<div style="margin-top:10px;margin-left:40px;">For every 2 girls in the class, there are 3 boys.</div>		
		</div>
		<div class="grade7OrangeSideBox" style="margin-top:10px;">
			<strong>Do Note:</strong> 
			<div style="margin-top:10px;">In the ratio 2:3 (Read as '2 is to 3'), the first term (2) is called <strong>ANTECEDENT</strong> and the second term (3) is called <strong>CONSEQUENT</strong>. Note that 2 + 3 = 5 which is the <strong>WHOLE AMOUNT</strong>. So, 2 is one part of 5 </div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:5px;">(</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-5px;">
				<p style="line-height:20%;text-align:center;">2<br>__<br></p>
				<p style="line-height:20%;text-align:center;">5<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:5px;">) and 3 is another part of 5 (</div>			
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-5px;">
				<p style="line-height:20%;text-align:center;">3<br>__<br></p>
				<p style="line-height:20%;text-align:center;">5<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:5px;">).</div>
		</div>
		<div style="margin-top:10px;display:inline-block;text-align:right;">b)&nbsp;</div>
		<div style="margin-top:10px;display:inline-block;vertical-align:top;">What fraction of students in the class are boys?</div>
		<div style="margin-top:15px;">
			<div>Number of boys = 90</div> 
			<div style="margin-top:10px;">Total number of students = 150</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:5px;">Fraction of boys in class =</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
				<p style="line-height:20%;text-align:center;">90<br>___<br></p>
				<p style="line-height:20%;text-align:center;">150<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:5px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
				<p style="line-height:20%;text-align:center;">3<br>__<br></p>
				<p style="line-height:20%;text-align:center;">5<br></p>
			</div>						
		</div>
		<div style="margin-top:15px;">
			<div><strong>Alternative Method:</strong></div>
			<div style="margin-top:10px;">The ratio of the number of boys to the number of girls = 3:2</div>
			<div style="margin-top:10px;">The whole amount '5' corresponds to the total number of students in the class i.e. 150.</div>
		
		</div>
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

