<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 3: (contd.)</font></div>
		<div style="margin-top:10px;margin-left:20px;">
			<div style="display:inline-block;width:15px;">d)</div>
			<div style="display:inline-block;width:380px;vertical-align:top;">
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">1</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-12px;">
					<p style="line-height:20%;text-align:center;">3<br>__<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:0px;">: &nbsp;2</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-12px;">
					<p style="line-height:20%;text-align:center;">4<br>__<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<br>
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">=</div>
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-12px;">
					<p style="line-height:20%;text-align:center;">8<br>__<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:0px;">:</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-12px;">
					<p style="line-height:20%;text-align:center;">14<br>___<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<br>
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">=</div>
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-12px;">
					<p style="line-height:20%;text-align:center;">8<br>__<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:0px;">&times; 5 :</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-12px;">
					<p style="line-height:20%;text-align:center;">14<br>___<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:0px;">&times; 5 <font style="color:green;font-size:0.8em;">(Multiply by 5 to convert to integer)</font></div>
				<div>= 8 : 14</div>
				<div>= 4 : 7</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;"><strong>Note</strong>: The ratios 1</div>	
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-2px;">
					<p style="line-height:20%;text-align:center;">3<br>__<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:10px;">: 2</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-2px;">
					<p style="line-height:20%;text-align:center;">4<br>__<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">,</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-2px;">
					<p style="line-height:20%;text-align:center;">8<br>__<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">:</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-2px;">
					<p style="line-height:20%;text-align:center;">14<br>___<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">, 8 : 14 and</div>
				<div style="margin-top:-5px;">4 : 7 are equivalent ratios.</div>
			</div>
		</div>
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 4:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">Sam and Frank can type 52 and 76 words per minute, respectively. </div>
		<br>
		<div style="margin-top:10px;margin-left:20px;display:inline-block;width:15px;">a)</div>
		<div style="margin-top:10px;display:inline-block;vertical-align:top;width:380px;">What is the ratio of the typing speed of Sam to that of Frank?</div>
		<br>
		<div style="margin-top:10px;margin-left:20px;display:inline-block;width:15px;">b)</div>
		<div style="margin-top:10px;display:inline-block;vertical-align:top;width:380px;">What is the ratio of the typing speed of Frank to that of Sam?</div>
		<br>
		<div style="margin-top:10px;margin-left:20px;display:inline-block;width:15px;">c)</div>
		<div style="margin-top:10px;display:inline-block;vertical-align:top;width:380px;">Are the two ratios equal? </div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

