<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#79DA4D;">4.1 Ratio</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#79DA4D;margin-left:85%;">4.1 Ratio</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 6:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">Heba and Barney shared a cash prize in the ratio of 5:6. Heba received $225. How much did Barney receive?</div>
		<div style="margin-top:10px;display:inline-block;width:90px;vertical-align:top;"><font class="grade7ExampleSolution">Solution 6:</font></div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">
			<div>Let the share of Barney be $<font class="grade7Variables">x</font>.</div>
			<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:-2px;">
				<p style="line-height:20%;text-align:center;">5<br>___<br></p>
				<p style="line-height:20%;text-align:center;">6<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:-2px;">
				<p style="line-height:20%;text-align:center;">225<br>_____<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">&#8667; <font class="grade7Variables">x</font> = $270</div>
			<div>&there4;  Barney received $270.</div>
		</div>
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 7:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">The ratio of two numbers is 5 : 6. If their sum is equal to 33, find their difference.</div>
		<div style="margin-top:10px;display:inline-block;width:90px;vertical-align:top;"><font class="grade7ExampleSolution">Solution 7:</font></div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">
			<div>Let the two numbers be 5<font class="grade7Variables">x</font> and 6<font class="grade7Variables">x</font>.</div>
			<div>Sum = 11<font class="grade7Variables">x</font></div>
			<div>11<font class="grade7Variables">x</font> = 33</div> 
			<div>Hence, <font class="grade7Variables">x</font> = 3</div>
			<div>Difference = 6x &minus; 5x = x = 3</div>		
		</div>
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 8:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">If <font class="grade7Variables">X</font> : 66 = 15 : 22, find <font class="grade7Variables">X</font>.</div>
		<div style="margin-top:10px;display:inline-block;width:90px;vertical-align:top;"><font class="grade7ExampleSolution">Solution 8:</font></div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">
			<div><font class="grade7Variables">X</font> : 66 = 15 : 22</div>
			<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:-2px;">
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">X</font><br>___<br></p>
				<p style="line-height:20%;text-align:center;">66<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:-2px;">
				<p style="line-height:20%;text-align:center;">15<br>___<br></p>
				<p style="line-height:20%;text-align:center;">22<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">&#8667; <font class="grade7Variables">X</font> =</div>			
			<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:-2px;">
				<p style="line-height:20%;text-align:center;">15<br>___<br></p>
				<p style="line-height:20%;text-align:center;">22<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">&times; 66</div>
			<div>&there4;  <font class="grade7Variables">X</font> = 45</div>							
		</div>				
	</div>
</div>
<div class="{{page_class}}" style="background-color:#79DA4D;color:#fff">{{page_number}}</div>

