<div style="height:480px;">
	<div class="grade7ChapterNumberDiv" style="background-color:#FBB113;">
		<div class="grade7ChapterNumber" style="color:#FFF;">
			Chapter 11
		</div>
	</div>
	<div class="grade7ChapterNameDiv" style="background-color:#F6EA67;">
		<div class="grade7ChapterName" style="width:350px;color:#BB9309;">
			Angles and Parallel Lines
		</div>
	</div>
	<br>
	<div class="grade7LearningOutcomes">Learning Outcomes</div>
	<div class="grade7LearningOutcomesList" style="margin-left:20%;">
		<ul>
			<li><a href="javascript:Grade7BookPageLoadByName('Points-Lines-Planes-1')">Points, Lines and Planes</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('')">Types of Angles</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('')">Properties of Angles</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('')">Parallel Lines and Transversals</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('')">Properties of Perpendicular Bisectors</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('')">Properties of Angle Bisectors</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Topical-Test-1-Angles-Parallel-Lines')">Topical Test</a></li>
		</ul>
	</div>		
</div>
<div class="{{page_class}}" style="background-color:#FBB113;color:#fff">{{page_number}}</div>

