<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#FBB113;">11.1 Points, Lines and Planes</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#FBB113;margin-left:64%;">11.1 Points, Lines and Planes</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;"><font class="grade7SubTopicName">11.1.2 Lines</font></div>
		<p style="margin-left:40px;"><img src="/images/Grade7/G7_APL_PointsLinesPlanes_2.png"></p>
		<div class="grade7BlueSideBox" style="margin-top:30px;"><strong>Characteristics of a line:</strong>
		<div>
			<ol>
				<li>A line, straight or curved, is a collection of infinite number of points.</li>
				<br>
				<li>Has no width and no height.</li>
				<br>
				<li>A straight line can be determined by two points. Example, Points P and Q above determine the straight line PQ or QP.</li>
				<br>
				<li>The two arrowheads indicate that the line can be extended indefinitely in both directions.</li>
			</ol>
		</div>
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#FBB113;color:#fff">{{page_number}}</div>

