<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#FBB113;">11.1 Points, Lines and Planes</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#FBB113;margin-left:64%;">11.1 Points, Lines and Planes</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;"><font class="grade7SubTopicName">11.1.6 Space</font></div>
		<p>Cylinders (cans), spheres (balls), square and triangular prisms are all 3 dimensional geometric figures or <strong>space</strong> figures.</p>
		<p style="margin-left:40px;"><img src="/images/Grade7/G7_APL_PointsLinesPlanes_6.png"></p>
		<div class="grade7YellowSideBox" style="margin-top:40px;"><strong>Characteristics of a Space:</strong>
		<div>
			<ol>
				<li>Space is 3 dimensional: possesses length, width and height.</li>
				<br>
				<li>It extends indefinitely in all directions.</li>
				<br>
				<li>It consists of planes, lines and points.</li>
			</ol>
		</div>
		</div>

	</div>
</div>
<div class="{{page_class}}" style="background-color:#FBB113;color:#fff">{{page_number}}</div>

		