{% extends 'NotesPage.html' %}
{% block title %}
<title>Free PDF Worksheets on how to convert kilometres to metres and meters to kilometres - Home Campus</title>
<meta name="keywords" content="Free Downloadble PDF Worksheets Math Singapore Metre Meter kilometer kilometre Conversion">
<meta name="description" content="Free PDF Worksheets on how to convert kilometres to metres and meters to kilometres with Solution" />
{% endblock %}
{% block content %}
	
<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Math-Worksheets">More Worksheets</a></div>
<h2 class="learn-heading">Kilometers and Metres Conversion</h2>

<!-- Worksheets  -->
<div class="concept-set">
	<div class="concept-set__container">

		<div class="concept-set__question">
			<h4>How to Convert Kilometres to Metres?</h4>
		</div>						
		<div class="concept-set__answer">					
			<div class="col-10 col-off-1">
				<div class="col-10 col-off-1"><a href="/Learn/Primary-Grade-3/KiloMetres-Metres">See solved examples here</a></div>
			</div>				
		</div>
	</div> <!-- End of container -->
</div>

<h3 class="learn-heading" style="color:rgb(4, 50, 255)">Free Downloable and Printable Worksheets with Solution PDF</h3>

<div class="concept-set">		
	<div class="concept-set__container">	

		<!--Worskheet 1 & 2 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(156, 255, 132);">								
				<br>
				<a href="/Download-Worksheets/how-to-convert-kilometers-to-meters-worksheet.pdf"><img src="/Worksheets/images/how-to-convert-kilometers-to-meters-worksheet.png">
				Download and Print Kilometres to Metres Conversion Worksheet - 1<img src="/images/pdf-icon.png"></a>								
			</div>
			<div class="col-4 col-off-1" style="background-color: rgb(95, 255, 243);">
				<br>
				<a href="/Download-Worksheets/kilometre-metre-conversion-worksheet.pdf"><img src="/Worksheets/images/kilometre-metre-conversion-worksheet.png">
				Download and Print Kilometres to Metres Conversion Worksheet - 2<img src="/images/pdf-icon.png"></a>				
			</div>
		</div>
		<!--END of Worskheet 1 & 2 -->

		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Grade_3_Math_Practice/Kilometres_Metres">Unlimited Practice Questions</a></div>
		
		<!--Worskheet 3 & 4 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(235, 255, 110);">								
				<br>
				<a href="/Download-Worksheets/1-kilometer-1000-metre-worksheet.pdf"><img src="/Worksheets/images/1-kilometer-1000-metre-worksheet.png">
				Download and Print Kilometres to Metres Conversion Worksheet - 3<img src="/images/pdf-icon.png"></a>								
			</div>
			<div class="col-4 col-off-1" style="background-color: rgb(255, 148, 102);">
				<br>
				<a href="/Download-Worksheets/singapore-math-kilometer-meter-conversion.pdf"><img src="/Worksheets/images/singapore-math-kilometer-meter-conversion.png">
				Download and Print Kilometres to Metres Conversion Worksheet - 4<img src="/images/pdf-icon.png"></a>				
			</div>
		</div>
		<!--END of Worskheet 3 & 4 -->
		
		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:rgb(27, 215, 38);" href="/Learn/Meter-to-Kilometre-Converter">Convert Meter to Kilometer</a></div>
		
		<!--Worskheet 5 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(243, 169, 255);">								
				<br>
				<a href="/Download-Worksheets/word-problems-kilometer-meter.pdf"><img src="/Worksheets/images/word-problems-kilometer-meter.png">
				Download and Print Kilometres to Metres Conversion Worksheet - 5<img src="/images/pdf-icon.png"></a>								
			</div>
		</div>
		<!--END of Worskheet 5 -->																																
	
	</div> <!-- End of container -->
	
</div> <!-- End of Worksheets -->


{% endblock %}
