{% extends 'NotesPage.html' %}
{% block title %}
<title>Free PDF Worksheets on How to Add Fractions - Home Campus</title>
<meta name="keywords" content="Free Downloadble PDF Worksheets Math Singapore Fractions Numerator Denominator Adding Equivalent Simplifying">
<meta name="description" content="Free PDF Worksheets on How to Add Fractions with Solution" />
{% endblock %}
{% block content %}
	
<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Math-Worksheets">More Worksheets</a></div>
<h2 class="learn-heading">Add Fractions</h2>

<!-- Worksheets  -->
<div class="concept-set">
	<div class="concept-set__container">

		<div class="concept-set__question">
			<h4>How to Add Fractions?</h4>
		</div>
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				<div class="col-10 col-off-1"><a href="/Learn/Primary-Grade-3/Adding-Fractions">Learn here</a></div>
			</div>				
		</div>
	</div> <!-- End of container -->
</div>

<h3 class="learn-heading" style="color:rgb(4, 50, 255)">Free Downloadable and Printable Worksheets with Solution PDF</h3>

<div class="concept-set">
	<div class="concept-set__container">

		<!--Worskheet 1 & 2 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/how-to-add-fractions-worksheets.pdf">
				Download and Print Add Fractions Worksheet - 1<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/how-to-add-fractions-worksheets.png">
				</a>
			</div>
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/grade-3-adding-fractions-free-worksheets.pdf">
				Download and Print Add Fractions Worksheet - 2<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/grade-3-adding-fractions-free-worksheets.png">
				</a>				
			</div>
		</div>
		<!--END of Worskheet 1 & 2 -->

		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Grade_3_Math_Practice/Adding-Fractions">Unlimited Practice Questions</a></div>
		
		<!--Worskheet 3 & 4 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/singapore-math-free-adding-fractions-worksheets.pdf">
				Download and Print Add Fractions Worksheet - 3<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/singapore-math-free-adding-fractions-worksheets.png">
				</a>
			</div>
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/add-fractions-word-problem-story-sum.pdf">
				Download and Print Add Fractions Worksheet - 4<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/add-fractions-word-problem-story-sum.png">
				</a>
			</div>
		</div>
		<!--END of Worskheet 3 & 4 -->
		
		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:rgb(54, 215, 76);" href="/Learn/Add-Fractions-Calculator">Add Fractions Calculator</a></div>	
		
		<!--Worskheet 5 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/add-fraction-equivalent-simplifying-worksheets.pdf">
				Download and Print Add Fractions - 5<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/add-fraction-equivalent-simplifying-worksheets.png">
				</a>
			</div>
		</div>
		<!--END of Worskheet 5 -->
	
	</div> <!-- End of container -->
	
</div> <!-- End of Worksheets -->


{% endblock %}
