{% extends 'NotesPage.html' %}
{% block title %}
<title>Free PDF Worksheets on Circumference of Circle with Solution - Home Campus</title>
<meta name="keywords" content="Free Downloadble PDF Worksheets Math Circumference Diameter Radius Circle Pi Formula">
<meta name="description" content="Free Downloadable Worksheets on Circumference of Circle with Solution" />
{% endblock %}
{% block content %}
	
<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Math-Worksheets">More Worksheets</a></div>
<h2 class="learn-heading">Worksheets on Circumference of Circle</h2>

<!-- Worksheets  -->
<div class="concept-set">
	<div class="concept-set__container">
		<div class="concept-set__question"><h4>What is the formula to calculate circumference of a circle?</h4></div>			
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				Circumference  &nbsp;=&nbsp;  &pi; &times; Diameter <br />
				Or,<br />
				Circumference &nbsp;=&nbsp; &pi; &nbsp;&times;&nbsp; 2 &times; Radius &nbsp;=&nbsp; 2 &nbsp;&times;&nbsp; &pi; &nbsp;&times;&nbsp; Radius<br />

			</div>
			<div class="col-10 col-off-1"><a href="/Learn/Primary-Grade-6/Measurement/Circumference-of-Circle">For detailed explanation refer here</a></div>
			<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:rgb(215, 125, 215);" href="/Learn/Calculator-Circumference-of-Circle-Grade-6-Elementary-Math">Circumference Calculator</a></div>
		</div>
	</div>
</div>
		
<h3 class="learn-heading" style="color:rgb(4, 50, 255)">Free Downloable and Printable Worksheets with Solution PDF</h3>

<div class="concept-set">
	<div class="concept-set__container">

		<!--Worskheet 1 & 2 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(156, 255, 132);">								
				<br>
				<a href="/Download-Worksheets/How-to-Measure-Circumference-of-Circle-Worksheet.pdf"><img src="/Worksheets/images/How-to-Measure-Circumference-of-Circle-Worksheet.png">
				Download and Print Worksheet - 1<img src="/images/pdf-icon.png"></a>								
			</div>
			<div class="col-4 col-off-1" style="background-color: rgb(95, 255, 243);">
				<br>
				<a href="/Download-Worksheets/How-to-Measure-a-Circle.pdf"><img src="/Worksheets/images/How-to-Measure-a-Circle.png">
				Download and Print Worksheet - 2<img src="/images/pdf-icon.png"></a>				
			</div>
		</div>
		<!--END of Worskheet 1 & 2 -->

		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Grade_6_Math_Practice/Measurement_Circle_Circumference">Practice Unlimited Perimeter Questions</a></div>
		
		<!--Worskheet 3 & 4 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(235, 255, 110);">								
				<br>
				<a href="/Download-Worksheets/Circumference-of-Circle-Worksheet.pdf"><img src="/Worksheets/images/Circumference-of-Circle-Worksheet.png">
				Download and Print Worksheet - 3<img src="/images/pdf-icon.png"></a>								
			</div>
			<div class="col-4 col-off-1" style="background-color: rgb(255, 148, 102);">
				<br>
				<a href="/Download-Worksheets/Free-PDF-Worksheet-Circle-Circumference.pdf"><img src="/Worksheets/images/Free-PDF-Worksheet-Circle-Circumference.png">
				Download and Print Worksheet - 4<img src="/images/pdf-icon.png"></a>				
			</div>
		</div>
		<!--END of Worskheet 3 & 4 -->
		
		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:rgb(215, 125, 215);" href="/Learn/Calculator-Circumference-of-Circle-Grade-6-Elementary-Math">Circumference Calculator</a></div>		
		
		<!--Worskheet 5 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(243, 169, 255);">								
				<br>
				<a href="/Download-Worksheets/PI-Circumference-Forumula-Circle-Worksheet.pdf"><img src="/Worksheets/images/PI-Circumference-Forumula-Circle-Worksheet.png">
				Download and Print Worksheet - 5<img src="/images/pdf-icon.png"></a>								
			</div>
		</div>
		<!--END of Worskheet 5 -->
		

	</div> <!-- End of container -->
</div> <!-- End of Worksheets -->


{% endblock %}
