{% extends 'NotesPage.html' %}
{% block title %}
<title>Free PDF Worksheets on Number Notations and Place Value Up To 10000 with Solution - Home Campus</title>
<meta name="keywords" content="Free Downloadble PDF Worksheets Math Number Notation Place Value Up To 10000">
<meta name="description" content="Free PDF Worksheets on Number Notations and Place Value Up To 10000 with Solution" />
{% endblock %}
{% block content %}
	
<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Math-Worksheets">More Worksheets</a></div>
<h2 class="learn-heading">Worksheets on Numbers Up To 10000</h2>

<!-- Worksheets  -->
<div class="concept-set">
	<div class="concept-set__container">

		<div class="concept-set__question">
			<h4>What is a place value of a number?</h4>
		</div>						
		<div class="concept-set__answer">					
			<div class="col-10 col-off-1">
				Every <strong>digit</strong> is assigned a <strong>value</strong> based on the <strong>place</strong> in which it is positioned in the number.<br><br>
				<div class="col-10 col-off-1"><a href="/Learn/Primary-Grade-3/Whole-Numbers/Number-Notations-Place-Values-Up-to-10000">For detailed explanation refer here</a></div>
			</div>				
		</div>
	</div> <!-- End of container -->
</div>

<h3 class="learn-heading" style="color:rgb(4, 50, 255)">Free Downloable and Printable Worksheets with Solution PDF</h3>

<div class="concept-set">
	<div class="concept-set__container">	

		<!--Worskheet 1 & 2 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(156, 255, 132);">								
				<br>
				<a href="/Download-Worksheets/Place-Value-Up-To-10000-Worksheet.pdf"><img src="/Worksheets/images/Place-Value-Up-To-10000-Worksheet.png">
				Download and Print Worksheet - 1<img src="/images/pdf-icon.png"></a>								
			</div>
			<div class="col-4 col-off-1" style="background-color: rgb(95, 255, 243);">
				<br>
				<a href="/Download-Worksheets/Number-Notations-Place-Value-Up-To-10000-Worksheet.pdf"><img src="/Worksheets/images/Number-Notations-Place-Value-Up-To-10000-Worksheet.png">
				Download and Print Worksheet - 2<img src="/images/pdf-icon.png"></a>				
			</div>
		</div>
		<!--END of Worskheet 1 & 2 -->

		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Grade_3_Math_Practice/Whole_Numbers_Number_Notation_Place_Values">Unlimited Practice Questions</a></div>
		
		<!--Worskheet 3 & 4 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(235, 255, 110);">								
				<br>
				<a href="/Download-Worksheets/Numbers-Up-To-10000-Worksheet.pdf"><img src="/Worksheets/images/Numbers-Up-To-10000-Worksheet.png">
				Download and Print Worksheet - 3<img src="/images/pdf-icon.png"></a>								
			</div>
			<div class="col-4 col-off-1" style="background-color: rgb(255, 148, 102);">
				<br>
				<a href="/Download-Worksheets/What-is-the-Value-of-1-in-10000.pdf"><img src="/Worksheets/images/What-is-the-Value-of-1-in-10000.png">
				Download and Print Worksheet - 4<img src="/images/pdf-icon.png"></a>				
			</div>
		</div>
		<!--END of Worskheet 3 & 4 -->
		
		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:rgb(215, 125, 215);" href="/Learn/Calculator-Circumference-of-Circle-Grade-6-Elementary-Math">Circumference Calculator</a></div>		
		
		<!--Worskheet 5 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(243, 169, 255);">								
				<br>
				<a href="/Download-Worksheets/Numbers-to-10000-Worksheet.pdf"><img src="/Worksheets/images/Numbers-to-10000-Worksheet.png">
				Download and Print Worksheet - 5<img src="/images/pdf-icon.png"></a>								
			</div>
		</div>
		<!--END of Worskheet 5 -->
	
	</div> <!-- End of container -->	

</div> <!-- End of Worksheets -->


{% endblock %}
