{% extends 'NotesPage.html' %}
{% block title %}
<title>Free PDF Worksheets on Area in Square Units - Home Campus</title>
<meta name="keywords" content="Free Downloadble PDF Worksheets Math Singapore Area Square units ">
<meta name="description" content="Free PDF Worksheets on Area in Square Units with Solution" />
{% endblock %}
{% block content %}
	
<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Math-Worksheets">More Worksheets</a></div>
<h2 class="learn-heading">Area in Square Units</h2>

<!-- Worksheets  -->
<div class="concept-set">
	<div class="concept-set__container">

		<div class="concept-set__question">
			<h4>What is and Area and What is Square Units?</h4>
		</div>
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				<div class="col-10 col-off-1"><a href="/Learn/Primary-Grade-3/Area-in-Square-Units">Learn here</a></div>
			</div>				
		</div>
	</div> <!-- End of container -->
</div>

<h3 class="learn-heading" style="color:rgb(4, 50, 255)">Free Downloadable and Printable Worksheets with Solution PDF</h3>

<div class="concept-set">
	<div class="concept-set__container">

		<!--Worskheet 1 & 2 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/area-in-square-units-worksheets.pdf">
				Download and Print Area Worksheet - 1<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/area-in-square-units-worksheets.png">
				</a>
			</div>
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/cm-square-meter-square-area-worksheets.pdf">
				Download and Print Area Worksheet - 2<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/cm-square-meter-square-area-worksheets.png">
				</a>				
			</div>
		</div>
		<!--END of Worskheet 1 & 2 -->

		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Grade_3_Math_Practice/Area_in_Square_Units">Unlimited Practice Questions</a></div>
		
		<!--Worskheet 3 & 4 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/grade-3-area-worksheets.pdf">
				Download and Print Area Worksheet - 3<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/grade-3-area-worksheets.png">
				</a>
			</div>
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/introduction-to-area-worksheets.pdf">
				Download and Print Area Worksheet - 4<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/introduction-to-area-worksheets.png">
				</a>
			</div>
		</div>
		<!--END of Worskheet 3 & 4 -->
		
		<!--Worskheet 5 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/singapore-math-grade-3-area-worksheets.pdf">
				Download and Print Area Worksheet - 5<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/singapore-math-grade-3-area-worksheets.png">
				</a>
			</div>
		</div>
		<!--END of Worskheet 5 -->
	
	</div> <!-- End of container -->
	
</div> <!-- End of Worksheets -->


{% endblock %}
