{% extends 'NotesPage.html' %}
{% block title %}
<title>Free Downloadable Worksheets on Perimeter of Squares with Solution - Home Campus</title>
<meta name="keywords" content="Free Downloadble PDF Worksheets Math Perimeter Squares">
<meta name="description" content="Free Downloadable Worksheets on Perimeter of Squares with Solution" />
{% endblock %}
{% block content %}
	
<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Math-Worksheets">More Worksheets</a></div>
<h2 class="learn-heading">Worksheets on Perimeter of Squares</h2>

<!-- Worksheets  -->
<div class="concept-set">
	<div class="concept-set__container">
		<div class="concept-set__question"><h4>Perimeter of a Square</h4></div>			
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				Formula for the perimeter of a Square &nbsp;=&nbsp; 4 &nbsp;&times;&nbsp; Length
			</div>
			<div class="col-10 col-off-1"><a href="/Learn/Primary-Grade-4/Measurement/Area-and-Perimeter-of-Rectangles-and-Squares">For detailed explanation refer here</a></div>
			<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:rgb(215, 125, 215);" href="/Learn/Calculator-Perimeter-Area-Rectangle-Square">Perimeter Calculator</a></div>
		</div>
	</div>
</div>

<h3 class="learn-heading" style="color:rgb(4, 50, 255)">Free Downloable and Printable Worksheets with Solution PDF</h3>

<div class="concept-set">
	<div class="concept-set__container">	

		<!--Worskheet 1 & 2 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(156, 255, 132);">								
				<br>
				<a href="/Download-Worksheets/Perimeter-of-Square-Printable-Worksheet-for-Grade-4.pdf"><img src="/Worksheets/images/Perimeter-of-Square-Printable-Worksheet-for-Grade-4.png">
				Download and Print Worksheet - 1<img src="/images/pdf-icon.png"></a>								
			</div>
			<div class="col-4 col-off-1" style="background-color: rgb(95, 255, 243);">
				<br>
				<a href="/Download-Worksheets/Perimeter-of-Square-Worksheet-With-Solution-for-Grade-4.pdf"><img src="/Worksheets/images/Perimeter-of-Square-Worksheet-With-Solution-for-Grade-4.png">
				Download and Print Worksheet - 2<img src="/images/pdf-icon.png"></a>				
			</div>
		</div>
		<!--END of Worskheet 1 & 2 -->

		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Grade_4_Math_Practice/Perimeter_Rectangle_Squares">Practice Unlimited Perimeter Questions</a></div>
		
		<!--Worskheet 3 & 4 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(235, 255, 110);">								
				<br>
				<a href="/Download-Worksheets/Square-Perimeter-Formula-Worksheet-Solutions.pdf"><img src="/Worksheets/images/Square-Perimeter-Formula-Worksheet-Solutions.png">
				Download and Print Worksheet - 3<img src="/images/pdf-icon.png"></a>								
			</div>
			<div class="col-4 col-off-1" style="background-color: rgb(255, 148, 102);">
				<br>
				<a href="/Download-Worksheets/What-Is-Perimeter-Of-A-Square-Worksheet.pdf"><img src="/Worksheets/images/What-Is-Perimeter-Of-A-Square-Worksheet.png">
				Download and Print Worksheet - 4<img src="/images/pdf-icon.png"></a>				
			</div>
		</div>
		<!--END of Worskheet 3 & 4 -->
		
		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:rgb(215, 125, 215);" href="/Learn/Calculator-Perimeter-Area-Rectangle-Square">Perimeter Calculator</a></div>
		
		<!--Worskheet 5 & 6 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(243, 169, 255);">								
				<br>
				<a href="/Download-Worksheets/How-To-Find-Perimeter-Of-Square-Worksheet-Calculator.pdf"><img src="/Worksheets/images/How-To-Find-Perimeter-Of-Square-Worksheet-Calculator.png">
				Download and Print Worksheet - 5<img src="/images/pdf-icon.png"></a>								
			</div>
			<div class="col-4 col-off-1" style="background-color: rgb(255, 40, 199);">
				<br>
				<a href="/Download-Worksheets/Geometry-Grade-4-Worksheet-Square-Perimeter.pdf"><img src="/Worksheets/images/Geometry-Grade-4-Worksheet-Square-Perimeter.png">
				Download and Print Worksheet - 6<img src="/images/pdf-icon.png"></a>				
			</div>
		</div>
		<!--END of Worskheet 5 & 6 -->
				
		<!--Worskheet 7 & 8 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(255, 193, 75);">								
				<br>
				<a href="/Download-Worksheets/Perimeter-Of-Square-Equation-Solved-Examples-Worksheet.pdf"><img src="/Worksheets/images/Perimeter-Of-Square-Equation-Solved-Examples-Worksheet.png">
				Download and Print Worksheet - 7<img src="/images/pdf-icon.png"></a>								
			</div>
			<div class="col-4 col-off-1" style="background-color: rgb(95, 255, 215);">
				<br>
				<a href="/Download-Worksheets/Formula-For-Perimeter-Of-Square-Questions-Answers-Worksheet.pdf"><img src="/Worksheets/images/Formula-For-Perimeter-Of-Square-Questions-Answers-Worksheet.png">
				Download and Print Worksheet - 8<img src="/images/pdf-icon.png"></a>				
			</div>
		</div>
		<!--END of Worskheet 7 & 8 -->
		
		<!--Worskheet 9 & 10 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(148, 255, 92);">								
				<br>
				<a href="/Download-Worksheets/How-To-Calculate-Perimeter-Of-Square-Worksheet.pdf"><img src="/Worksheets/images/How-To-Calculate-Perimeter-Of-Square-Worksheet.png">
				Download and Print Worksheet - 9<img src="/images/pdf-icon.png"></a>								
			</div>
			<div class="col-4 col-off-1" style="background-color: rgb(209, 169, 255);">
				<br>
				<a href="/Download-Worksheets/Perimeter-Of-Square-Problems-Answers-Worksheet-Measurement.pdf"><img src="/Worksheets/images/Perimeter-Of-Square-Problems-Answers-Worksheet-Measurement.png">
				Download and Print Worksheet - 10<img src="/images/pdf-icon.png"></a>				
			</div>
		</div>
		<!--END of Worskheet 9 & 10 -->
		
		<!--Worskheet 11 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(160, 247, 255);">								
				<br>
				<a href="/Download-Worksheets/Finding-Length-Breadth-Perimeter-of-Square-Worksheet.pdf"><img src="/Worksheets/images/Finding-Length-Breadth-Perimeter-of-Square-Worksheet.png">
				Download and Print Worksheet - 11<img src="/images/pdf-icon.png"></a>								
			</div>
		</div>
		<!--END of Worskheet 11 -->

	</div>
</div>

{% endblock %}
