{% extends 'NotesPage.html' %}
{% block title %}
<title>Free PDF Worksheets on Bar Graphs - Home Campus</title>
<meta name="keywords" content="Free Downloadble PDF Worksheets Math Singapore Reading Bar Charts and Graphs ">
<meta name="description" content="Free PDF Elementary Math Worksheets on Bar Charts and Graphs with Solution" />
{% endblock %}
{% block content %}
	
<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Math-Worksheets">More Worksheets</a></div>
<h2 class="learn-heading">Bar Charts and Graphs</h2>

<!-- Worksheets  -->
<div class="concept-set">
	<div class="concept-set__container">

		<div class="concept-set__question">
			<h4>What is a bar graph?</h4>
		</div>
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				<div class="col-10 col-off-1"><a href="/Learn/Primary-Grade-3/Bar-Graphs">Find out here</a></div>
			</div>				
		</div>
	</div> <!-- End of container -->
</div>

<h3 class="learn-heading" style="color:rgb(4, 50, 255)">Free Downloadable and Printable Worksheets with Solution PDF</h3>

<div class="concept-set">
	<div class="concept-set__container">

		<!--Worskheet 1 & 2 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/what-is-a-bar-graph-worksheets.pdf">
				Download and Print Bar Graphs Worksheet - 1<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/what-is-a-bar-graph-worksheets.png">
				</a>
			</div>
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/reading-bar-chart-grade-3.pdf">
				Download and Print Bar Graphs Worksheet - 2<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/reading-bar-chart-grade-3.png">
				</a>				
			</div>
		</div>
		<!--END of Worskheet 1 & 2 -->

		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Grade_3_Math_Practice/Bar_Graphs">Unlimited Practice Questions</a></div>
		
		<!--Worskheet 3 & 4 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/grade-3-math-bar-charts-graphs-worksheets.pdf">
				Download and Print Bar Graphs Worksheet - 3<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/grade-3-math-bar-charts-graphs-worksheets.png">
				</a>
			</div>
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/singapore-math-home-campus-bar-chart-worksheets.pdf">
				Download and Print Bar Graphs Worksheet - 4<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/singapore-math-home-campus-bar-chart-worksheets.png">
				</a>
			</div>
		</div>
		<!--END of Worskheet 3 & 4 -->
		
		<!--Worskheet 5 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/free-pdf-worksheets-grade-3-bar-charts.pdf">
				Download and Print Bar Graphs Worksheet - 5<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/free-pdf-worksheets-grade-3-bar-charts.png">
				</a>
			</div>
		</div>
		<!--END of Worskheet 5 -->
	
	</div> <!-- End of container -->
	
</div> <!-- End of Worksheets -->


{% endblock %}
