{% extends 'NotesPage.html' %}
{% block title %}
<title>Free PDF Worksheets on How to Solve Basic Number Patterns with Solution - Home Campus</title>
<meta name="keywords" content="Free Downloadble PDF Worksheets Math Number Patterns Arithmentic">
<meta name="description" content="Free PDF Worksheets on How to Solve Basic Number Patterns with Solution" />
{% endblock %}
{% block content %}
	
<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Math-Worksheets">More Worksheets</a></div>
<h2 class="learn-heading">Worksheets on How to Solve Basic Number Patterns</h2>

<!-- Worksheets  -->
<div class="concept-set">
	<div class="concept-set__container">

		<div class="concept-set__question">
			<h4>What is a number pattern?</h4>
		</div>						
		<div class="concept-set__answer">					
			<div class="col-10 col-off-1">
				<div class="col-10 col-off-1"><a href="/Learn/Primary-Grade-3/Whole-Numbers/Number-Patterns">For detailed explanation refer here</a></div>
			</div>				
		</div>
	</div> <!-- End of container -->
</div>

<h3 class="learn-heading" style="color:rgb(4, 50, 255)">Free Downloable and Printable Worksheets with Solution PDF</h3>

<div class="concept-set">	
	<div class="concept-set__container">	

		<!--Worskheet 1 & 2 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(156, 255, 132);">								
				<br>
				<a href="/Download-Worksheets/Number-Pattern-Worksheets-for-Grade-3.pdf"><img src="/Worksheets/images/Number-Pattern-Worksheets-for-Grade-3.png">
				Download and Print How to Complete Arithmetic Number Patterns Worksheet - 1<img src="/images/pdf-icon.png"></a>								
			</div>
			<div class="col-4 col-off-1" style="background-color: rgb(95, 255, 243);">
				<br>
				<a href="/Download-Worksheets/Arithmetic-Number-Pattern.pdf"><img src="/Worksheets/images/Arithmetic-Number-Pattern.png">
				Download and Print How to Complete Arithmetic Number Patterns Worksheet - 2<img src="/images/pdf-icon.png"></a>				
			</div>
		</div>
		<!--END of Worskheet 1 & 2 -->

		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Grade_3_Math_Practice/Whole_Numbers_Patterns">Unlimited Practice Questions</a></div>
		
		<!--Worskheet 3 & 4 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(235, 255, 110);">								
				<br>
				<a href="/Download-Worksheets/What-are-Number-Patterns.pdf"><img src="/Worksheets/images/What-are-Number-Patterns.png">
				Download and Print How to Complete Arithmetic Number Patterns Worksheet - 3<img src="/images/pdf-icon.png"></a>								
			</div>
			<div class="col-4 col-off-1" style="background-color: rgb(255, 148, 102);">
				<br>
				<a href="/Download-Worksheets/Missing-Number-Patterns.pdf"><img src="/Worksheets/images/Missing-Number-Patterns.png">
				Download and Print How to Complete Arithmetic Number Patterns Worksheet - 4<img src="/images/pdf-icon.png"></a>				
			</div>
		</div>
		<!--END of Worskheet 3 & 4 -->
		
		<!--Worskheet 5 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1" style="background-color: rgb(243, 169, 255);">								
				<br>
				<a href="/Download-Worksheets/Number-Pattern-Questions-with-Solutions.pdf"><img src="/Worksheets/images/Number-Pattern-Questions-with-Solutions.png">
				Download and Print How to Complete Arithmetic Number Patterns Worksheet - 5<img src="/images/pdf-icon.png"></a>								
			</div>
		</div>
		<!--END of Worskheet 5 -->
					
	</div> <!-- End of container -->
	
</div> <!-- End of Worksheets -->


{% endblock %}
