{% extends 'NotesPage.html' %}
{% block title %}
<title>Free PDF Worksheets on How to Calculate Area of Squares - Home Campus</title>
<meta name="keywords" content="Free Downloadble PDF Worksheets Math Singapore Calculate Area Square Centimeters Meters units ">
<meta name="description" content="Free PDF Worksheets on How to Calculate Area of Square with Solution" />
{% endblock %}
{% block content %}
	
<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Math-Worksheets">More Worksheets</a></div>
<h2 class="learn-heading">How to Calculate the Area of a Square?</h2>

<!-- Worksheets  -->
<div class="concept-set">
	<div class="concept-set__container">

		<div class="concept-set__question">
			<h4>What is the formula to calculate Area of a Square?</h4>
		</div>
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				<div class="col-10 col-off-1"><a href="/Learn/Primary-Grade-3/Area-of-Squares-and-Rectangles">Learn here</a></div>
			</div>				
		</div>
	</div> <!-- End of container -->
</div>

<h3 class="learn-heading" style="color:rgb(4, 50, 255)">Free Downloadable and Printable Worksheets with Solution PDF</h3>

<div class="concept-set">
	<div class="concept-set__container">

		<!--Worskheet 1 & 2 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/area-of-squares-worksheets.pdf">
				Download and Print Area of Square Worksheet - 1<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/area-of-squares-worksheets.png">
				</a>
			</div>
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/calculate-area-of-squares.pdf">
				Download and Print Area of Square Worksheet - 2<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/calculate-area-of-squares.png">
				</a>				
			</div>
		</div>
		<!--END of Worskheet 1 & 2 -->

		<div style="text-align: center;padding:10px;"><a class="btn-primary btn-embossed btn-block-xs" style="background-color:#D7120F;" href="/Grade_3_Math_Practice/Area_of_Squares_Rectangles">Unlimited Practice Questions</a></div>
		
		<!--Worskheet 3 & 4 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/grade-3-singapore-math-area-of-squares.pdf">
				Download and Print Area of Square Worksheet - 3<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/grade-3-singapore-math-area-of-squares.png">
				</a>
			</div>
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/area-of-square-formula-worksheet.pdf">
				Download and Print Area of Square Worksheet - 4<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/area-of-square-formula-worksheet.png">
				</a>
			</div>
		</div>
		<!--END of Worskheet 3 & 4 -->
		
		<!--Worskheet 5 -->
		<div class="concept-set__answer">
			<div class="col-4 col-off-1">
				<br>
				<a href="/download-worksheets/free-pdf-worksheets-area-of-square.pdf">
				Download and Print Area of Square Worksheet - 5<img src="/images/pdf-icon.png">
				<img src="/Worksheets/images/free-pdf-worksheets-area-of-square.png">
				</a>
			</div>
		</div>
		<!--END of Worskheet 5 -->
	
	</div> <!-- End of container -->
	
</div> <!-- End of Worksheets -->


{% endblock %}
