<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.1 What is Rounding Off?</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:65%;">3.1 What is Rounding Off?</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Easy</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Express 650.009354 correct to:
			</div>
		</div>
		<div style="margin-left:40px;margin-top:20px;">a) The nearest hundredth &nbsp;&nbsp;&nbsp;
			Answer:
			{% if AESTEasy_1_1_answer_correct is defined %}
				<input id="AESTEasy_1_1_answer" value='{{AESTEasy_1_1_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> &nbsp;
					{% if AESTEasy_1_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not AESTEasy_1_1_answer_correct and AESTEasy_1_1_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{AESTEasy_1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="AESTEasy_1_1_answer" value='{{AESTEasy_1_1_answer}}' style="width:50px;" > &nbsp;
			{% endif %}	
		</div>
		<div style="margin-left:40px;margin-top:20px;">b) 4 significant figures &nbsp;&nbsp;&nbsp;
			Answer:
			{% if AESTEasy_1_2_answer_correct is defined %}
				<input id="AESTEasy_1_2_answer" value='{{AESTEasy_1_2_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> &nbsp;
					{% if AESTEasy_1_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not AESTEasy_1_2_answer_correct and AESTEasy_1_2_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{AESTEasy_1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="AESTEasy_1_2_answer" value='{{AESTEasy_1_2_answer}}' style="width:50px;" > &nbsp;
			{% endif %}	
		</div>
		<div style="margin-left:40px;margin-top:20px;">c) 3 decimal places &nbsp;&nbsp;&nbsp;
			Answer:
			{% if AESTEasy_1_3_answer_correct is defined %}
				<input id="AESTEasy_1_3_answer" value='{{AESTEasy_1_3_answer}}' readonly style="width:60px;background-color:#DFDFDF;"> &nbsp;
					{% if AESTEasy_1_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not AESTEasy_1_3_answer_correct and AESTEasy_1_3_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{AESTEasy_1_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="AESTEasy_1_3_answer" value='{{AESTEasy_1_3_answer}}' style="width:60px;" > &nbsp;
			{% endif %}	
		</div>		
		<div style="margin-left:20px;margin-top:30px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="margin-top:30px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Round off:
			</div>
		</div>
		<div style="margin-left:40px;margin-top:10px;">a) 7698 g to the nearest 100 g &nbsp;&nbsp;
			&#8776; &nbsp;&nbsp;
			{% if AESTEasy_2_1_answer_correct is defined %}
				<input id="AESTEasy_2_1_answer" value='{{AESTEasy_2_1_answer}}' readonly style="width:40px;background-color:#DFDFDF;"> g&nbsp;
					{% if AESTEasy_2_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not AESTEasy_2_1_answer_correct and AESTEasy_2_1_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{AESTEasy_2_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="AESTEasy_2_1_answer" value='{{AESTEasy_2_1_answer}}' style="width:40px;" > g&nbsp;
			{% endif %}	
		</div>
		<div style="margin-left:40px;margin-top:20px;">
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:5px;">b)</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-6px;">
				<p style="line-height:20%;text-align:center;">22<br>___<br></p>
				<p style="line-height:20%;text-align:center;">7<br></p>
			</div>		
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:5px;">to the nearest</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-6px;">
				<p style="line-height:20%;text-align:center;">1<br>____<br></p>
				<p style="line-height:20%;text-align:center;">1000<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:5px;">&#8776; &nbsp;&nbsp;	
				{% if AESTEasy_2_2_answer_correct is defined %}
					<input id="AESTEasy_2_2_answer" value='{{AESTEasy_2_2_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> &nbsp;
						{% if AESTEasy_2_2_answer_correct %}
							<img src="/images/g7_correct.png">
						{% elif not AESTEasy_2_2_answer_correct and AESTEasy_2_2_answer_correct is defined %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{AESTEasy_2_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% else %}
					<input id="AESTEasy_2_2_answer" value='{{AESTEasy_2_2_answer}}' style="width:50px;" > &nbsp;
				{% endif %}
			</div>		
		</div>
		<div style="margin-left:40px;margin-top:10px;">c) 0.0987 mm to the nearest 0.1 mm 
			&#8776; 
			{% if AESTEasy_2_3_answer_correct is defined %}
				<input id="AESTEasy_2_3_answer" value='{{AESTEasy_2_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> mm&nbsp;
					{% if AESTEasy_2_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not AESTEasy_2_3_answer_correct and AESTEasy_2_3_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{AESTEasy_2_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="AESTEasy_2_3_answer" value='{{AESTEasy_2_3_answer}}' style="width:30px;" > mm&nbsp;
			{% endif %}	
		</div>		
		
		{% if AESTEasy_1_1_answer_correct is defined %}
			<div style="margin-top:10px;margin-left:340px;"><button id="AESTEasy_1_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="AESTEasy_1_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>
<script>
	$("#AESTEasy_1_1_answer").change(function()
	{
		question_id = "AESTEasy_1";
		question_type = "Estimation"
		answer_id = "AESTEasy_1_1_answer";
		entered_answer = $("#AESTEasy_1_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#AESTEasy_1_2_answer").change(function()
			{
				question_id = "AESTEasy_1";
				question_type = "Estimation"
				answer_id = "AESTEasy_1_2_answer";
				entered_answer = $("#AESTEasy_1_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#AESTEasy_1_3_answer").change(function()
			{
				question_id = "AESTEasy_1";
				question_type = "Estimation"
				answer_id = "AESTEasy_1_3_answer";
				entered_answer = $("#AESTEasy_1_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#AESTEasy_2_1_answer").change(function()
			{
				question_id = "AESTEasy_2";
				question_type = "Estimation"
				answer_id = "AESTEasy_2_1_answer";
				entered_answer = $("#AESTEasy_2_1_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#AESTEasy_2_2_answer").change(function()
			{
				question_id = "AESTEasy_2";
				question_type = "Estimation"
				answer_id = "AESTEasy_2_2_answer";
				entered_answer = $("#AESTEasy_2_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#AESTEasy_2_3_answer").change(function()
			{
				question_id = "AESTEasy_2";
				question_type = "Estimation"
				answer_id = "AESTEasy_2_3_answer";
				entered_answer = $("#AESTEasy_2_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});	
	$("#AESTEasy_1_Submit").button({label:"Check Answers"});
	$("#AESTEasy_1_Retry").button({label:"Retry"});
	$("#AESTEasy_1_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "Estimation"
		//getting question id, answer id and entered answer in form of a string
		var answers = "AESTEasy_1"+"#%$"+"AESTEasy_1_1_answer"+"#%$"+$("#AESTEasy_1_1_answer").val();
		answers = answers + "#%$"+"AESTEasy_1"+"#%$"+"AESTEasy_1_2_answer"+"#%$"+$("#AESTEasy_1_2_answer").val();
		answers = answers + "#%$"+"AESTEasy_1"+"#%$"+"AESTEasy_1_3_answer"+"#%$"+$("#AESTEasy_1_3_answer").val();
		answers = answers + "#%$"+"AESTEasy_2"+"#%$"+"AESTEasy_2_1_answer"+"#%$"+$("#AESTEasy_2_1_answer").val();
		answers = answers + "#%$"+"AESTEasy_2"+"#%$"+"AESTEasy_2_2_answer"+"#%$"+$("#AESTEasy_2_2_answer").val();
		answers = answers + "#%$"+"AESTEasy_2"+"#%$"+"AESTEasy_2_3_answer"+"#%$"+$("#AESTEasy_2_3_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#AESTEasy_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "AESTEasy_1_1_answer,AESTEasy_1_2_answer,AESTEasy_1_3_answer,AESTEasy_2_1_answer,AESTEasy_2_2_answer,AESTEasy_2_3_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


