<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:40%;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:15px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 6:</font></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div style="margin-top:0px;">a) The number 1006 has 4 significant figures.</div>
			<div style="margin-top:10px;">b) The number 20.078 has 5 significant figures.</div>
			<div style="margin-top:10px;">c) The number 90.803 has 5 significant figures.</div>
		</div>
		<div class="grade7YellowSideBox" style="margin-top:20px;"><strong>Rule 3:</strong> In a decimal, all zeros before a non-zero digit are not significant. They are used as placeholders i.e. they keep other figures in their correct places.</div>
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 7:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">State the number of significant figures in each number: 
			<div style="margin-top:5px;">a)	0.35 &nbsp; b) 0.07 &nbsp; c) 0.00081962</div>
		</div>
		<br>
		<div style="margin-top:15px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 7:</font></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div style="margin-top:0px;">a) The number 0.35 has 2 significant figures.</div>
			<div style="margin-top:10px;">b) The number 0.07 has 1 significant figure.</div>
			<div style="margin-top:10px;">c) The number 0.00081962 has 5 significant figures.</div>
		</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

