<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:40%;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div class="grade7YellowSideBox" style="margin-top:20px;"><strong>Rule 4:</strong> In a decimal, all zeros after a non-zero digit are significant.</div>
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 8:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">State the number of significant figures in each number: 
			<div style="margin-top:5px;">a)	0.250 &nbsp; b) 7.070 &nbsp; c) 1.200</div>
		</div>
		<br>
		<div style="margin-top:15px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 8:</font></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div style="margin-top:0px;">a) The number 0.250 has 3 significant figures. The zero before 2 is not significant. It is used as a placeholder.</div>
			<div style="margin-top:10px;">b) The number 7.070 has 4 significant figures.</div>
			<div style="margin-top:10px;">c) The number 1.200 has 4 significant figures.</div>
		</div>
		<div class="grade7YellowSideBox" style="margin-top:20px;"><strong>Rule 5:</strong> The trailing zeroes in a whole number are not significant. They are used as placeholders.</div>
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 9:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">State the number of significant figures in each number: 
			<div style="margin-top:5px;">a)	76000 &nbsp; b) 290 &nbsp; c) 10</div>
		</div>
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

