<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:40%;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:15px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 10:</font></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div>a)	<font style="color:red;">7</font>5 491</div>
			<div style="margin-top:10px;"><font style="color:red;">7</font> is the first significant figure.</div>
			<div style="margin-top:10px;">Rounding digit = 7</div>
			<div style="margin-top:10px;">Digit to the right of rounding digit = 5</div>
			<div style="margin-top:10px;">Since 5 &ge; 5, add 1 to the rounding digit.</div>
			<div style="margin-top:10px;">Hence, 75 491 = 80 000, correct to 1 significant figure.</div>
		</div>
		<div class="grade7BlueSideBox" style="margin-top:10px;width:350px;margin-left:30px;">Here, put 4 zeros as placeholders. As per Rule 5 above, these zeros are not significant.</div>
		<div style="margin-top:15px;width:90px;display:inline-block;"></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div>b)	7<font style="color:red;">5</font> 491</div>
			<div style="margin-top:10px;"><font style="color:red;">5</font> is the second significant figure.</div>
			<div style="margin-top:10px;">Rounding digit = 5</div>
			<div style="margin-top:10px;">Digit to the right of rounding digit = 4</div>
			<div style="margin-top:10px;">Since 4 &lt; 5, the rounding digit is unchanged.</div>
			<div style="margin-top:10px;">Hence, 75 491 = 75 000, correct to 2 significant figures.</div>
		
		</div>		
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

