<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:40%;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:15px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 10: (contd.)</font></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div>c)	75 <font style="color:red;">4</font>91</div>
			<div style="margin-top:10px;"><font style="color:red;">4</font> is the third significant figure.</div>
			<div style="margin-top:10px;">Rounding digit = 4</div>
			<div style="margin-top:10px;">Digit to the right of rounding digit = 9</div>
			<div style="margin-top:10px;">Since 9 &ge; 5, add 1 to the rounding digit.</div>
			<div style="margin-top:10px;">Hence, 75 491 = 75 500, correct to 3 significant figures.</div>
		</div>
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 11:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">Round off each of the following to the number of significant figures as given in the brackets:
			<div style="margin-top:5px;">a)	0.0030891 (4 significant figures)</div>
			<div style="margin-top:5px;">b) 1.999 (3 significant figures)</div>
		</div>		
		<div style="margin-top:15px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 11:</font></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div>a)	0.00308<font style="color:red;">9</font>1</div>
			<div style="margin-top:10px;">Starting from left (Rule 3), the 4th significant figure is 9.</div>
			<div style="margin-top:10px;">Digit to the right of rounding digit (9) is 1.</div>
			<div style="margin-top:10px;">Since 1 &lt; 5, keep the rounding digit unchanged.</div>
		</div>	
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

