<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:40%;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% endif %}
	<div class="grade7PageMargin">	
		<div style="margin-top:15px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 11: (contd.)</font></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div style="margin-top:0px;">Hence, 0.0030891 = 0.003090, correct to 4 significant figures.</div>
		</div>	
 		<div class="grade7BlueSideBox" style="margin-top:20px;width:400px;text-align:center;">Here, put a zero in the answer to indicate 4 significant figures.
 			<br>Note that the result is same as rounding it off to 6 decimal places.
 		</div>
		<div style="margin-top:15px;width:90px;display:inline-block;"></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div>b)	1.9<font style="color:red;">9</font>9</div>
			<div style="margin-top:10px;">Starting from left (Rule 1), the 3rd significant figure is 9.</div>
			<div style="margin-top:10px;">Digit to the right of rounding digit (9) is 9.</div>
			<div style="margin-top:10px;">Since 9 &ge; 5, add 1 to the rounding digit.</div>
			<div style="margin-top:10px;">Hence, 1.999 = 2.00, correct to 3 significant figures.</div>
		</div>
 		<div class="grade7BlueSideBox" style="margin-top:20px;width:400px;text-align:center;">Here, put zeros in the answer to indicate the 3 significant figures.
 		</div>

		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

