<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.3 What is Estimation?</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:70%;">3.3 What is Estimation?</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:5px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 17:</font></div>
		<div style="margin-top:5px;display:inline-block;width:310px;vertical-align:top;">
			<div style="display:inline-block;width:100px;"><font style="font-size:1.1em;">&radic;</font><span style="text-decoration:overline">61&nbsp;</span> &times; <font style="font-size:1.1em;">&#8731;</font><span style="text-decoration:overline">128&nbsp;</span></div>
			<div style="display:inline-block;">&#8776; 8 &times; 5</div>
			<br>
			<div style="display:inline-block;width:100px;"></div>
			<div style="display:inline-block;">= 40</div>
			<br>
			<div style="display:inline-block;width:100px;margin-top:10px;">Actual Value</div>
			<div style="display:inline-block;margin-top:10px;">= 7.81 &times; 5.05</div>
			<br>
			<div style="display:inline-block;width:100px;"></div>
			<div style="display:inline-block;">= 39.4 (correct to 3 s.f.)</div>
			<div style="margin-top:10px;">Hence, the estimated value 40 is close to the actual value 39.4.</div>						
		</div>
		<div style="margin-top:15px;"><font class="grade7SubTopicName">3.3.3 Rounding and Truncation Errors</font></div>
		<div style="margin-top:15px;"><strong>Rounding error</strong> is the difference between an estimated value and its exact answer.</div>
		<div style="margin-top:15px;">Study the example below to understand rounding error.</div>
		<div style="margin-top:15px;">3 villages have the following population sizes:</div>
		<table style="border-collapse:collapse;margin-top:20px;margin-left:40px;">
			<tr><td style="border:1px solid black;">Village</td><td style="border:1px solid black;">Population Size</td><td style="border:1px solid black;">% of the Total</td></tr>
			<tr><td style="border:1px solid black;">A</td><td style="border:1px solid black;">89</td><td style="border:1px solid black;">40.4 %</td></tr>
			<tr><td style="border:1px solid black;">B</td><td style="border:1px solid black;">59</td><td style="border:1px solid black;">26.8 %</td></tr>
			<tr><td style="border:1px solid black;">C</td><td style="border:1px solid black;">72</td><td style="border:1px solid black;">32.7 %</td></tr>
			<tr><td style="border:1px solid black;">Total</td><td style="border:1px solid black;">220</td><td style="border:1px solid black;">99.9 %</td></tr>
		</table>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

