<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.1 What is Rounding Off?</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:65%;">3.1 What is Rounding Off?</div>
	{% endif %}
	<div class="grade7PageMargin">	
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 4:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">A student observes the length of a rare species of lizard to be 0.95205 m. Round off the length to: 
			<div style="margin-top:5px;">a)	1 decimal place &nbsp; b) 4 decimal places</div>
		</div>
		<br>
		<div style="margin-top:15px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 4:</font></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div>a)	Length of the lizard = 0.<font style="color:red;">9</font>5205 m</div>
			<div style="margin-top:10px;">Rounding digit = 9</div>
			<div style="margin-top:10px;">Digit to the right of rounding digit = 5</div>
			<div style="margin-top:10px;">Since 5 &ge; 5, add 1 to the rounding digit.</div>
			<div style="margin-top:10px;">&there4; The length of the lizard = 1.0 m</div>		
			<div style="margin-top:20px;">b)	Length of the lizard = 0.952<font style="color:red;">0</font>5 m</div>
			<div style="margin-top:10px;">Rounding digit = 0</div>
			<div style="margin-top:10px;">Digit to the right of rounding digit = 5</div>
			<div style="margin-top:10px;">Since 5 &ge; 5, add 1 to the rounding digit.</div>
			<div style="margin-top:10px;">&there4; The length of the lizard = 0.9521 m</div>		
		</div>	
			
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

