<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:40%;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:15px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 9:</font></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div style="margin-top:0px;">a) The number 76000 has 2 significant figures.</div>
			<div style="margin-top:10px;">b) The number 290 has 2 significant figures.</div>
			<div style="margin-top:10px;">c) The number 10 has 1 significant figure.</div>
		</div>
		<div class="grade7YellowSideBox" style="margin-top:20px;width:340px;margin-left:50px;text-align:center;">The short form for significant figure is s.f. or sig. fig.</div>
		<div style="margin-top:20px;display:inline-block;width:40px;"><font class="grade7SubTopicName">3.2.3</font></div>
		<div style="margin-top:20px;display:inline-block;vertical-align:top;width:300px;"><font class="grade7SubTopicName">Rounding off to a Required Number of Significant Figures</font></div>
		<div style="margin-top:20px;">The rounding off rules remain the same as discussed in the previous section.</div>
		<div style="margin-top:30px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 10:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">Round off 75 491 to:
			<div style="margin-top:5px;">a)	1 significant figure</div>
			<div style="margin-top:5px;">b)	2 significant figures</div>
			<div style="margin-top:5px;">c)	3 significant figures</div>
		</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

