<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.1 What is Rounding Off?</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:65%;">3.1 What is Rounding Off?</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			The radius of a circular race track is 1.5 km. Given that 
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">&pi; =</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				<p style="line-height:20%;">22<br>__<br></p>
				<p style="line-height:20%;text-align:center;">7<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">, find</div>
		</div>
		<div style="margin-left:40px;margin-top:10px;">a) The length of the circular track, correct to 4 decimal places.</div>
		<div style="margin-left:60px;margin-top:10px;">
			{% if AEROAdvanced_3_1_answer_correct is defined %}
				<input id="AEROAdvanced_3_1_answer" value='{{AEROAdvanced_3_1_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> km&nbsp;
					{% if AEROAdvanced_3_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{AEROAdvanced_3_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="AEROAdvanced_3_1_answer" value='{{AEROAdvanced_3_1_answer}}' style="width:50px;" > km&nbsp;
			{% endif %}
		</div>
		<div style="margin-left:40px;margin-top:10px;">b) The area of the track, rounded off to the nearest 0.1 km<sup>2</sup>.</div>
		<div style="margin-left:60px;margin-top:10px;"> 
			{% if AEROAdvanced_3_2_answer_correct is defined %}
				<input id="AEROAdvanced_3_2_answer" value='{{AEROAdvanced_3_2_answer}}' readonly style="width:40px;background-color:#DFDFDF;"> km<sup>2</sup>&nbsp;
					{% if AEROAdvanced_3_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{AEROAdvanced_3_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="AEROAdvanced_3_2_answer" value='{{AEROAdvanced_3_2_answer}}' style="width:40px;" > km<sup>2</sup>&nbsp;
			{% endif %}
		</div>
		
		<div style="margin-left:20px;margin-top:30px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="margin-top:30px;display:inline-block;width:390px;vertical-align:top;">
			A businessman invested $54560 in a garment factory. His target was to sell 755 pairs of trousers in the first year to break even. What should be the selling price of each pair of trousers, 
		</div>
		<div style="margin-left:40px;margin-top:10px;">a) to the nearest dollar</div>
		<div style="margin-left:60px;margin-top:10px;">Answer: &nbsp; $ 
			{% if AEROAdvanced_4_1_answer_correct is defined %}
				<input id="AEROAdvanced_4_1_answer" value='{{AEROAdvanced_4_1_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> &nbsp;
					{% if AEROAdvanced_4_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{AEROAdvanced_4_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="AEROAdvanced_4_1_answer" value='{{AEROAdvanced_4_1_answer}}' style="width:50px;" > &nbsp;
			{% endif %}	
		</div>
		<div style="margin-left:40px;margin-top:10px;">b) to the nearest cent</div>
		<div style="margin-left:60px;margin-top:10px;">Answer: &nbsp; $
			{% if AEROAdvanced_4_2_answer_correct is defined %}
				<input id="AEROAdvanced_4_2_answer" value='{{AEROAdvanced_4_2_answer}}' readonly style="width:40px;background-color:#DFDFDF;"> &nbsp;
					{% if AEROAdvanced_4_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{AEROAdvanced_4_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="AEROAdvanced_4_2_answer" value='{{AEROAdvanced_4_2_answer}}' style="width:40px;" > &nbsp;
			{% endif %}	
		</div>
		
		
		{% if AEROAdvanced_3_1_answer_correct is defined %}
			<div style="margin-top:-30px;margin-left:340px;"><button id="AEROAdvanced_2_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:10px;margin-left:280px;"><button id="AEROAdvanced_2_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>
<script>
	$("#AEROAdvanced_3_1_answer").change(function()
	{
		question_id = "AEROAdvanced_3";
		question_type = "RoundingOff"
		answer_id = "AEROAdvanced_3_1_answer";
		entered_answer = $("#AEROAdvanced_3_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#AEROAdvanced_3_2_answer").change(function()
			{
				question_id = "AEROAdvanced_3";
				question_type = "RoundingOff"
				answer_id = "AEROAdvanced_3_2_answer";
				entered_answer = $("#AEROAdvanced_3_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#AEROAdvanced_4_1_answer").change(function()
			{
				question_id = "AEROAdvanced_4";
				question_type = "RoundingOff"
				answer_id = "AEROAdvanced_4_1_answer";
				entered_answer = $("#AEROAdvanced_4_1_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#AEROAdvanced_4_2_answer").change(function()
			{
				question_id = "AEROAdvanced_4";
				question_type = "RoundingOff"
				answer_id = "AEROAdvanced_4_2_answer";
				entered_answer = $("#AEROAdvanced_4_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	
	$("#AEROAdvanced_2_Submit").button({label:"Check Answers"});
	$("#AEROAdvanced_2_Retry").button({label:"Retry"});
	$("#AEROAdvanced_2_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "RoundingOff"
		//getting question id, answer id and entered answer in form of a string
		var answers = "AEROAdvanced_3"+"#%$"+"AEROAdvanced_3_1_answer"+"#%$"+$("#AEROAdvanced_3_1_answer").val();
		answers = answers + "#%$"+"AEROAdvanced_3"+"#%$"+"AEROAdvanced_3_2_answer"+"#%$"+$("#AEROAdvanced_3_2_answer").val();
		answers = answers + "#%$"+"AEROAdvanced_4"+"#%$"+"AEROAdvanced_4_1_answer"+"#%$"+$("#AEROAdvanced_4_1_answer").val();
		answers = answers + "#%$"+"AEROAdvanced_4"+"#%$"+"AEROAdvanced_4_2_answer"+"#%$"+$("#AEROAdvanced_4_2_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#AEROAdvanced_2_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "AEROAdvanced_3_1_answer,AEROAdvanced_3_2_answer,AEROAdvanced_4_1_answer,AEROAdvanced_4_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


