<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.1 What is Rounding Off?</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:65%;">3.1 What is Rounding Off?</div>
	{% endif %}
	<div class="grade7PageMargin">	
		<div style="margin-top:20px;"><font class="grade7SubTopicName">3.1.2 Rounding off Numbers to Decimal Places</font></div>
		<div style="margin-top:10px;">Rounding off a decimal number is similar to rounding off a whole number. We use the following rules.</div>
		<div class="grade7YellowSideBox" style="margin-top:20px;">
			<strong>Rules of rounding off to desired number of decimal places...</strong>
			<ul>
				<li>
					<strong>Round up:</strong> If the digit to the right of rounding digit is 5, 6, 7, 8 or 9, add one to the rounding digit and drop all the digits to the right of it.
				</li>
				<li style="margin-top:10px;">	
					<strong>Round down:</strong> If the digit to the right of rounding digit is 0, 1, 2, 3 or 4, keep the rounding digit unchanged and drop all the digits to the right of it.
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

