<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:40%;">3.2 Rounding Off Numbers to Significant Figures</div>
	{% endif %}
	<div class="grade7TopicName">3.2 Rounding Off Numbers to Significant Figures</div>
	<div class="grade7PageMargin">
		<div style="margin-top:20px;"><font class="grade7SubTopicName">3.2.1 What are Significant Figures?</font></div>
		<div style="margin-top:20px;"><i>According to an airport representative, an average number of passengers arriving and departing per day at Changi Airport in Singapore is 137 000, as of May 2014. But a metal detector that allows counting the number of people passing through it, shows the exact figure to be 136 738, accurate as of May2014.</i></div>
		<div style="margin-top:20px;">The information from both the sources is correct but it is given to different degrees of accuracy. Significant figures reflect the degree of accuracy. 136 738 is the exact figure. When we round it off to 3 significant figures, it is 137 000. They highlight the most important digits.</div>	
		<div style="margin-top:20px;" class="grade7OrangeSideBox">The accuracy of an answer depends on the number of significant figures. The number is more accurate if it is given to a higher number of significant figures.</div>
		<div style="margin-top:20px;">The first non-zero digit (reading from left to right) in a number is the first significant figure.</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

