<div style="height:480px;">
	<div class="grade7PageHeader" style="color:#7B43A0;margin-left:48%;">Approximation and Estimation - Topical Test</div>
	<div class="grade7PageMargin" style="clear:both;">
		<div style="display:inline-block;margin-left:20px;margin-top:30px;"><font class="grade7PracticeQuestionNumber">7)</font></div>
		<div style="display:inline-block;width:380px;margin-top:30px;vertical-align:top;">a) Express:</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;width:15px;">i)</div>
			<div style="display:inline-block;width:360px;vertical-align:top;">
				1250.156 correct to 3 significant figures,
			</div>
			<div style="margin-left:20px;margin-top:10px;">Answer: &nbsp; 
			{% if test_status == 'Completed' %}
				<input id="AETT1_7_1_answer" value='{{AETT1_7_1_answer}}' readonly style="background-color:#DFDFDF;width:50px;"> &nbsp;
				{% if AETT1_7_1_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{AETT1_7_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 1 / 1)</font>					
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{AETT1_7_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 1)</font>					
				{% endif %}
			{% else %}
				<input id="AETT1_7_1_answer" value='{{AETT1_7_1_answer}}' style="width:50px;">  <font class="grade7TestMark">(Mark: 1)</font>
			{% endif %}
			</div>
			<div style="display:inline-block;width:15px;margin-top:20px;">ii)</div>
			<div style="display:inline-block;width:360px;vertical-align:top;margin-top:20px;">
				10.052 correct to the nearest whole number,
			</div>
			<div style="margin-left:20px;margin-top:10px;">Answer: &nbsp; 
			{% if test_status == 'Completed' %}
				<input id="AETT1_7_2_answer" value='{{AETT1_7_2_answer}}' readonly style="background-color:#DFDFDF;width:30px;"> &nbsp;
				{% if AETT1_7_2_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{AETT1_7_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 1 / 1)</font>					
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{AETT1_7_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 1)</font>					
				{% endif %}
			{% else %}
				<input id="AETT1_7_2_answer" value='{{AETT1_7_2_answer}}' style="width:30px;">  <font class="grade7TestMark">(Mark: 1)</font>
			{% endif %}
			</div>					
			<div style="display:inline-block;width:15px;margin-top:20px;">iii)</div>
			<div style="display:inline-block;width:360px;vertical-align:top;margin-top:20px;">
				5.048 correct to 1 decimal place.
			</div>
			<div style="margin-left:20px;margin-top:10px;">Answer: &nbsp; 
			{% if test_status == 'Completed' %}
				 <input id="AETT1_7_3_answer" value='{{AETT1_7_3_answer}}' readonly style="background-color:#DFDFDF;width:30px;"> &nbsp;
				{% if AETT1_7_3_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{AETT1_7_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 1 / 1)</font>					
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{AETT1_7_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 1)</font>					
				{% endif %}
			{% else %}
				 <input id="AETT1_7_3_answer" value='{{AETT1_7_3_answer}}' style="width:30px;">  <font class="grade7TestMark">(Mark: 1)</font>
			{% endif %}
			</div>					
		</div>
		<div style="display:inline-block;margin-left:20px;margin-top:30px;"><font class="grade7PracticeQuestionNumber"></font></div>
		<div style="display:inline-block;width:380px;margin-top:30px;vertical-align:top;margin-left:10px;">
			<div>b) Hence estimate the value of:</div>
			<div style="margin-top:10px;margin-left:20px;">[1250.156 &times; (10.052)<sup>3</sup>] &divide; (5.048)<sup>2</sup>, correct to 1 significant figure.</div>
		</div>
		<div style="margin-left:60px;margin-top:20px;">Answer: &nbsp; 
			{% if test_status == 'Completed' %}
				<input id="AETT1_7_4_answer" value='{{AETT1_7_4_answer}}' readonly style="background-color:#DFDFDF;width:50px;"> &nbsp;
				{% if AETT1_7_4_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{AETT1_7_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 2 / 2)</font>					
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{AETT1_7_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 2)</font>					
				{% endif %}
			{% else %}
				<input id="AETT1_7_4_answer" value='{{AETT1_7_4_answer}}' style="width:50px;"> <font class="grade7TestMark">(Mark: 2)</font>
			{% endif %}
		</div>		
		
	</div>
	<div id="explain_dialog"></div>
</div>
<div class="grade7TestForwardButton"><button id="AE_TT_1_Continue" style="outline:none;"></button></div>
<script>
$("#AE_TT_1_Continue").button({label:">>"});
$("#AE_TT_1_Continue").click(function()
	{
		test_id = '{{test_id}}';
		student_id = '{{student_id}}';
		leftPage = '/Grade-7/Chapter-3/Topical-Test-1-Approximation-Estimation-Page-5.html';
		rightPage = '/Grade-7/Chapter-3/Topical-Test-1-Approximation-Estimation-Page-6.html';
		//saving all un-attempted questions in the database on ">>" click.
		separatorText = '#%$'
		answer_ids = 'AETT1_5_1_answer'+separatorText+'AETT1_5_2_answer'+separatorText+'AETT1_6_answer'+separatorText
		answer_ids = answer_ids +'AETT1_7_1_answer'+separatorText+'AETT1_7_2_answer'+separatorText+'AETT1_7_3_answer'+separatorText+'AETT1_7_4_answer'
		Grade7SaveAndLoadTest(test_id,student_id,leftPage,rightPage,total_seconds_elapsed,answer_ids);
  	});

$("#AETT1_7_1_answer").change(function()
		{
			question_id = "AETT1_7";
			test_id = '{{test_id}}';
			answer_id = "AETT1_7_1_answer";
			entered_answer = $("#AETT1_7_1_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 1;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#AETT1_7_2_answer").change(function()
		{
			question_id = "AETT1_7";
			test_id = '{{test_id}}';
			answer_id = "AETT1_7_2_answer";
			entered_answer = $("#AETT1_7_2_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 1;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#AETT1_7_3_answer").change(function()
		{
			question_id = "AETT1_7";
			test_id = '{{test_id}}';
			answer_id = "AETT1_7_3_answer";
			entered_answer = $("#AETT1_7_3_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 1;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#AETT1_7_4_answer").change(function()
		{
			question_id = "AETT1_7";
			test_id = '{{test_id}}';
			answer_id = "AETT1_7_4_answer";
			entered_answer = $("#AETT1_7_4_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});

		
$("#explain_dialog").dialog
({
	autoOpen: false,
	title:"Explanation",
    position:"center",   			
	buttons:{"Ok": function(){$(this).dialog("close");}},
	modal:true,
	width:500
});
function ShowExplanation(htmlText)
{
	$("#explain_dialog").html(htmlText);
	$("#explain_dialog").addClass("ExplanationFont");
	$("#explain_dialog").dialog("open");	
}

</script>

