<div style="height:480px;">
	<div class="grade7PageHeader" style="color:#7B43A0;margin-left:48%;">Approximation and Estimation - Topical Test</div>
	<div class="grade7PageMargin" style="clear:both;">
		<div style="display:inline-block;margin-left:20px;margin-top:30px;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="display:inline-block;width:380px;margin-top:30px;vertical-align:top;">A rectangular wall mirror is 183.5 cm long and 147.5 cm wide.</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;width:15px;">a)</div>
			<div style="display:inline-block;width:360px;vertical-align:top;">
				Calculate the area of the mirror, correct to 4 s.f.
			</div>
			<div style="margin-left:20px;margin-top:10px;">Answer: &nbsp; 
			{% if test_status == 'Completed' %}
				<input id="AETT1_3_1_answer" value='{{AETT1_3_1_answer}}' readonly style="background-color:#DFDFDF;width:50px;"> cm<sup>2</sup>&nbsp;
				{% if AETT1_3_1_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{AETT1_3_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 2 / 2)</font>					
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{AETT1_3_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 2)</font>					
				{% endif %}
			{% else %}
				<input id="AETT1_3_1_answer" value='{{AETT1_3_1_answer}}' style="width:50px;"> cm<sup>2</sup> <font class="grade7TestMark">(Mark: 2)</font>
			{% endif %}
			</div>
			<div style="display:inline-block;width:15px;margin-top:10px;">b)</div>
			<div style="display:inline-block;width:360px;vertical-align:top;margin-top:10px;">
				Estimate the area of the mirror when its length and width are rounded off to 2 s.f.
			</div>
			<div style="margin-left:20px;margin-top:10px;">Answer: &nbsp; 
			{% if test_status == 'Completed' %}
				<input id="AETT1_3_2_answer" value='{{AETT1_3_2_answer}}' readonly style="background-color:#DFDFDF;width:50px;"> cm<sup>2</sup>&nbsp;
				{% if AETT1_3_2_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{AETT1_3_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 2 / 2)</font>					
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{AETT1_3_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 2)</font>					
				{% endif %}
			{% else %}
				<input id="AETT1_3_2_answer" value='{{AETT1_3_2_answer}}' style="width:50px;"> cm<sup>2</sup> <font class="grade7TestMark">(Mark: 2)</font>
			{% endif %}
			</div>					
			<div style="display:inline-block;width:15px;margin-top:10px;">c)</div>
			<div style="display:inline-block;width:360px;vertical-align:top;margin-top:10px;">
				The cost per square metre of the mirror is $24.70. Estimate the total cost of the mirror, giving the final answer correct to 2 s.f.
			</div>
			<div style="margin-left:20px;margin-top:10px;">Answer: &nbsp; 
			{% if test_status == 'Completed' %}
				$ <input id="AETT1_3_3_answer" value='{{AETT1_3_3_answer}}' readonly style="background-color:#DFDFDF;width:30px;"> &nbsp;
				{% if AETT1_3_3_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{AETT1_3_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 2 / 2)</font>					
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{AETT1_3_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 2)</font>					
				{% endif %}
			{% else %}
				$ <input id="AETT1_3_3_answer" value='{{AETT1_3_3_answer}}' style="width:30px;">  <font class="grade7TestMark">(Mark: 2)</font>
			{% endif %}
			</div>					
		</div>
		<div style="display:inline-block;margin-left:20px;margin-top:30px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="display:inline-block;width:380px;margin-top:30px;vertical-align:top;">What is the greatest number of tickets that can be bought with $50 if each ticket costs $9?</div>
		<div style="margin-left:40px;margin-top:20px;">
			<div style="margin-left:20px;margin-top:10px;">Answer: &nbsp; 
			{% if test_status == 'Completed' %}
				<input id="AETT1_4_answer" value='{{AETT1_4_answer}}' readonly style="background-color:#DFDFDF;width:30px;"> tickets&nbsp;
				{% if AETT1_4_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{AETT1_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 2 / 2)</font>					
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{AETT1_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 2)</font>					
				{% endif %}
			{% else %}
				<input id="AETT1_4_answer" value='{{AETT1_4_answer}}' style="width:30px;"> tickets <font class="grade7TestMark">(Mark: 2)</font>
			{% endif %}
			</div>
		</div>		
		
		
	</div>
	<div id="explain_dialog"></div>
</div>
<div class="grade7TestForwardButton"><button id="AE_TT_1_Continue" style="outline:none;"></button></div>
<script>
$("#AE_TT_1_Continue").button({label:">>"});
$("#AE_TT_1_Continue").click(function()
	{
		test_id = '{{test_id}}';
		student_id = '{{student_id}}';
		leftPage = '/Grade-7/Chapter-3/Topical-Test-1-Approximation-Estimation-Page-3.html';
		rightPage = '/Grade-7/Chapter-3/Topical-Test-1-Approximation-Estimation-Page-4.html';
		//saving all un-attempted questions in the database on ">>" click.
		separatorText = '#%$'
		answer_ids = 'AETT1_1_1_answer'+separatorText+'AETT1_1_2_answer'+separatorText+'AETT1_2_1_answer'+separatorText+'AETT1_2_2_answer'+separatorText
		answer_ids = answer_ids + 'AETT1_3_1_answer'+separatorText+'AETT1_3_2_answer'+separatorText+'AETT1_3_3_answer'+separatorText+'AETT1_4_answer'
		Grade7SaveAndLoadTest(test_id,student_id,leftPage,rightPage,total_seconds_elapsed,answer_ids);
  	});

$("#AETT1_3_1_answer").change(function()
		{
			question_id = "AETT1_3";
			test_id = '{{test_id}}';
			answer_id = "AETT1_3_1_answer";
			entered_answer = $("#AETT1_3_1_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#AETT1_3_2_answer").change(function()
		{
			question_id = "AETT1_3";
			test_id = '{{test_id}}';
			answer_id = "AETT1_3_2_answer";
			entered_answer = $("#AETT1_3_2_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#AETT1_3_3_answer").change(function()
		{
			question_id = "AETT1_3";
			test_id = '{{test_id}}';
			answer_id = "AETT1_3_3_answer";
			entered_answer = $("#AETT1_3_3_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#AETT1_4_answer").change(function()
		{
			question_id = "AETT1_4";
			test_id = '{{test_id}}';
			answer_id = "AETT1_4_answer";
			entered_answer = $("#AETT1_4_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
		
$("#explain_dialog").dialog
({
	autoOpen: false,
	title:"Explanation",
    position:"center",   			
	buttons:{"Ok": function(){$(this).dialog("close");}},
	modal:true,
	width:500
});
function ShowExplanation(htmlText)
{
	$("#explain_dialog").html(htmlText);
	$("#explain_dialog").addClass("ExplanationFont");
	$("#explain_dialog").dialog("open");	
}

</script>

