<div style="height:480px;">
	<div class="grade7PageHeader" style="color:#7B43A0;">Approximation and Estimation - Topical Test</div>
	{% if test_status != 'Completed' %}
	<div style="float:right;margin-right:10px;display:inline-block;">
		<div style="display:inline-block;"><button id="AE_TT_1_Pause" style="outline:none;"></button></div>
		<div id="TestTimer" style="display:inline-block;"></div>
	</div>
	<br>
	{% endif %}
	<div style="clear:both;" class="grade7PageMargin">
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">8)</font></div>		
		<div style="display:inline-block;margin-top:20px;width:380px;vertical-align:top;">
			Hotels in Malaysia offer special discounts to tourists during off season. Study the options below offered by 3 hotels with similar quality of services and estimate which hotel offers the best value for money for a 4 days 3 nights stay:
			<div style="margin-top:10px;">Hotel A: $328 with a discount of 20%. Includes breakfast.</div>
			<div style="margin-top:10px;">Hotel B: $200.43 excluding breakfast. The cost of breakfast is estimated to be around $78.80.</div>
			<div style="margin-top:10px;">Hotel C: $300 with 10% discount. Includes breakfast.</div>

		</div>
		<div style="margin-left:60px;margin-top:20px;">
			{% if test_status == 'Completed' %}
				<input type=radio name="AETT1_8_answer" value='A' disabled
				{% if AETT1_8_answer == 'A'%} 
   					checked="checked"
   				{%endif%}
				 >Hotel A<br>
				<input type=radio name="AETT1_8_answer" value='B' disabled
				{% if AETT1_8_answer == 'B' %} 
   					checked="checked"
   				{%endif%}
				 >Hotel B<br>
				<input type=radio name="AETT1_8_answer" value='C' disabled
				{% if AETT1_8_answer == 'C' %} 
   					checked="checked"
   				{%endif%}
				 >Hotel C&nbsp;&nbsp;
				{% if AETT1_8_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{AETT1_8_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>					
					<font class="grade7TestScore">(Mark: 3 / 3)</font>	
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{AETT1_8_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 3)</font>					
				{% endif %}
				
			{% else %}
				<input type=radio name="AETT1_8_answer" value='A'
				{% if AETT1_8_answer == 'A' %} 
   					checked="checked"
   				{%endif%}
				 >Hotel A<br>
				<input type=radio name="AETT1_8_answer" value='B'
				{% if AETT1_8_answer == 'B' %} 
   					checked="checked"
   				{%endif%}
				 >Hotel B<br>
				<input type=radio name="AETT1_8_answer" value='C'
				{% if AETT1_8_answer == 'C' %} 
   					checked="checked"
   				{%endif%}
				 >Hotel C<font class="grade7TestMark">(Mark: 3)</font>		 
			{% endif %}	
		</div>
		
	</div>
	<div id="explain_dialog"></div>
</div>
	<div class="grade7TestBackButton"><button id="AE_TT_1_back" style="outline:none;"></button></div>
<script>

$("#AE_TT_1_Pause").button({label:"Pause"});
var total_seconds_elapsed = {{elapsed_time_seconds}};
$("#AE_TT_1_Pause").click(function()
	{
		Grade7SaveTestTime('{{test_id}}',total_seconds_elapsed,'{{current_user.username}}','Topical-Test-1-Approximation-Estimation');
  	});	
$("#AE_TT_1_back").button({label:"<<"});
$("#AE_TT_1_back").click(function()
	{
		test_id = '{{test_id}}';
		student_id = '{{student_id}}';
		leftPage = '/Grade-7/Chapter-3/Topical-Test-1-Approximation-Estimation-Page-3.html';
		rightPage = '/Grade-7/Chapter-3/Topical-Test-1-Approximation-Estimation-Page-4.html';
		Grade7SaveAndLoadTest(test_id,student_id,leftPage,rightPage,total_seconds_elapsed,'');		
  	});

$("input[name='AETT1_8_answer']").click(function()		
		{
			question_id = "AETT1_8";
			test_id = '{{test_id}}';
			answer_id = "AETT1_8_answer";
			entered_answer = $("input:radio[name=AETT1_8_answer]:checked").val();
			student_id = '{{current_user.username}}';
			question_marks = 3;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});

if ('{{test_status}}' != 'Completed')
{
	TestTimer();
	clearInterval(timeVar);
	var timeVar=setInterval(function(){TestTimer()},1000);
}
function TestTimer()
{
	function pretty_time_string(num)
	{
	return ( num < 10 ? "0" : "" ) + num;   
	}
	total_seconds_elapsed = total_seconds_elapsed + 1;
	display_seconds = total_seconds_elapsed;
	hours = Math.floor(display_seconds / 3600);
	display_seconds = display_seconds % 3600;
	minutes = Math.floor(display_seconds / 60);
	display_seconds = display_seconds % 60;
	var seconds = Math.floor(display_seconds);
	hours = pretty_time_string(hours);
	minutes = pretty_time_string(minutes);
	seconds = pretty_time_string(display_seconds);
	var currentTimeString = hours + ":" + minutes + ":" + seconds;
	document.getElementById("TestTimer").innerHTML=currentTimeString;
}

$("#explain_dialog").dialog
({
	autoOpen: false,
	title:"Explanation",
    position:"center",   			
	buttons:{"Ok": function(){$(this).dialog("close");}},
	modal:true,
	width:500
});
function ShowExplanation(htmlText)
{
	$("#explain_dialog").html(htmlText);
	$("#explain_dialog").addClass("ExplanationFont");
	$("#explain_dialog").dialog("open");	
}


</script>

