<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.1 What is Rounding Off?</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:65%;">3.1 What is Rounding Off?</div>
	{% endif %}
	<div class="grade7PageMargin">	
		<div style="margin-top:15px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 2: (contd.)</font></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div style="">Digit to the right of rounding digit = 1</div>
			<div style="margin-top:10px;">Since 1 &lt; 5, the rounding digit is unchanged.</div>
			<div style="margin-top:10px;">&there4; 6251 &#8776; 6250 </div>
			<div style="margin-top:10px;" class="grade7YellowSideBox">
				We use the double wave sign "&#8776;" to denote "approximately equal to".
			</div>
			<div style="margin-top:10px;">b) 6<font style="color:red;">2</font>51</div>
			<div style="margin-top:10px;">Rounding digit = 2 (hundreds place)</div>
			<div style="margin-top:10px;">Digit to the right of rounding digit = 5</div>
			<div style="margin-top:10px;">Since 5 &ge; 5, add 1 to the rounding digit.</div>
			<div style="margin-top:10px;">&there4; 6251 &#8776; 6300 </div>
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

