<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.1 What is Rounding Off?</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:65%;">3.1 What is Rounding Off?</div>
	{% endif %}
	<div class="grade7TopicName">3.1 What is Rounding Off?</div>
	<div class="grade7PageMargin">
		<div style="margin-top:20px;"><i>"According to the US Bureau of Transit Statistics, there were 243,023,485 registered passenger vehicles in the US in 2004. Out of these roughly 243 million vehicles, 136 million were classified as cars, while 92 million were classified as "Other 2 axle, 4 tire vehicles" like SUVs and pick-up trucks. Yet another 6 million were classified as vehicles with 2 axles and 6 tires and 2 million were classified as "Truck, combination". There were approximately 6 million motorcycles in the US in 2004."</i></div>
		<div style="margin-top:20px;">The above extract uses approximate figures instead of exact or actual figures for each type of vehicle. This is because the approximate values are easier to work with and remember. When we simplify a number to determine an approximate value, it is called rounding off or approximation.</div>	
		<div style="margin-top:20px;"><font class="grade7SubTopicName">3.1.1 Rounding Off Whole Numbers</font></div>
		<div style="margin-top:20px;">When rounding off a whole number to the desired place value, the rounding digit is the digit at that place value. We study the digit that is one place to the right of the rounding digit and follow the rules stated below.</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

