<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">3.3 What is Estimation?</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:70%;">3.3 What is Estimation?</div>
	{% endif %}
	<div class="grade7TopicName">3.3 What is Estimation?</div>
	<div class="grade7PageMargin">
		<div style="margin-top:10px;">Estimation is the process of finding an approximate value even if the available data is incomplete or uncertain.</div>
		<div style="margin-top:10px;">Various techniques of estimating are discussed below.</div>
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 12:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">
			I have $35 in my pocket. Is this money sufficient to buy a bottle of 2 litres oil worth $12.76, a packet of chocolate cookies worth $9.32 and a can of orange juice worth $10.90? Find an estimated answer without using a calculator.
		</div>
		<br>
		<div style="margin-top:15px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 12:</font></div>
		<div style="margin-top:15px;display:inline-block;width:310px;vertical-align:top;">
			<div>Estimation can be done by <strong>rounding off</strong> each price to the nearest dollar.</div>
			<div style="margin-top:10px;">$12.76 &#8776; $13, $9.32 &#8776; $9, $10.90 &#8776; $11</div>
			<div style="display:inline-block;margin-top:5px;">Total price of 3 items</div>
			<div style="display:inline-block;margin-top:5px;">= $12.76 + $9.32 + $10.90</div>
			<br>
			<div style="display:inline-block;width:150px;margin-top:5px;"></div>
			<div style="display:inline-block;margin-top:5px;">&#8776; $13 + $9 + $11 = $33</div>
			<div style="margin-top:10px;">Estimated value, $33 is less than $35. Therefore, $35 is enough money to buy the desired items.</div>			
		</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

