<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">5.1 Percentage Review</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:70%;">5.1 Percentage Review</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			Mr. Lam earns $4200 and his friend Mr. Yang earns $4900 per month. Mr. Lam's monthly expenses amount to 70% of his income. Mr. Yang's expenses are the same as Mr. Lam's. 
		</div>
		<div style="margin-left:40px;margin-top:20px;width:390px;">a) Who saves a higher percentage of their income? </div>
		<div style="margin-left:80px;margin-top:20px;">
			{% if PRRMedium_3_1_answer_correct is defined %}
				<input type=radio name="PRRMedium_3_1_answer" value='Mr. Lam' disabled
				{% if PRRMedium_3_1_answer == 'Mr. Lam'%} 
   					checked="checked"
   				{%endif%}
				 >Mr. Lam&nbsp;&nbsp;
				<input type=radio name="PRRMedium_3_1_answer" value='Mr. Yang' disabled
				{% if PRRMedium_3_1_answer == 'Mr. Yang' %} 
   					checked="checked"
   				{%endif%}
				 >Mr. Yang&nbsp;&nbsp;
				{% if PRRMedium_3_1_answer_correct %}
					<img src="/images/g7_correct.png">
				{% elif not PRRMedium_3_1_answer_correct and PRRMedium_3_1_answer_correct is defined %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{PRRMedium_3_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input type=radio name="PRRMedium_3_1_answer" value='Mr. Lam'
				{% if PRRMedium_3_1_answer == 'Mr. Lam' %} 
   					checked="checked"
   				{%endif%}
				 >Mr. Lam&nbsp;&nbsp;
				<input type=radio name="PRRMedium_3_1_answer" value='Mr. Yang'
				{% if PRRMedium_3_1_answer == 'Mr. Yang'%} 
   					checked="checked"
   				{%endif%}
				 >Mr. Yang			 
			{% endif %}
		</div>
		<div style="margin-left:40px;margin-top:20px;width:390px;">b) Find the difference between their monthly savings.</div>
		<div style="margin-left:40px;margin-top:20px;">Answer:
			{% if PRRMedium_3_2_answer_correct is defined %}
				$<input id="PRRMedium_3_2_answer" value='{{PRRMedium_3_2_answer}}' readonly style="width:50px;background-color:#DFDFDF;">
					{% if PRRMedium_3_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not PRRMedium_3_2_answer_correct and PRRMedium_3_2_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{PRRMedium_3_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				$<input id="PRRMedium_3_2_answer" value='{{PRRMedium_3_2_answer}}' style="width:50px;" >
			{% endif %}	
		</div>


		{% if PRRMedium_3_1_answer_correct is defined %}
			<div style="margin-top:30px;margin-left:280px;"><button id="PRR_Medium_3_retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="PRR_Medium_3_submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>
<script>
 $("input[name='PRRMedium_3_1_answer']").click(function()
		{
			question_id = "PRRMedium_3";
			question_type = "PercentageReview"
			answer_id = "PRRMedium_3_1_answer";
			entered_answer = $("input:radio[name=PRRMedium_3_1_answer]:checked").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});

$("#PRRMedium_3_2_answer").change(function()
			{
				question_id = "PRRMedium_3";
				question_type = "PercentageReview"
				answer_id = "PRRMedium_3_2_answer";
				entered_answer = $("#PRRMedium_3_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#PRR_Medium_3_submit").button({label:"Check Answers"});
	$("#PRR_Medium_3_retry").button({label:"Retry"});
	$("#PRR_Medium_3_submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "PercentageReview"
		//getting question id, answer id and entered answer in form of a string
		var answers = "PRRMedium_3"+"#%$"+"PRRMedium_3_1_answer"+"#%$"+$("input:radio[name=PRRMedium_3_1_answer]:checked").val();
		answers = answers + "#%$"+"PRRMedium_3"+"#%$"+"PRRMedium_3_2_answer"+"#%$"+$("#PRRMedium_3_2_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#PRR_Medium_3_retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "PRRMedium_3_1_answer,PRRMedium_3_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


