<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">5.1 Percentage Review</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:70%;">5.1 Percentage Review</div>
	{% endif %}
	<div class="grade7PageMargin">	
		<div style="margin-top:30px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 12:</font></div>
		<div style="margin-top:30px;display:inline-block;width:320px;vertical-align:top;">Barbara scored a total of 560 marks in 6 subjects of 100 marks each in the year-end exam. Her friend Nancy scored 525 marks.
			<div style="margin-top:10px;">a) What is the percentage score of each girl?</div>
			<div>b)	Compare their scores as a percentage of one another.</div>
		</div>
		<br>
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 12:</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:20px;width:320px;">
			<div>Maximum possible score = 600</div>
	        <div style="display:inline-block;vertical-align:top;width:15px;margin-left:-18px;margin-top:10px;">a)</div>
	        <div style="display:inline-block;vertical-align:top;width:120px;margin-top:10px;">Barbara's score</div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;"> = </div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-top:0px;">
		        <p style="line-height:20%;text-align:center;">560<br>____<br></p>
		        <p style="line-height:20%;text-align:center;">600<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">&times; 100 %</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:120px;"></div>
	        <div style="display:inline-block;vertical-align:top;"> =  93.33 %</div>
			<br>
	        <div style="display:inline-block;vertical-align:top;width:12px;margin-left:-18px;margin-top:10px;"></div>
	        <div style="display:inline-block;vertical-align:top;width:120px;margin-top:10px;">Nancy's score</div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;"> = </div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-top:0px;">
		        <p style="line-height:20%;text-align:center;">525<br>____<br></p>
		        <p style="line-height:20%;text-align:center;">600<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">&times; 100 %</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:120px;"></div>
	        <div style="display:inline-block;vertical-align:top;"> =  87.50 %</div>
			<br>
	        <div style="display:inline-block;vertical-align:top;width:15px;margin-left:-18px;margin-top:20px;">b)</div>
	        <div style="display:inline-block;vertical-align:top;width:190px;margin-top:20px;">Barbara's marks as a % of Nancy's marks</div>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;"> = </div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-top:10px;">
		        <p style="line-height:20%;text-align:center;">560<br>____<br></p>
		        <p style="line-height:20%;text-align:center;">525<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;">&times; 100 %</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:190px;"></div>
	        <div style="display:inline-block;vertical-align:top;"> =  106.67 %</div>
			<div style="margin-top:15px;">This means that Barbara scored 6.67% (106.67% &minus; 100%) marks more than Nancy.</div>
        </div>
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

