<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">5.1 Percentage Review</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:70%;">5.1 Percentage Review</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;"></div>
		<div style="display:inline-block;vertical-align:top;margin-top:20px;width:320px;">
	        <div style="display:inline-block;vertical-align:top;width:180px;margin-top:10px;margin-left:-50px;">Number of yellow candies</div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;"> = &nbsp;110% of blue</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:180px;margin-top:10px;margin-left:-50px;"></div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">=</div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-top:0px;">
		        <p style="line-height:20%;text-align:center;">110<br>___<br></p>
		        <p style="line-height:20%;text-align:center;">100<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">&times; 750</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:180px;margin-left:-50px;"></div>
	        <div style="display:inline-block;vertical-align:top;"> = &nbsp; 825</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:170px;margin-top:10px;margin-left:-50px;">Number of pink candies</div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;"> = 2500 &minus; (625+750+825)</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:170px;margin-top:10px;margin-left:-50px;">% of pink candies </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">=</div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-top:0px;">
		        <p style="line-height:20%;text-align:center;">300<br>____<br></p>
		        <p style="line-height:20%;text-align:center;">2500<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">&times; 100%</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:170px;margin-top:10px;margin-left:-50px;"></div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">= <strong>12%</strong></div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;margin-top:30px;width:20px;margin-left:-70px;">b)</div>
	        <div style="display:inline-block;vertical-align:top;margin-top:30px;">The most number of candies sold were of <strong>yellow</strong> colour.</div>	              				        
	        <br>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;width:20px;margin-left:-70px;"></div>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;">Number of yellow candies sold = 825</div>	              				        
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:150px;margin-top:10px;margin-left:-50px;">% of yellow candies </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">=</div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-top:0px;">
		        <p style="line-height:20%;text-align:center;">825<br>____<br></p>
		        <p style="line-height:20%;text-align:center;">2500<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">&times; 100%</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:150px;margin-top:10px;margin-left:-50px;"></div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">= <strong>33%</strong></div>
	        <br>
        </div>
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

