<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">5.1 Percentage Review</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:70%;">5.1 Percentage Review</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div class="grade7SubTopicName" style="margin-top:20px;">5.1.4 Percentages Greater Than 100%</div>	
		<div style="margin-top:30px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 11:</font></div>
		<div style="margin-top:30px;display:inline-block;width:320px;vertical-align:top;">The male:female sex ratio in Singapore in 2013 was 968:1000.
			<div style="margin-top:10px;">a) Express this ratio in percentage value. </div>
			<div>b)	Find the number of females as a percentage of the number of males.</div>
		</div>
		<br>
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 11:</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:20px;width:320px;">
	        <div style="display:inline-block;vertical-align:top;width:15px;">a)</div>
	        <div style="display:inline-block;vertical-align:top;width:150px;">Required percentage</div>
	        <div style="display:inline-block;vertical-align:top;"> = </div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-top:-10px;">
		        <p style="line-height:20%;text-align:center;">968<br>____<br></p>
		        <p style="line-height:20%;text-align:center;">1000<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;">&times; 100 %</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:170px;"></div>
	        <div style="display:inline-block;vertical-align:top;"> =  96.8 %</div>
			<br>
			<div style="margin-top:10px;margin-left:-40px;">Note: This means that the number of males is 3.2% (100% &minus; 96.8%) lower than the number of females.</div>
	        <div style="display:inline-block;vertical-align:top;width:15px;margin-top:20px;">b)</div>
	        <div style="display:inline-block;vertical-align:top;width:150px;margin-top:20px;">Required percentage</div>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;"> = </div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-top:10px;">
		        <p style="line-height:20%;text-align:center;">1000<br>____<br></p>
		        <p style="line-height:20%;text-align:center;">968<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;">&times; 100 %</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:170px;"></div>
	        <div style="display:inline-block;vertical-align:top;"> =  103.3 %</div>
			<br>
			<div style="margin-top:10px;margin-left:-40px;">Note: The percentage value above 100% means that the number of females is 3.3 % (103.3% &minus; 100%) higher than the number of males.</div>

        </div>
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

