<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">5.1 Percentage Review</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:70%;">5.1 Percentage Review</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div class="grade7SubTopicName" style="margin-top:20px;">5.1.2 One Quantity as a Percentage of Another</div>	
		<div style="margin-top:20px;display:inline-block;width:260px;">
			A percent is a fraction that compares a part to a whole. In other words, percentage helps us understand how the two quantities are proportionally divided.
		</div>
		<div class="grade7BlueSideBox" style="margin-top:20px;display:inline-block;width:150px;vertical-align:top;">
			<strong>Do note</strong>
			<div style="margin-top:10px;">
				Percentage value of 100% corresponds to the number '1' which means that the two quantities being compared are equal.
			</div>
		</div>
		<div style="margin-top:30px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 6:</font></div>
		<div style="margin-top:30px;display:inline-block;width:320px;vertical-align:top;">In a box containing 10 mangoes, 7 were ripe and the rest were unripe. Find the percentage of unripe mangoes in the box.</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 6:</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;width:320px;">
			<div>Number of unripe mangoes = 10 &minus; 7 = 3</div>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:-100px;width:170px;">% of unripe mangoes =</div>
	        <div style="width:200px;display:inline-block;vertical-align:top;margin-left:-7px;margin-top:10px;">
		        <p style="line-height:20%;text-align:center;">Number of unripe mangoes<br>_______________________<br></p>
		        <p style="line-height:20%;text-align:center;">Total number of mangoes<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:-5px;">&times;100%</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:-100px;width:160px;text-align:right;"> = </div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-left:-7px;margin-top:10px;">
		        <p style="line-height:20%;text-align:center;">3<br>___<br></p>
		        <p style="line-height:20%;text-align:center;">10<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:-5px;">&times; 100% = 30%</div>

        </div>
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

