<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">5.1 Percentage Review</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:70%;">5.1 Percentage Review</div>
	{% endif %}	
		<div style="margin-top:20px;"><img src="/images/Grade7/G7_PR_Review_Callouts.png"></div>
		<div class="grade7PageMargin">
			<div style="margin-top:10px;">Percentage can be thought of as a fraction whose denominator is 100. We use the symbol "%" to denote percentage.</div>
			<div class="grade7OrangeSideBox" style="margin-top:20px;width:300px;">
				Can you recall these advertisements?
				<ul>
				<li>On Sale - Up to 50% off marked prices</li>
				<li>Housing loans at 6% per annum</li>
				</ul>
			</div>
		</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

