<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">5.1 Percentage Review</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:70%;">5.1 Percentage Review</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;"></div>
		<div style="display:inline-block;vertical-align:top;margin-top:20px;width:320px;">
	        <div style="display:inline-block;vertical-align:top;width:200px;margin-top:10px;margin-left:-50px;">Performance % of Ms. Lui</div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">=</div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-top:0px;">
		        <p style="line-height:20%;text-align:center;">36<br>___<br></p>
		        <p style="line-height:20%;text-align:center;">40<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">&times; 100 %</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:200px;margin-left:-50px;"></div>
	        <div style="display:inline-block;vertical-align:top;"> = &nbsp; 90 %</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:200px;margin-top:10px;margin-left:-50px;">Performance % of Ms. Susan</div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">=</div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-top:0px;">
		        <p style="line-height:20%;text-align:center;">40<br>___<br></p>
		        <p style="line-height:20%;text-align:center;">50<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">&times; 100 %</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:200px;margin-left:-50px;"></div>
	        <div style="display:inline-block;vertical-align:top;"> = &nbsp; 80 %</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:200px;margin-top:10px;margin-left:-50px;">Performance % of Ms. Shah</div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">=</div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-top:0px;">
		        <p style="line-height:20%;text-align:center;">36<br>___<br></p>
		        <p style="line-height:20%;text-align:center;">45<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:10px;">&times; 100 %</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;width:200px;margin-left:-50px;"></div>
	        <div style="display:inline-block;vertical-align:top;"> = &nbsp; 80 %</div>
	        <br>
	        <div style="margin-top:20px;margin-left:-50px;">Hence, <strong>Ms. Lui</strong> was the top performer of the month.</div>
        </div>
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

