<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">5.1 Percentage Review</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:70%;">5.1 Percentage Review</div>
	{% endif %}
	<div class="grade7PageMargin">		
		<div style="margin-top:30px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 7:</font></div>
		<div style="margin-top:30px;display:inline-block;width:320px;vertical-align:top;">
			A joint family has 15 male and 22 female members. Find:
			<div style="margin-top:10px;">a) Percentage of male members in the family</div>
			<div>b) Percentage of female members in the family</div>
		</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 7:</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;width:320px;">
			<div>Total number of members in the family:</div>
			<div>= 15 + 22 = 37</div>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:0px;">% male =</div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">
		        <p style="line-height:20%;text-align:center;">15<br>____<br></p>
		        <p style="line-height:20%;text-align:center;">37<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:0px;">&times; 100 = 40.54%</div>
	        <br>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:0px;">% female =</div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">
		        <p style="line-height:20%;text-align:center;">22<br>____<br></p>
		        <p style="line-height:20%;text-align:center;">37<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:0px;">&times; 100 = 59.46%</div>
			<div class="grade7OrangeSideBox" style="width:400px;margin-left:-80px;">
				The "whole" family is made up of two "parts" - male members and female members. The sum of the percentages of the two parts i.e. 40.54 + 59.46 must equal 100%. 
				<div style="margin-top:10px;">In such cases, if we know the percentage value of one part, say 40.54%, we can find the percentage value of the other part by subtracting the known value from 100% as follows:</div>
				<div style="margin-top:20px;">100 &minus; 40.54 = 59.46%</div>
				
			</div>

        </div>
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

