<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">5.1 Percentage Review</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:70%;">5.1 Percentage Review</div>
	{% endif %}
	<div class="grade7TopicName">5.1 Percentage Review</div>
	<div class="grade7PageMargin">
		<div class="grade7SubTopicName" style="margin-top:15px;">5.1.1 Understanding Percentage</div>
		<div style="margin-top:10px;">Have you ever paid attention to the labels on packaged food products or fabrics? The labeling usually mentions the relative content of the ingredients used/nutrients present per unit of the product. Here are two examples:</div>
		<div style="margin-top:20px;display:inline-block;"><img src="/images/Grade7/G7_PR_Nutrition_Chart.png"></div>
		<div style="margin-top:20px;display:inline-block;vertical-align:top;margin-left:10px;"><img src="/images/Grade7/G7_PR_Fabric_Content.png"></div>
		<div style="margin-top:10px;">As we can see above, the ingredients/nutrients are given as percentage values.</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

