<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">5.3 Percentage Increase and Decrease</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:54%;">5.3 Percentage Increase and Decrease</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 18:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">Saima's weak performance in the pre-final examination led her to a coaching institute. Her result in the final examination was 40% better with a score of 420. What was her score in the pre-final examination?</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 18:</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;width:320px;">
			<div>Let <font class="grade7Variables">x</font> be Saima's score in the pre-final examination.</div>
	        <div style="display:inline-block;margin-top:0px;width:80px;">Then, 40%</div>
	        <div style="display:inline-block;margin-top:0px;">= </div>
	        <div style="width:100px;display:inline-block;vertical-align:top;margin-left:-10px;margin-top:-10px;">
		        <p style="line-height:20%;text-align:center;">(420 - <font class="grade7Variables">x</font>)<br>______<br></p>
		        <p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font><br></p>
	        </div>
	        <div style="display:inline-block;margin-top:0px;margin-left:-10px;">&times; 100% </div>
	        <div style="margin-top:0px;">So, <font class="grade7Variables">x</font> &nbsp; = &nbsp; 300</div>
	        <div style="margin-top:10px;">Alternatively,</div>
			<div style="">New value</div> 
			<div>= Original value &times; (100% + Percent increase)</div>
	        <div style="display:inline-block;margin-top:10px;width:130px;">So, Original value</div>
	        <div style="display:inline-block;margin-top:10px;">= </div>
	        <div style="width:150px;display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
		        <p style="line-height:20%;text-align:center;">New Value<br>________________<br></p>
		        <p style="line-height:20%;text-align:center;">(100% + % increase)<br></p>
	        </div>
	        <div class="grade7OrangeSideBox" style="display:inline-block;margin-left:-100px;">Here,<br>Original value = Pre-final value</div>
	        <div style="display:inline-block;vertical-align:top;margin-top:-50px;">
		        <div style="display:inline-block;margin-top:10px;width:130px;"></div>
		        <div style="display:inline-block;margin-top:10px;">= </div>
		        <div style="width:130px;display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
			        <p style="line-height:20%;text-align:center;">420<br>____________<br></p>
			        <p style="line-height:20%;text-align:center;">(100% + 40%)<br></p>
		        </div>
	        </div>
	        <div style="display:inline-block;margin-top:10px;width:130px;"></div>
	        <div style="display:inline-block;margin-top:10px;"> = 300</div>
			<div style="margin-top:15px;">&there4; Saima's score in the pre-final examination was 300.</div>
        </div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

