<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">5.2 Reverse Percentages</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:70%;">5.2 Reverse Percentages</div>
	{% endif %}
	<div class="grade7TopicName">5.2 Reverse Percentages</div>
	<div class="grade7PageMargin">
		<div style="margin-top:30px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 13:</font></div>
		<div style="margin-top:30px;display:inline-block;width:320px;vertical-align:top;">Amar has been saving for a cricket bat that costs $80. The cricket bat costs 125% of the amount he has saved so far. How much money has Amar saved so far?</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 13:</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;width:320px;">
	        <div style="margin-top:0px;">Let $<font class="grade7Variables">z</font> be the amount of Amar's savings. Then, 125% of <font class="grade7Variables">z</font> is 80.</div>
			<div style="display:inline-block;margin-top:10px;width:70px;">125% &times; <font class="grade7Variables">z</font></div>
			<div style="display:inline-block;margin-top:10px;"> &nbsp; = &nbsp; </div>
			<div style="display:inline-block;margin-top:10px;"> 80 </div>
			<br>
			<div style="display:inline-block;margin-top:10px;width:70px;text-align:right;"><font class="grade7Variables">z</font></div>
			<div style="display:inline-block;margin-top:10px;"> &nbsp; = &nbsp; </div>
			<div style="display:inline-block;margin-top:10px;"> 80 &divide; 125 %</div>
			<br>
			<div style="display:inline-block;margin-top:10px;width:70px;text-align:right;"><font class="grade7Variables">z</font></div>
			<div style="display:inline-block;margin-top:10px;"> &nbsp; = &nbsp; </div>
			<div style="display:inline-block;margin-top:10px;"> 80 &divide; 1.25</div>
			<br>
			<div style="display:inline-block;margin-top:10px;width:70px;"></div>
			<div style="display:inline-block;margin-top:10px;"> &nbsp; = &nbsp; </div>
			<div style="display:inline-block;margin-top:10px;"> 64</div>
			<br>
			<div style="margin-top:15px;">&there4; Amar has saved $64 so far.</div>
        </div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

