<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">5.2 Reverse Percentages</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:70%;">5.2 Reverse Percentages</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Advanced</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Mehulla loves collecting books. Her library collection comprises of 3 categories of books - 42% Fictional, 30% Non-Fictional and 70 books of Business.</div>
		</div>
		<div style="margin-left:40px;margin-top:20px;">a) Find the total number of books in her collection.</div>
		<div style="margin-left:80px;margin-top:20px;">Answer:&nbsp;
			{% if PRRPAdvanced_1_1_answer_correct is defined %}
				<input id="PRRPAdvanced_1_1_answer" value='{{PRRPAdvanced_1_1_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> books&nbsp;
					{% if PRRPAdvanced_1_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not PRRPAdvanced_1_1_answer_correct and PRRPAdvanced_1_1_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{PRRPAdvanced_1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="PRRPAdvanced_1_1_answer" value='{{PRRPAdvanced_1_1_answer}}' style="width:50px;" > books&nbsp;
			{% endif %}	
		</div>
		<div style="margin-left:40px;margin-top:20px;width:15px;display:inline-block;">b)</div>
		<div style="display:inline-block;width:320px;vertical-align:top;margin-top:20px;">Under Fictional, there are 3 sub-categories of books - Action and Adventure, Mystery and Science Fiction. She has 12 books on Action and Adventure while 40% of the Fictional books are Mystery books. The number of books on Science Fiction is 325% more than the number of books on Action and Adventure. Find the number of books under Mystery and Science Fiction.</div>
		<div style="margin-left:80px;margin-top:20px;">Answer:&nbsp;
			{% if PRRPAdvanced_1_2_answer_correct is defined %}
				<input id="PRRPAdvanced_1_2_answer" value='{{PRRPAdvanced_1_2_answer}}' readonly style="width:50px;background-color:#DFDFDF;">&nbsp;
					{% if PRRPAdvanced_1_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not PRRPAdvanced_1_2_answer_correct and PRRPAdvanced_1_2_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{PRRPAdvanced_1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="PRRPAdvanced_1_2_answer" value='{{PRRPAdvanced_1_2_answer}}' style="width:50px;" >&nbsp;
			{% endif %}	
		</div>

		{% if PRRPAdvanced_1_1_answer_correct is defined %}
			<div style="margin-top:-10px;margin-left:300px;"><button id="PRRP_Advanced_1_retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:10px;margin-left:300px;"><button id="PRRP_Advanced_1_submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>
<script>
	$("#PRRPAdvanced_1_1_answer").change(function()
	{
		question_id = "PRRPAdvanced_1";
		question_type = "ReversePercentages"
		answer_id = "PRRPAdvanced_1_1_answer";
		entered_answer = $("#PRRPAdvanced_1_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#PRRPAdvanced_1_2_answer").change(function()
			{
				question_id = "PRRPAdvanced_1";
				question_type = "ReversePercentages"
				answer_id = "PRRPAdvanced_1_2_answer";
				entered_answer = $("#PRRPAdvanced_1_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#PRRP_Advanced_1_submit").button({label:"Check Answers"});
	$("#PRRP_Advanced_1_retry").button({label:"Retry"});
	$("#PRRP_Advanced_1_submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "ReversePercentages"
		//getting question id, answer id and entered answer in form of a string
		var answers = "PRRPAdvanced_1"+"#%$"+"PRRPAdvanced_1_1_answer"+"#%$"+$("#PRRPAdvanced_1_1_answer").val();
		answers = answers + "#%$"+"PRRPAdvanced_1"+"#%$"+"PRRPAdvanced_1_2_answer"+"#%$"+$("#PRRPAdvanced_1_2_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#PRRP_Advanced_1_retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "PRRPAdvanced_1_1_answer,PRRPAdvanced_1_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


