<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">5.2 Reverse Percentages</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:70%;">5.2 Reverse Percentages</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:30px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 14:</font></div>
		<div style="margin-top:30px;display:inline-block;width:320px;vertical-align:top;">A certain university has three grades of teaching staff - Assistant Professor, Professor and Head of Department (HOD). An HOD gets paid 100% more than an assistant professor. A professor gets 25% less salary than an HOD. If the sum of the monthly salaries of an assistance professor, a professor and an HOD is $45000, find the monthly salary of a professor.</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 14:</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;width:320px;">
	        <div style="margin-top:0px;">Let <font class="grade7Variables">x</font> be the monthly salary of an assistant professor.</div>
			<div style="margin-top:10px;">Then, the monthly salary of an HOD is</div>
			<div><font class="grade7Variables">x</font> + 100%<font class="grade7Variables">x</font> = 2<font class="grade7Variables">x</font></div>
			<div style="margin-top:10px;">Hence, the salary of a professor</div>
			<div style="margin-top:10px;">= 25% less than 2<font class="grade7Variables">x</font></div>
			<div style="">= 2<font class="grade7Variables">x</font> &minus; 25% of 2<font class="grade7Variables">x</font></div>
			<div style="display:inline-block;vertical-align:top;margin-top:10px;">= 2<font class="grade7Variables">x</font> &minus; </div>
	        <div style="width:40px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-2px;">
		        <p style="line-height:20%;text-align:center;">25<br>___<br></p>
		        <p style="line-height:20%;text-align:center;">100<br></p>
	        </div>
	        <div style="display:inline-block;vertical-align:top;margin-left:-7px;margin-top:10px;"> &times; 2<font class="grade7Variables">x</font></div>
	        <br>
	        <div>= 2<font class="grade7Variables">x</font> &minus; 0.5<font class="grade7Variables">x</font></div>
	        <div style="margin-top:10px;">= 1.5<font class="grade7Variables">x</font></div>
        </div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

