<div style="height:480px;">
	<div class="grade7PageHeader" style="color:#FBB113;">Percentage - Topical Test</div>
	{% if test_status != 'Completed' %}
	<div style="float:right;margin-right:10px;display:inline-block;">
		<div style="display:inline-block;"><button id="PR_TT_1_Pause" style="outline:none;"></button></div>
		<div id="TestTimer" style="display:inline-block;"></div>
	</div>
	<br>
	{% endif %}
	<div style="clear:both;" class="grade7PageMargin">
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">7)</font></div>		
		<div style="display:inline-block;margin-top:20px;width:380px;vertical-align:top;">Consider 2 competitive brands in the market such that the sale volume of brand A is 1.5 times the sale volume of brand B.  After brand B employs some new promotional strategy, its sale volume increases, thereby reducing the sale volume of brand A by 20%. By what percentage has the sale volume of B increased if the sale volumes of the two brands are equal now?</div>
		<div style="margin-left:50px;margin-top:30px;">
			<div style="display:inline-block;">Answer: </div>
			<div style="display:inline-block;"> 
			{% if test_status == 'Completed' %}
				<input id="PRTT1_7_answer" size=3 value='{{PRTT1_7_answer}}' readonly style="background-color:#DFDFDF;"> % &nbsp;
				{% if PRTT1_7_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{PRTT1_7_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 4 / 4)</font>					
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{PRTT1_7_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 4)</font>					
				{% endif %}
			{% else %}
				<input id="PRTT1_7_answer" size=3 value='{{PRTT1_7_answer}}'> %<font class="grade7TestMark">(Mark: 4)</font>
			{% endif %}
			</div>				
		</div>
		<div style="margin-left:20px;margin-top:30px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">8)</font></div>		
		<div style="display:inline-block;margin-top:30px;width:380px;vertical-align:top;">John sold his used car at $28000, a price 20% lower than what he had bought it at 3 years ago. Find the price at which he had bought the car 3 years ago.</div>
		<div style="margin-left:50px;margin-top:30px;">
			<div style="display:inline-block;">Answer: $</div>
			<div style="display:inline-block;"> 
			{% if test_status == 'Completed' %}
				<input id="PRTT1_8_answer" size=3 value='{{PRTT1_8_answer}}' readonly style="background-color:#DFDFDF;"> &nbsp;
				{% if PRTT1_8_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{PRTT1_8_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 3 / 3)</font>					
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{PRTT1_8_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 3)</font>					
				{% endif %}
			{% else %}
				<input id="PRTT1_8_answer" size=3 value='{{PRTT1_8_answer}}'> <font class="grade7TestMark">(Mark: 3)</font>
			{% endif %}
			</div>				
		</div>

	</div>
	<div id="explain_dialog"></div>
</div>
	<div class="grade7TestBackButton"><button id="PR_TT_1_back" style="outline:none;"></button></div>
<script>

$("#PR_TT_1_Pause").button({label:"Pause"});
var total_seconds_elapsed = {{elapsed_time_seconds}};
$("#PR_TT_1_Pause").click(function()
	{
		Grade7SaveTestTime('{{test_id}}',total_seconds_elapsed,'{{current_user.username}}','Topical-Test-1-Percentage');
  	});	
$("#PR_TT_1_back").button({label:"<<"});
$("#PR_TT_1_back").click(function()
	{
		test_id = '{{test_id}}';
		student_id = '{{student_id}}';
		leftPage = '/Grade-7/Chapter-5/Topical-Test-1-Percentage-Page-1.html';
		rightPage = '/Grade-7/Chapter-5/Topical-Test-1-Percentage-Page-2.html';
		Grade7SaveAndLoadTest(test_id,student_id,leftPage,rightPage,total_seconds_elapsed,'');		
  	});

$("#PRTT1_7_answer").change(function()
		{
			question_id = "PRTT1_7";
			test_id = '{{test_id}}';
			answer_id = "PRTT1_7_answer";
			entered_answer = $("#PRTT1_7_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 4;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#PRTT1_8_answer").change(function()
		{
			question_id = "PRTT1_8";
			test_id = '{{test_id}}';
			answer_id = "PRTT1_8_answer";
			entered_answer = $("#PRTT1_8_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 3;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});


if ('{{test_status}}' != 'Completed')
{
	TestTimer();
	clearInterval(timeVar);
	var timeVar=setInterval(function(){TestTimer()},1000);
}
function TestTimer()
{
	function pretty_time_string(num)
	{
	return ( num < 10 ? "0" : "" ) + num;   
	}
	total_seconds_elapsed = total_seconds_elapsed + 1;
	display_seconds = total_seconds_elapsed;
	hours = Math.floor(display_seconds / 3600);
	display_seconds = display_seconds % 3600;
	minutes = Math.floor(display_seconds / 60);
	display_seconds = display_seconds % 60;
	var seconds = Math.floor(display_seconds);
	hours = pretty_time_string(hours);
	minutes = pretty_time_string(minutes);
	seconds = pretty_time_string(display_seconds);
	var currentTimeString = hours + ":" + minutes + ":" + seconds;
	document.getElementById("TestTimer").innerHTML=currentTimeString;
}

$("#explain_dialog").dialog
({
	autoOpen: false,
	title:"Explanation",
    position:"center",   			
	buttons:{"Ok": function(){$(this).dialog("close");}},
	modal:true,
	width:500
});
function ShowExplanation(htmlText)
{
	$("#explain_dialog").html(htmlText);
	$("#explain_dialog").addClass("ExplanationFont");
	$("#explain_dialog").dialog("open");	
}


</script>

