<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">10.2 Applications of Simple Inequalities</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:55%;">10.2 Applications of Simple Inequalities</div>
	{% endif %}
	<div class="grade7TopicName">10.2 Applications of Simple Inequalities</div>
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 7:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">
			Alex has a budget of not more than $10000 to purchase as many laptops as he can for his workshop. If each laptop costs him $1650, how many such laptops can he purchase?
		</div>
		<br>	
		<div style="margin-top:10px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 7:</font></div>
		<div style="margin-top:10px;width:320px;display:inline-block;vertical-align:top;">Let <font class="grade7Variables">x</font> be the number of laptops he can afford.
		<p>Maximum budget = $10000</p>
		<p>Price per laptop = $1650</p>
		<p>The inequality:</p>
			<div style="display:inline-block;">
				<div style="margin-top:5px;display:inline-block;width:75px;vertical-align:top;text-align:right;">1650<font class="grade7Variables">x</font></div>
				<div style="display:inline-block;margin-top:5px;">&le; 10000</div>
			</div>
			<br>
			<div style="display:inline-block;margin-top:10px;">
				<div style="margin-top:5px;display:inline-block;width:75px;vertical-align:top;text-align:right;"><font class="grade7Variables">x</font></div>
				<div style="display:inline-block;margin-top:5px;">&le; </div>
				<div style="display:inline-block;vertical-align:top;margin-left:3px;margin-top:-5px;">
					<p style="line-height:20%;text-align:center;">10000<br>_____<br></p>
					<p style="line-height:20%;text-align:center;">1650<br></p>
				</div>
			</div>
			<br>
			<div style="display:inline-block;margin-top:10px;">
				<div style="margin-top:5px;display:inline-block;width:75px;vertical-align:top;text-align:right;"><font class="grade7Variables">x</font></div>
				<div style="display:inline-block;margin-top:5px;">&le; 6</div>
				<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-7px;">
					<p style="line-height:20%;text-align:center;">2<br>__<br></p>
					<p style="line-height:20%;text-align:center;">33<br></p>
				</div>
			</div>
			<p>Alex can purchase 6 laptops.</p>
		</div>

	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

