<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">10.2 Applications of Simple Inequalities</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:55%;">10.2 Applications of Simple Inequalities</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Advanced</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Emily booked a dining hall to celebrate her birthday. Apart from $120 paid as rent, she was charged $25 per guest for food. If she paid more than $500, at least how many guests were invited to the party?
			</div>
		</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if C10AOSIAdvanced_1_answer_correct is defined %}
					<input id="C10AOSIAdvanced_1_answer" value='{{C10AOSIAdvanced_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">&nbsp; guests
				{% else %}
					<input id="C10AOSIAdvanced_1_answer" value='{{C10AOSIAdvanced_1_answer}}' style="width:30px;text-align:center;" >&nbsp; guests
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C10AOSIAdvanced_1_answer_correct is defined %}
					{% if C10AOSIAdvanced_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C10AOSIAdvanced_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		<div style="margin-left:20px;margin-top:50px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="margin-top:50px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">A patient with vitamin D deficiency is recommended eggs. It is known that a 50-gram egg supplies 8% of the recommended daily intake. At least how many such whole eggs must the patient eat to meet the recommended daily requirement of vitamin D? Assume that he does not eat any other food items containing vitamin D.
			</div>
		</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if C10AOSIAdvanced_2_answer_correct is defined %}
					<input id="C10AOSIAdvanced_2_answer" value='{{C10AOSIAdvanced_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">&nbsp; eggs
				{% else %}
					<input id="C10AOSIAdvanced_2_answer" value='{{C10AOSIAdvanced_2_answer}}' style="width:30px;text-align:center;" >&nbsp; eggs
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C10AOSIAdvanced_2_answer_correct is defined %}
					{% if C10AOSIAdvanced_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C10AOSIAdvanced_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		{% if C10AOSIAdvanced_1_answer_correct is defined %}
			<div style="margin-top:30px;margin-left:340px;"><button id="C10AOSIAdvanced_1_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="C10AOSIAdvanced_1_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>
<script>
	$("#C10AOSIAdvanced_1_answer").change(function()
	{
		question_id = "C10AOSIAdvanced_1";
		question_type = "AppOfSimpleInequalities"
		answer_id = "C10AOSIAdvanced_1_answer";
		entered_answer = $("#C10AOSIAdvanced_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#C10AOSIAdvanced_2_answer").change(function()
			{
				question_id = "C10AOSIAdvanced_2";
				question_type = "AppOfSimpleInequalities"
				answer_id = "C10AOSIAdvanced_2_answer";
				entered_answer = $("#C10AOSIAdvanced_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#C10AOSIAdvanced_1_Submit").button({label:"Check Answers"});
	$("#C10AOSIAdvanced_1_Retry").button({label:"Retry"});
	$("#C10AOSIAdvanced_1_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "AppOfSimpleInequalities"
		//getting question id, answer id and entered answer in form of a string
		var answers = "C10AOSIAdvanced_1"+"#%$"+"C10AOSIAdvanced_1_answer"+"#%$"+$("#C10AOSIAdvanced_1_answer").val();
		answers = answers + "#%$"+"C10AOSIAdvanced_2"+"#%$"+"C10AOSIAdvanced_2_answer"+"#%$"+$("#C10AOSIAdvanced_2_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#C10AOSIAdvanced_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "C10AOSIAdvanced_1_answer,C10AOSIAdvanced_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


