<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">10.2 Applications of Simple Inequalities</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:55%;">10.2 Applications of Simple Inequalities</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:40px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 8:</font></div>
		<div style="margin-top:40px;display:inline-block;width:310px;vertical-align:top;">
			Nita appeared for a mathematics test containing 3 sections. She scored 57 marks in the first section and 28 marks in the second section. At least how many marks did she need in the last section to pass the test, given that the minimum passing marks in the test were 150?
		</div>
		<br>	
		<div style="margin-top:10px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 8:</font></div>
		<div style="margin-top:10px;width:320px;display:inline-block;vertical-align:top;">Let <font class="grade7Variables">x</font> be the marks needed in the last section.
		<p>Minimum passing marks = 150</p>
		<p>The inequality:</p>
			<div style="display:inline-block;">
				<div style="margin-top:5px;display:inline-block;width:120px;vertical-align:top;text-align:right;"><font class="grade7Variables">x</font> + 57 + 28</div>
				<div style="display:inline-block;margin-top:5px;">&ge; 150</div>
			</div>
			<br>
			<div style="display:inline-block;">
				<div style="margin-top:5px;display:inline-block;width:120px;vertical-align:top;text-align:right;"><font class="grade7Variables">x</font> + 85</div>
				<div style="display:inline-block;margin-top:5px;">&ge; 150</div>
			</div>
			<br>
			<div style="display:inline-block;">
				<div style="margin-top:5px;display:inline-block;width:120px;vertical-align:top;text-align:right;"><font class="grade7Variables">x</font> + 85 &minus; 85</div>
				<div style="display:inline-block;margin-top:5px;">&ge; 150 &minus; 85</div>
			</div>
			<br>
			<div style="display:inline-block;">
				<div style="margin-top:5px;display:inline-block;width:120px;vertical-align:top;text-align:right;"><font class="grade7Variables">x</font></div>
				<div style="display:inline-block;margin-top:5px;">&ge; 65</div>
			</div>
			<p>She needed at least 65 marks to pass the test.</p>
		</div>

	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

