<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">10.2 Applications of Simple Inequalities</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:55%;">10.2 Applications of Simple Inequalities</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:60px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="margin-top:60px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">The length of a roll of ribbon is a multiple of 6 cm. Rita cuts 12-cm long pieces from the roll. Find the minimum number of pieces that she can cut if the length of the roll is more than 200 cm.
			</div>
		</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if C10AOSIMedium_3_answer_correct is defined %}
					<input id="C10AOSIMedium_3_answer" value='{{C10AOSIMedium_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">&nbsp; pieces
				{% else %}
					<input id="C10AOSIMedium_3_answer" value='{{C10AOSIMedium_3_answer}}' style="width:30px;text-align:center;" >&nbsp; pieces
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C10AOSIMedium_3_answer_correct is defined %}
					{% if C10AOSIMedium_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C10AOSIMedium_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		<div style="margin-left:20px;margin-top:50px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="margin-top:50px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">After paying $108.50 for grocery, Lisa is not left with more than $2.90. Find the maximum amount of money that she could have had at first. Round off your answer to the nearest dollar.
			</div>
		</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;$
				{% if C10AOSIMedium_4_answer_correct is defined %}
					<input id="C10AOSIMedium_4_answer" value='{{C10AOSIMedium_4_answer}}' readonly style="width:40px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C10AOSIMedium_4_answer" value='{{C10AOSIMedium_4_answer}}' style="width:40px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C10AOSIMedium_4_answer_correct is defined %}
					{% if C10AOSIMedium_4_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C10AOSIMedium_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>


		{% if C10AOSIMedium_3_answer_correct is defined %}
			<div style="margin-top:50px;margin-left:340px;"><button id="C10AOSIMedium_2_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:50px;margin-left:280px;"><button id="C10AOSIMedium_2_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>
<script>
	$("#C10AOSIMedium_3answer").change(function()
	{
		question_id = "C10AOSIMedium_3";
		question_type = "AppOfSimpleInequalities"
		answer_id = "C10AOSIMedium_3answer";
		entered_answer = $("#C10AOSIMedium_3answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#C10AOSIMedium_4_answer").change(function()
			{
				question_id = "C10AOSIMedium_4";
				question_type = "AppOfSimpleInequalities"
				answer_id = "C10AOSIMedium_4_answer";
				entered_answer = $("#C10AOSIMedium_4_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});


	$("#C10AOSIMedium_2_Submit").button({label:"Check Answers"});
	$("#C10AOSIMedium_2_Retry").button({label:"Retry"});
	$("#C10AOSIMedium_2_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "AppOfSimpleInequalities"
		//getting question id, answer id and entered answer in form of a string
		var answers = "C10AOSIMedium_3"+"#%$"+"C10AOSIMedium_3_answer"+"#%$"+$("#C10AOSIMedium_3_answer").val();
		answers = answers + "#%$"+"C10AOSIMedium_4"+"#%$"+"C10AOSIMedium_4_answer"+"#%$"+$("#C10AOSIMedium_4_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#C10AOSIMedium_2_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "C10AOSIMedium_3answer,C10AOSIMedium_4_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


