<div style="height:480px;">
	<div class="grade7ChapterNumberDiv" style="background-color:#2687AF;">
		<div class="grade7ChapterNumber" style="color:#FFF;">
			Chapter 10
		</div>
	</div>
	<div class="grade7ChapterNameDiv" style="background-color:#3DD2CD;">
		<div class="grade7ChapterName" style="width:350px;color:#2687AF;">
			Simple Inequalities
		</div>
	</div>
	<br>
	<div class="grade7LearningOutcomes">Learning Outcomes</div>
	<div class="grade7LearningOutcomesList" style="margin-left:20%;">
		<ul>
			<li><a href="javascript:Grade7BookPageLoadByName('Simple-Inequalities-1')">Simple Inequalities</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Applications-Of-Simple-Inequalities-1')">Applications of Simple Inequalities</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Topical-Test-1-Simple-Inequalities')">Topical Test</a></li>
		</ul>		
	</div>		
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

