<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">10.1 Introduction to Simple Inequalities</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:55%;">10.1 Introduction to Simple Inequalities</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Write an inequality in terms of <font class="grade7Variables">x</font> for each of the following cases.
			</div>
		</div>
		<div style="display:inline-block;margin-left:40px;margin-top:10px;vertical-align:top;">a)</div>
		<div style="display:inline-block;width:360px;margin-top:0px;"><img src="/images/Grade7/G7_SI_Represent_Inequalities_Easy_4a.png"></div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if C10SIEasy_4_1_answer_correct is defined %}
					<input id="C10SIEasy_4_1_answer" value='{{C10SIEasy_4_1_answer}}' readonly style="width:40px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C10SIEasy_4_1_answer" value='{{C10SIEasy_4_1_answer}}' style="width:40px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C10SIEasy_4_1_answer_correct is defined %}
					{% if C10SIEasy_4_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C10SIEasy_4_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		<div style="display:inline-block;margin-left:40px;margin-top:20px;vertical-align:top;">b)</div>
		<div style="display:inline-block;width:360px;margin-top:10px;"><img src="/images/Grade7/G7_SI_Represent_Inequalities_Easy_4b.png"></div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if C10SIEasy_4_2_answer_correct is defined %}
					<input id="C10SIEasy_4_2_answer" value='{{C10SIEasy_4_2_answer}}' readonly style="width:40px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C10SIEasy_4_2_answer" value='{{C10SIEasy_4_2_answer}}' style="width:40px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C10SIEasy_4_2_answer_correct is defined %}
					{% if C10SIEasy_4_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C10SIEasy_4_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		<div style="display:inline-block;margin-left:40px;margin-top:20px;vertical-align:top;">c)</div>
		<div style="display:inline-block;width:360px;margin-top:10px;"><img src="/images/Grade7/G7_SI_Represent_Inequalities_Easy_4c.png"></div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if C10SIEasy_4_3_answer_correct is defined %}
					<input id="C10SIEasy_4_3_answer" value='{{C10SIEasy_4_3_answer}}' readonly style="width:40px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C10SIEasy_4_3_answer" value='{{C10SIEasy_4_3_answer}}' style="width:40px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C10SIEasy_4_3_answer_correct is defined %}
					{% if C10SIEasy_4_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C10SIEasy_4_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		<div style="display:inline-block;margin-left:40px;margin-top:20px;vertical-align:top;">d)</div>
		<div style="display:inline-block;width:360px;margin-top:10px;"><img src="/images/Grade7/G7_SI_Represent_Inequalities_Easy_4d.png"></div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if C10SIEasy_4_4_answer_correct is defined %}
					<input id="C10SIEasy_4_4_answer" value='{{C10SIEasy_4_4_answer}}' readonly style="width:40px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C10SIEasy_4_4_answer" value='{{C10SIEasy_4_4_answer}}' style="width:40px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C10SIEasy_4_4_answer_correct is defined %}
					{% if C10SIEasy_4_4_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C10SIEasy_4_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>


		{% if C10SIEasy_4_1_answer_correct is defined %}
			<div style="margin-top:-30px;margin-left:340px;"><button id="C10SIEasy_4_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:-30px;margin-left:280px;"><button id="C10SIEasy_4_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>
<script>
	$("#C10SIEasy_4_1_answer").change(function()
	{
		question_id = "C10SIEasy_4";
		question_type = "SimpleInequalities"
		answer_id = "C10SIEasy_4_1_answer";
		entered_answer = $("#C10SIEasy_4_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#C10SIEasy_4_2_answer").change(function()
			{
				question_id = "C10SIEasy_4";
				question_type = "SimpleInequalities"
				answer_id = "C10SIEasy_4_2_answer";
				entered_answer = $("#C10SIEasy_4_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#C10SIEasy_4_3_answer").change(function()
			{
				question_id = "C10SIEasy_4";
				question_type = "SimpleInequalities"
				answer_id = "C10SIEasy_4_3_answer";
				entered_answer = $("#C10SIEasy_4_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#C10SIEasy_4_4_answer").change(function()
			{
				question_id = "C10SIEasy_4";
				question_type = "SimpleInequalities"
				answer_id = "C10SIEasy_4_4_answer";
				entered_answer = $("#C10SIEasy_4_4_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#C10SIEasy_4_Submit").button({label:"Check Answers"});
	$("#C10SIEasy_4_Retry").button({label:"Retry"});
	$("#C10SIEasy_4_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "SimpleInequalities"
		//getting question id, answer id and entered answer in form of a string
		var answers = "C10SIEasy_4"+"#%$"+"C10SIEasy_4_1_answer"+"#%$"+$("#C10SIEasy_4_1_answer").val();
		answers = answers + "#%$"+"C10SIEasy_4"+"#%$"+"C10SIEasy_4_2_answer"+"#%$"+$("#C10SIEasy_4_2_answer").val();
		answers = answers + "#%$"+"C10SIEasy_4"+"#%$"+"C10SIEasy_4_3_answer"+"#%$"+$("#C10SIEasy_4_3_answer").val();
		answers = answers + "#%$"+"C10SIEasy_4"+"#%$"+"C10SIEasy_4_4_answer"+"#%$"+$("#C10SIEasy_4_4_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#C10SIEasy_4_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "C10SIEasy_4_1_answer,C10SIEasy_4_2_answer,C10SIEasy_4_3_answer,C10SIEasy_4_4_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


