<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">10.1 Introduction to Simple Inequalities</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:55%;">10.1 Introduction to Simple Inequalities</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 2 (contd.):</font></div>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">d)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			8 &gt; 6<br>
			Divide both sides by &minus;4.<br>
			LHS: 8 &times; &minus;4 = &minus;2<br>
			RHS: 6 &times; &minus;4 = &minus;1.5<br>
			&minus;2 &lt; &minus;1.5, as &minus;2 appears to the left of &minus;1.5 on the number line.<br>
			So, the inequality sign <strong>gets reversed</strong>.<br>
		</div>
		<div class="grade7OrangeSideBox" style="margin-top:10px;">As a rule...
		<ul>
		<li style="font-family:'comic sans ms',calibri,arial; font-size:12px;">When both sides of an inequality are multiplied or divided by a positive number, the inequality sign remains the same.</li><br>
		<li style="font-family:'comic sans ms',calibri,arial; font-size:12px;">When both sides of an inequality are multiplied or divided by a negative number, the inequality sign gets reversed.</li>
		</ul>
		</div>
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 3:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">
			Solve 3<font class="grade7Variables">x</font> &lt; 5 &minus; 2.
		</div>
		<div style="margin-top:10px;width:95px;display:inline-block;"><font class="grade7ExampleSolution">Solution 3:</font></div>
		<div style="margin-top:10px;display:inline-block;width:50px;vertical-align:top;text-align:right;">3<font class="grade7Variables">x</font></div>
		<div style="display:inline-block;margin-top:10px;">&lt; 5 &minus; 2</div>
		<div style="margin-left:100px;">
			<div style="margin-top:5px;display:inline-block;width:50px;vertical-align:top;text-align:right;">3<font class="grade7Variables">x</font></div>
			<div style="display:inline-block;margin-top:5px;">&lt; 3</div>
			<div style="display:inline-block;margin-top:5px;margin-left:37px;"><font style="color:#0099FF">(Subtract 2 from 5)</font></div>
		</div>
		<div style="margin-left:100px;">
			<div style="margin-top:5px;display:inline-block;width:50px;vertical-align:top;text-align:right;">3<font class="grade7Variables">x</font> &divide; 3</div>
			<div style="display:inline-block;margin-top:5px;">&lt; 3 &divide; 3</div>
			<div style="display:inline-block;margin-top:5px;margin-left:10px;"><font style="color:#0099FF">(Divide both sides by 3)</font></div>
		</div>
		<div style="margin-left:100px;">
			<div style="margin-top:5px;display:inline-block;width:50px;vertical-align:top;text-align:right;"><font class="grade7Variables">x</font></div>
			<div style="display:inline-block;margin-top:5px;">&lt; 1</div>
			<div style="margin-top:10px;">This is the solution.</div>					
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

