<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">10.1 Introduction to Simple Inequalities</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:55%;">10.1 Introduction to Simple Inequalities</div>
	{% endif %}
	<div class="grade7TopicName">10.1 Introduction to Simple Inequalities</div>
	<div class="grade7PageMargin">
		<div style="margin-top:10px;">The annual income of Mary is $50 more than twice that of Amy. If $<font class="grade7Variables">x</font> is the annual income of Mary and $<font class="grade7Variables">y</font> is the annual income of Amy, a linear equation can be formed as below,</div>
		<div style="margin-top:10px;text-align:center;"><font class="grade7Variables">x</font> = 2<font class="grade7Variables">y</font> + 50</div>
		<div style="margin-top:10px;">Here, the exact relationship between the two variables is known.</div>
		<div style="margin-top:10px;">On the other hand, if it is said that the annual income of Mary, $<font class="grade7Variables">x</font>, is more than that of Amy, $<font class="grade7Variables">y</font>, it is represented as,</div>
		<div style="margin-top:10px;text-align:center;"><font class="grade7Variables">x</font> > <font class="grade7Variables">y</font></div>
		<div style="margin-top:10px;">This is called an <strong>inequality</strong>. Here, the exact relationship between the two variables is unknown.</div>
		<br>
		<table class="grade7SimpleInequalitiesTable">
		<tr><th>Signs</th><th>Meaning</th></tr>
		<tr><td>&gt;</td><td>Greater than</td></tr>
		<tr><td>&lt;</td><td>Less than</td></tr>
		<tr><td>&ge;</td><td>Greater than or equal to</td></tr>
		<tr><td>&le;</td><td>Less than or equal to</td></tr>
		</table>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

