<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">10.1 Introduction to Simple Inequalities</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:55%;">10.1 Introduction to Simple Inequalities</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:30px;"><font class="grade7SubTopicName">10.1.2 Representation of Inequalities on Number Line</font></div>
		<p>Solutions of an inequality can be represented on a number line as follows:</p>
		<div style="text-align:center;margin-top:-5px;"><font class="grade7Variables">x</font> &gt; &minus;4</div>
		<p>Some of the values of <font class="grade7Variables">x</font> are &minus;3, &minus;2, &minus;0.8, 0, 1, 2, 53 and so on.
		Note that <font class="grade7Variables">x</font> can be any real number with a value greater than &minus;4.</p>
		<div style="margin-left:50px;"><img src="/images/Grade7/G7_SI_Represent_Inequalities_1.png"></div>
		<p>The hollow circle <font style="font-size:1.3em;">&#9675;</font> indicates that <font class="grade7Variables">x</font> is greater than but not equal to &minus;4, i.e. the number &minus;4 is not included.</p>
		<p>Let us consider another example: <font class="grade7Variables">x</font> &le; 2</p>
		<p>Some of the values of <font class="grade7Variables">x</font> are 2, 1, 0.5, &minus;1, &minus;1.9, and so on.</p>
		<div style="margin-left:40px;"><img src="/images/Grade7/G7_SI_Represent_Inequalities_2.png"></div>
		<p>The solid circle <font style="font-size:1.3em;">&#9679;</font> indicates that x is less than or equal to 2 i.e. the number 2 is included.</p>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

