<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">10.1 Introduction to Simple Inequalities</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:55%;">10.1 Introduction to Simple Inequalities</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 1:</font></div>
		<div style="margin-top:10px;display:inline-block;width:310px;vertical-align:top;">
			Represent the following relationships using inequalities:
		</div>
		<br>	
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			The storage temperature for packaged food products must not exceed 30&deg;C.
		</div>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">b)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			The normal fasting blood sugar level is between <br>70 mg/dl and 99 mg/dl, including both these values.
		</div>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">c)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			The fine for skipping a traffic signal is at least $100.
		</div>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">d)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			More than 50% of the population in the city is suffering from conjunctivitis.
		</div>
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 1:</font></div>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			Let <font class="grade7Variables">t</font>&deg;C be the storage temperature for packaged food products.<br>
			<font class="grade7Variables">t</font>&deg;C is less than or equal to 30&deg;C.<br>
			So, <font class="grade7Variables">t</font> &le; 30.
		</div>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">b)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			Let <font class="grade7Variables">x</font> mg/dl be the normal fasting blood sugar level.<br>
			<font class="grade7Variables">x</font> mg/dl is more than or equal to 70 mg/dl and less than or equal to 99 mg/dl.<br>
			So, 70 &le; <font class="grade7Variables">x</font> &le; 99.
		</div>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">c)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			Let $<font class="grade7Variables">y</font> be the fine for skipping a traffic signal.<br>
			$<font class="grade7Variables">y</font> is more than or equal to $100.<br>
			So, <font class="grade7Variables">y</font> &ge; 100.
		</div>
	</div>


</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

