<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">10.1 Introduction to Simple Inequalities</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:55%;">10.1 Introduction to Simple Inequalities</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">5)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Solve &nbsp; &minus;13<font class="grade7Variables">x</font> &gt; &minus;54 &nbsp; and select the number line that correctly represents the solutions of the inequality.
			</div>
		</div>


		<div style="margin-left:65px;margin-top:10px;">
			{% if C10SIEasy_5_answer_correct is defined %}
			<div style="display:inline-block;">			
				<input type=radio name="C10SIEasy_5_answer" value='A' disabled
				{% if C10SIEasy_5_answer == 'A'%} 
   					checked="checked"
   				{%endif%}
				 >&nbsp;<img style="margin-top:10px;" src="/images/Grade7/G7_SI_Represent_Inequalities_Easy_5a.png"><br>
				<input type=radio name="C10SIEasy_5_answer" value='B' disabled
				{% if C10SIEasy_5_answer == 'B' %} 
   					checked="checked"
   				{%endif%}
				 >&nbsp;<img style="margin-top:10px;" src="/images/Grade7/G7_SI_Represent_Inequalities_Easy_5b.png">
			</div>
			<div style="display:inline-block;margin-top:-10px;">
				{% if C10SIEasy_5_answer_correct %}
					<img src="/images/g7_correct.png">
				{% else %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{C10SIEasy_5_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			</div>
			{% else %}
				<input type=radio name="C10SIEasy_5_answer" value='A'
				{% if C10SIEasy_5_answer == 'A'%} 
   					checked="checked"
   				{%endif%}
				 >&nbsp;<img style="margin-top:10px;" src="/images/Grade7/G7_SI_Represent_Inequalities_Easy_5a.png"><br>
				<input type=radio name="C10SIEasy_5_answer" value='B'
				{% if C10SIEasy_5_answer == 'B' %} 
   					checked="checked"
   				{%endif%}
				 >&nbsp;<img style="margin-top:10px;" src="/images/Grade7/G7_SI_Represent_Inequalities_Easy_5b.png">
			{% endif %}	
		</div>

		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">6)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Fill in each box with an appropriate inequality sign.
			</div>
		</div>
		<br>
		<div style="display:inline-block;margin-left:40px;margin-top:30px;vertical-align:top;">a) If &nbsp;<font class="grade7Variables">x</font> &ge; <font class="grade7Variables">y</font>, then &nbsp;</div>
		<div style="display:inline-block;vertical-align:top;margin-left:-1px;margin-top:20px;">
			<p style="line-height:20%;text-align:center;">&nbsp; <font class="grade7Variables">x</font>&nbsp;<br>___<br></p>
			<p style="line-height:20%;text-align:center;">&minus;7<br></p>
		</div>
		<div style="display:inline-block;margin-left:3px;margin-right:3px;margin-top:30px;vertical-align:top;">
			{% if C10SIEasy_6_1_answer_correct is defined %}
				<input id="C10SIEasy_6_1_answer" value='{{C10SIEasy_6_1_answer}}' readonly style="width:20px;background-color:#DFDFDF;">
			{% else %}
				<input id="C10SIEasy_6_1_answer" value='{{C10SIEasy_6_1_answer}}' style="width:20px;">
			{% endif %}
		</div>
		<div style="display:inline-block;vertical-align:top;margin-left:-1px;margin-top:20px;">
			<p style="line-height:20%;text-align:center;">&nbsp; <font class="grade7Variables">y</font>&nbsp;<br>___<br></p>
			<p style="line-height:20%;text-align:center;">&minus;7<br></p>
		</div>
		<div style="display:inline-block;margin-left:10px;margin-top:20px;">
			{% if C10SIEasy_6_1_answer_correct is defined %}
				{% if C10SIEasy_6_1_answer_correct %}
					<img src="/images/g7_correct.png">
				{% else %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{C10SIEasy_6_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% endif %}
		</div>			
		<br>

		<div style="display:inline-block;margin-left:40px;margin-top:10px;vertical-align:top;">b)</div>
		<div style="display:inline-block;margin-top:10px;">If &nbsp;<font class="grade7Variables">x</font> &le; 9, then &nbsp;3<font class="grade7Variables">x</font></div>
		<div style="display:inline-block;margin-left:3px;margin-right:3px;margin-top:10px;">
			{% if C10SIEasy_6_2_answer_correct is defined %}
				<input id="C10SIEasy_6_2_answer" value='{{C10SIEasy_6_2_answer}}' readonly style="width:20px;background-color:#DFDFDF;">
			{% else %}
				<input id="C10SIEasy_6_2_answer" value='{{C10SIEasy_6_2_answer}}' style="width:20px;">
			{% endif %}
		</div>
		<div style="display:inline-block;margin-top:10px;">27</div>
		<div style="display:inline-block;margin-left:10px;margin-top:0px;">
			{% if C10SIEasy_6_2_answer_correct is defined %}
				{% if C10SIEasy_6_2_answer_correct %}
					<img src="/images/g7_correct.png">
				{% else %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{C10SIEasy_6_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% endif %}
		</div>
		<br>

		<div style="display:inline-block;margin-left:40px;margin-top:20px;vertical-align:top;">c)</div>
		<div style="display:inline-block;margin-top:20px;">If &nbsp;&minus;5 &le; <font class="grade7Variables">x</font>, then &nbsp;&minus;4<font class="grade7Variables">x</font></div>
		<div style="display:inline-block;margin-left:3px;margin-right:3px;margin-top:20px;">
			{% if C10SIEasy_6_3_answer_correct is defined %}
				<input id="C10SIEasy_6_3_answer" value='{{C10SIEasy_6_3_answer}}' readonly style="width:20px;background-color:#DFDFDF;">
			{% else %}
				<input id="C10SIEasy_6_3_answer" value='{{C10SIEasy_6_3_answer}}' style="width:20px;">
			{% endif %}
		</div>
		<div style="display:inline-block;margin-top:20px;">20</div>
		<div style="display:inline-block;margin-left:20px;margin-top:10px;">
			{% if C10SIEasy_6_3_answer_correct is defined %}
				{% if C10SIEasy_6_3_answer_correct %}
					<img src="/images/g7_correct.png">
				{% else %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{C10SIEasy_6_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% endif %}
		</div>
		<br>

		<div style="display:inline-block;margin-left:40px;margin-top:20px;vertical-align:top;">d)</div>
		<div style="display:inline-block;margin-top:20px;">If &nbsp;<font class="grade7Variables">x</font> &gt; &minus;2, then &nbsp;<font class="grade7Variables">x</font> &minus; 5</div>
		<div style="display:inline-block;margin-left:3px;margin-right:3px;margin-top:20px;">
			{% if C10SIEasy_6_4_answer_correct is defined %}
				<input id="C10SIEasy_6_4_answer" value='{{C10SIEasy_6_4_answer}}' readonly style="width:20px;background-color:#DFDFDF;">
			{% else %}
				<input id="C10SIEasy_6_4_answer" value='{{C10SIEasy_6_4_answer}}' style="width:20px;">
			{% endif %}
		</div>
		<div style="display:inline-block;margin-top:20px;">&minus;7</div>
		<div style="display:inline-block;margin-left:20px;margin-top:10px;">
			{% if C10SIEasy_6_4_answer_correct is defined %}
				{% if C10SIEasy_6_4_answer_correct %}
					<img src="/images/g7_correct.png">
				{% else %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{C10SIEasy_6_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% endif %}
		</div>			


		{% if C10SIEasy_5_answer_correct is defined %}
			<div style="margin-top:20px;margin-left:340px;"><button id="C10SIEasy_5_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="C10SIEasy_5_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>
<script>
	$("input[name='C10SIEasy_5_answer']").click(function()
	{
		question_id = "C10SIEasy_5";
		question_type = "SimpleInequalities"
		answer_id = "C10SIEasy_5_answer";
		entered_answer = $("input:radio[name=C10SIEasy_5_answer]:checked").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#C10SIEasy_6_1_answer").change(function()
			{
				question_id = "C10SIEasy_6";
				question_type = "SimpleInequalities"
				answer_id = "C10SIEasy_6_1_answer";
				entered_answer = $("#C10SIEasy_6_1_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
			$("#C10SIEasy_6_2_answer").change(function()
					{
						question_id = "C10SIEasy_6";
						question_type = "SimpleInequalities"
						answer_id = "C10SIEasy_6_2_answer";
						entered_answer = $("#C10SIEasy_6_2_answer").val();
						student_id = '{{current_user.username}}';
						Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
					});
			$("#C10SIEasy_6_3_answer").change(function()
					{
						question_id = "C10SIEasy_6";
						question_type = "SimpleInequalities"
						answer_id = "C10SIEasy_6_3_answer";
						entered_answer = $("#C10SIEasy_6_3_answer").val();
						student_id = '{{current_user.username}}';
						Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
					});
			$("#C10SIEasy_6_4_answer").change(function()
					{
						question_id = "C10SIEasy_6";
						question_type = "SimpleInequalities"
						answer_id = "C10SIEasy_6_4_answer";
						entered_answer = $("#C10SIEasy_6_4_answer").val();
						student_id = '{{current_user.username}}';
						Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
					});

	$("#C10SIEasy_5_Submit").button({label:"Check Answers"});
	$("#C10SIEasy_5_Retry").button({label:"Retry"});
	$("#C10SIEasy_5_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "SimpleInequalities"
		//getting question id, answer id and entered answer in form of a string
		var answers = "C10SIEasy_5"+"#%$"+"C10SIEasy_5_answer"+"#%$"+$("input:radio[name=C10SIEasy_5_answer]:checked").val();
		answers = answers + "#%$"+"C10SIEasy_6"+"#%$"+"C10SIEasy_6_1_answer"+"#%$"+$("#C10SIEasy_6_1_answer").val();
		answers = answers + "#%$"+"C10SIEasy_6"+"#%$"+"C10SIEasy_6_2_answer"+"#%$"+$("#C10SIEasy_6_2_answer").val();
		answers = answers + "#%$"+"C10SIEasy_6"+"#%$"+"C10SIEasy_6_3_answer"+"#%$"+$("#C10SIEasy_6_3_answer").val();
		answers = answers + "#%$"+"C10SIEasy_6"+"#%$"+"C10SIEasy_6_4_answer"+"#%$"+$("#C10SIEasy_6_4_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#C10SIEasy_5_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "C10SIEasy_5_answer,C10SIEasy_6_1_answer,C10SIEasy_6_2_answer,C10SIEasy_6_3_answer,C10SIEasy_6_4_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


