<div style="height:480px;">
	<div class="grade7PageHeader" style="color:#3DD2CD;">Simple Inequalities - Topical Test</div>
	{% if test_status != 'Completed' %}
	<div style="float:right;margin-right:10px;display:inline-block;">
		<div style="display:inline-block;"><button id="C10SI_TT_1_Pause" style="outline:none;"></button></div>
		<div id="TestTimer" style="display:inline-block;"></div>
	</div>
	<br>
	{% endif %}
	<div style="clear:both;" class="grade7PageMargin">
		<div style="display:inline-block;margin-left:20px;margin-top:30px;"><font class="grade7PracticeQuestionNumber">9)</font></div>
		<div style="display:inline-block;width:380px;margin-top:30px;vertical-align:top;">
			A store announces <font class="grade7Variables">x</font>% discount on its products such that <font class="grade7Variables">x</font> satisfies the inequality 5<font class="grade7Variables">x</font> + 3 &le; 128. A refrigerator at the store is sold $900. If it is sold at the maximum percentage discount, find its marked price.
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;margin-left:15px;margin-top:10px;vertical-align:top;">Answer: $</div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
					<input id="C10SITT1_9_answer" value='{{C10SITT1_9_answer}}' readonly style="width:40px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C10SITT1_9_answer" value='{{C10SITT1_9_answer}}' style="width:40px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if C10SITT1_9_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{C10SITT1_9_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 5 / 5)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{C10SITT1_9_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 5)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 5)</font>
				{% endif %}
			</div>
		</div>

		<div style="display:inline-block;margin-left:20px;margin-top:40px;"><font class="grade7PracticeQuestionNumber">10)</font></div>
		<div style="display:inline-block;width:380px;margin-top:40px;vertical-align:top;">
			A turnkey construction project took at least 4200 hours to complete. The project was spread over 60 weeks. Assuming that the work was carried out for an equal number of hours each day of the week, find the minimum number of hours for which the project was run each day.
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;margin-left:15px;margin-top:10px;vertical-align:top;">Answer: </div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
					<input id="C10SITT1_10_answer" value='{{C10SITT1_10_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> hours
				{% else %}
					<input id="C10SITT1_10_answer" value='{{C10SITT1_10_answer}}' style="width:30px;text-align:center;" > hours
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if C10SITT1_10_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{C10SITT1_10_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 5 / 5)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{C10SITT1_10_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 5)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 5)</font>
				{% endif %}
			</div>
		</div>


		
	</div>
	<div id="explain_dialog"></div>
</div>
	<div class="grade7TestBackButton"><button id="C10SI_TT_1_back" style="outline:none;"></button></div>
<script>

$("#C10SI_TT_1_Pause").button({label:"Pause"});
var total_seconds_elapsed = {{elapsed_time_seconds}};
$("#C10SI_TT_1_Pause").click(function()
	{
		Grade7SaveTestTime('{{test_id}}',total_seconds_elapsed,'{{current_user.username}}','Topical-Test-1-Simple-Inequalities');
  	});	
$("#C10SI_TT_1_back").button({label:"<<"});
$("#C10SI_TT_1_back").click(function()
	{
		test_id = '{{test_id}}';
		student_id = '{{student_id}}';
		leftPage = '/Grade-7/Chapter-10/Topical-Test-1-Simple-Inequalities-Page-3.html';
		rightPage = '/Grade-7/Chapter-10/Topical-Test-1-Simple-Inequalities-Page-4.html';
		Grade7SaveAndLoadTest(test_id,student_id,leftPage,rightPage,total_seconds_elapsed,'');		
  	});

$("#C10SITT1_9_answer").change(function()
		{
			question_id = "C10SITT1_9";
			test_id = '{{test_id}}';
			answer_id = "C10SITT1_9_answer";
			entered_answer = $("#C10SITT1_9_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 5;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#C10SITT1_10_answer").change(function()		
		{
			question_id = "C10SITT1_10";
			test_id = '{{test_id}}';
			answer_id = "C10SITT1_10_answer";
			entered_answer = $("#C10SITT1_10_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 5;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});



if ('{{test_status}}' != 'Completed')
{
	TestTimer();
	clearInterval(timeVar);
	var timeVar=setInterval(function(){TestTimer()},1000);
}
function TestTimer()
{
	function pretty_time_string(num)
	{
	return ( num < 10 ? "0" : "" ) + num;   
	}
	total_seconds_elapsed = total_seconds_elapsed + 1;
	display_seconds = total_seconds_elapsed;
	hours = Math.floor(display_seconds / 3600);
	display_seconds = display_seconds % 3600;
	minutes = Math.floor(display_seconds / 60);
	display_seconds = display_seconds % 60;
	var seconds = Math.floor(display_seconds);
	hours = pretty_time_string(hours);
	minutes = pretty_time_string(minutes);
	seconds = pretty_time_string(display_seconds);
	var currentTimeString = hours + ":" + minutes + ":" + seconds;
	document.getElementById("TestTimer").innerHTML=currentTimeString;
}

$("#explain_dialog").dialog
({
	autoOpen: false,
	title:"Explanation",
    position:"center",   			
	buttons:{"Ok": function(){$(this).dialog("close");}},
	modal:true,
	width:500
});
function ShowExplanation(htmlText)
{
	$("#explain_dialog").html(htmlText);
	$("#explain_dialog").addClass("ExplanationFont");
	$("#explain_dialog").dialog("open");	
}


</script>

