<div style="height:480px;">
	<div class="grade7PageHeader" style="color:#3DD2CD;">Simple Inequalities - Topical Test</div>
	{% if test_status != 'Completed' %}
	<div style="float:right;margin-right:10px;">
		<div style="display:inline-block;"><button id="C10SI_TT_1_Pause" style="outline:none;"></button></div>
		<div id="TestTimer" style="display:inline-block;"></div>
	</div>
	<br><br>
	{% endif %}
	<div class="grade7PageMargin" style="clear:both;">
		<div style="display:inline-block;margin-left:20px;margin-top:10px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="display:inline-block;width:380px;margin-top:10px;vertical-align:top;">
			Find the smallest odd integer value of <font class="grade7Variables">x</font> that satisfies the given inequality:
		</div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:40px;">a)</div>		
		<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">
			15<font class="grade7Variables">x</font> &ge; 62 &minus; 2
		</div>						
		<div style="margin-left:40px;margin-top:10px;">		
			<div style="display:inline-block;margin-left:40px;margin-top:10px;"><font class="grade7Variables">x</font> &nbsp; = </div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
					<input id="C10SITT1_1_1_answer" value='{{C10SITT1_1_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C10SITT1_1_1_answer" value='{{C10SITT1_1_1_answer}}' style="width:30px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if C10SITT1_1_1_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{C10SITT1_1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 2 / 2)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{C10SITT1_1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 2)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 2)</font>
				{% endif %}
			</div>								
		</div>

		<div style="display:inline-block;margin-top:20px;margin-left:40px;">b)</div>		
		<div style="display:inline-block;margin-left:5px;margin-top:20px;">
			16 &gt; &minus;2<font class="grade7Variables">x</font>
		</div>						
		<div style="margin-left:40px;margin-top:10px;">		
			<div style="display:inline-block;margin-left:40px;margin-top:10px;"><font class="grade7Variables">x</font> &nbsp; = </div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
					<input id="C10SITT1_1_2_answer" value='{{C10SITT1_1_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C10SITT1_1_2_answer" value='{{C10SITT1_1_2_answer}}' style="width:30px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if C10SITT1_1_2_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{C10SITT1_1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 2 / 2)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{C10SITT1_1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 2)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 2)</font>
				{% endif %}
			</div>								
		</div>

		<div style="display:inline-block;margin-left:20px;margin-top:40px;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="display:inline-block;width:380px;margin-top:40px;vertical-align:top;">
			<div>An integer, <font class="grade7Variables">x</font>, satisfies the inequalities 3<font class="grade7Variables">x</font> + 3 &ge; &minus;27 and <font class="grade7Variables">x</font> &minus; 2 &lt; &minus;7. Also (<font class="grade7Variables">x</font> + 1)<sup>1/3</sup> is a perfect cube root. Find <font class="grade7Variables">x</font>.</div>
		</div>				
		<div style="margin-left:40px;margin-top:10px;">		
			<div style="display:inline-block;margin-left:40px;margin-top:10px;"><font class="grade7Variables">x</font> &nbsp; = </div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
					<input id="C10SITT1_2_answer" value='{{C10SITT1_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C10SITT1_2_answer" value='{{C10SITT1_2_answer}}' style="width:30px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if C10SITT1_2_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{C10SITT1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 4 / 4)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{C10SITT1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 4)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 4)</font>
				{% endif %}
			</div>								
		</div>

	</div>
	<div id="explain_dialog"></div>
</div>
<script>

$("#C10SI_TT_1_Pause").button({label:"Pause"});
var total_seconds_elapsed = {{elapsed_time_seconds}};
$("#C10SI_TT_1_Pause").click(function()
	{
		Grade7SaveTestTime('{{test_id}}',total_seconds_elapsed,'{{current_user.username}}','Topical-Test-1-Simple-Inequalities');
  	});	

if ('{{test_status}}' != 'Completed')
{
	TestTimer();
	clearInterval(timeVar);
	var timeVar=setInterval(function(){TestTimer()},1000);
}
function TestTimer()
{
	function pretty_time_string(num)
	{
	return ( num < 10 ? "0" : "" ) + num;   
	}
	total_seconds_elapsed = total_seconds_elapsed + 1;
	display_seconds = total_seconds_elapsed;
	hours = Math.floor(display_seconds / 3600);
	display_seconds = display_seconds % 3600;
	minutes = Math.floor(display_seconds / 60);
	display_seconds = display_seconds % 60;
	var seconds = Math.floor(display_seconds);
	hours = pretty_time_string(hours);
	minutes = pretty_time_string(minutes);
	seconds = pretty_time_string(display_seconds);
	var currentTimeString = hours + ":" + minutes + ":" + seconds;
	document.getElementById("TestTimer").innerHTML=currentTimeString;
}

$("#C10SITT1_1_1_answer").change(function()
	{
		question_id = "C10SITT1_1";
		test_id = '{{test_id}}';
		answer_id = "C10SITT1_1_1_answer";
		entered_answer = $("#C10SITT1_1_1_answer").val();
		student_id = '{{current_user.username}}';
		question_marks = 2;
		elapsed_time = total_seconds_elapsed;
		Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
	});
$("#C10SITT1_1_2_answer").change(function()
		{
			question_id = "C10SITT1_1";
			test_id = '{{test_id}}';
			answer_id = "C10SITT1_1_2_answer";
			entered_answer = $("#C10SITT1_1_2_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#C10SITT1_2_answer").change(function()
		{
			question_id = "C10SITT1_2";
			test_id = '{{test_id}}';
			answer_id = "C10SITT1_2_answer";
			entered_answer = $("#C10SITT1_2_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 4;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});



$("#explain_dialog").dialog
({
	autoOpen: false,
	title:"Explanation",
    position:"center",   			
	buttons:{"Ok": function(){$(this).dialog("close");}},
	modal:true,
	width:500
});
function ShowExplanation(htmlText)
{
	$("#explain_dialog").html(htmlText);
	$("#explain_dialog").addClass("ExplanationFont");
	$("#explain_dialog").dialog("open");	
}


</script>

