{% extends 'MainPage.html' %}
{% block title %}
<title>Unlimited Math Worksheets on Fraction, Whole Numbers, Ratio, Percentage, Decimals, Data Analysis, Measurement, Pie Chart, Bar Graphs and many more topics for Grade 3, Grade 4, Grade 5 and Grade 6</title>
<meta name="description" content="Auto generate unlimited worksheets on elementary math topics for Grade 3, Grade 4, Grade 5 and Grade 6." />
{% endblock %}
{% block body %}
 {% block practice %}
 <div style="">
 <br>
 <div id="NotesContent" style="width:1200px;height:400px;">
 	<div style="margin-left:60px;margin-top:40px;">
 		<div class="PrimaryBoxes"><a href="/Primary_Grade_3_Mathematics"><img alt="Primary 3 / Grade 3" src="/images/site/worksheet_primary3_box.png"></a></div>
		<div class="PrimaryBoxes"><a href="/Primary_Grade_4_Mathematics"><img alt="Primary 4 / Grade 4" src="/images/site/worksheet_primary4_box.png"></a></div>
 		<div class="PrimaryBoxes"><a href="/Primary_Grade_5_Mathematics"><img alt="Primary 5 / Grade 5" src="/images/site/worksheet_primary5_box.png"></a></div>
 		<div class="PrimaryBoxes"><a href="/Primary_Grade_6_Mathematics"><img alt="Primary 6 / Grade 6" src="/images/site/worksheet_primary6_box.png"></a></div>
 	</div> 		
 </div><br>
 </div>
{% endblock %}
{% endblock %}
