{% extends 'MainPage.html' %}
{% block title %}
<title>Worksheets for Primary 6 / 6th Grade Mathematics | Home Campus</title>
<meta name="description" content="Solve unlimited math worksheets on Primary 6 / Grade 6 based on Singapore Mathematics." />
{% endblock %}
{% block body %}
 {% block practice %}
 <div id="HomeContent">
 <div style="text-align:center"><h2>Grade 6 Worksheets</h2></div>
 	<div id="P6ConceptDisplay">
        <div class="P6FirstRowConceptListDisplay" style="width:300px;">	
	   	<p><img alt="Algebra" src="/images/site/algebra_box.png"></p>
	   		<ol>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Algebra" >All Topics</a></li>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Algebra_Simplify_Expressions" >Simplify algebraic expressions</a></li>
				<li class="file"><a href="/Grade_6_Math_Worksheets/Algebra_Evaluate_Expressions" >Evaluate algebraic expressions</a></li>
				<li class="file"><a href="/Grade_6_Math_Worksheets/Algebra_Word_Problems" >Word Problems</a></li>
			</ol>
   		</div>
        <div class="P6FirstRowConceptListDisplay" style="width:350px;">	
	   	<p><img alt="Fractions" src="/images/site/fractions_box.png"></p>	
	   		<ol>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Fractions" >All Topics</a></li>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Fractions_Divide_Whole_Number" >Divide whole number by proper fraction</a></li>
        		<li class="file"><a href="/Grade_6_Math_Worksheets/Fractions_Divide_Proper" >Divide proper fraction by proper fraction</a></li>
        		<li class="file"><a href="/Grade_6_Math_Worksheets/Fractions_Word_Problems" >Word Problems</a></li>
			</ol>
   		</div>
        <div class="P6FirstRowConceptListDisplay">	
	   	<p><img alt="Speed" src="/images/site/speed_box.png"></p>	
	   		<ol>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Speed" >All Topics</a></li>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Speed_Distance_Time" >Find distance, time and speed</a></li>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Speed_Word_Problems" >Word Problems</a></li>
			</ol>
   		</div>
        <div class="P6FirstRowConceptListDisplay" style="width:250px;">	
	   	<p><img alt="Ratio" src="/images/site/ratio_box.png"></p>	
	   		<ol>
				<li class="file"><a href="/Grade_6_Math_Worksheets/Ratio" >Word Problems</a></li>			
			</ol>
   		</div>
        <div class="P6FirstRowConceptListDisplay" style="clear:both;width:350px;">	
	   	<p><img alt="Percentage" src="/images/site/percentage_box.png"></p>	
	   		<ol>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Percentage" >All Topics</a></li>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Percentage_Find_Whole_Given_Part" >Find whole given part and percentage</a></li>
        		<li class="file"><a href="/Grade_6_Math_Worksheets/Percentage_Increase_Decrease" >Find percentage increase/decrease</a></li>
        		<li class="file"><a href="/Grade_6_Math_Worksheets/Percentage_Word_Problems" >Word Problems</a></li>
            </ol>
   		</div>
        <div class="P6FirstRowConceptListDisplay" style="width:300px;">	
	   	<p><img alt="Data Analysis" src="/images/site/data_analysis_box.png"></p>	
	   		<ol>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Data_Analysis_Pie_Chart" >Pie Charts - Word Problems</a></li>
            </ol>
   		</div>
        <div class="P6FirstRowConceptListDisplay"  style="width:300px;">	
	   	<p><img alt="Measurement" src="/images/site/measurement_box.png"></p>	
	   		<ol>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Measurement" >All Topics</a></li>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Measurement_Circle_Radius_Diameter" >Radius/diameter of a circle</a></li>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Measurement_Circle_Circumference" >Circumference of a circle</a></li>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Measurement_Circle_Area" >Area of a circle</a></li>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Measurement_Semi_Circle_Quadrant_Perimeter" >Perimeter of a semicircle/quadrant</a></li>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Measurement_Semi_Circle_Quadrant_Area" >Area of a semicircle/quadrant</a></li>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Measurement_Composite_Figures" >Area/perimeter of a composite figure</a></li>
       			<li class="file"><a href="/Grade_6_Math_Worksheets/Measurement_Volume_Cube_Cuboid" >Volume of a cube/cuboid</a></li>
            </ol>
   		</div> 	</div> 	
 </div><!-- end #homeContent --> 
<div style="background-image: url(/images/site/background.png);">
 <div id="NotesContent" style="display:none;width:1200px;min-height:400px;">
</div> 
</div> 
{% endblock %}
{% endblock %}
