{% extends 'MainPage.html' %}
{% block title %}
<title>Unlimited Math Worksheets on Fraction, Whole Numbers, Ratio, Percentage, Decimals, Data Analysis, Measurement, Pie Chart, Bar Graphs and many more topics for Grade 3, Grade 4, Grade 5 and Grade 6</title>
<meta name="description" content="Auto generate unlimited worksheets on elementary math topics for Grade 3, Grade 4, Grade 5 and Grade 6." />
{% endblock %}
{% block body %}
	<script src ='https://www.paypalobjects.com/js/external/dg.js' type='text/javascript'></script>
  	<link href="/stylesheets/jquery.gritter.css" rel="stylesheet" type="text/css" />
 {% block practice %}
 <div id="HomeContent">
 <div style="text-align:center"><h2>Elementary Math Worksheets</h2></div>
 	<div id="P5ConceptDisplay">
        <div class="P5FirstRowConceptListDisplay">	
	   	<p><img alt="Grade 4" src="/images/site/primary4_worksheets.png"></p>
	   		<ol>
	   			<li><a href="/Grade_4_Math_Worksheets/Whole_Numbers" title="Whole Number Worksheets">Whole Numbers</a></li>
	   			<li><a href="/Grade_4_Math_Worksheets/Fractions" title="Fractions Worksheets">Fractions</a></li>
	   			<li><a href="/Grade_4_Math_Worksheets/Decimals" title="Decimals Worksheets">Decimals</a></li>
	   			<li><a href="/Grade_4_Math_Worksheets/Measurement" title="Measurement Worksheets">Measurement</a></li>
	   			<li><a href="/Grade_4_Math_Worksheets/Data_Analysis" title="Data Analysis Worksheets">Data Analysis</a></li>
			</ol>
   		</div>
        <div class="P5FirstRowConceptListDisplay" style="width:300px">		
	   	<p><img alt="Grade 5" src="/images/site/primary5_worksheets.png"></p>
	   		<ol>
	   			<li><a href="/Grade_5_Math_Worksheets/Whole_Numbers" title="Whole Number Worksheets">Whole Numbers</a></li>
	   			<li><a href="/Grade_5_Math_Worksheets/Fractions" title="Fractions Worksheets">Fractions</a></li>
	   			<li><a href="/Grade_5_Math_Worksheets/Decimals" title="Decimals Worksheets">Decimals</a></li>
	   			<li><a href="/Grade_5_Math_Worksheets/Geometry" title="Geometry Worksheets">Geometry</a></li>
	   			<li><a href="/Grade_5_Math_Worksheets/Percentage" title="Percentage Worksheets">Percentage</a></li>
	   			<li><a href="/Grade_5_Math_Worksheets/Ratio" title="Ratio Worksheets">Ratio</a></li>
	   			<li><a href="/Grade_5_Math_Worksheets/Measurement" title="Measurement Worksheets">Measurement</a></li>
	   			<li><a href="/Grade_5_Math_Worksheets/Data_Analysis" title="Data Analysis Worksheets">Data Analysis</a></li>
			</ol>
   		</div>
        <div class="P5FirstRowConceptListDisplay" style="width:300px">	
	   	<p><img alt="Grade 6" src="/images/site/primary6_worksheets.png"></p>
	   		<ol>
	   			<li><a href="/Grade_6_Math_Worksheets/Algebra" title="Algebra Worksheets">Algebra</a></li>
	   			<li><a href="/Grade_6_Math_Worksheets/Data_Analysis" title="Data Analysis Worksheets">Data Analysis</a></li>
	   			<li><a href="/Grade_6_Math_Worksheets/Fractions" title="Fractions Worksheets">Fractions</a></li>
	   			<li><a href="/Grade_6_Math_Worksheets/Measurement" title="Measurement Worksheets">Measurement</a></li>
	   			<li><a href="/Grade_6_Math_Worksheets/Percentage" title="Percentage Worksheets">Percentage</a></li>
	   			<li><a href="/Grade_6_Math_Worksheets/Ratio" title="Ratio Worksheets">Ratio</a></li>
	   			<li><a href="/Grade_6_Math_Worksheets/Speed" title="Speed Worksheets">Speed</a></li>	   			
			</ol>
   		</div>
        <div class="P5FirstRowConceptListDisplay">	
	   	<p><img alt="Grade 3" src="/images/site/primary3_worksheets.png"></p>
	   		<ol>
	   			<li><a href="/Grade_3_Math_Worksheets/Whole_Numbers" title="Whole Numbers Worksheets">Whole Numbers</a></li>
	   			<li><a href="/Grade_3_Math_Worksheets/Money" title="Money Worksheets">Money</a></li>
	   			<li><a href="/Grade_3_Math_Worksheets/Length_Mass_Volume" title="Length, Mass and Volume Worksheets">Length, Mass and Volume</a></li>
	   			<li><a href="/Grade_3_Math_Worksheets/Time" title="Time">Time</a></li>
	   			<li><a href="/Grade_3_Math_Worksheets/Angles" title="Angles">Angles</a></li>
	   			<li><a href="javascript:void(null)" title="Worksheets Coming Soon!!"><font style="color:#ccc;">Area and Perimeter</font></a></li>
	   			<li><a href="javascript:void(null)" title="Worksheets Coming Soon!!"><font style="color:#ccc;">Perpendicular and Parallel Lines</font></a></li>
	   			<li><a href="javascript:void(null)" title="Worksheets Coming Soon!!"><font style="color:#ccc;">Bar Graphs</font></a></li>	   			
			</ol>
   		</div>
 	</div>
 	
 </div><!-- end #homeContent --> 
{% endblock %}
{% endblock %}
