<div style="height:470px;background-image: url(/images/g7_lock_background.png);background-repeat: no-repeat;">
	<div style="display:inline-block;margin-top:220px;margin-left:140px;"><button id="Pay" style="border:none;"></button></div>
	
	<div style="margin-top:40px;text-align:center;"><a href="javascript:goToPage('Secondary-1-Grade-7-Mathematics#!Interpreting-Algebraic-Notations-Easy-Questions-1')"><font style="color:red;font-size:0.8em;">Practice Interpreting Algebraic Notations</font></a></div>
	<div style="margin-top:40px;text-align:center;"><a href="javascript:goToPage('Secondary-1-Grade-7-Mathematics#!Topical-Test-1-Introduction-to-Algebra')"><font style="color:orange;font-size:0.8em;">Test Your Elementary Algebra</font></a></div>
	<div style="margin-top:40px;text-align:center;"><a href="javascript:goToPage('Secondary-1-Grade-7-Mathematics#!{{nextFreeTopic}}')"><font style="color:blue;font-size:0.8em;">Explore Another Topic</font></a></div>
	
</div>


<script>
function goToPage(pageName)
	{
		window.location.href = pageName;
		location.reload();
	}
$("#Pay").button({label:"Master All Algebra Skills"});
$("#Pay").click(function()
		{
			window.location.href = '/Subscribe/Grade7';
		}
	);

</script>
