<div style="height:470px;">
	<div class="grade7TOC" style="margin-top:10px;">TABLE OF CONTENTS</div>
	<div id="grade7bTopics">
		<div class="grade7TOCChapterNumber">CHAPTER 7</div>
		<div class="grade7TOCChapterTopic" id="ChapterAG" style="cursor:pointer;"><a href="javascript:Grade7BookPageLoadByName('Introduction-to-Algebra')"><font style="color:#3B7BEA;">INTRODUCTION TO ALGEBRA</font></a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Using-Letters-to-Represent-Numbers-1')">7.1 Using Letters to Represent Numbers</a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Interpreting-Algebraic-Notations-1')">7.2 Interpreting Algebraic Notations</a></div>
		<div class="grade7TOCPracticeQuestions"><a href="javascript:Grade7BookPageLoadByName('Interpreting-Algebraic-Notations-Easy-Questions-1')">Practice Questions</a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Evaluating-Algebraic-Expressions-1')">7.3 Evaluating Algebraic Expressions</a></div>
		<div class="grade7TOCPracticeQuestions"><a href="javascript:Grade7BookPageLoadByName('Evaluating-Algebraic-Expressions-Easy-Questions-1')">Practice Questions</a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Real-World-Algebraic-Expressions-1')">7.4 Translating Real-World Situations into Algebraic Expressions</a></div>
		<div class="grade7TOCPracticeQuestions"><a href="javascript:Grade7BookPageLoadByName('Real-World-Algebraic-Expressions-Easy-Questions-1')">Practice Questions</a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Topical-Test-1-Introduction-to-Algebra')">Topical Test</a></div>
		<div class="grade7TOCChapterNumber">CHAPTER 8</div>
		<div class="grade7TOCChapterTopic" id="ChapterAM" style="cursor:pointer;"><a href="javascript:Grade7BookPageLoadByName('Algebraic-Manipulation')"><font style="color:#3B7BEA;">ALGEBRAIC MANIPULATION</font></a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Addition-Subtraction-Of-Linear-Expressions-1')">8.1 Addition and Subtraction of Linear Expressions</a></div>	
		<div class="grade7TOCPracticeQuestions"><a href="javascript:Grade7BookPageLoadByName('Addition-Subtraction-Of-Linear-Expressions-Easy-Questions-1')">Practice Questions</a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Simplifying-Linear-Expressions-1')">8.2 Simplifying Linear Expressions</a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Algebra-Factorisation-1')">8.3 Factorisation</a></div>
		<div class="grade7TOCPracticeQuestions"><a href="javascript:Grade7BookPageLoadByName('Algebra-Factorisation-Easy-Questions-1')">Practice Questions</a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Topical-Test-1-Algebraic-Manipulations')">Topical Test</a></div>	
	</div>
</div>
	