<div style="height:480px;">
	<div id="grade7bTopics">	
		<div class="grade7TOCChapterNumber">CHAPTER 9</div>
		<div class="grade7TOCChapterTopic" style="cursor:pointer;"><a href="javascript:Grade7BookPageLoadByName('Linear-Equations')"><font style="color:#3B7BEA;">LINEAR EQUATIONS</font></a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Linear-Equations-in-One-Variable-1')">9.1 Linear Equations in One Variable</a></div>	
		<div class="grade7TOCPracticeQuestions"><a href="javascript:Grade7BookPageLoadByName('Linear-Equations-in-OneV-Easy-Questions-1')">Practice Questions</a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Simple-Fractional-Equations-1')">9.2 Simple Fractional Equations</a></div>
		<div class="grade7TOCPracticeQuestions"><a href="javascript:Grade7BookPageLoadByName('Simple-Fractional-Equations-Easy-Questions-1')">Practice Questions</a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Applications-of-Linear-Equations-1')">9.3 Applications of Linear Equations</a></div>
		<div class="grade7TOCPracticeQuestions"><a href="javascript:Grade7BookPageLoadByName('Applications-of-Linear-Equations-Easy-Questions-1')">Practice Questions</a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Topical-Test-1-Linear-Equations')">Topical Test</a></div>
		<div class="grade7TOCChapterNumber" style="width:90px;">CHAPTER 10</div>
		<div class="grade7TOCChapterTopic" style="cursor:pointer;margin-left:20px;"><a href="javascript:Grade7BookPageLoadByName('Simple-Inequalities')"><font style="color:#3B7BEA;">SIMPLE INEQUALITIES</font></a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Simple-Inequalities-1')">10.1 Introduction to Simple Inequalities</a></div>	
		<div class="grade7TOCPracticeQuestions"><a href="javascript:Grade7BookPageLoadByName('Simple-Inequalities-Easy-Questions-1')">Practice Questions</a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Applications-Of-Simple-Inequalities-1')">10.2 Applications Of Simple Inequalities</a></div>
		<div class="grade7TOCPracticeQuestions"><a href="javascript:Grade7BookPageLoadByName('Applications-Of-Simple-Inequalities-Easy-Questions-1')">Practice Questions</a></div>
		<div class="grade7TOCChapterSubTopic"><a href="javascript:Grade7BookPageLoadByName('Topical-Test-1-Simple-Inequalities')">Topical Test</a></div>		
	</div>
</div>

