{% extends 'NotesPage.html' %}
{% block title %}
<title>Hours Conversion - Home Campus</title>
<meta name="keywords" content="Convert Hours to Minutes Seconds Years Decades Centuries Milleniums Milliseconds Microseconds  Nanoseconds Picoseconds">
<meta name="description" content="Conversion - Hours to Minutes - Hours to Seconds - Hours to Milliseconds - Hours to Days - Hours to Weeks - Hours to Months - Hours to Years - Hours to Decades - Hours to Centuries - Hours to Milleniums - Hours to Microseconds - Hours to Nanoseconds - Hours to Picoseconds" />
{% endblock %}
{% block content %}
	
<div style="margin: 10px;"><a href="/Learn/Time-Units-Converter"><u>More Time Converters</u></a></div>
<h2 class="learn-heading">Hours Conversion</h2>

<div class="concept-set">
	<div class="concept-set__container">		
		<div class="concept-set__answer">
			<div class="col-11 col-off-1">
				<ul>
					<li><a href="/Learn/Hours-to-Minutes-Converter">Convert Hours to Minutes</a></li>
					<li><a href="/Learn/Hours-to-Seconds-Converter">Convert Hours to Seconds</a></li>
					<li><a href="/Learn/Hours-to-Milliseconds-Converter">Convert Hours to Milliseconds</a></li>
					<li><a href="/Learn/Hours-to-Days-Converter">Convert Hours to Days</a></li>
					<li><a href="/Learn/Hours-to-Weeks-Converter">Convert Hours to Weeks</a></li>
					<li><a href="/Learn/Hours-to-Months-Converter">Convert Hours to Months</a></li>
					<li><a href="/Learn/Hours-to-Years-Converter">Convert Hours to Years</a></li>
					<li><a href="/Learn/Hours-to-Decades-Converter">Convert Hours to Decades</a></li>
					<li><a href="/Learn/Hours-to-Centuries-Converter">Convert Hours to Centuries</a></li>
					<li><a href="/Learn/Hours-to-Millenniums-Converter">Convert Hours to Millenniums</a></li>
					<li><a href="/Learn/Hours-to-Microseconds-Converter">Convert Hours to Microseconds</a></li>
					<li><a href="/Learn/Hours-to-Nanoseconds-Converter">Convert Hours to Nanoseconds</a></li>
					<li><a href="/Learn/Hours-to-Picoseconds-Converter">Convert Hours to Picoseconds</a></li>
				</ul>
			</div>
		</div>		
	</div>
</div>


<!-- Concept 1 -->
<div class="concept-set">
	<div class="concept-set__container">
		<div class="concept-set__question">
			<h4>1 Hour &nbsp;= </h4>
		</div>			
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				60 minutes<br><br>
				3600 seconds<br><br>
				3,600,000 milliSeconds or 3.6 &times; 10<sup>6</sup> milliseconds<br><br>
				0.04167 day<br><br>
				0.00595 week<br><br>
				0.00137 month<br><br>
				0.000114 year<br><br>
				1.1416 &times;10<sup>-5</sup> decade<br><br>
				1.1416 &times;10<sup>-6</sup> century<br><br>
				1.1416 &times;10<sup>-7</sup> millennium<br><br>
				3.6 &times; 10<sup>9</sup> microseconds<br><br>
				3.6 &times; 10<sup>12</sup> nanoseconds<br><br>
				3.6 &times; 10<sup>15</sup> picoseconds<br><br>
			</div>
		</div>
	</div>
</div> <!-- End of concept 1 -->


{% endblock %}
