{% extends 'NotesPage.html' %}
{% block title %}
<title>Hours to Picoseconds Conversion - Home Campus</title>
<meta name="keywords" content="Convert hours to Picoseconds">
<meta name="description" content="Converter Hours to Picoseconds" />
{% endblock %}
{% block content %}
	
<div style="margin: 10px;"><a href="/Learn/Time-Units-Converter"><u>Time</u></a> >> <a href="/Learn/Hours-Unit-Converter"><u>Hours Converter</u></a></div>
<h2 class="learn-heading">How to Convert Hours to Picoseconds?</h2>


<!-- Calculator 1 -->
<div class="concept-set">
	<div class="concept-set__container">
		<div class="concept-set__question">
			<h4>Convert Hours to Picoseconds:</h4>
		</div>			
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				Number of hours&nbsp;=&nbsp; <input id="hour" type="number" size=4><br><br>
				<button class="btn-quiz" id="ConvertToPicoseconds" onclick="ConvertToPicoseconds()">Convert To Picoseconds</button><br><br> 
			</div>
			<div class="col-10 col-off-1" id="PicosecondsAnswer"></div>
		</div>
	</div>
</div> <!-- End of calculator 1 -->


<!-- Concept 1 -->
<div class="concept-set">
	<div class="concept-set__container"  style="background-color: rgb(255, 228, 243);">
		<div class="concept-set__question">
			<h4><strong>1 hour &nbsp;=&nbsp; 3,600,000,000,000 or 3.6 &times; 10<sup>15</sup> picoseconds.</strong>
				<br><br>To convert hours to  picoseconds simply multiply the hours by 3600000000000000 to get picoseconds.
				<br><br>1 hour &nbsp;=&nbsp; 60 minutes
				<br><br>1 minute &nbsp;=&nbsp; 60 seconds
				<br><br>1 second &nbsp;=&nbsp; 1000 milliseconds
				<br><br>1 millisecond &nbsp;=&nbsp; 1000 microseconds
				<br><br>1 microsecond &nbsp;=&nbsp; 1000 nanoseconds
				<br><br>1 nanosecond &nbsp;=&nbsp; 1000 picoseconds
				<br><br>So, 1 hour &nbsp;=&nbsp; 60 &nbsp;&times;&nbsp; 60 &nbsp;&times;&nbsp; 1000 &nbsp;&times;&nbsp; 1000 &nbsp;&times;&nbsp; 1000 &nbsp;&times;&nbsp; 1000 &nbsp;=&nbsp; 3600000000000000 picoseconds				  
			</h4>
		</div>
	</div>
</div> <!-- End of Concept 1 -->



<!-- Examples -->
<div class="concept-set">
	<div class="concept-set__container"  style="background-color: rgb(218, 250, 255);">
		<div class="concept-set__question">
			<strong>Example 1: convert 2 hours to picoseconds.</strong>
		</div>
		<div class="concept-set__answer">	
			<div class="col-10 col-off-1">
				Multiply 2 by 3600000000000000
				<br><br>Total picoseconds in 2 hours &nbsp;=&nbsp; 2 &nbsp;&times;&nbsp; 3600000000000000 &nbsp;=&nbsp; 7.2 &times; 10<sup>15</sup>
				<br><br>Hence, there are <strong>7.2 &times; 10<sup>15</sup> picoseconds in 2 hours.</strong>
			</div>				  
		</div>	
		<div class="concept-set__question">		
			<strong>Example 2: convert 0.00000000000008 hours to picoseconds</strong>
		</div>
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">			
				Multiply 0.00000000000008 by 3600000000000
				<br><br>Total picoseconds in 0.00000000000008 hours &nbsp;=&nbsp; 0.00000000000008 &nbsp;&times;&nbsp; 3600000000000000 &nbsp;=&nbsp; 288
				<br><br>Hence, there are <strong>288 picoseconds in 0.00000000000008 hours.</strong>
			</div>
		</div>							

	</div>
</div> <!-- End of Concept 1 -->


<!-- Concept 2 -->
<div class="concept-set">
	<div class="concept-set__container">
		<div class="concept-set__question">
			<h4>1 Hour &nbsp;= </h4>
		</div>			
		<div class="concept-set__answer">
			<div class="col-10 col-off-1">
				60 minutes<br><br>
				3600 seconds<br><br>
				3,600,000 or 3.6 &times; 10<sup>6</sup> milliseconds<br><br>
				0.04167 day<br><br>
				0.00595 week<br><br>
				0.00137 month<br><br>
				0.000114 year<br><br>
				1.1416 &times;10<sup>-5</sup> decade<br><br>
				1.1416 &times;10<sup>-6</sup> century<br><br>
				1.1416 &times;10<sup>-7</sup> millennium<br><br>
				3.6 &times; 10<sup>9</sup> microseconds<br><br>
				3.6 &times; 10<sup>12</sup> nanoseconds<br><br>
				3.6 &times; 10<sup>15</sup> picoseconds<br><br>
			</div>
		</div>
	</div>
</div> <!-- End of concept 2 -->


<script>

function ConvertToPicoseconds() {
	var hours = document.getElementById("hour").value;
	var picoseconds = hours*3600000000000000;
	document.getElementById("PicosecondsAnswer").innerHTML = "There are "+picoseconds+" picoseconds in "+hours+" hours."
}

</script>


<script type="application/ld+json">{"@context":"https://schema.org","@type":"FAQPage","mainEntity":[{"@type":"Question","name":"How many picoseconds are there in an hour?","acceptedAnswer":{"@type":"Answer","text":"An hour has 3600000000000000 picoseconds."}},{"@type":"Question","name":"How to convert hours to picoseconds?","acceptedAnswer":{"@type":"Answer","text":"Multiply hours by 3600000000000000 to convert it to picoseconds."}}]}</script>

{% endblock %}
