<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.3 Applications of Linear Equations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:60%;">9.3 Applications of Linear Equations</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Easy</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">There are 23 ducks and geese on a farm. There are 5 more ducks than geese on the farm. If there are <font class="grade7Variables">x</font> ducks on the farm,</div>
		<div style="display:inline-block;margin-left:43px;margin-top:10px;vertical-align:top;">a)</div>
		<div style="display:inline-block;width:360px;margin-top:10px;">Which of the following equations correctly shows the total number of birds on the farm?</div>
		<div style="margin-left:65px;margin-top:10px;">
			{% if C9ALEEasy_1_1_answer_correct is defined %}
			<div style="display:inline-block;">			
				<input type=radio name="C9ALEEasy_1_1_answer" value='A' disabled
				{% if C9ALEEasy_1_1_answer == 'A'%} 
   					checked="checked"
   				{%endif%}
				 >&nbsp;<font class="grade7Variables">x</font> + 5 = 23<br>
				<input type=radio name="C9ALEEasy_1_1_answer" value='B' disabled
				{% if C9ALEEasy_1_1_answer == 'B' %} 
   					checked="checked"
   				{%endif%}
				 >&nbsp;2<font class="grade7Variables">x</font> &minus; 5 = 23<br>
				<input type=radio name="C9ALEEasy_1_1_answer" value='C' disabled
				{% if C9ALEEasy_1_1_answer == 'C'%} 
   					checked="checked"
   				{%endif%}
				 >&nbsp;<font class="grade7Variables">x</font> = 23 + 5
			</div>
			<div style="display:inline-block;margin-top:-10px;">
				{% if C9ALEEasy_1_1_answer_correct %}
					<img src="/images/g7_correct.png">
				{% else %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{C9ALEEasy_1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			</div>
			{% else %}
				<input type=radio name="C9ALEEasy_1_1_answer" value='A'
				{% if C9ALEEasy_1_1_answer == 'A'%} 
   					checked="checked"
   				{%endif%}
				 >&nbsp;<font class="grade7Variables">x</font> + 5 = 23<br>
				<input type=radio name="C9ALEEasy_1_1_answer" value='B'
				{% if C9ALEEasy_1_1_answer == 'B' %} 
   					checked="checked"
   				{%endif%}
				 >&nbsp;2<font class="grade7Variables">x</font> &minus; 5 = 23<br>
				<input type=radio name="C9ALEEasy_1_1_answer" value='C'
				{% if C9ALEEasy_1_1_answer == 'C'%} 
   					checked="checked"
   				{%endif%}
				 >&nbsp;<font class="grade7Variables">x</font> = 23 + 5
			{% endif %}	
		</div>

		<div style="display:inline-block;margin-left:43px;margin-top:10px;vertical-align:top;">b)</div>
		<div style="display:inline-block;width:360px;margin-top:10px;">Find <font class="grade7Variables">x</font>.</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:25px;margin-top:0px;"><font class="grade7Variables">x</font> = &nbsp;
				{% if C9ALEEasy_1_2_answer_correct is defined %}
					<input id="C9ALEEasy_1_2_answer" value='{{C9ALEEasy_1_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C9ALEEasy_1_2_answer" value='{{C9ALEEasy_1_2_answer}}' style="width:30px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C9ALEEasy_1_2_answer_correct is defined %}
					{% if C9ALEEasy_1_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9ALEEasy_1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>

		<div style="margin-left:20px;margin-top:30px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="margin-top:30px;display:inline-block;width:390px;vertical-align:top;">A company paid $21900 for 120 digital photo frames and 80 digital table clocks to be given to its employees as year-end gifts. If each photo frame cost $108.50, how much did each table clock cost?</div>
		<div style="margin-left:60px;margin-top:20px;">
			<div style="display:inline-block;margin-left:25px;margin-top:0px;">Answer: &nbsp;$
				{% if C9ALEEasy_2_answer_correct is defined %}
					<input id="C9ALEEasy_2_answer" value='{{C9ALEEasy_2_answer}}' readonly style="width:40px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C9ALEEasy_2_answer" value='{{C9ALEEasy_2_answer}}' style="width:40px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C9ALEEasy_2_answer_correct is defined %}
					{% if C9ALEEasy_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9ALEEasy_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>


		{% if C9ALEEasy_1_1_answer_correct is defined %}
			<div style="margin-top:-20px;margin-left:340px;"><button id="C9ALEEasy_1_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:-20px;margin-left:280px;"><button id="C9ALEEasy_1_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>
<script>
	$("input[name='C9ALEEasy_1_1_answer']").click(function()
	{
		question_id = "C9ALEEasy_1";
		question_type = "ApplicationOfLinearEquations"
		answer_id = "C9ALEEasy_1_1_answer";
		entered_answer = $("input:radio[name=C9ALEEasy_1_1_answer]:checked").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#C9ALEEasy_1_2_answer").change(function()
			{
				question_id = "C9ALEEasy_1";
				question_type = "ApplicationOfLinearEquations"
				answer_id = "C9ALEEasy_1_2_answer";
				entered_answer = $("#C9ALEEasy_1_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#C9ALEEasy_2_answer").change(function()
			{
				question_id = "C9ALEEasy_2";
				question_type = "ApplicationOfLinearEquations"
				answer_id = "C9ALEEasy_2_answer";
				entered_answer = $("#C9ALEEasy_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	

	$("#C9ALEEasy_1_Submit").button({label:"Check Answers"});
	$("#C9ALEEasy_1_Retry").button({label:"Retry"});
	$("#C9ALEEasy_1_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "ApplicationOfLinearEquations"
		//getting question id, answer id and entered answer in form of a string
		var answers = "C9ALEEasy_1"+"#%$"+"C9ALEEasy_1_1_answer"+"#%$"+$("input:radio[name=C9ALEEasy_1_1_answer]:checked").val();
		answers = answers + "#%$"+"C9ALEEasy_1"+"#%$"+"C9ALEEasy_1_2_answer"+"#%$"+$("#C9ALEEasy_1_2_answer").val();
		answers = answers + "#%$"+"C9ALEEasy_2"+"#%$"+"C9ALEEasy_2_answer"+"#%$"+$("#C9ALEEasy_2_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#C9ALEEasy_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "C9ALEEasy_1_1_answer,C9ALEEasy_1_2_answer,C9ALEEasy_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


