<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.3 Applications of Linear Equations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:60%;">9.3 Applications of Linear Equations</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 5:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">
			The sum of 5 consecutive integers is 160. Find the largest of the 5 integers.
		</div>
		<br>	
		<div style="margin-top:10px;width:90px;display:inline-block;"><font class="grade7ExampleSolution">Solution 5:</font></div>
		<div style="margin-top:10px;width:320px;display:inline-block;vertical-align:top;">Let <font class="grade7Variables">x</font> be the smallest integer.
			<p>Second consecutive integer = <font class="grade7Variables">x</font> + 1</p>
			<p>Third consecutive integer = <font class="grade7Variables">x</font> + 2</p>
			<p>Fourth consecutive integer = <font class="grade7Variables">x</font> + 3</p>
			<p>Fifth consecutive integer = <font class="grade7Variables">x</font> + 4</p>
			<p>Sum of the 5 consecutive integers = 160</p>
			<p style="margin-right:-5px;"><font class="grade7Variables">x</font> + (<font class="grade7Variables">x</font> + 1) + (<font class="grade7Variables">x</font> + 2) + (<font class="grade7Variables">x</font> + 3) + (<font class="grade7Variables">x</font> + 4) = 160</p>
			<p>5<font class="grade7Variables">x</font> + 10 = 160</p>
			<p>5<font class="grade7Variables">x</font> = 150</p>
			<p><font class="grade7Variables">x</font> = 30</p>
			<p>&there4; The largest integer = <font class="grade7Variables">x</font> + 4</p>
			<p style="margin-left:140px;margin-top:-5px;">= 30 + 4</p>
			<p style="margin-left:140px;margin-top:-5px;">= 34</p>
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

