<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.3 Applications of Linear Equations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:60%;">9.3 Applications of Linear Equations</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:40px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="margin-top:40px;display:inline-block;width:390px;vertical-align:top;">Ali is 2.5 times as old as his cousin and one-third as old as his father. In 5 years' time, the sum of the ages of Ali and his cousin will be 5 years more than half the age of his father. Find Ali's present age.</div>
		<div style="margin-left:60px;margin-top:20px;">
			<div style="display:inline-block;margin-left:25px;margin-top:0px;">Answer: &nbsp;
				{% if C9ALEMedium_3_answer_correct is defined %}
					<input id="C9ALEMedium_3_answer" value='{{C9ALEMedium_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">&nbsp;years
				{% else %}
					<input id="C9ALEMedium_3_answer" value='{{C9ALEMedium_3_answer}}' style="width:30px;text-align:center;" >&nbsp;years
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C9ALEMedium_3_answer_correct is defined %}
					{% if C9ALEMedium_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9ALEMedium_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>

		<div style="margin-left:20px;margin-top:40px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="margin-top:40px;display:inline-block;width:390px;vertical-align:top;">Sam and his brother, Andy, study in the same school. Everyday they leave home at the same time and take the same route to school. Sam travels at an average speed of 60km/h on his motorbike to reach school 20 min earlier than Andy. Andy goes to school on his bicycle at an average speed of 20 km/h. Find the distance between their home and school.</div>
		<div style="margin-left:60px;margin-top:20px;">
			<div style="display:inline-block;margin-left:25px;margin-top:0px;">Answer: &nbsp;
				{% if C9ALEMedium_4_answer_correct is defined %}
					<input id="C9ALEMedium_4_answer" value='{{C9ALEMedium_4_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">&nbsp;km
				{% else %}
					<input id="C9ALEMedium_4_answer" value='{{C9ALEMedium_4_answer}}' style="width:30px;text-align:center;" >&nbsp;km
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C9ALEMedium_4_answer_correct is defined %}
					{% if C9ALEMedium_4_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9ALEMedium_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>

		{% if C9ALEMedium_3_answer_correct is defined %}
			<div style="margin-top:30px;margin-left:340px;"><button id="C9ALEMedium_2_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="C9ALEMedium_2_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>
<script>
$("#C9ALEMedium_3_answer").change(function()
		{
			question_id = "C9ALEMedium_3";
			question_type = "ApplicationOfLinearEquations"
			answer_id = "C9ALEMedium_3_answer";
			entered_answer = $("#C9ALEMedium_3_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});
	$("#C9ALEMedium_4_answer").change(function()
			{
				question_id = "C9ALEMedium_4";
				question_type = "ApplicationOfLinearEquations"
				answer_id = "C9ALEMedium_4_answer";
				entered_answer = $("#C9ALEMedium_4_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#C9ALEMedium_2_Submit").button({label:"Check Answers"});
	$("#C9ALEMedium_2_Retry").button({label:"Retry"});
	$("#C9ALEMedium_2_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "ApplicationOfLinearEquations"
		//getting question id, answer id and entered answer in form of a string
		var answers = "C9ALEMedium_3"+"#%$"+"C9ALEMedium_3_answer"+"#%$"+$("#C9ALEMedium_3_answer").val();
		answers = answers + "#%$"+"C9ALEMedium_4"+"#%$"+"C9ALEMedium_4_answer"+"#%$"+$("#C9ALEMedium_4_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#C9ALEMedium_2_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "C9ALEMedium_3_answer,C9ALEMedium_4_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


