<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.1 Linear Equations in One Variable</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:60%;">9.1 Linear Equations in One Variable</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Medium</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Solve each of the following linear equations:
			</div>
		</div>
		<div style="display:inline-block;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:40px;">a)</div>
			<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:7px;">
				<p style="line-height:20%;text-align:center;">2<font class="grade7Variables">x</font> &minus; 4<br>______<br></p>
				<p style="line-height:20%;text-align:center;">5<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:5px;">= 4</div>
			<div style="margin-left:60px;margin-top:5px;">
				<div style="display:inline-block;margin-left:5px;margin-top:10px;"><font class="grade7Variables">x</font>&nbsp;=&nbsp;
					{% if C9LEOVMedium_1_1_answer_correct is defined %}
						<input id="C9LEOVMedium_1_1_answer" value='{{C9LEOVMedium_1_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
					{% else %}
						<input id="C9LEOVMedium_1_1_answer" value='{{C9LEOVMedium_1_1_answer}}' style="width:30px;text-align:center;" >
					{% endif %}
				</div>
				<div style="display:inline-block;margin-left:10px;margin-top:0px;">
					{% if C9LEOVMedium_1_1_answer_correct is defined %}
						{% if C9LEOVMedium_1_1_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{C9LEOVMedium_1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					{% endif %}
				</div>			
			</div>
		</div>
		<div style="display:inline-block;">
			<div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:40px;">b) &nbsp;6 &minus;</div>
			<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:7px;">
				<p style="line-height:20%;text-align:center;">3<font class="grade7Variables">x</font><br>___<br></p>
				<p style="line-height:20%;text-align:center;">4<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:5px;">= &minus;3</div>
			<div style="margin-left:60px;margin-top:5px;">
				<div style="display:inline-block;margin-left:5px;margin-top:10px;"><font class="grade7Variables">x</font>&nbsp;=&nbsp;
					{% if C9LEOVMedium_1_2_answer_correct is defined %}
						<input id="C9LEOVMedium_1_2_answer" value='{{C9LEOVMedium_1_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
					{% else %}
						<input id="C9LEOVMedium_1_2_answer" value='{{C9LEOVMedium_1_2_answer}}' style="width:30px;text-align:center;" >
					{% endif %}
				</div>
				<div style="display:inline-block;margin-left:10px;margin-top:0px;">
					{% if C9LEOVMedium_1_2_answer_correct is defined %}
						{% if C9LEOVMedium_1_2_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{C9LEOVMedium_1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					{% endif %}
				</div>			
			</div>
		</div>
		<br>
		<div style="display:inline-block;vertical-align:top;margin-top:20px;">
			<div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:40px;">c)</div>
			<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:7px;">
				<p style="line-height:20%;text-align:center;">4 &minus; 2<font class="grade7Variables">x</font><br>______<br></p>
				<p style="line-height:20%;text-align:center;">8<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:5px;">&minus; 5 = 0</div>
			<div style="margin-left:60px;margin-top:0px;">
				<div style="display:inline-block;margin-left:5px;margin-top:10px;"><font class="grade7Variables">x</font>&nbsp;=&nbsp;
					{% if C9LEOVMedium_1_3_answer_correct is defined %}
						<input id="C9LEOVMedium_1_3_answer" value='{{C9LEOVMedium_1_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
					{% else %}
						<input id="C9LEOVMedium_1_3_answer" value='{{C9LEOVMedium_1_3_answer}}' style="width:30px;text-align:center;" >
					{% endif %}
				</div>
				<div style="display:inline-block;margin-left:10px;margin-top:0px;">
					{% if C9LEOVMedium_1_3_answer_correct is defined %}
						{% if C9LEOVMedium_1_3_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{C9LEOVMedium_1_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					{% endif %}
				</div>			
			</div>
		</div>
		<div style="display:inline-block;vertical-align:top;margin-top:20px;">
			<div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:40px;">d)</div>
			<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:7px;">
				<p style="line-height:20%;text-align:center;">3<font class="grade7Variables">x</font> &minus; 2<br>______<br></p>
				<p style="line-height:20%;text-align:center;">4<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:5px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:7px;">
				<p style="line-height:20%;text-align:center;">5<font class="grade7Variables">x</font> &minus; 15<br>_______<br></p>
				<p style="line-height:20%;text-align:center;">5<br></p>
			</div>			
			<div style="margin-left:60px;margin-top:5px;">
				<div style="display:inline-block;margin-left:5px;margin-top:10px;"><font class="grade7Variables">x</font>&nbsp;=&nbsp;
					{% if C9LEOVMedium_1_5_answer_correct is defined %}
						<input id="C9LEOVMedium_1_5_answer" value='{{C9LEOVMedium_1_5_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
					{% else %}
						<input id="C9LEOVMedium_1_5_answer" value='{{C9LEOVMedium_1_5_answer}}' style="width:30px;text-align:center;" >
					{% endif %}
				</div>
				<div style="display:inline-block;margin-left:10px;margin-top:0px;">
					{% if C9LEOVMedium_1_5_answer_correct is defined %}
						{% if C9LEOVMedium_1_5_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{C9LEOVMedium_1_5_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					{% endif %}
				</div>			
			</div>
		</div>
		<br>		
		<div style="display:inline-block;vertical-align:top;margin-top:20px;">
			<div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:40px;">e)</div>
			<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:7px;">
				<p style="line-height:20%;text-align:center;">5(2<font class="grade7Variables">x</font> + 4)<br>_______<br></p>
				<p style="line-height:20%;text-align:center;">4<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:20px;margin-left:5px;">&minus; 6 = &minus;2(&minus;x + 1)</div>
			<br>
			<div style="margin-left:60px;margin-top:0px;">
				<div style="display:inline-block;margin-left:5px;margin-top:10px;"><font class="grade7Variables">x</font>&nbsp;=&nbsp;
					{% if C9LEOVMedium_1_4_answer_correct is defined %}
						<input id="C9LEOVMedium_1_4_answer" value='{{C9LEOVMedium_1_4_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
					{% else %}
						<input id="C9LEOVMedium_1_4_answer" value='{{C9LEOVMedium_1_4_answer}}' style="width:30px;text-align:center;" >
					{% endif %}
				</div>
				<div style="display:inline-block;margin-left:10px;margin-top:0px;">
					{% if C9LEOVMedium_1_4_answer_correct is defined %}
						{% if C9LEOVMedium_1_4_answer_correct %}
							<img src="/images/g7_correct.png">
						{% else %}
							<img src="/images/g7_incorrect.png">
						{% endif %}
						<a href ="javascript:ShowExplanation('{{C9LEOVMedium_1_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					{% endif %}
				</div>			
			</div>
		</div>




		{% if C9LEOVMedium_1_1_answer_correct is defined %}
			<div style="margin-top:40px;margin-left:340px;"><button id="C9LEOVMedium_1_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:40px;margin-left:280px;"><button id="C9LEOVMedium_1_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>
<script>

	$("#C9LEOVMedium_1_1_answer").change(function()
	{
		question_id = "C9LEOVMedium_1";
		question_type = "LinearEquationsInOneV"
		answer_id = "C9LEOVMedium_1_1_answer";
		entered_answer = $("#C9LEOVMedium_1_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#C9LEOVMedium_1_2_answer").change(function()
			{
				question_id = "C9LEOVMedium_1";
				question_type = "LinearEquationsInOneV"
				answer_id = "C9LEOVMedium_1_2_answer";
				entered_answer = $("#C9LEOVMedium_1_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#C9LEOVMedium_1_3_answer").change(function()
			{
				question_id = "C9LEOVMedium_1";
				question_type = "LinearEquationsInOneV"
				answer_id = "C9LEOVMedium_1_3_answer";
				entered_answer = $("#C9LEOVMedium_1_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
			$("#C9LEOVMedium_1_4_answer").change(function()
					{
						question_id = "C9LEOVMedium_1";
						question_type = "LinearEquationsInOneV"
						answer_id = "C9LEOVMedium_1_4_answer";
						entered_answer = $("#C9LEOVMedium_1_4_answer").val();
						student_id = '{{current_user.username}}';
						Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
					});
		$("#C9LEOVMedium_1_5_answer").change(function()
				{
					question_id = "C9LEOVMedium_1";
					question_type = "LinearEquationsInOneV"
					answer_id = "C9LEOVMedium_1_5_answer";
					entered_answer = $("#C9LEOVMedium_1_5_answer").val();
					student_id = '{{current_user.username}}';
					Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
				});


	$("#C9LEOVMedium_1_Submit").button({label:"Check Answers"});
	$("#C9LEOVMedium_1_Retry").button({label:"Retry"});
	$("#C9LEOVMedium_1_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "LinearEquationsInOneV"
		//getting question id, answer id and entered answer in form of a string
		var answers = "C9LEOVMedium_1"+"#%$"+"C9LEOVMedium_1_1_answer"+"#%$"+$("#C9LEOVMedium_1_1_answer").val();
		answers = answers + "#%$"+"C9LEOVMedium_1"+"#%$"+"C9LEOVMedium_1_2_answer"+"#%$"+$("#C9LEOVMedium_1_2_answer").val();
		answers = answers + "#%$"+"C9LEOVMedium_1"+"#%$"+"C9LEOVMedium_1_3_answer"+"#%$"+$("#C9LEOVMedium_1_3_answer").val();
		answers = answers + "#%$"+"C9LEOVMedium_1"+"#%$"+"C9LEOVMedium_1_4_answer"+"#%$"+$("#C9LEOVMedium_1_4_answer").val();
		answers = answers + "#%$"+"C9LEOVMedium_1"+"#%$"+"C9LEOVMedium_1_5_answer"+"#%$"+$("#C9LEOVMedium_1_5_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#C9LEOVMedium_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "C9LEOVMedium_1_1_answer,C9LEOVMedium_1_2_answer,C9LEOVMedium_1_3_answer,C9LEOVMedium_1_4_answer,C9LEOVMedium_1_5_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


