<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.1 Linear Equations in One Variable</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:60%;">9.1 Linear Equations in One Variable</div>
	{% endif %}
	<div class="grade7TopicName">9.1 Linear Equations in One Variable</div>
	<div class="grade7PageMargin">
		<div class="grade7SubTopicName" style="margin-top:15px;">9.1.1 &nbsp; Definition of Linear Equation</div>
		<div style="margin-top:20px;">6 + <font class="grade7Variables">x</font> = 9 is a linear equation in one variable. The '=' sign in the equation indicates that the total values on both sides must be equal.</div>
		<div style="margin-top:20px;display:inline-block;width:210px;">A linear equation in one variable takes the form <br><i>a</i><font class="grade7Variables">x</font> + <i>b</i> = <i>c</i>, where <i>a</i>, <i>b</i> and <i>c</i> are constants and <i>a</i> &#8800; 0.</div>
		<div style="margin-top:10px;width:200px;display:inline-block;vertical-align:top;" class="grade7OrangeSideBox"><strong>Do Note:</strong>
			<div>6 + <font class="grade7Variables">x</font> is a linear equation in the variable '<font class="grade7Variables">x</font>'.</div>
		</div>
		<br>
		<div style="margin-top:30px;display:inline-block;width:210px;">The two sides of an equation are left hand side or LHS and right hand side or RHS.</div>
		<div style="margin-top:0px;width:200px;display:inline-block;" class="grade7BlueSideBox"><strong>Here,</strong>
			<div>LHS = 6 + <font class="grade7Variables">x</font> and RHS = 9.</div>
		</div>
		<div style="margin-top:30px;"><font class="grade7Variables">x</font> takes up a value that makes the equation true. It is known as the <strong>solution</strong> or <strong>root</strong> of the equation.</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

