<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.1 Linear Equations in One Variable</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:60%;">9.1 Linear Equations in One Variable</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;">To solve 6 + <font class="grade7Variables">x</font> = 9, add &minus;6 to both sides of the linear equation,</div>
		<div style="margin-top:10px;width:70px;display:inline-block;text-align:right;margin-right:7px;margin-left:20px;">6 + <font class="grade7Variables">x</font> &minus; 6</div><div style="margin-top:10px;display:inline-block;">=&nbsp; 9 &minus; 6</div>
		<br>
		<div style="margin-top:10px;width:70px;display:inline-block;text-align:right;margin-right:7px;margin-left:20px;"><font class="grade7Variables">x</font></div><div style="margin-top:10px;display:inline-block;">=&nbsp; 3</div>
		<div style="margin-top:10px;">Hence, <font class="grade7Variables">x</font> = 3 satisfies the equation or it is the root of the equation.</div>

		<div class="grade7SubTopicName" style="margin-top:30px;">9.1.2 &nbsp; Finding Solution of Linear Equations</div>
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 1:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">
			Solve:
		</div>
		<br>	
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			<font class="grade7Variables">x</font> + 19 = 12
		</div>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">b)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			5 &minus; <font class="grade7Variables">p</font> = 3
		</div>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">c)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			3<font class="grade7Variables">t</font> &minus; 4 = 5
		</div>
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 1:</font></div>
		<div style="margin-top:10px;width:15px;display:inline-block;margin-left:30px;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">
			<div style="margin-top:0px;"><font class="grade7Variables">x</font> + 19 = 12</div>
			<div style="margin-top:10px;">Add &minus;19 to both sides.</div>
			<div style="margin-top:10px;"><font class="grade7Variables">x</font> + 19 &minus; 19 = 12 &minus; 19</div>
			<div style="margin-top:10px;">&there4; <font class="grade7Variables">x</font> = &minus;7</div>
		</div>

	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

