<div style="height:480px;">
	<div class="grade7ChapterNumberDiv" style="background-color:#EE1997;">
		<div class="grade7ChapterNumber" style="color:#FFF;">
			Chapter 9
		</div>
	</div>
	<div class="grade7ChapterNameDiv" style="background-color:#F693CD;">
		<div class="grade7ChapterName" style="width:350px;color:#EE1997;">
			Linear Equations
		</div>
	</div>
	<br>
	<div class="grade7LearningOutcomes">Learning Outcomes</div>
	<div class="grade7LearningOutcomesList" style="margin-left:20%;">
		<ul>
			<li><a href="javascript:Grade7BookPageLoadByName('Simple-Inequalities-1')">Linear Equations in One Variable</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Simple-Fractional-Equations-1')">Simple Fractional Equations</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Applications-of-Linear-Equations-1')">Applications of Linear Equations</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Topical-Test-1-Linear-Equations')">Topical Test</a></li>
		</ul>		
	</div>		
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

