<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.2 Simple Fractional Equations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:63%;">9.2 Simple Fractional Equations</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:10px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="margin-top:10px;display:inline-block;width:390px;vertical-align:top;">A heat engine takes heat from a high temperature source, <i>H</i>, to a low temperature sink, <i>C</i>. The efficiency of the heat engine is given by the formula,</div>
		<div style="margin-left:43px;margin-top:15px;">Efficiency = 1 &minus;
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">&nbsp;<i>C</i>&nbsp;<br>__<br></p>
				<p style="line-height:20%;text-align:center;"><i>H</i><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-5px;">Find <i>H</i> if efficiency of an engine is 60% and <i>C</i> = 10&deg;C.</div>
		</div>
		<div style="margin-left:60px;margin-top:5px;">
			<div style="display:inline-block;margin-left:5px;margin-top:15px;">Answer: &nbsp;
				{% if C9SFEMedium_3_answer_correct is defined %}
					<input id="C9SFEMedium_3_answer" value='{{C9SFEMedium_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">&nbsp;&deg;C
				{% else %}
					<input id="C9SFEMedium_3_answer" value='{{C9SFEMedium_3_answer}}' style="width:30px;text-align:center;" >&nbsp;&deg;C
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C9SFEMedium_3_answer_correct is defined %}
					{% if C9SFEMedium_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9SFEMedium_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>
			
		<div style="margin-left:20px;margin-top:30px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="margin-top:30px;display:inline-block;width:390px;vertical-align:top;">a) 
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:0px;"><font class="grade7Variables">t</font> = </div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-17px;">
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">r</font><br>______<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">s</font> &minus; <font class="grade7Variables">r</font><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">,&nbsp; find &nbsp;<font class="grade7Variables">r</font>&nbsp; if &nbsp;<font class="grade7Variables">t</font> = &minus;2 &nbsp;and&nbsp; <font class="grade7Variables">s</font> = 12</div>
		</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:-5px;"><font class="grade7Variables">r</font> = &nbsp;
				{% if C9SFEMedium_4_1_answer_correct is defined %}
					<input id="C9SFEMedium_4_1_answer" value='{{C9SFEMedium_4_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C9SFEMedium_4_1_answer" value='{{C9SFEMedium_4_1_answer}}' style="width:30px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:-10px;">
				{% if C9SFEMedium_4_1_answer_correct is defined %}
					{% if C9SFEMedium_4_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9SFEMedium_4_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>
		
		<div style="margin-left:40px;margin-top:20px;">b) 
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:0px;"><font class="grade7Variables">m</font> = </div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-17px;">
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font><br>_____<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">y</font> &minus; <font class="grade7Variables">z</font><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">,&nbsp; find &nbsp;<font class="grade7Variables">z</font>&nbsp; if &nbsp;<font class="grade7Variables">m</font> = 3,&nbsp; <font class="grade7Variables">x</font> = 21 &nbsp;and&nbsp; <font class="grade7Variables">y</font> = 2</div>
		</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:-5px;"><font class="grade7Variables">z</font> = &nbsp;
				{% if C9SFEMedium_4_2_answer_correct is defined %}
					<input id="C9SFEMedium_4_2_answer" value='{{C9SFEMedium_4_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C9SFEMedium_4_2_answer" value='{{C9SFEMedium_4_2_answer}}' style="width:30px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:-10px;">
				{% if C9SFEMedium_4_2_answer_correct is defined %}
					{% if C9SFEMedium_4_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9SFEMedium_4_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>

		<div style="margin-left:40px;margin-top:20px;">c) 
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">a</font><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:2px;">&minus;</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">b</font><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:2px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">c</font><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:2px;">&minus;</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">d</font><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">, find&nbsp;<font class="grade7Variables">c</font>&nbsp;if &nbsp;<font class="grade7Variables">a</font> = &minus;2,&nbsp; <font class="grade7Variables">b</font> = &minus;3 &nbsp;and&nbsp;<font class="grade7Variables">d</font> = 5</div>
		</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:-5px;"><font class="grade7Variables">c</font> = &nbsp;
				{% if C9SFEMedium_4_3_answer_correct is defined %}
					<input id="C9SFEMedium_4_3_answer" value='{{C9SFEMedium_4_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C9SFEMedium_4_3_answer" value='{{C9SFEMedium_4_3_answer}}' style="width:30px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:-10px;">
				{% if C9SFEMedium_4_3_answer_correct is defined %}
					{% if C9SFEMedium_4_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9SFEMedium_4_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>

		{% if C9SFEMedium_3_answer_correct is defined %}
			<div style="margin-top:-10px;margin-left:340px;"><button id="C9SFEMedium_2_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:-10px;margin-left:280px;"><button id="C9SFEMedium_2_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>
<script>
$("#C9SFEMedium_3_answer").change(function()
		{
			question_id = "C9SFEMedium_3";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEMedium_3_answer";
			entered_answer = $("#C9SFEMedium_3_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});	
$("#C9SFEMedium_4_1_answer").change(function()
		{
			question_id = "C9SFEMedium_4";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEMedium_4_1_answer";
			entered_answer = $("#C9SFEMedium_4_1_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});	
$("#C9SFEMedium_4_2_answer").change(function()
		{
			question_id = "C9SFEMedium_4";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEMedium_4_2_answer";
			entered_answer = $("#C9SFEMedium_4_2_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});	
$("#C9SFEMedium_4_3_answer").change(function()
		{
			question_id = "C9SFEMedium_4";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEMedium_4_3_answer";
			entered_answer = $("#C9SFEMedium_4_3_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});	

	$("#C9SFEMedium_2_Submit").button({label:"Check Answers"});
	$("#C9SFEMedium_2_Retry").button({label:"Retry"});
	$("#C9SFEMedium_2_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "SimpleFractionalEquations"
		//getting question id, answer id and entered answer in form of a string
		var answers = "C9SFEMedium_3"+"#%$"+"C9SFEMedium_3_answer"+"#%$"+$("#C9SFEMedium_3_answer").val();
		answers = answers + "#%$"+"C9SFEMedium_4"+"#%$"+"C9SFEMedium_4_1_answer"+"#%$"+$("#C9SFEMedium_4_1_answer").val();
		answers = answers + "#%$"+"C9SFEMedium_4"+"#%$"+"C9SFEMedium_4_2_answer"+"#%$"+$("#C9SFEMedium_4_2_answer").val();
		answers = answers + "#%$"+"C9SFEMedium_4"+"#%$"+"C9SFEMedium_4_3_answer"+"#%$"+$("#C9SFEMedium_4_3_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#C9SFEMedium_2_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "C9SFEMedium_3_answer,C9SFEMedium_4_1_answer,C9SFEMedium_4_2_answer,C9SFEMedium_4_3_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


