<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.2 Simple Fractional Equations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:63%;">9.2 Simple Fractional Equations</div>
	{% endif %}
		<div style="margin-left:40px;margin-top:20px;">d) 
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">6<font class="grade7Variables">x</font> &minus; 8<br>_______<br></p>
				<p style="line-height:20%;text-align:center;">1 &minus; 5<font class="grade7Variables">x</font><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:3px;">&nbsp; = &nbsp;</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">13<br>__<br></p>
				<p style="line-height:20%;text-align:center;">12<br></p>
			</div>
		</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;"><font class="grade7Variables">x</font> =</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-20px;">
				{% if C9SFEEasy_1_6_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="C9SFEEasy_1_6_answer" value='{{C9SFEEasy_1_6_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br>_____<br></p>
						<p style="line-height:20%;text-align:center;"><input id="C9SFEEasy_1_7_answer" value='{{C9SFEEasy_1_7_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br></p>
					</div>
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="C9SFEEasy_1_6_answer" value='{{C9SFEEasy_1_6_answer}}' style="width:30px;text-align:center;" ><br>_____<br></p>
						<p style="line-height:20%;text-align:center;"><input id="C9SFEEasy_1_7_answer" value='{{C9SFEEasy_1_7_answer}}' style="width:30px;text-align:center;" ><br></p>
					</div>
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if C9SFEEasy_1_6_answer_correct is defined or C9SFEEasy_1_7_answer_correct is defined %}
					{% if C9SFEEasy_1_6_answer_correct and C9SFEEasy_1_7_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9SFEEasy_1_6_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		
		<div style="margin-left:40px;margin-top:30px;">e) 
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">2(<font class="grade7Variables">k</font> + 1)<br>________<br></p>
				<p style="line-height:20%;text-align:center;">3(2<font class="grade7Variables">k</font> + 1)<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:3px;">&nbsp; = &nbsp;</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-10px;">
				<p style="line-height:20%;">&minus;11<br>____<br></p>
				<p style="line-height:20%;text-align:center;">12<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:3px;">(Give your answer in simplest form.)</div>
		</div>
		<div style="margin-left:60px;margin-top:20px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;"><font class="grade7Variables">k</font> =</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-20px;">
				{% if C9SFEEasy_1_8_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="C9SFEEasy_1_8_answer" value='{{C9SFEEasy_1_8_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br>_____<br></p>
						<p style="line-height:20%;text-align:center;"><input id="C9SFEEasy_1_9_answer" value='{{C9SFEEasy_1_9_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br></p>
					</div>
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="C9SFEEasy_1_8_answer" value='{{C9SFEEasy_1_8_answer}}' style="width:30px;text-align:center;" ><br>_____<br></p>
						<p style="line-height:20%;text-align:center;"><input id="C9SFEEasy_1_9_answer" value='{{C9SFEEasy_1_9_answer}}' style="width:30px;text-align:center;" ><br></p>
					</div>
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if C9SFEEasy_1_8_answer_correct is defined or C9SFEEasy_1_9_answer_correct is defined %}
					{% if C9SFEEasy_1_8_answer_correct and C9SFEEasy_1_9_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9SFEEasy_1_8_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>		
		</div>

		<div style="margin-left:40px;margin-top:30px;">f) 
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">3<br>__<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:3px;">&minus; 9 &nbsp; = &nbsp;</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-10px;">
				<p style="line-height:20%;">&minus;2<br>___<br></p>
				<p style="line-height:20%;text-align:center;">&nbsp;13<br></p>
			</div>
		</div>
		<div style="margin-left:60px;margin-top:20px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;"><font class="grade7Variables">x</font> =</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-20px;">
				{% if C9SFEEasy_1_10_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="C9SFEEasy_1_10_answer" value='{{C9SFEEasy_1_10_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br>_____<br></p>
						<p style="line-height:20%;text-align:center;"><input id="C9SFEEasy_1_11_answer" value='{{C9SFEEasy_1_11_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br></p>
					</div>
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="C9SFEEasy_1_10_answer" value='{{C9SFEEasy_1_10_answer}}' style="width:30px;text-align:center;" ><br>_____<br></p>
						<p style="line-height:20%;text-align:center;"><input id="C9SFEEasy_1_11_answer" value='{{C9SFEEasy_1_11_answer}}' style="width:30px;text-align:center;" ><br></p>
					</div>
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if C9SFEEasy_1_10_answer_correct is defined or C9SFEEasy_1_11_answer_correct is defined %}
					{% if C9SFEEasy_1_10_answer_correct and C9SFEEasy_1_11_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9SFEEasy_1_10_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>



		{% if C9SFEEasy_1_6_answer_correct is defined %}
			<div style="margin-top:-20px;margin-left:340px;"><button id="C9SFEEasy_2_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:-20px;margin-left:280px;"><button id="C9SFEEasy_2_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>
<script>
$("#C9SFEEasy_1_6_answer").change(function()
		{
			question_id = "C9SFEEasy_1";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEEasy_1_6_answer";
			entered_answer = $("#C9SFEEasy_1_6_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});
$("#C9SFEEasy_1_7_answer").change(function()
		{
			question_id = "C9SFEEasy_1";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEEasy_1_7_answer";
			entered_answer = $("#C9SFEEasy_1_7_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});
$("#C9SFEEasy_1_8_answer").change(function()
		{
			question_id = "C9SFEEasy_1";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEEasy_1_8_answer";
			entered_answer = $("#C9SFEEasy_1_8_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});
$("#C9SFEEasy_1_9_answer").change(function()
		{
			question_id = "C9SFEEasy_1";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEEasy_1_9_answer";
			entered_answer = $("#C9SFEEasy_1_9_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});
$("#C9SFEEasy_1_10_answer").change(function()
		{
			question_id = "C9SFEEasy_1";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEEasy_1_10_answer";
			entered_answer = $("#C9SFEEasy_1_10_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});
$("#C9SFEEasy_1_11_answer").change(function()
		{
			question_id = "C9SFEEasy_1";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEEasy_1_11_answer";
			entered_answer = $("#C9SFEEasy_1_11_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});

	$("#C9SFEEasy_2_Submit").button({label:"Check Answers"});
	$("#C9SFEEasy_2_Retry").button({label:"Retry"});
	$("#C9SFEEasy_2_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "SimpleFractionalEquations"
		//getting question id, answer id and entered answer in form of a string
		var answers = "C9SFEEasy_1"+"#%$"+"C9SFEEasy_1_6_answer"+"#%$"+$("#C9SFEEasy_1_6_answer").val();
		answers = answers + "#%$"+"C9SFEEasy_1"+"#%$"+"C9SFEEasy_1_7_answer"+"#%$"+$("#C9SFEEasy_1_7_answer").val();
		answers = answers + "#%$"+"C9SFEEasy_1"+"#%$"+"C9SFEEasy_1_8_answer"+"#%$"+$("#C9SFEEasy_1_8_answer").val();
		answers = answers + "#%$"+"C9SFEEasy_1"+"#%$"+"C9SFEEasy_1_9_answer"+"#%$"+$("#C9SFEEasy_1_9_answer").val();
		answers = answers + "#%$"+"C9SFEEasy_1"+"#%$"+"C9SFEEasy_1_10_answer"+"#%$"+$("#C9SFEEasy_1_10_answer").val();
		answers = answers + "#%$"+"C9SFEEasy_1"+"#%$"+"C9SFEEasy_1_11_answer"+"#%$"+$("#C9SFEEasy_1_11_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#C9SFEEasy_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "C9SFEEasy_1_6_answer,C9SFEEasy_1_7_answer,C9SFEEasy_1_8_answer,C9SFEEasy_1_9_answer,C9SFEEasy_1_10_answer,C9SFEEasy_1_11_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


