<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.2 Simple Fractional Equations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:63%;">9.2 Simple Fractional Equations</div>
	{% endif %}
		<div style="margin-top:30px;"><font class="grade7ExampleSolution">Solution 3 (contd.):</font></div>
		<div style="margin-top:20px;width:15px;display:inline-block;margin-left:30px;">b)</div>
		<div style="margin-top:20px;display:inline-block;width:360px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-left:2px;">6 =</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-11px;">
				<p style="line-height:20%;text-align:center;">12<br>_____<br></p>
				<p style="line-height:20%;text-align:center;">3<font class="grade7Variables">t</font> &minus; 4<br></p>
			</div>
			<div style="margin-top:10px;">Multiply both sides by (3<font class="grade7Variables">t</font> &minus; 4).</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:25px;">6 &times; (3<font class="grade7Variables">t</font> &minus; 4) &nbsp;=&nbsp;</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:12px;">
				<p style="line-height:20%;text-align:center;">12 &times; (3<font class="grade7Variables">t</font> &minus; 4)<br>___________<br></p>
				<p style="line-height:20%;text-align:center;">(3<font class="grade7Variables">t</font> &minus; 4)<br></p>
			</div>
			<br>
			<div style="margin-top:15px;display:inline-block;width:85px;text-align:right;margin-right:2px;">6 &times; (3<font class="grade7Variables">t</font> &minus; 4)</div>
			<div style="margin-top:15px;display:inline-block;">=&nbsp; 12</div>
			<br>
			<div style="margin-top:15px;display:inline-block;width:85px;text-align:right;margin-right:2px;">18<font class="grade7Variables">t</font> &minus; 24</div>
			<div style="margin-top:15px;display:inline-block;">=&nbsp; 12</div>
			<br>
			<div style="margin-top:15px;display:inline-block;width:85px;text-align:right;margin-right:2px;">18<font class="grade7Variables">t</font></div>
			<div style="margin-top:15px;display:inline-block;">=&nbsp; 12 + 24</div>
			<br>
			<div style="margin-top:15px;display:inline-block;width:85px;text-align:right;margin-right:2px;">18<font class="grade7Variables">t</font></div>
			<div style="margin-top:15px;display:inline-block;">=&nbsp; 36</div>
			<br>
			<div style="margin-top:15px;display:inline-block;width:85px;text-align:right;margin-right:5px;">&there4; <font class="grade7Variables">t</font></div>
			<div style="margin-top:15px;display:inline-block;vertical-align:top;margin-left:-2px;">=&nbsp; 36 &divide; 18 &nbsp;=&nbsp; 2</div>
		</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

