<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.2 Simple Fractional Equations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:63%;">9.2 Simple Fractional Equations</div>
	{% endif %}
		<div style="margin-top:30px;"><font class="grade7ExampleSolution">Solution 3 (contd.):</font></div>
		<div style="margin-top:20px;width:15px;display:inline-block;margin-left:30px;">c)</div>
		<div style="margin-top:20px;display:inline-block;width:360px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-13px;">
				<p style="line-height:20%;text-align:center;">&nbsp;<font class="grade7Variables">s</font>&nbsp;<br>_____<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">s</font> &minus; 1<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;">&nbsp;=&nbsp; 2</div>
			<div style="display:inline-block;vertical-align:top;margin-left:-2px;margin-top:-11px;">
				<p style="line-height:20%;text-align:center;">3<br>_<br></p>
				<p style="line-height:20%;text-align:center;">4<br></p>
			</div>
			<br>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:10px;">
				<p style="line-height:20%;text-align:center;">&nbsp;<font class="grade7Variables">s</font>&nbsp;<br>_____<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">s</font> &minus; 1<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-right:2px;margin-top:23px;">&nbsp;=&nbsp; </div>
			<div style="display:inline-block;vertical-align:top;margin-left:-2px;margin-top:10px;">
				<p style="line-height:20%;text-align:center;">11<br>__<br></p>
				<p style="line-height:20%;text-align:center;">4<br></p>
			</div>
			
			<div style="margin-top:10px;">Multiply both sides by LCM of 4 and (<font class="grade7Variables">s</font>&minus;1) i.e. 4(<font class="grade7Variables">s</font>&minus;1).</div>

			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:10px;width:90px;">
				<p style="line-height:20%;text-align:center;">4(<font class="grade7Variables">s</font> &minus; 1) &times; <font class="grade7Variables">s</font><br>___________<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">s</font> &minus; 1<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:23px;">&nbsp;=&nbsp;</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:10px;">
				<p style="line-height:20%;text-align:center;">4(<font class="grade7Variables">s</font> &minus; 1) &times; 11<br>____________<br></p>
				<p style="line-height:20%;text-align:center;">4<br></p>
			</div>
			<br>

			<div style="margin-top:10px;display:inline-block;width:95px;text-align:right;margin-right:2px;">4<font class="grade7Variables">s</font></div>
			<div style="margin-top:10px;display:inline-block;">=&nbsp; 11(<font class="grade7Variables">s</font> &minus; 1)</div>
			<br>
			<div style="margin-top:15px;display:inline-block;width:95px;text-align:right;margin-right:2px;">4<font class="grade7Variables">s</font></div>
			<div style="margin-top:15px;display:inline-block;">=&nbsp; 11<font class="grade7Variables">s</font> &minus; 11</div>
			<br>
			<div style="margin-top:15px;display:inline-block;width:95px;text-align:right;margin-right:2px;">11<font class="grade7Variables">s</font> &minus; 4<font class="grade7Variables">s</font></div>
			<div style="margin-top:15px;display:inline-block;">=&nbsp; 11</div>
			<br>
			<div style="margin-top:15px;display:inline-block;width:95px;text-align:right;margin-right:2px;">7<font class="grade7Variables">s</font></div>
			<div style="margin-top:15px;display:inline-block;">=&nbsp; 11</div>
			<br>


			<div style="margin-top:15px;display:inline-block;width:95px;text-align:right;margin-right:2px;">&there4; <font class="grade7Variables">s</font></div>
			<div style="display:inline-block;vertical-align:top;margin-top:17px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:5px;">
				<p style="line-height:20%;text-align:center;">11<br>__<br></p>
				<p style="line-height:20%;text-align:center;">7<br></p>
			</div>
		</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

