<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.2 Simple Fractional Equations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:63%;">9.2 Simple Fractional Equations</div>
	{% endif %}
		<div style="margin-top:30px;"><font class="grade7ExampleSolution">Solution 3:</font></div>
		<div style="margin-top:20px;width:15px;display:inline-block;margin-left:30px;">a)</div>
		<div style="margin-top:20px;display:inline-block;width:360px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-13px;">
				<p style="line-height:20%;text-align:center;">2<font class="grade7Variables">p</font> &minus; 5<br>______<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">p</font> + 4<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-13px;">
				<p style="line-height:20%;text-align:center;">5<br>__<br></p>
				<p style="line-height:20%;text-align:center;">4<br></p>
			</div>
			<div style="margin-top:10px;">Multiply the LCM of (<font class="grade7Variables">p</font> + 4) and 4 i.e. 4(<font class="grade7Variables">p</font> + 4) on both sides.</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:7px;">
				<p style="line-height:20%;text-align:center;">4(<font class="grade7Variables">p</font> + 4) &times; (2<font class="grade7Variables">p</font> &minus; 5)<br>_________________<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">p</font> + 4<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:15px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:7px;">
				<p style="line-height:20%;text-align:center;">4(<font class="grade7Variables">p</font> + 4) &times; 5<br>____________<br></p>
				<p style="line-height:20%;text-align:center;">4<br></p>
			</div>
			<div style="margin-top:10px;">4(2<font class="grade7Variables">p</font> &minus; 5) = 5(<font class="grade7Variables">p</font> + 4) &nbsp;&nbsp;&nbsp; [This is a linear equation.]</div>
			<div style="margin-top:15px;">Apply the distributive law.</div>
			<div style="margin-top:15px;display:inline-block;width:60px;text-align:right;margin-right:5px;">8<font class="grade7Variables">p</font> &minus; 20</div>
			<div style="margin-top:15px;display:inline-block;">=&nbsp; 5<font class="grade7Variables">p</font> + 20</div>
			<br>
			<div style="margin-top:15px;display:inline-block;width:60px;text-align:right;margin-right:5px;">8<font class="grade7Variables">p</font> &minus; 5<font class="grade7Variables">p</font></div>
			<div style="margin-top:15px;display:inline-block;">=&nbsp; 20 + 20</div>
			<br>
			<div style="margin-top:15px;display:inline-block;width:60px;text-align:right;margin-right:5px;">3<font class="grade7Variables">p</font></div>
			<div style="margin-top:15px;display:inline-block;">=&nbsp; 40</div>
			<br>
			<div style="margin-top:15px;display:inline-block;width:60px;text-align:right;margin-right:5px;">&there4; <font class="grade7Variables">p</font></div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:17px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:5px;">
				<p style="line-height:20%;text-align:center;">40<br>__<br></p>
				<p style="line-height:20%;text-align:center;">3<br></p>
			</div>
		</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

