<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.2 Simple Fractional Equations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:63%;">9.2 Simple Fractional Equations</div>
	{% endif %}
		<div style="margin-left:43px;margin-top:20px;display:inline-block;">a) 
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:0px;">Find the focal length of the lens if <font class="grade7Variables">u</font> = 30 cm and <font class="grade7Variables">v</font> = 60 cm.</div>
		</div>
		<div style="margin-left:60px;margin-top:15px;">
			<div style="display:inline-block;margin-left:25px;margin-top:0px;">Answer: &nbsp;
				{% if C9SFEAdvanced_3_1_answer_correct is defined %}
					<input id="C9SFEAdvanced_3_1_answer" value='{{C9SFEAdvanced_3_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">&nbsp; cm
				{% else %}
					<input id="C9SFEAdvanced_3_1_answer" value='{{C9SFEAdvanced_3_1_answer}}' style="width:30px;text-align:center;" >&nbsp; cm
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C9SFEAdvanced_3_1_answer_correct is defined %}
					{% if C9SFEAdvanced_3_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9SFEAdvanced_3_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>
		<div style="margin-left:43px;margin-top:40px;">b) 
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:0px;">Find the power of the lens, <i>P</i>, using the formula, <i>P</i> =</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">f</font><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:-2px;margin-top:0px;">.</div>
		</div>
		<div style="margin-left:60px;margin-top:-10px;">
			<div style="display:inline-block;margin-left:25px;margin-top:5px;">Answer: &nbsp;
				{% if C9SFEAdvanced_3_2_answer_correct is defined %}
					<input id="C9SFEAdvanced_3_2_answer" value='{{C9SFEAdvanced_3_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">&nbsp; cm<sup>&minus;1</sup>
				{% else %}
					<input id="C9SFEAdvanced_3_2_answer" value='{{C9SFEAdvanced_3_2_answer}}' style="width:30px;text-align:center;" >&nbsp; cm<sup>&minus;1</sup>
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C9SFEAdvanced_3_2_answer_correct is defined %}
					{% if C9SFEAdvanced_3_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9SFEAdvanced_3_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>
		<div style="margin-left:43px;margin-top:40px;">c) 
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:0px;">Magnification, <font class="grade7Variables">m</font> =</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-12px;">
				<p style="line-height:30%;text-align:left;">&nbsp;<font class="grade7Variables">h</font><sub>i</sub><br>___<br></p>
				<p style="line-height:30%;text-align:left;">&nbsp;<font class="grade7Variables">h</font><sub>o</sub><br></p>
			</div>
			<div style="vertical-align:top;margin-left:20px;margin-top:0px;">where,</div>
			<div style="vertical-align:top;margin-left:50px;margin-top:10px;"><font class="grade7Variables">h</font><sub>i</sub> = height of image</div>
			<div style="vertical-align:top;margin-left:50px;margin-top:10px;"><font class="grade7Variables">h</font><sub>o</sub> = height of object</div>
			<div style="vertical-align:top;margin-left:20px;margin-top:10px;">Find the magnification of the lens if a 2.3 cm tall object is magnified to a 4.6 cm tall image.</div>
		</div>
		<div style="margin-left:60px;margin-top:15px;">
			<div style="display:inline-block;margin-left:25px;margin-top:0px;">Answer: &nbsp;
				{% if C9SFEAdvanced_3_3_answer_correct is defined %}
					<input id="C9SFEAdvanced_3_3_answer" value='{{C9SFEAdvanced_3_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C9SFEAdvanced_3_3_answer" value='{{C9SFEAdvanced_3_3_answer}}' style="width:30px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C9SFEAdvanced_3_3_answer_correct is defined %}
					{% if C9SFEAdvanced_3_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9SFEAdvanced_3_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>
		

		{% if C9SFEAdvanced_3_1_answer_correct is defined %}
			<div style="margin-top:-10px;margin-left:340px;"><button id="C9SFEAdvanced_3_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:-10px;margin-left:280px;"><button id="C9SFEAdvanced_3_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>
<script>
$("#C9SFEAdvanced_3_1_answer").change(function()
		{
			question_id = "C9SFEAdvanced_3";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEAdvanced_3_1_answer";
			entered_answer = $("#C9SFEAdvanced_3_1_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});	
$("#C9SFEAdvanced_3_2_answer").change(function()
		{
			question_id = "C9SFEAdvanced_3";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEAdvanced_3_2_answer";
			entered_answer = $("#C9SFEAdvanced_3_2_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});	
$("#C9SFEAdvanced_3_3_answer").change(function()
		{
			question_id = "C9SFEAdvanced_3";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEAdvanced_3_3_answer";
			entered_answer = $("#C9SFEAdvanced_3_3_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});	

	$("#C9SFEAdvanced_3_Submit").button({label:"Check Answers"});
	$("#C9SFEAdvanced_3_Retry").button({label:"Retry"});
	$("#C9SFEAdvanced_3_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "SimpleFractionalEquations"
		//getting question id, answer id and entered answer in form of a string
		var answers = "C9SFEAdvanced_3"+"#%$"+"C9SFEAdvanced_3_1_answer"+"#%$"+$("#C9SFEAdvanced_3_1_answer").val();
		answers = answers + "#%$"+"C9SFEAdvanced_3"+"#%$"+"C9SFEAdvanced_3_2_answer"+"#%$"+$("#C9SFEAdvanced_3_2_answer").val();
		answers = answers + "#%$"+"C9SFEAdvanced_3"+"#%$"+"C9SFEAdvanced_3_3_answer"+"#%$"+$("#C9SFEAdvanced_3_3_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#C9SFEAdvanced_3_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "C9SFEAdvanced_3_1_answer,C9SFEAdvanced_3_2_answer,C9SFEAdvanced_3_3_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


