<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.2 Simple Fractional Equations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:63%;">9.2 Simple Fractional Equations</div>
	{% endif %}
	<div class="grade7TopicName">9.2 Simple Fractional Equations</div>
	<div class="grade7PageMargin">
		<div style="margin-top:20px;">A fractional equation is one in which the denominator of a term contains a variable.</div>
		<div style="margin-top:20px;width:310px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;">Example,</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-13px;">
				<p style="line-height:20%;text-align:center;">&nbsp;5&nbsp;<br>______<br></p>
				<p style="line-height:20%;text-align:center;">2<font class="grade7Variables">x</font> &minus; 1<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;">= 5</div>
		</div>
		<div style="margin-top:5px;">In the fractional equation above, 2<font class="grade7Variables">x</font> &minus; 1 &#8800; 0.</div>
		<div style="margin-top:20px;">The solution of the equation cannot be a value that makes the denominator zero.</div>

		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 3:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">
			Solve each of the following equations:
		</div>
		<br>	
		<div style="margin-top:20px;width:15px;display:inline-block;margin-left:30px;">a)</div>
		<div style="margin-top:20px;display:inline-block;width:360px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-13px;">
				<p style="line-height:20%;text-align:center;">2<font class="grade7Variables">p</font> &minus; 5<br>______<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">p</font> + 4<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-13px;">
				<p style="line-height:20%;text-align:center;">5<br>__<br></p>
				<p style="line-height:20%;text-align:center;">4<br></p>
			</div>
		</div>
		<br>
		<div style="margin-top:20px;width:15px;display:inline-block;margin-left:30px;">b)</div>
		<div style="margin-top:20px;display:inline-block;width:360px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-left:2px;">6 =</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-13px;">
				<p style="line-height:20%;text-align:center;">7<br>______<br></p>
				<p style="line-height:20%;text-align:center;">3<font class="grade7Variables">t</font> &minus; 4<br></p>
			</div>
		</div>
		<br>
		<div style="margin-top:20px;width:15px;display:inline-block;margin-left:30px;">c)</div>
		<div style="margin-top:20px;display:inline-block;width:360px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-13px;">
				<p style="line-height:20%;text-align:center;">&nbsp;<font class="grade7Variables">s</font>&nbsp;<br>_____<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">s</font> &minus; 1<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:4px;">= &nbsp;2</div>
			<div style="display:inline-block;vertical-align:top;margin-left:-2px;margin-top:-13px;">
				<p style="line-height:20%;text-align:center;">3<br>__<br></p>
				<p style="line-height:20%;text-align:center;">4<br></p>
			</div>
		</div>
		<br>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>

