<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#F693CD;">9.2 Simple Fractional Equations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#F693CD;margin-left:63%;">9.2 Simple Fractional Equations</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Medium</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">Amit's age is 2 years more than 6 times his son's age.</div>
		<div style="margin-left:43px;margin-top:10px;">5 years later, Amit's age will be&nbsp;
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">31<br>__<br></p>
				<p style="line-height:20%;text-align:center;">9<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:3px;">of his son's age.</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-8px;">Find the son's present age.</div>
		</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if C9SFEMedium_1_answer_correct is defined %}
					<input id="C9SFEMedium_1_answer" value='{{C9SFEMedium_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> years
				{% else %}
					<input id="C9SFEMedium_1_answer" value='{{C9SFEMedium_1_answer}}' style="width:30px;text-align:center;" > years
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C9SFEMedium_1_answer_correct is defined %}
					{% if C9SFEMedium_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9SFEMedium_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>
			
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">Find <font class="grade7Variables">x</font>, correct to 1 decimal place.</div>
		<div style="margin-left:30px;margin-top:10px;"><img src="images/Grade7/G7_LE_Simple_Fractional_Equations_Medium_2a.png" /></div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:0px;"><font class="grade7Variables">x</font> = &nbsp;
				{% if C9SFEMedium_2_1_answer_correct is defined %}
					<input id="C9SFEMedium_2_1_answer" value='{{C9SFEMedium_2_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C9SFEMedium_2_1_answer" value='{{C9SFEMedium_2_1_answer}}' style="width:30px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C9SFEMedium_2_1_answer_correct is defined %}
					{% if C9SFEMedium_2_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9SFEMedium_2_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>

		<div style="margin-left:30px;margin-top:30px;"><img src="images/Grade7/G7_LE_Simple_Fractional_Equations_Medium_2b.png" /></div>		
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;"><font class="grade7Variables">x</font> = &nbsp;
				{% if C9SFEMedium_2_2_answer_correct is defined %}
					<input id="C9SFEMedium_2_2_answer" value='{{C9SFEMedium_2_2_answer}}' readonly style="width:40px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="C9SFEMedium_2_2_answer" value='{{C9SFEMedium_2_2_answer}}' style="width:40px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if C9SFEMedium_2_2_answer_correct is defined %}
					{% if C9SFEMedium_2_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{C9SFEMedium_2_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>				
		</div>


		{% if C9SFEMedium_1_answer_correct is defined %}
			<div style="margin-top:-20px;margin-left:340px;"><button id="C9SFEMedium_1_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:-20px;margin-left:280px;"><button id="C9SFEMedium_1_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#EE1997;color:#fff">{{page_number}}</div>
<script>
$("#C9SFEMedium_1_answer").change(function()
		{
			question_id = "C9SFEMedium_1";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEMedium_1_answer";
			entered_answer = $("#C9SFEMedium_1_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});	
$("#C9SFEMedium_2_1_answer").change(function()
		{
			question_id = "C9SFEMedium_2";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEMedium_2_1_answer";
			entered_answer = $("#C9SFEMedium_2_1_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});	
$("#C9SFEMedium_2_2_answer").change(function()
		{
			question_id = "C9SFEMedium_2";
			question_type = "SimpleFractionalEquations"
			answer_id = "C9SFEMedium_2_2_answer";
			entered_answer = $("#C9SFEMedium_2_2_answer").val();
			student_id = '{{current_user.username}}';
			Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
		});	

	$("#C9SFEMedium_1_Submit").button({label:"Check Answers"});
	$("#C9SFEMedium_1_Retry").button({label:"Retry"});
	$("#C9SFEMedium_1_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "SimpleFractionalEquations"
		//getting question id, answer id and entered answer in form of a string
		var answers = "C9SFEMedium_1"+"#%$"+"C9SFEMedium_1_answer"+"#%$"+$("#C9SFEMedium_1_answer").val();
		answers = answers + "#%$"+"C9SFEMedium_2"+"#%$"+"C9SFEMedium_2_1_answer"+"#%$"+$("#C9SFEMedium_2_1_answer").val();
		answers = answers + "#%$"+"C9SFEMedium_2"+"#%$"+"C9SFEMedium_2_2_answer"+"#%$"+$("#C9SFEMedium_2_2_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#C9SFEMedium_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "C9SFEMedium_1_answer,C9SFEMedium_2_1_answer,C9SFEMedium_2_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


