<div style="height:480px;">
	<div class="grade7PageHeader" style="color:#F693CD;">Linear Equations - Topical Test</div>
	{% if test_status != 'Completed' %}
	<div style="float:right;margin-right:10px;">
		<div style="display:inline-block;"><button id="C9LE_TT_1_Pause" style="outline:none;"></button></div>
		<div id="TestTimer" style="display:inline-block;"></div>
	</div>
	<br><br>
	{% endif %}
	<div class="grade7PageMargin" style="clear:both;">
		<div style="display:inline-block;margin-left:20px;margin-top:10px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="display:inline-block;width:380px;margin-top:10px;vertical-align:top;">
			Laya travels to school at an average speed of 10 km/h. Her sister Ramya, starts 10 minutes late for school and travels at twice that speed. How long will it take Ramya to catch up to Laya? 
		</div>
				
		<div style="margin-left:60px;margin-top:10px;">		
			<div style="display:inline-block;margin-left:0px;margin-top:10px;">Answer:</div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
						<input id="C9LETT1_1_answer" value='{{C9LETT1_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> minutes		
				{% else %}
						<input id="C9LETT1_1_answer" value='{{C9LETT1_1_answer}}' style="width:30px;text-align:center;" > minutes
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:10px;">
				{% if test_status == 'Completed' %}
					{% if C9LETT1_1_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{C9LETT1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 3 / 3)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{C9LETT1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 3)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 3)</font>
				{% endif %}
			</div>								
		</div>
		<div style="display:inline-block;margin-left:20px;margin-top:30px;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="display:inline-block;width:380px;margin-top:30px;vertical-align:top;">
			Naziah had a mix of 5-cent, 10-cent and 25-cent coins totalling to $6.25. She had thrice as many 5-cent coins as 10-cent coins. The number of 25-cent coins was 5 more than the number of 10-cent coins. How many coins of each denomination did she have? 
		</div>
				
		<div style="margin-left:40px;margin-top:10px;">		
			<div style="display:inline-block;margin-left:0px;margin-top:10px;">Number of 5-cent coins:</div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
						<input id="C9LETT1_2_1_answer" value='{{C9LETT1_2_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> minutes		
				{% else %}
						<input id="C9LETT1_2_1_answer" value='{{C9LETT1_2_1_answer}}' style="width:30px;text-align:center;" > minutes
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if C9LETT1_2_1_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{C9LETT1_2_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 2 / 2)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{C9LETT1_2_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 2)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 2)</font>
				{% endif %}
			</div>								
		</div>
		<div style="margin-left:40px;margin-top:10px;">		
			<div style="display:inline-block;margin-left:0px;margin-top:10px;">Number of 10-cent coins:</div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
						<input id="C9LETT1_2_2_answer" value='{{C9LETT1_2_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> minutes		
				{% else %}
						<input id="C9LETT1_2_2_answer" value='{{C9LETT1_2_2_answer}}' style="width:30px;text-align:center;" > minutes
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if C9LETT1_2_2_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{C9LETT1_2_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 2 / 2)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{C9LETT1_2_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 2)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 2)</font>
				{% endif %}
			</div>								
		</div>
		<div style="margin-left:40px;margin-top:10px;">		
			<div style="display:inline-block;margin-left:0px;margin-top:10px;">Number of 25-cent coins:</div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
						<input id="C9LETT1_2_3_answer" value='{{C9LETT1_2_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> minutes		
				{% else %}
						<input id="C9LETT1_2_3_answer" value='{{C9LETT1_2_3_answer}}' style="width:30px;text-align:center;" > minutes
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if C9LETT1_2_3_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{C9LETT1_2_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 2 / 2)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{C9LETT1_2_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 2)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 2)</font>
				{% endif %}
			</div>								
		</div>




	</div>
	<div id="explain_dialog"></div>
</div>
<script>

$("#C9LE_TT_1_Pause").button({label:"Pause"});
var total_seconds_elapsed = {{elapsed_time_seconds}};
$("#C9LE_TT_1_Pause").click(function()
	{
		Grade7SaveTestTime('{{test_id}}',total_seconds_elapsed,'{{current_user.username}}','Topical-Test-1-Linear-Equations');
  	});	

if ('{{test_status}}' != 'Completed')
{
	TestTimer();
	clearInterval(timeVar);
	var timeVar=setInterval(function(){TestTimer()},1000);
}
function TestTimer()
{
	function pretty_time_string(num)
	{
	return ( num < 10 ? "0" : "" ) + num;   
	}
	total_seconds_elapsed = total_seconds_elapsed + 1;
	display_seconds = total_seconds_elapsed;
	hours = Math.floor(display_seconds / 3600);
	display_seconds = display_seconds % 3600;
	minutes = Math.floor(display_seconds / 60);
	display_seconds = display_seconds % 60;
	var seconds = Math.floor(display_seconds);
	hours = pretty_time_string(hours);
	minutes = pretty_time_string(minutes);
	seconds = pretty_time_string(display_seconds);
	var currentTimeString = hours + ":" + minutes + ":" + seconds;
	document.getElementById("TestTimer").innerHTML=currentTimeString;
}

$("#C9LETT1_1_answer").change(function()
	{
		question_id = "C9LETT1_1";
		test_id = '{{test_id}}';
		answer_id = "C9LETT1_1_answer";
		entered_answer = $("#C9LETT1_1_answer").val();
		student_id = '{{current_user.username}}';
		question_marks = 3;
		elapsed_time = total_seconds_elapsed;
		Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
	});
$("#C9LETT1_2_1_answer").change(function()
		{
			question_id = "C9LETT1_2";
			test_id = '{{test_id}}';
			answer_id = "C9LETT1_2_1_answer";
			entered_answer = $("#C9LETT1_2_1_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#C9LETT1_2_2_answer").change(function()
		{
			question_id = "C9LETT1_2";
			test_id = '{{test_id}}';
			answer_id = "C9LETT1_2_2_answer";
			entered_answer = $("#C9LETT1_2_2_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#C9LETT1_2_3_answer").change(function()
		{
			question_id = "C9LETT1_2";
			test_id = '{{test_id}}';
			answer_id = "C9LETT1_2_3_answer";
			entered_answer = $("#C9LETT1_2_3_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});


$("#explain_dialog").dialog
({
	autoOpen: false,
	title:"Explanation",
    position:"center",   			
	buttons:{"Ok": function(){$(this).dialog("close");}},
	modal:true,
	width:500
});
function ShowExplanation(htmlText)
{
	$("#explain_dialog").html(htmlText);
	$("#explain_dialog").addClass("ExplanationFont");
	$("#explain_dialog").dialog("open");	
}


</script>

