{% extends 'MainPage.html' %}
{% block title %}
<title>About Home Campus - Primary Mathematics - Learn, Practice, Progress</title>
<meta name="description" content="Mission: You are smarter than you think! Purpose: Create a conducive environment for learning mathematics." />
{% endblock %}

{% block body %}

<section class="about-hc">

 	<!-- MainContent -->
 	<div class="about-hc__content">
 		
 		<!-- Team@HC -->
 		<div class="about-hc__content--team">
 			<h3>The Team @ Home Campus</h3>
 			
 			<figure>
 				<img src='/images/Farhat_Mumtaz.png' class="img-circle center-image" />
 				
 				<figcaption style="text-align:center;color:#555;font-weight:bold;">Farhat Pachisa and Mumtaz Pachisa</figcaption>
 			</figure>
 			
 			<br />
 			
 			<div class="">
 				<p>Farhat and Mumtaz founded Home Campus in 2010.</p>
 				
 				<p>
 					Farhat, who holds a bachelor's degree in engineering from Indian Institute of Technology and a master's degree 
 					in finance from Boston College, is a tech guru. He is responsible for HC's product design and development.
 				</p>
 				
 				<p>
 					Mumtaz loves to teach. Apart from developing the course material at HC, she leads HC's marketing and 
 					customer relationships. She holds a master's degree in computer science and engineering from 
 					University of Connecticut.
 				</p>
 			</div>
 		</div>
 		
 		<!-- HC#Purpose -->
 		<div class="about-hc__content--purpose">
 			<h3>Our Purpose</h3>
 			<div class="">
 				Home Campus was created to provide your child with a campus at home. Our main goal is to make a fun and conducive 
 				<b>LEARNING ENVIRONMENT</b> for your child so he can develop at his own pace, while you can watch him progress. 
 				More specifically, we are here to assist your child or pupil build a strong foundation in primary-level mathematics.
 			</div>
 		</div>
 		
 		 		
 		<!-- HC#Mission -->
 		<div class="about-hc__content--mission">
 			<h3>Our Mission</h3>
 			<div class="">
 				To make children <b>BELIEVE</b> that they are smarter than they think!
 			</div>
 		</div>
 		
 		<!-- HC#Inspiration -->
 		<div class="about-hc__content--inpiration">
 			<h3>Who inspire us?</h3>
 			<div class="">
 				Children who get frustrated at the mere mention of the word "<b>MATHS</b>"!
 			</div>
 			
 			<div class="">
 				We hope everyone using Home Campus will have a wonderful experience learning math and will 
 				<b><i>Learn, Practice and Progress!!</i></b>
 			</div>
 		</div>
 		
 	</div>
 	
 	
 	<!-- Side Banner -->
	<div class="about-hc__banner">
		<h4 style="font-weight:bold;text-align:center;">Learning is every child's right.</h4>
		
		<p>
			We created <strong>HomeCampus</strong> for your child with this belief, mission and motivation.
		</p>
		
		<p>
			If knowledge and learning in an environment  where your child can pace herself is what you are seeking, then HomeCampus is for her, no matter her aptitude. 
			It is your child's campus at home!
		</p>
	
		<p>
			Come, let's help her learn and practice primary school mathematics... And for you, parents and  teachers, enjoy watching her progress.
		</p>
	</div>
 
</section>

{% endblock %}
