{% extends 'MainPage.html' %}

{% block body %}

<div>
<br>
<div id="NotesContent" style="height:400px;" ><!-- InstanceBeginEditable name="maincontent" -->

<div class="content">
	    <h1>Reset Password</h1> 
    <form id="resetPassword" method="post" action="{{ current_url }}" enctype="multipart/form-data">
        <div>       
		<br>
        <font class="RegistrationText">Are you?</font>&nbsp;&nbsp;<input id="choice1" name="ParentChildChoice" value="parent" type="radio" ><label for="parent">Parent</label>&nbsp;
        <input id="choice2" name="ParentChildChoice" value="child" type="radio" ><label for="child">Child</label><br><br>
        <div id="ParentPWResetForm" style="display:none">
	        <font class="RegistrationText">Registered Email:</font><input name="parent_username" id="parent_username" type="text" placeholder="Enter registered email" autofocus><br><br>
	        <font class="RegistrationText">New Password:</font><input name="parent_password" id="parent_password" type="password" placeholder="Enter password"><br><br>
	        <font class="RegistrationText">Re-enter Password:</font><input name="parent_password_confirm" id="parent_password_confirm" type="password" placeholder="Re-enter password"><br><br>
        </div>
        <div id="ChildPWResetForm" style="display:none">
	        <font class="RegistrationText">Username:</font><input name="child_username" id="child_username" type="text" placeholder="Enter username" autofocus><br><br>
	        <font class="RegistrationText">Parent's Email:</font><input name="child_email" id="child_email" type="text" placeholder="Enter parent's email"><br><br>
	        <font class="RegistrationText">New Password:</font><input name="child_password" id="child_password" type="password" placeholder="Enter password"><br><br>
	        <font class="RegistrationText">Re-enter Password:</font><input name="child_password_confirm" id="child_password_confirm" type="password" placeholder="Re-enter password"><br><br>
        </div>
        <div id="ChangeButton" style="display:none;">
        	<button id="Change_Password"></button>
        </div><br>        
        </div>
	        <script type="text/javascript"> 
	            $("#Change_Password").button({label:"Change Password"});
			</script>            

    </form>	    
	      
	</div>
</div>
</div>
	<script src="/js/jquery.gritter.min.js"></script>
	<script>
	{% if password_error %}
	 $.gritter.add({
			// (string | mandatory) the heading of the notification
			title: 'Change Password Error!',
			// (string | mandatory) the text inside the notification
			text: '{{password_error}}',
			// (bool | optional) if you want it to fade out on its own or just sit there
			sticky: true,
		});
	 {% endif %}
	</script>
	
	<script>
	var parent_username = new LiveValidation('parent_username',{validMessage:" ", wait:10000});
    var parent_password = new LiveValidation('parent_password',{validMessage:" ", wait:10000});
    var parent_password_confirm = new LiveValidation('parent_password_confirm',{validMessage:" ", wait:10000});

    var child_username = new LiveValidation('child_username',{validMessage:" ", wait:10000});
    var child_password = new LiveValidation('child_password',{validMessage:" ", wait:10000});
    var child_password_confirm = new LiveValidation('child_password_confirm',{validMessage:" ", wait:10000});
	var child_email = new LiveValidation('child_email',{validMessage:" ", wait:10000});

	$("#choice1").click(function() 
	{		
		$("#ChildPWResetForm").hide("fast");
		$("#ParentPWResetForm").show("fast");
		$("#ChangeButton").show("fast");

		child_username.disable();
		child_password.disable();
		child_password_confirm.disable();
		child_email.disable();
		
        parent_username.enable();
        parent_password.enable();
        parent_password_confirm.enable();
        
        parent_username.add(Validate.Email,{failureMessage:"Please enter a valid email address."});
        parent_username.add(Validate.Presence,{failureMessage:"Please enter your registered email first."});		            
        parent_password.add(Validate.Presence,{failureMessage:"Please enter a password."});                   		            
        parent_password_confirm.add(Validate.Confirmation,{failureMessage:"Both passwords should match.", match:'parent_password'}); 		
	});
	$("#choice2").click(function() 
	{
		$("#ParentPWResetForm").hide("fast");
		$("#ChildPWResetForm").show("fast");
		$("#ChangeButton").show("fast");

        parent_username.disable();
        parent_password.disable();
        parent_password_confirm.disable(); 

		child_username.enable();
		child_password.enable();
		child_password_confirm.enable();
		child_email.enable();
        
        child_username.add(Validate.Presence,{failureMessage:"Please enter your username first."});		            
        child_password.add(Validate.Presence,{failureMessage:"Please enter a password."});                   		            
        child_password_confirm.add(Validate.Confirmation,{failureMessage:"Both passwords should match.", match:'child_password'});
		child_email.add(Validate.Email,{failureMessage:"Please enter a valid email address."});
		child_email.add(Validate.Presence,{failureMessage:"Please enter an email address."});		
	});			
	</script>
{% endblock %}
