<link href="/stylesheets/homeCampus_styles.css" rel="stylesheet" type="text/css" />
<div class="ExplanationFont" style="margin-left:30px;"> 




			

				    







			
			




<br><br><br>
<p>p = 50</p>

<div style="display:inline-block;width:110px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= $72.5 &times; 50</div>
<br>
<div style="display:inline-block;width:110px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= $3625</div>




<br><br><br>
<p>Weight of the donkey = x kg</p>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">Maximum acceptable load carried =</div>		
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">x<br>__<br></p>
<p style="line-height:20%;text-align:center;">3<br></p>
</div>
<br>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;width:230px;">Sum of weights of 2 logs of wood</div>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">=</div>	
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">x<br>__<br></p>
<p style="line-height:20%;text-align:center;">6<br></p>
</div>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:5px;">+</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">x<br>___<br></p>
<p style="line-height:20%;text-align:center;">10<br></p>
</div>
<br>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;width:230px;"></div>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">=</div>	
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">(5x + 3x)<br>________<br></p>
<p style="line-height:20%;text-align:center;">30<br></p>
</div>
<br>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;width:230px;"></div>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">=</div>	
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">4x<br>___<br></p>
<p style="line-height:20%;text-align:center;">15<br></p>
</div>					
<br>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;width:270px;">Maximum weight of the third log of wood</div>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">=</div>	
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">x<br>__<br></p>
<p style="line-height:20%;text-align:center;">3<br></p>
</div>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:5px;">&minus;</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">4x<br>___<br></p>
<p style="line-height:20%;text-align:center;">15<br></p>
</div>
<br>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;width:270px;"></div>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">=</div>	
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">x<br>__<br></p>
<p style="line-height:20%;text-align:center;">15<br></p>
</div>



<br><br><br>
<p>Number of Mg atoms = 1</p>
<p>d = 4 &times; 1 = 4</p>
<p>Also, d = c &minus; 1</p>
<div style="display:inline-block;width:15px;margin-top:10px;">c</div>
<div style="display:inline-block;margin-top:10px;">= d + 1</div>
<br>
<div style="display:inline-block;width:15px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= 4 + 1 = 5</div>
<br><br>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">Also, c =</div>		
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">a<br>___<br></p>
<p style="line-height:20%;text-align:center;">11<br></p>
</div>
<br>
<div style="display:inline-block;width:15px;margin-top:10px;">a</div>
<div style="display:inline-block;margin-top:10px;">= c &times; 11</div>
<br>
<div style="display:inline-block;width:15px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= 5 &times; 11 = 55</div>
<br>
<div style="display:inline-block;width:15px;margin-top:10px;">b</div>
<div style="display:inline-block;margin-top:10px;">= 2a &minus; 6c &minus; 2d</div>
<br>
<div style="display:inline-block;width:15px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= 2 &times; 55 &minus; 6 &times; 5 &minus; 2 &times; 4</div>
<br>
<div style="display:inline-block;width:15px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= 110 &minus; 30 &minus; 8 = 72</div>
<p>Hence, the molecular formula of chlorophyll is C<sub>55</sub>H<sub>72</sub>O<sub>5</sub>N<sub>4</sub>Mg</p>





<br><br><br>
<p>p = &minus;6, q = 5</p>
<div style="display:inline-block;width:200px;margin-top:10px;">Length of the fourth side(AD)</div>
<div style="display:inline-block;margin-top:10px;">= (&minus;3p + 5q &minus; 4) m</div>
<br>
<div style="display:inline-block;width:200px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= [&minus;3 &times; (&minus;6) + 5 &times; 5 &minus; 4] m</div>
<br> 
<div style="display:inline-block;width:200px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= (18 + 25 &minus; 4) m</div>
<br>				
<div style="display:inline-block;width:200px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= 39 m</div>


	



<br><br><br>
<p>y = 1200</p>
<div style="display:inline-block;width:140px;margin-top:10px;">Total value of coins</div>
<div style="display:inline-block;margin-top:10px;">= $(0.25y + 70)</div>
<br>
<div style="display:inline-block;width:140px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= $(0.25 &times; 1200 + 70)</div>
<br>
<div style="display:inline-block;width:140px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= $(300+70)</div>
<br>
<div style="display:inline-block;width:140px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= $370</div>




<br><br><br>
<p>Bill amount = $T</p>
<div style="display:inline-block;width:40px;margin-top:10px;">Tax</div>
<div style="display:inline-block;margin-top:10px;">= 12% of $T</div>
<br>
<div style="display:inline-block;width:40px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= $0.12T</div>
<br>
<div style="display:inline-block;width:130px;margin-top:10px;">Total amount paid</div>
<div style="display:inline-block;margin-top:10px;">= $(T + 0.12T)</div>
<br>
<div style="display:inline-block;width:130px;margin-top:10px;"></div>
<div style="display:inline-block;margin-top:10px;">= $1.12T</div>


<br><br><br>
<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-2px;">
<p style="line-height:20%;">&minus;7<font class="grade7Variables">t</font><br>___<br></p>
<p style="line-height:20%;text-align:center;">8<br></p>
</div>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">&minus; 2<font class="grade7Variables">s</font> +</div>						
<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-2px;">
<p style="line-height:20%;text-align:center;">1<br>__<br></p>
<p style="line-height:20%;text-align:center;">3<br></p>
</div>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:2px;">&minus; (</div>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">&minus;7<font class="grade7Variables">t</font> + 8<font class="grade7Variables">s</font> &minus;</div>		
<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">4<br>__<br></p>
<p style="line-height:20%;text-align:center;">5<br></p>
</div>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:0px;">)</div>						
<p><strong>Step 1</strong>: Remove the brackets</p>		
<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-12px;">
<p style="line-height:20%;">&minus;7<font class="grade7Variables">t</font><br>___<br></p>
<p style="line-height:20%;text-align:center;">8<br></p>
</div>
<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:5px;">&minus; 2<font class="grade7Variables">s</font> +</div>						
<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-12px;">
<p style="line-height:20%;text-align:center;">1<br>__<br></p>
<p style="line-height:20%;text-align:center;">3<br></p>
</div>
<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:5px;">+</div>
<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:5px;">7<font class="grade7Variables">t</font> &minus; 8<font class="grade7Variables">s</font> +</div>		
<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:-10px;">
<p style="line-height:20%;text-align:center;">4<br>__<br></p>
<p style="line-height:20%;text-align:center;">5<br></p>
</div>
<p><strong>Step 2</strong>: Collect the like terms together</p>
<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-12px;">
<p style="line-height:20%;">&minus;7<font class="grade7Variables">t</font><br>___<br></p>
<p style="line-height:20%;text-align:center;">8<br></p>
</div>
<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:5px;">+ 7<font class="grade7Variables">t</font> &minus; 2<font class="grade7Variables">s</font> &minus; 8<font class="grade7Variables">s</font> +</div>						
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-12px;">
<p style="line-height:20%;text-align:center;">1<br>__<br></p>
<p style="line-height:20%;text-align:center;">3<br></p>
</div>
<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:5px;">+</div>		
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
<p style="line-height:20%;text-align:center;">4<br>__<br></p>
<p style="line-height:20%;text-align:center;">5<br></p>
</div>
<p><strong>Step 3</strong>: Add or subtract the like terms</p>
<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-12px;">
<p style="line-height:20%;">(&minus;7 + 56)<font class="grade7Variables">t</font><br>_________<br></p>
<p style="line-height:20%;text-align:center;">8<br></p>
</div>
<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:5px;">&minus; 10<font class="grade7Variables">s</font>  +</div>						
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-12px;">
<p style="line-height:20%;text-align:center;">(5 + 12)<br>______<br></p>
<p style="line-height:20%;text-align:center;">15<br></p>
</div>
<br>
<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:10px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-2px;">
<p style="line-height:20%;">49<font class="grade7Variables">t</font><br>___<br></p>
<p style="line-height:20%;text-align:center;">8<br></p>
</div>
<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:5px;">&minus; 10<font class="grade7Variables">s</font>  +</div>						
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-2px;">
<p style="line-height:20%;text-align:center;">17<br>___<br></p>
<p style="line-height:20%;text-align:center;">15<br></p>
</div>





<br><br><br>
<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-5px;"><p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font><br>___<br></p><p style="line-height:20%;text-align:center;">3<br></p></div><div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:2px;">+ 4</div><p>It is a linear expression.</p>



<br><br><br>
<p>z = Density of soil</p>
<p>Density of dry cement = 0.8z + 124</p>
<p>Density of concrete = 1.6z &minus; 32</p>
<p>Density = Mass &divide; Volume</p>
<p>Mass = Density &times; Volume</p>
<p>Mass of dry cement used in the pillar = (0.8z + 124) &times; 0.5 kg</p>
<p>Mass of concrete used in the pillar = (1.6z &minus; 32) &times; 0.4 kg</p>
<div style="margin-top:10px;width:15px;display:inline-block;">y</div>
<div style="margin-top:10px;display:inline-block;">= [(0.8z + 124) &times; 0.5 + (1.6z &minus; 32) &times; 0.4] kg</div>
<br>
<div style="margin-top:10px;width:15px;display:inline-block;"></div>
<div style="margin-top:10px;display:inline-block;">= [0.4z + 62 + 0.64z &minus; 12.8] Kg</div>
<br>
<div style="margin-top:10px;width:15px;display:inline-block;"></div>
<div style="margin-top:10px;display:inline-block;">= 1.04z + 49.2 Kg</div>
<br>

<p>z = 1520 kg/m3</p>
<div style="margin-top:10px;width:15px;display:inline-block;">y</div>
<div style="margin-top:10px;display:inline-block;">= 1.04 &times; 1520 + 49.2</div>
<br>
<div style="margin-top:10px;width:15px;display:inline-block;">y</div>
<div style="margin-top:10px;display:inline-block;">= 1630 kg</div>

   
		
 
			




       






<br><br><br>
<div style="margin-top:10px;width:15px;display:inline-block;">z</div>
<div style="margin-top:10px;display:inline-block;">= $(32 &times; 124 + 18 &times; 30)</div>
<br>
<div style="margin-top:10px;width:15px;display:inline-block;"></div>
<div style="margin-top:10px;display:inline-block;">= $(3968 + 540)</div>
<br>
<div style="margin-top:10px;width:15px;display:inline-block;"></div>
<div style="margin-top:10px;display:inline-block;">= $4508</div>
			     





<br><br><br>
<p>Let the larger number be x.</p>
<p>Smaller number = x &minus; 4</p>
<p>Sum of the two numbers = t</p>
<p>x + x &minus; 4 = t</p>
<p>2x &minus; 4 = t</p>
<div style="display:inline-block;margin-top:10px;margin-left:0px;">The larger number, x =</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">t + 4<br>___<br></p>
<p style="line-height:20%;text-align:center;">2<br></p>
</div>
<br>
<div style="display:inline-block;margin-top:10px;margin-left:0px;width:200px;">The smaller number, (x &minus; 4)</div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">t + 4<br>_____<br></p>
<p style="line-height:20%;text-align:center;">2<br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">&minus; 4</div>
<br>
<div style="display:inline-block;margin-top:10px;margin-left:0px;width:200px;"></div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">t + 4 &minus; 8<br>_______<br></p>
<p style="line-height:20%;text-align:center;">2<br></p>
</div>
<br>
<div style="display:inline-block;margin-top:10px;margin-left:0px;width:200px;"></div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">t &minus; 4<br>_____<br></p>
<p style="line-height:20%;text-align:center;">2<br></p>
</div>












<br><br><br>

<div style="display:inline-block;width:15px;">a</div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">x<br>___<br></p>
<p style="line-height:20%;text-align:center;">y<br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:0px;">b<sup>n+1</sup></div>
<br>
<div style="display:inline-block;width:15px;"></div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">3<br>___<br></p>
<p style="line-height:20%;text-align:center;">25<br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:0px;">5<sup>2+1</sup></div>
<br>
<div style="display:inline-block;width:15px;"></div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">3<br>___<br></p>
<p style="line-height:20%;text-align:center;">25<br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:0px;">5<sup>3</sup></div>
<br>
<div style="display:inline-block;width:15px;"></div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">3<br>___<br></p>
<p style="line-height:20%;text-align:center;">25<br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">&times; 125</div>
<br>
<div style="display:inline-block;width:15px;"></div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">= 15</div>




	 
	  
	 
	 



<br><br><br>

<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">a + b + c<br>________<br></p>
<p style="line-height:20%;text-align:center;">(a + b + c)<sup>2</sup><br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">&times;</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">(abc)<sup>2</sup><br>_____<br></p>
<p style="line-height:20%;text-align:center;">abc<br></p>
</div>
<br>
<div style="display:inline-block;margin-top:10px;margin-left:0px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">1<br>________<br></p>
<p style="line-height:20%;text-align:center;">a + b + c<br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">&times; abc</div>
<br>
<div style="display:inline-block;margin-top:10px;margin-left:0px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">2 &times; (&minus;4) &times; 3<br>___________<br></p>
<p style="line-height:20%;text-align:center;">2 &minus; 4 + 3<br></p>
</div>
<br>
<div>= &minus;24</div> 



<br><br><br>
<div style="display:inline-block;width:15px;margin-top:20px;">z</div>
<div style="display:inline-block;margin-top:20px;margin-left:5px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;"><font class="grade7Variables">a</font><sup>3</sup><font class="grade7Variables">b</font><sup>2</sup><br>________<br></p>
<p style="line-height:20%;text-align:center;">3<font class="grade7Variables">a</font> &minus; 2<font class="grade7Variables">b</font><br></p>
</div>
<br>
<div style="display:inline-block;width:15px;margin-top:20px;"></div>
<div style="display:inline-block;margin-top:20px;margin-left:5px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:6px;">
<p style="line-height:20%;text-align:center;">(&minus;3)<sup>3</sup> &times; 3<sup>2</sup><br>__________<br></p>
<p style="line-height:20%;text-align:center;">3(&minus;3) &minus; 2(3)<br></p>
</div>
<br>
<div style="display:inline-block;width:15px;margin-top:20px;"></div>
<div style="display:inline-block;margin-top:20px;margin-left:5px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:6px;">
<p style="line-height:20%;text-align:center;">&minus;27 &times; 9<br>_______<br></p>
<p style="line-height:20%;text-align:center;">&minus;15<br></p>
</div>
<br>
<div style="display:inline-block;width:15px;margin-top:20px;"></div>
<div style="display:inline-block;margin-top:20px;margin-left:5px;">= 16.2</div>

<br><br><br>
<div style="display:inline-block;margin-top:10px;">Substituting m = </div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">5<br>__<br></p>
<p style="line-height:20%;text-align:center;">4<br></p>
</div>
<div style="display:inline-block;margin-top:10px;">, n = </div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">2<br>__<br></p>
<p style="line-height:20%;text-align:center;">3<br></p>
</div>
<div style="display:inline-block;margin-top:10px;">in the expression, we get</div>
<div>(2m &divide; 3n) + (m &minus; n)<sup>2</sup></div> 
<div style="display:inline-block;margin-top:10px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">2 &times; 5<br>_____<br></p>
<p style="line-height:20%;text-align:center;">4<br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">&divide;</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">3 &times; 2<br>_____<br></p>
<p style="line-height:20%;text-align:center;">3<br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">+ (</div>
<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">5<br>__<br></p>
<p style="line-height:20%;text-align:center;">4<br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">-</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">2<br>__<br></p>
<p style="line-height:20%;text-align:center;">3<br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:0px;">)<sup>2</sup></div>
<br>
<div style="display:inline-block;margin-top:10px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">5<br>__<br></p>
<p style="line-height:20%;text-align:center;">2<br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">&divide; 2 + (</div>
<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">7<br>__<br></p>
<p style="line-height:20%;text-align:center;">12<br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:0px;">)<sup>2</sup></div>
<br>
<div style="display:inline-block;margin-top:10px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">5<br>__<br></p>
<p style="line-height:20%;text-align:center;">5<br></p>
</div>
<div style="display:inline-block;margin-top:10px;margin-left:5px;">+</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">49<br>____<br></p>
<p style="line-height:20%;text-align:center;">144<br></p>
</div>
<br>
<div>= 1.25 + 0.34 = 1.59</div>

<br><br><br>
<div>New number of packets = c + f</div>
<div style="margin-top:10px;">New number of pupils = d &minus; g</div>
<div style="margin-top:10px;">Total number of sweets in (c + f) packets = (c + f) &times; e</div>
<div style="margin-top:10px;">Number of sweets received by each pupil</div>
<div style="display:inline-block;margin-top:10px;">=</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">(c + f) &times; e<br>________<br></p>
<p style="line-height:20%;text-align:center;">(d - g)<br></p>
</div>


<br><br><br>
<div>Total number of sweets in c packets = c &times; e</div>
<div style="display:inline-block;margin-top:10px;">Number of sweets received by each pupil =</div>
<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
<p style="line-height:20%;text-align:center;">c &times; e<br>______<br></p>
<p style="line-height:20%;text-align:center;">d<br></p>
</div>



</div>