{% extends 'MainPage.html' %}
{% block body %}

	<script src="/js/FAQs.js" type="text/javascript"></script>
   <div id="nav">
  	 <p>&nbsp;</p>
  	 <p>&nbsp;</p>
  	 <p style="line-height:2.5em;"><font size="3"><strong>Learning is every child's right.</strong></font> </p>
     <br />
     <p style="line-height:1.6em;">We created <strong>HomeCampus</strong> for your child with this belief, mission and motivation.</p>
     <br />
  	   <p style="line-height:1.6em;">If knowledge and learning in an environment  where your child can pace herself is what you are seeking, then HomeCampus is for her, no matter her aptitude. It is your child's campus at home!</p>
       <br />
<p style="line-height:1.6em;">Come, let's help her learn and practice primary school mathematics... And for you, parents and  teachers, enjoy watching her progress.</p>
</div>
 
 <div id="content" style="overflow-y:scroll">
    <div id="PracticeContent" ></div>
    			<p><h1>Frequently Asked Questions</h1></p>
				<p id = "Learning"><a href="javascript:void(null)">Learning</a><a name="FAQ" id="FAQ"></a></p>
				<p id = "Practice"><a href="javascript:void(null)">Practice</a></p>
				<p id = "Progress"><a href="javascript:void(null)">Reports</a></p>
				<p id = "Membership"><a href="javascript:void(null)">Membership</a></p>
				<p id = "Technical"><a href="javascript:void(null)">Technical</a></p>
				<p id = "Others"><a href="javascript:void(null)">Others</a></p>
				<p style="clear:both;">-------------------------------------------------------------------------------</p><br>
                    <div id="LearningFAQs" style="display:none; margin-left:15px" >
                        <h2>Learning</h2>
                        <h3>What do you teach?</h3>
                        <p>We teach elementary / primary school level mathematics (maths or math, as called by many).</p>
                        <h3>Are the videos free? Why?</h3>
                        <p>Yes, the videos are free.
                        <br><br>We believe that learning is every child's right and thus should be made available to every child regardless of his/her financial background.</p>
                        <h3>What are the videos on?</h3>
                        <p>The videos are on individual concepts (or skills, as known to some) as well as word problems. We have explained the basic concept followed by examples of word problems to illustrate application of the concept and reinforce understanding of the topic.</p>
                        <h3>How are the videos organized on your site?</h3>
                        <p>The videos are organized by grades. The videos are further organized by topic (aka concept) and then by individual skills related to the main topic. Videos on word problems related to each topic also appear under each topic.
                        <br><br>YouTube playlists are arranged in a similar way by topics.
                        <br><br>Here is an example of what we mean by topic or concept and skills:
                        <br><br><b>Topic or concept</b> --> Fractions
                        <br><br><b>Skills</b> --> 
                        <ul><li>What is a fraction?</li>
                        <li>Types of fractions</li>
                        <li>Improper fractions and mixed numbers</li>
                        <li>Simplifying fractions and GCF</li>
                        <li>Comparing unlike fractions and LCM</li>
                        <li>Addition of proper fractions</li>
                        <li>Subtraction of proper fractions</li>
                        <li>Addition of mixed numbers or mixed fractions</li>
                        <li>Subtraction of mixed numbers or mixed fractions</li>
                        <li>Multiplication of fractions</li>
                        <li>Multiplication of a mixed number and a whole number</li>
                        <li>Division of a proper fraction by a whole number</li>
                        <li>Concept of fraction as division</li>
                        <li>Fractions and decimals</li></ul></p>
                        <h3>Are you following a particular syllabus? Why?</h3>
                        <p>Yes. We are following the latest syllabus (2007) as set by Singapore's Ministry of Education (MOE).
                        <br><br>The syllabus set by MOE is very comprehensive and is designed to encourage a deep understanding of mathematics in daily life. In particular, the model method of problem solving is used to develop children's understanding of fundamental mathematics concepts and proficiency in solving basic mathematics word problems.</p>
						<h3>Where can I find this syllabus?</h3>
                        <p>You may download the syllabus set by Singapore's Ministry of Education (MOE) <a href="http://www.moe.gov.sg/education/syllabuses/sciences/files/maths-primary-2007.pdf" target="_blank">here</a>.</p>
                        <h3>Which grades / levels are the videos made for?</h3>
                        <p>Currently, the videos available are for grades 5 and 6. But we are working tirelessly on making material ready for other higher and lower levels of elementary.</p>
                        <h3>Do you plan to add videos for other grades?</h3>
                        <p>Yes, we are working on adding videos for all grades of primary - Primary 1 to Primary 6.</p>
                        <h3>Which unit system have you used in the videos? Why?</h3>
                        <p>We have used the metric system in the videos as we are following the Singapore syllabus. However, the lesson videos are made so as to create a thorough understanding of the concepts. Once the foundation has been made strong, we believe that the child will not find the use of a particular unit system as a barrier to learning.</p>
                        <h3>Do you also have written notes on the lesson videos?</h3>
                        <p>Yes, there are notes on every concept for grades 4, 5 and 6. We are working on notes for other levels of elementary.</p>
                        <h3>What is the length of each video?</h3>
                        <p>The videos are made in bite-sized chunks so they are easy for the child to absorb without losing concentration. The lengths vary from 4 minutes to 15 minutes.</p>
                        <h3>Can I download the videos?</h3>
                        <p>You may download the videos on your local computer for personal use.</p>
                        <h3>Can I share the videos?</h3>
                        <p>You may share the online links to the videos with your friends. However, you are prohibited from sharing the videos on any portable storage devices. Should you need to share the videos on a portable storage device, please seek written permission from Home Campus.</p>
                        <h3>Can I sell the videos?</h3>
                        <p>NO. The videos are free for all and under no circumstances are you authorized / allowed to sell the videos to any person or organization for a financial gain.</p><a href="#FAQ">Go to top</a>                      
                    </div>
                
                    <div id="PracticeFAQs" style="display:none; margin-left:15px" >
                    <h2>Practice</h2>
                    <h3>Which primary grades are the practice problems available for?</h3>
                    <p>At present, practice problems are available for grades 4, 5 and 6. But rest assured, we are working tirelessly on preparing practice problems for all levels of elementary - Primary 1 to Primary 6 - and hope to bring them to you soon.</p>
                    <h3>How many problems are there for each concept?</h3>
                    <p>The array and number of problems at Home Campus for each topic and skill is literally unlimited. Problems are randomly generated by the computer so you can be sure that you will not be given the same problem twice.</p>
                    <h3>What are the various types of practice problems available?</h3>
                    <p>The types of practice problems are based on the topic and skill selected by you. For a given topic and skill, you will be presented with basic problems as well as word problems or problem sums of varying levels of competency.</p>
                    <h3>Is there a time limit for solving each question?</h3>
                    <p>No, there is no time limit for solving problems. However, we do log the amount of time spent on each problem for reporting purposes.</p>
                    <h3>Do you keep a record of the specific problems solved?</h3>
                    <p>Yes. You can find the problems you solved and the answer you gave by visiting the <a href="/Progress">Reports page</a>.</p>
                    <h3>Is there a limit to the number of problems I can solve each day?</h3>
                    <p>No, there is no limit to the number of problems that registered members can solve each day. It is totally up to you to set your own limit!</p>
                    <h3>Can my child become proficient in a skill if he attempts 50 problems on that skill?</h3>
                    <p>Each child is different and each child has his own pace at which he learns so there is no absolute gauge to measure a child's proficiency. However, like we say, practice makes perfect. So, if you think your child needs more practice, simply go to the Goals page and set a higher target for him to achieve.</p>
                    <h3>Are there worksheets on each topic that a child can take?</h3>
                    <p>Yes.</p>
                    <h3>Can I create a worksheet for my child?</h3>
                    <p>Yes. You can create as many worksheets as you like. When your child signs in to his account, he will be able to view the list of worksheets created for him and solve those worksheets.</p><a href="#FAQ">Go to top</a>

                    </div>
                
                    <div id="ProgressFAQs" style="display:none; margin-left:15px" >
                    <h2>Reports</h2>
                    <h3>Do you provide a facility to monitor my child's progress?</h3>
                    <p>Yes. We generate reports to that end.</p>
                    <h3>What reports do you generate? What information does the progress report contain?</h3>
                    <p>The report generated gives you a picture of your child's activity on Home Campus, i.e. details surrounding the practice problems he has attempted. This information helps you to assess his understanding of each skill.</p>
                    <h3>Is my child allowed to view his progress report?</h3>
                    <p>Yes, the child is given the facility to view his report. However, he is not allowed to view the reports of his siblings (if any, registered with Home Campus).</p>
                    <h3>Do you email periodic progress reports on my children?</h3>
                    <p>Coming soon...</p>
                    <h3>Can I share my child's progress report with his teacher?</h3>
                    <p>Coming soon...</p>
                    <h3>Can I download my progress report?</h3>
                    <p>Coming soon...</p><a href="#FAQ">Go to top</a>
                    </div>
                
                    <div id="MembershipFAQs" style="display:none; margin-left:15px" >
                    <h2>Membership</h2>
                    <h3>How do I become a member?</h3>
                    <p>You can become a member by filling out the <a href="/Register">registration form</a>.</p>
                    <h3>How many children can I add to my account?</h3>
                    <p>You may add up to 5 of your children to your account. Should you need to add more children to your account, please <a href="/Contact">contact us</a>.</p>
                    <h3>Can I use one account for all my children? What are the benefits of creating individual accounts for each child?</h3>
                    <p>We advise you to create a separate account for each child so you are able to monitor the progress of each of them properly.</p>
                    <h3>Why are your subscription fees so low?</h3>
                    <p>We believe that learning is every child's right and it should not be limited by his parents' financial capability. This is the reason we have chosen to keep Home Campus almost free for the entire world to use.</p>
                    <h3>How do I cancel my recurring subscription?</h3>
                    <p>Log in with the parent id (which is the email with which you registered at Home Campus) then go to "My Profile" (which you can find at top right corner). Once there you will find Cancel Subscription button.</p>
                    <a href="#FAQ">Go to top</a>
                    </div>
                
                    <div id="TechnicalFAQs" style="display:none; margin-left:15px" >
                    <h2>Technical</h2>
                    <h3>Which browsers / versions does the Home Campus website support?</h3>
                    <p>The Home Campus website has been tested on the following browsers:
                    <ul><li>Mozilla Firefox 3.0</li>
                    <li>Internet Explorer 8</li>
                    <li>Google Chrome 13</li>
                    <li>Safari</li>
                    <li>Smartphone (iPhone, Android, etc.) browsers </li></ul></p>
                    <h3>Is there a Home Campus iPhone / Android app?</h3>
                    <p>Coming soon...</p> 
                    <h3>I have forgotten my password, how do I access my account?</h3>
                    <p>You can reset your password <a href="/ForgotPassword">here</a>.</p>
                    </div>
                
                    <div id="OthersFAQs" style="display:none; margin-left:15px" >
                    <h2>Others</h2>
                    <h3>I want to work with Home Campus. Are you hiring?</h3>
                    <p>Send us an <a href="/Contact">email</a> with your interest.</p>
                    <h3>I have a question not answered in the FAQs.</h3>
                    <p>Send us your question <a href="/Contact">here</a>.</p>
                    </div>



</div>
{% endblock %}
