{# <!-- Footer -->
<footer class="container-fuild">
	<div class="panel row">
	<div class="panel-body">

		<!-- Block #1 -->
		<div class="col-md-4 col-xs-12 panel-body text-footer">
			<em><h3>Important Links</h3></em>
			<hr class="footer-hr" />
			<!-- Divide into 2 child columns -->
			<div class="row">
				<div class="col-xs-6">
					<ul class="list-unstyled">
						<li><a href="/What_is_Singapore_Math">Singapore Math</a></li>
						<li><a href="/Contact">Contact Us</a></li>
						<li><a href="/Disclaimer">Disclaimer</a></li>
					</ul>
				</div>
				<div class="col-xs-6">
					<ul class="list-unstyled">
						<li><a href="/PrivacyPolicy">Privacy</a></li>
						<li><a href="/FAQs">FAQs</a></li>
						<li><a href="/Home_Campus_User_Guide.pdf">User Guide</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<!-- Block #2 -->
		<div class="col-md-4 col-xs-12 panel-body text-footer">
			<em><h3>About Us</h3></em>
			<hr class="footer-hr" />
			<p>
				Home Campus was created to provide your child with a campus at home. Our main goal is to make a fun and conducive LEARNING ENVIRONMENT for your child
				so he can develop at his own pace, while you can watch him progress. More specifically, we are here to assist your child or pupil build a strong 
				foundation in primary-level mathematics. <a style="text-decoration: underline;" href="/AboutHomeCampus">Know more about HomeCampus</a>
			</p>
		</div>
		
		<!-- Block #3 -->
		<div class="col-md-4 col-xs-12 panel-body text-footer">
			<em><h3>HomeCampus</h3></em>
			<hr class="footer-hr" />
			
			<!-- Social Media Connect Links -->
			<ul class="list-inline">
				<li><a href="https://www.facebook.com/homecampus"><i class="fa fa-2x fa-facebook-square"></i></a></li>
				<li><a href="javascript:void(0)"><i class="fa fa-2x fa-google-plus-square"></i></a></li>
			</ul>
			<hr class="footer-hr" />
			
			<!-- Business Details -->
			<ul class="list-inline">
				<li><i class="fa fa-home"></i> 14 Robinson Road #13-00, Far East Finance Building, Singapore 048545</li>
				<hr class="footer-hr" />
				
				<li><i class="fa fa-envelope"></i> <a href="mailto:admin@homecampus.com.sg">admin@homecampus.com.sg</a></li>
				<hr class="footer-hr" />
				
				<li>HomeCampus Pte. Ltd. &copy; 2011
			</ul>
			
		</div>
		
	</div>
	</div>
</footer> #}

<footer class="footer">

	  		<a href="/Math-Worksheets">Math Worksheets</a>
			<a href="/Math-Calculators">Math Calculators</a>
			<!--<a href="/Math-Glossary">Glossary</a> -->
			<a href="/What_is_Singapore_Math">Singapore Math</a>
	  		<a href="/AboutHomeCampus">About HomeCampus</a>
	  		<a href="/Contact">Contact</a>
	  		<a href="/FAQs">FAQs</a>
	  		<a href="/Disclaimer">Disclaimer</a>
	  		<a href="/PrivacyPolicy">Privacy</a> 
	  		<a href="/Home_Campus_User_Guide.pdf">User Guide</a>
	  		
	  		<!-- <p align="right"; style="color: white; font-size:10px;margin-top:-20px;margin-right:10px;">HomeCampus Pte. Ltd. &copy; 2011</p>
	   	</p>-->
	  		
</footer>