{% extends 'MainPage.html' %}

{% block body %}

<div class="forgot-password">
	<div class="forgot-password__container">
		<h1>Forgot Password</h1>
		
		{% if ResetPWFormSubmitted != "Y" %}
		<form class="" id="resetPassword" method="POST" action="{{ current_url }}" enctype="multipart/form-data">
			<!-- User Selection -->
			<div class="form-group">
				<label>Please select a type:&nbsp;&nbsp;&nbsp;</label>
				<label class="radio-inline"><input data-area="parent_area" name="ParentChildChoice" value="parent" type="radio" checked="checked">Parent</label>
				<label class="radio-inline"><input data-area="child_area" name="ParentChildChoice" value="child" type="radio">Child</label>
		    </div>
		    
		    <!-- Parent Area -->
		    <div id="parent_area">
			    <div class="form-group">
			    	<label for="parent_username">Email:</label>
			    	<input class="form-control" name="parent_username" id="parent_username" type="text" placeholder="Enter registered email" autofocus />
			    </div>
		    </div>
		        
		    <!-- Child Area -->
		    <div id="child_area" style="display:none;">
		    	<div class="form-group">
		    		<label for="child_username">Username:</label>
		    		<input class="form-control" name="child_username" id="child_username" type="text" placeholder="Enter username" autofocus />
		    	</div>
		    	<div class="form-group">
		    		<label for="child_email">Parent's Email:</label>
		    		<input class="form-control" name="child_email" id="child_email" type="text" placeholder="Enter parent's email" />
		    	</div>
		    </div>
		    
		    <!-- Submit -->
		    <div class="form-group">
		    	<button type="submit" class="btn btn-primary">Change Password</button>
		    </div>
		</form>
		
		{% if password_error %}
		<div class="password-error">
			<a href="#" class="close" data-dismiss="true">&times;</a>
			{{password_error}}
		</div>
		{% endif %}
		
		{% else %}
			<div>The password reset link has been sent to your email address.<br> Please reset your password within 24 hours.<br><br> </div>
		{% endif %}          
	</div>
</div>

<script type="text/javascript">
	$(function(){
		var loadedArea = $("#parent_area");
		$("input[type='radio'][name='ParentChildChoice']").on('change', function(evt){
			loadedArea.hide();
			loadedArea = $("#" + $(this).attr("data-area"));
			loadedArea.show();
		});
		
		$("[data-dismiss='true']").on('click', function(evt){
			evt.preventDefault();
			$(this).parent().hide();
		});	
	});
</script>

{% endblock body %}
