{% extends 'PracticePageSkeleton.html' %}
   
   {% block content%}	
   <div class="mcq__group">
   		<div class="mcq__element">
   			<input id="mc-1" type="radio" name="answer" value="{{value1}}" {% if answer_submitted == value1%}checked="checked"{%endif%}/>
   			<label for="mc-1">{{answer1|safe}}</label>
   		</div>
   			
   		<div class="mcq__element">
   			<input id="mc-2" type="radio" name="answer" value="{{value2}}" {% if answer_submitted == value2%}checked="checked"{%endif%}/>
   			<label for="mc-2">{{answer2|safe}}</label>
   		</div>
   	</div>
{% endblock %}
