{% extends 'MainPage_fallback.html' %}
{% block title %}
<title>Learn Primary / Elementary Mathematics Online with Home Campus</title>
<meta name="description" content="Learn primary school mathematics online. Watch videos on all primary mathematics concepts." />
{% endblock %}

{% block body %}
<script src="/js/Learn.js" type="text/javascript"></script>
<!--<section class="NotesPageContainer">
	{# if practice_url is defined %}
		<div class="hc__button-set">
			<a class="fab-practice" href="{{practice_url}}"><i class="fa fa-pencil"></i></a>
			<a class="fab-worksheet" href="{{worksheet_url}}"><i class="fa fa-pencil"></i></a>
		</div>
	{% endif #}-->
{% block content %}			

{% endblock content %}    



{% endblock body %}
