{% extends 'PracticePageSkeleton.html' %}
{% block HTML5Canvas %}
	<div id="canvasCrossBrowserDiv"></div>
	<script type="text/javascript" src="/js/P3DrawAngles.js"></script>
	<script type="text/javascript" src="/js/P3DrawRightAngles.js"></script>
  	<script type="text/javascript">
		{{FunctionCall|safe}};
	</script>
	<br><br>
    
{% endblock %}    
{% block content%}
	<table id="MCQ" style="color: #2B7657">
        <tr>
        <td align="left">
        <h3>
            <input type="radio" name="answer" value='{{value1}}' 
   			{% if answer_submitted == value1%}} 
   				checked="checked"
   			{%endif%}            
            />{{answer1|safe}}<br/>
		   	<input type="radio" name="answer" value='{{value2}}' 
   			{% if answer_submitted == value2%}} 
   				checked="checked"
   			{%endif%}            	   	
		   	/>{{answer2|safe}}<br/>
		</h3>
	   </td>
        <td><p id="correct" style="display: none"><img src="/images/correct.png" alt="Correct"></p>
		</td>
		</tr>
	</table>
	<br>
{% endblock %}
