{% extends 'MainPage.html' %}
{% block title %}
<title>Practice Primary 4 / 4th Grade Mathematics Online at Home Campus</title>
<meta name="description" content="Practice primary school mathematics online. Solve unlimited randomly generated problems on all primary mathematics concepts." />
{% endblock %}
{% block body %}
	<script src="/js/DrawLineGraphs.js" type="text/javascript"></script>
	<script src="/js/Practice.js" type="text/javascript"></script>
	<script src="/js/submit.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/jquery.gritter.min.js"></script> 
	<script src ='https://www.paypalobjects.com/js/external/dg.js' type='text/javascript'></script>
  	<link href="/stylesheets/jquery.gritter.css" rel="stylesheet" type="text/css" />

 {% block practice %}
 <div id="HomeContent">
 <div style="text-align:center"><h2>Grade 4 Practice</h2></div>
 	<div id="P4ConceptDisplay">
        <div class="P5FirstRowConceptListDisplay" style="width:300px;">	
	   	<p><img alt="Whole Numbers" src="/images/site/whole_numbers_box.png"></p>
	   		<ol>
	   			<li class="file" id=""><a href="/Grade_4_Math_Practice/Whole_Numbers_Place_Values" >Number Notation and Place Values</a></li>
	   			<li class="file" id=""><a href="/Grade_4_Math_Practice/Whole_Numbers_Write_Words" >Figures to Words</a></li>
	   			<li class="file" id=""><a href="/Grade_4_Math_Practice/Whole_Numbers_Write_Figures" >Words to Figures</a></li>
	   			<li class="file" id=""><a href="/Grade_4_Math_Practice/Whole_Numbers_Comparing_Ordering" >Comparing and Ordering</a></li>
	   			<li class="file" id=""><a href="/Grade_4_Math_Practice/Whole_Numbers_Rounding_Off" >Rounding Off</a></li>
	   			<li class="file" id=""><a href="/Grade_4_Math_Practice/Whole_Numbers_Factors_Multiples" >Factors and Multiples</a></li>
	   			<li class="file" id=""><a href="/Grade_4_Math_Practice/Whole_Numbers_Multiplication_Division" >Multiplication and Division</a></li>
	   			<li class="file" id=""><a href="/Grade_4_Math_Practice/Whole_Numbers_Word_Problems" >Word Problems</a></li>
			</ol>
   		</div>
        <div class="P5FirstRowConceptListDisplay" style="width:380px">	
	   	<p style="margin-left:50px;"><img alt="Fractions" src="/images/site/fractions_box.png"></p>	
	   		<ol>
       			<li class="file" id=""><a href="/Grade_4_Math_Practice/Fractions_Simplifying" >Simplifying Fractions</a></li>
       			<li class="file" id=""><a href="/Grade_4_Math_Practice/Mixed_Numbers_Improper_Fractions" >Mixed Numbers and Improper Fractions</a></li>
       			<li class="file" id=""><a href="/Grade_4_Math_Practice/Add_Like_Related_Fractions" >Add Like and Related Fractions</a></li>
       			<li class="file" id=""><a href="/Grade_4_Math_Practice/Subtract_Like_Related_Fractions" >Subtract Like and Related Fractions</a></li>
       			<li class="file" id=""><a href="/Grade_4_Math_Practice/Multiplication_Fractions_Whole_Numbers" >Multiplication of Fraction and a Whole Number</a></li>
       			<li class="file" id=""><a href="/Grade_4_Math_Practice/Fractions_Word_Problems" >Word Problems</a></li>
			</ol>
   		</div>
        <div class="P5FirstRowConceptListDisplay" style="width:200px;">	
	   	<p><img alt="Data Analysis" src="/images/site/data_analysis_box.png"></p>	
	   		<ol>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Data_Analysis_Tables_Bar_Graphs" >Tables and Bar Graphs</a></li>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Data_Analysis_Line_Graphs" >Line Graphs</a></li>
            </ol>
   		</div>
        <div class="P5SecondRowConceptListDisplay" style="width:330px">	
	   	<p><img alt="Decimals" src="/images/site/decimals_box.png"></p>	
	   		<ol>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Decimals_Tenths" >Notation and Place Values - Tenths</a></li>			
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Decimals_Hundredths" >Notation and Place Values - Hundredths</a></li>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Decimals_Thousandths" >Notation and Place Values - Thousandths</a></li>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Decimals_Comparing_Ordering" >Comparing and Ordering</a></li>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Decimals_Rounding_Off" >Rounding Off</a></li>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Decimals_Fractions" >Decimals and Fractions</a></li>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Decimals_Addition_Subtraction" >Addition and Subtraction</a></li>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Decimals_Multiplication_Division" >Multiplication and Division</a></li>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Decimals_Word_Problems" >Word Problems</a></li>		
            </ol>
   		</div>
        <div class="P5FirstRowConceptListDisplay" style="width:300px">	
	   	<p><img alt="Measurement" src="/images/site/measurement_box.png"></p>	
	   		<ol>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Measurement_24-Hour_Clock" >24-Hour Clock</a></li>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Measurement_Time_Duration" >Time Duration</a></li>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Perimeter_Rectangle_Squares" >Perimeter of Rectangles and Squares</a></li>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Area_Rectangle_Squares" >Area of Rectangles and Squares</a></li>
				<li class="file" id=""><a href="/Grade_4_Math_Practice/Measurement_Composite_Figures" >Composite Figures</a></li>
            </ol>
   		</div>
        <!-- 
        <div class="P5SecondRowConceptListDisplay" style="width:300px;">	
	   	<p><img alt="Geometry" src="/images/site/geometry_box.png"></p>	
	   		<ol>
				<li class="" id=""><a href="javascript:void(null)" id="" class="">Coming Soon!!</a></li>
			</ol>
   		</div>  -->
 	</div>
 	
 </div><!-- end #homeContent --> 
<div style="background-image: url(/images/site/background.png);">
 <div id="NotesContent" style="display:none;width:1200px;min-height:400px;">
</div> 
</div>  

{% endblock %}
{% endblock %}
