{% extends 'MainPage.html' %}
{% block title %}
<title>Practice Primary 6 / 6th Grade Mathematics Online at Home Campus</title>
<meta name="description" content="Practice primary school mathematics online. Solve unlimited randomly generated problems on all primary mathematics concepts." />
{% endblock %}
{% block body %}

	<script src="/js/Practice.js" type="text/javascript"></script>
	<script src="/js/submit.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/DrawCircles.js"></script>
	<script type="text/javascript" src="/js/jquery.gritter.min.js"></script> 
	<script type="text/javascript" src="/js/DrawAngles.js"></script>
	<script type="text/javascript" src="/js/DrawCompositeFigures.js"></script>
	<script type="text/javascript" src="/js/DrawPieCharts.js"></script>
	<script src ='https://www.paypalobjects.com/js/external/dg.js' type='text/javascript'></script>
  	<link href="/stylesheets/jquery.gritter.css" rel="stylesheet" type="text/css" />
 {% block practice %}
 <div id="HomeContent">
 <div style="text-align:center"><h2>Grade 6 Practice</h2></div>
 	<div id="P6ConceptDisplay">
        <div class="P6FirstRowConceptListDisplay" style="width:300px;">	
	   	<p><img alt="Algebra" src="/images/site/algebra_box.png"></p>
	   		<ol>
       			<li class="file" id=""><a href="/Grade_6_Math_Practice/Algebra_Simplify_Expressions" >Simplify algebraic expressions</a></li>
				<li class="file" id=""><a href="/Grade_6_Math_Practice/Algebra_Evaluate_Expressions" >Evaluate algebraic expressions</a></li>
				<li class="file" id=""><a href="/Grade_6_Math_Practice/Algebra_Word_Problems" >Word Problems</a></li>
			</ol>
   		</div>
        <div class="P6FirstRowConceptListDisplay" style="width:350px;">	
	   	<p><img alt="Fractions" src="/images/site/fractions_box.png"></p>	
	   		<ol>
       			<li class="file" id=""><a href="/Grade_6_Math_Practice/Divide_Whole_Number_Proper_Fraction" >Divide whole number by proper fraction</a></li>
        		<li class="file" id=""><a href="/Grade_6_Math_Practice/Divide_Proper_Fraction_by_Proper_Fraction" >Divide proper fraction by proper fraction</a></li>
        		<li class="file" id=""><a href="/Grade_6_Math_Practice/Fractions_Word_Problems" >Word Problems</a></li>
			</ol>
   		</div>
        <div class="P6FirstRowConceptListDisplay">	
	   	<p><img alt="Speed" src="/images/site/speed_box.png"></p>	
	   		<ol>
       			<li class="file" id=""><a href="/Grade_6_Math_Practice/Speed_Distance_Time" >Find distance, time and speed</a></li>
       			<li class="file" id=""><a href="/Grade_6_Math_Practice/Speed_Word_Problems" >Word Problems</a></li>
			</ol>
   		</div>
        <div class="P6SecondRowConceptListDisplay" style="width:250px;">	
	   	<p><img alt="Ratio" src="/images/site/ratio_box.png"></p>	
	   		<ol>
				<li class="file" id=""><a href="/Grade_6_Math_Practice/Ratio_Word_Problems" >Word Problems</a></li>			
			</ol>
   		</div>
        
        <div class="P6SecondRowConceptListDisplay" style="width:300px;margin-right:10px;">	
	   	<p><img alt="Geometry" src="/images/site/geometry_box.png"></p>	
	   		<ol>
       			<li class="" id=""><a href="" id="" class="">Coming Soon!!</a></li>
			</ol>
   		</div>
        <div class="P6ThirdRowConceptListDisplay" style="width:300px;">	
	   	<p><img alt="Percentage" src="/images/site/percentage_box.png"></p>	
	   		<ol>
       			<li class="file" id=""><a href="/Grade_6_Math_Practice/Percentage_Find_Whole_Given_Part" >Find whole given part and percentage</a></li>
        		<li class="file" id=""><a href="/Grade_6_Math_Practice/Percentage_Increase_Decrease" >Find percentage increase/decrease</a></li>
        		<li class="file" id=""><a href="/Grade_6_Math_Practice/Percentage_Word_Problems" >Word Problems</a></li>
            </ol>
   		</div>
        <div class="P6ThirdRowConceptListDisplay" style="width:200px;">	
	   	<p><img alt="Data Analysis" src="/images/site/data_analysis_box.png"></p>	
	   		<ol style="margin-left:-50px">
       			<li class="file" id=""><a href="/Grade_6_Math_Practice/Data_Analysis_Pie_Chart" >Pie Charts - Word Problems</a></li>
            </ol>
   		</div>
        <div class="P6SecondRowConceptListDisplay"  style="width:300px;">	
	   	<p><img alt="Measurement" src="/images/site/measurement_box.png"></p>	
	   		<ol>
       			<li class="file" id=""><a href="/Grade_6_Math_Practice/Measurement_Circle_Radius_Diameter" >Radius/diameter of a circle</a></li>
       			<li class="file" id=""><a href="/Grade_6_Math_Practice/Measurement_Circle_Circumference" >Circumference of a circle</a></li>
       			<li class="file" id=""><a href="/Grade_6_Math_Practice/Measurement_Circle_Area" >Area of a circle</a></li>
       			<li class="file" id=""><a href="/Grade_6_Math_Practice/Measurement_Semi_Circle_Quadrant_Perimeter" >Perimeter of a semicircle/quadrant</a></li>
       			<li class="file" id=""><a href="/Grade_6_Math_Practice/Measurement_Semi_Circle_Quadrant_Area" >Area of a semicircle/quadrant</a></li>
       			<li class="file" id=""><a href="/Grade_6_Math_Practice/Area_Perimeter_of_Composite_Figures" >Area/perimeter of a composite figure</a></li>
       			<li class="file" id=""><a href="/Grade_6_Math_Practice/Measurement_Volume_Cube_Cuboid" >Volume of a cube/cuboid</a></li>
            </ol>
   		</div> 	</div> 	
 </div><!-- end #homeContent --> 
<div style="background-image: url(/images/site/background.png);">
 <div id="NotesContent" style="display:none;width:1200px;min-height:400px;">
</div> 
</div> 
{% endblock %}
{% endblock %}
