{% extends 'MainPage.html' %}
{% block title %}
<title>Practice Primary 3 / 3th Grade Mathematics Online at Home Campus</title>
<meta name="description" content="Practice primary school mathematics online. Solve unlimited randomly generated problems on all primary mathematics concepts." />
{% endblock %}
{% block body %}
	<script src="/js/submit.js" type="text/javascript"></script>
	<script src="/js/Practice.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/jquery.gritter.min.js"></script> 
	<script src ='https://www.paypalobjects.com/js/external/dg.js' type='text/javascript'></script>
  	<link href="/stylesheets/jquery.gritter.css" rel="stylesheet" type="text/css" />

 {% block practice %}
 <div id="HomeContent">
 <div style="text-align:center"><h2>Grade 3 Practice<br><br> <font color=#ccc>(Under development)</font></h2></div>
 	<div>
        <div class="P5FirstRowConceptListDisplay" style="width:300px;">	
	   	<p><img alt="Whole Numbers" src="/images/site/whole_numbers_box.png"></p>
	   		<ol>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Whole_Numbers_Number_Notation_Place_Values"><font >Number Notation and Place Values</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Whole_Numbers_Figures_to_Words" ><font >Figures to Words</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Whole_Numbers_Words_to_Figures" ><font >Words to Figures</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Whole_Numbers_Comparing_Ordering" ><font >Comparing and Ordering</font></a></li>   			
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Whole_Numbers_Patterns" ><font >Number Patterns</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Whole_Numbers_Addition" ><font >Addition</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Whole_Numbers_Subtraction"><font >Subtraction</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Whole_Numbers_Multiplication" ><font >Multiplication</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Whole_Numbers_Division" ><font >Division</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Whole_Numbers_Word_Problems" ><font >Word Problems: Four Operators</font></a></li>
			</ol>
   		</div>
        <div class="P5FirstRowConceptListDisplay">	
	   	<p><img alt="Money" src="/images/site/money_box.png"></p>
	   		<ol>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Money_Addition" ><font >Addition</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Money_Subtraction" ><font >Subtraction</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Money_Word_Problems" ><font >Word Problems</font></a></li>
			</ol>
   		</div>		
        <div class="P5FirstRowConceptListDisplay" style="width:350px;">	
	   		<p><img alt="Time" src="/images/site/time_box.png"></p>
	   		<ol>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Telling_Time" ><font>Telling Time</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Time_Conversion_Hours_Minutes" ><font>Conversion of Time in Hours and Minutes</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Time_Addition" ><font>Addition</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Time_Subtraction" ><font>Subtraction</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Time_Finding_Duration_Start_Finish" ><font>Finding Duration, Start and Finish Times</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Time_Word_Problems" ><font>Word Problems</font></a></li>
			</ol>
   		</div>
        <div class="P5FirstRowConceptListDisplay" >	
	   	<p><img alt="Length Mass Volume" src="/images/site/length_mass_volume_box.png"></p>
	   		<ol>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Metres_Centimetres" ><font >Metres and Centimetres</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Kilometres_Metres" ><font >Kilometres and Metres</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Kilograms_Grams" ><font >Kilograms and Grams</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Litres_Millilitres" ><font >Litres and Millilitres</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Length_Mass_Volume_1-Step_Word_Problems" ><font >1-Step Word Problems</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Length_Mass_Volume_2-Step_Word_Problems"><font >2-Step Word Problems</font></a></li>	   			
			</ol>
   		</div>
        <div class="P5SecondRowConceptListDisplay" style="width:350px;">	
	   	<p><img alt="Fractions" src="/images/site/fractions_box.png"></p>
	   		<ol>
	   			<li class="file" id=""><font color=#ccc>Recognizing and Naming Equivalent Fractions</font></li>
	   			<li class="file" id=""><font color=#ccc>Listing Equivalent Fractions</font></li>
	   			<li class="file" id=""><font color=#ccc>Writing Equivalent Fractions</font></li>
	   			<li class="file" id=""><font color=#ccc>Simplifying Fractions</font></li>
	   			<li class="file" id=""><font color=#ccc>Comparing Fractions</font></li>
	   			<li class="file" id=""><font color=#ccc>Comparing and Ordering Unlike Fractions</font></li>
	   			<li class="file" id=""><font color=#ccc>Adding Fractions</font></li>
	   			<li class="file" id=""><font color=#ccc>Subtracting Fractions</font></li>
	   			<li class="file" id=""><font color=#ccc>Word Problems</font></li>
			</ol>
   		</div>		
        <div class="P5SecondRowConceptListDisplay" style="">	
	   	<p><img alt="Area and Perimeter" src="/images/site/area_perimeter_box.png"></p>
	   		<ol>
	   			<li class="file" id=""><font color=#ccc>Area</font></li>
	   			<li class="file" id=""><font color=#ccc>Square Centimetres</font></li>
	   			<li class="file" id=""><font color=#ccc>Square Metres</font></li>
	   			<li class="file" id=""><font color=#ccc>Perimeter and Area</font></li>
	   			<li class="file" id=""><font color=#ccc>Perimeter of Other Rectiliner Shapes</font></li>
	   			<li class="file" id=""><font color=#ccc>Word Problems</font></li>
			</ol>
   		</div>		
        <div class="P5SecondRowConceptListDisplay">	
	   	<p><img alt="Angles" src="/images/site/angles_box.png"></p>
	   		<ol>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Identifying_Angles_in_Figures"><font >Identifying Angles in Figures</font></a></li>
	   			<li class="file" id=""><a href="/Grade_3_Math_Practice/Right_Angles"><font >Right Angles</font></a></li>
			</ol>
   		</div>		
        <div class="P5FirstRowConceptListDisplay" style="margin-left:40px;width:280px;">	
	   	<p><img alt="Bar Graphs" src="/images/site/bar_graphs_box.png"></p>
	   		<ol>
	   			<li class="file" id=""><font color=#ccc>Reading and Interpreting Bar Graphs</font></li>
	   			<li class="file" id=""><font color=#ccc>Reading Scales</font></li>
	   			<li class="file" id=""><font color=#ccc>Word Problems</font></li>
			</ol>
   		</div>		
        <div class="P5FirstRowConceptListDisplay" style="margin-left:40px;width:330px;">	
	   	<p><img alt="Perpendicular and Parallel Lines" src="/images/site/perpendicular_parallel_lines_box.png"></p>
	   		<ol>
	   			<li class="file" id=""><font color=#ccc>Identifying and Naming Perpendicular Lines</font></li>
	   			<li class="file" id=""><font color=#ccc>Identifying and Naming Parallel Lines</font></li>
			</ol>
   		</div>		
 	</div>
 	
 </div><!-- end #homeContent --> 
<div style="background-image: url(/images/site/background.png);">
	<div id="NotesContent" style="display:none;width:1200px;min-height:400px;">
	</div> 
</div>  

{% endblock %}
{% endblock %}
