{% extends 'MainPage.html' %}
{% block title %}
<title>Learn Primary 5 / 5th Grade Mathematics Online at Home Campus</title>
<meta name="description" content="Practice primary school mathematics online. Solve unlimited randomly generated problems on all primary mathematics concepts." />
{% endblock %}

{% block body %}
<!-- Chapter Indexes -->
<div class="index-table">
	
	<!-- CHAPTER-1 Whole Numbers -->
	<div class="chapter P5WN">
		<h4 class="chapter__name">Chapter 1: Whole Numbers</h4>
   		
   		<a class="chapter__topic" data-tag="P5WholeNumbersPlaceValue" href="/Learn/Primary-Grade-5/WholeNumbers/Place-Values">1.1 Numbers up to 1000 000</a>
   		<a class="chapter__topic" data-tag="P5WholeNumbersWriteInWords" href="/Learn/Primary-Grade-5/WholeNumbers/Figures-to-Words">1.2 Figures to Words up to 1000 000</a>
   		<a class="chapter__topic" data-tag="P5WholeNumbersWriteInFigures" href="/Learn/Primary-Grade-5/WholeNumbers/Words-to-Figures">1.3 Words to Figures up to 1000 000</a>
   		<a class="chapter__topic" data-tag="P5WholeNumbersComparingAndOrdering" href="/Learn/Primary-Grade-5/WholeNumbers/Comparison-Ordering-Pattern">1.4 Comparing and Ordering</a>
   		<a class="chapter__topic" data-tag="P5WholeNumbersFindPattern" href="/Learn/Primary-Grade-5/WholeNumbers/Comparison-Ordering-Pattern">1.5 Number Patterns</a>
   		<!-- <a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/WholeNumbers/Approximation-Estimation-Part-1">1.6 Approximation and Estimation - 1</a> -->
   		<a class="chapter__topic" data-tag="P5WholeNumbersApproximationEstimation" href="/Learn/Primary-Grade-5/WholeNumbers/Approximation-Estimation-Part-1">1.7 Approximation and Estimation</a>
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/WholeNumbers/Multiply-by-10-100-1000">1.8 Multiply</a>
 		<a class="chapter__topic" data-tag="P5WholeNumbersMultiplyDivide" href="/Learn/Primary-Grade-5/WholeNumbers/Divide-by-10-100-1000">1.9 Divide</a>
   		<a class="chapter__topic" data-tag="P5WholeNumbersOrderOfOperation" href="/Learn/Primary-Grade-5/WholeNumbers/Order-of-Operations">1.10 Order Of Operations</a>
   		<a class="chapter__topic" data-tag="P5WholeNumbersWordProblems" href="/Learn/Primary-Grade-5/Whole-Numbers/Word-Problems-Solving-Model-Method">1.11 Word Problems</a>
	</div>
	
	<!-- Chapter-2 Fractions -->
	<div class="chapter P5FR">
		<h4 class="chapter__name">Chapter 2: Fractions</h4>
		
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Fractions/Unlike-Fractions-LCM-Part-1">2.1 Comparing Unlike Fraction - 1</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Fractions/Unlike-Fractions-LCM-Part-1">2.2 Comapring Unlike Fraction - 2</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Fractions/Addition-Proper-Fractions">2.3 Adding Proper Fractions</a>
		<a class="chapter__topic" data-tag="P5FractionsAddSubProperFractions" href="/Learn/Primary-Grade-5/Fractions/Subtraction-Proper-Fractions">2.4 Subtracting Proper Fractions</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Fractions/Addition-Mixed-Fractions">2.5 Adding Mixed Fractions</a>
		<a class="chapter__topic" data-tag="P5FractionsAddSubMixedFractions" href="/Learn/Primary-Grade-5/Fractions/Subtraction-Mixed-Fractions">2.6 Subtracting Mixed Fractions</a>
		<a class="chapter__topic" data-tag="P5FractionsMultProperImproperFractions" href="/Learn/Primary-Grade-5/Fractions/Multiplication-Fractions">2.7 Multiplying Proper and Improper Fractions</a>
		<a class="chapter__topic" data-tag="P5FractionsMultMixedFractions" href="/Learn/Primary-Grade-5/Fractions/Multiplication-Mixed-Fractions">2.8 Multiplying Mixed Fraction by Whole Number</a>
		<a class="chapter__topic" data-tag="P5FractionsDivideProperFractions" href="/Learn/Primary-Grade-5/Fractions/Division-Proper-Fraction">2.9 Dividing Proper Frction by Whole Number</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Fractions/Fraction-as-Division">2.10 Concept of Fraction as Division</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Fractions/Fractions-Decimals">2.11 Fractions and Decimals</a>
		<a class="chapter__topic" data-tag="P5FractionsWordProblems" href="javascript:void(0)">2.12 Word Problems</a>
	</div>
	
	<!-- CHAPTER-3 Decimals -->
	<div class="chapter P5DC">
		<h4 class="chapter__name">Chapter 3: Decimals</h4>
		
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Decimal/Multiply-by-10-100-1000">3.1 Multiply</a>
		<a class="chapter__topic" data-tag="P5DecimalsMultiplyDivide" href="/Learn/Primary-Grade-5/Decimal/Divide-by-10-100-1000">3.2 Divide</a>
		<a class="chapter__topic" data-tag="P5DecimalsRounding" href="/Learn/Primary-Grade-5/Decimal/Rounding-Off-Decimal-Numbers">3.3 Rounding Off</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Decimal/Estimation-in-Calculations-with-Decimal-Numbers">3.4 Estimation of Values</a>
		<a class="chapter__topic" data-tag="P5DecimalsWordProblems" href="javascript:void(0);">3.5 Word Problems</a>
	</div>
	
	<!-- CHAPTER-4 Percentage -->
	<div class="chapter P5PR">
		<h4 class="chapter__name">Chapter 4: Percentage</h4>
		
		<a class="chapter__topic" data-tag="P5PercentageExpressAsPercent" href="/Learn/Primary-Grade-5/Percentage/Introduction">4.1 Express as Percentage</a>
		<a class="chapter__topic" data-tag="P5PercentageExpressAsDecimal" href="/Learn/Primary-Grade-5/Percentage/Percentage-and-Decimals">4.2 Express Percentage as Decimal</a>
		<a class="chapter__topic" data-tag="P5PercentageExpressAsFraction" href="/Learn/Primary-Grade-5/Percentage/Percentage-and-Fractions">4.3 Express Percentage as Fraction</a>
		<a class="chapter__topic" data-tag="P5PercentageWordProblems" href="javascript:void(0);">4.4 Word Problems</a>
	</div>
	
	<!-- CHAPTER-5 Data Analysis -->
	<div class="chapter P5DA">
		<h4 class="chapter__name">Chapter 5: Data Analysis</h4>
		
		<a class="chapter__topic" data-tag="P5DataAnalysisAverage" href="/Learn/Primary-Grade-5/Data-Analysis/Finding-Average">5.1 Finding the Average</a>
		<a class="chapter__topic" data-tag="P5DataAnalysisTotal" href="javascript:void(0);">5.2 Finding the Total</a>
		<a class="chapter__topic" data-tag="P5DataAnalysisWordProblems" href="javascript:void(0);">5.3 Word Problems</a>
	</div>
	
	<!-- CHAPTER-6 Geometry -->
	<div class="chapter P5GM">
		<h4 class="chapter__name">Chapter 6: Geometry</h4>
		
		<a class="chapter__topic" data-tag="P5GeometryAngles" href="/Learn/Primary-Grade-5/Geometry/Finding-unknown-angles">6.1 Angles</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Geometry/Types-of-triangles">6.2 Types of Triangles</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Geometry/Angle-sum-of-triangle">6.3 Angle Sum of Triangles</a>
		<a class="chapter__topic" data-tag="" href="/What-are-Properties-of-Triangles">6.4 Properties of Triangles</a>
		<a class="chapter__topic" data-tag="P5GeometryTriangles" href="/Learn/Primary-Grade-5/Geometry/Triangle-Finding-unknown-angles">6.5 Triangles - Finding Unknown Angles</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Geometry/Drawing-Triangles-Using-geometrical-instruments-part-1">6.6 Drawing Triangles - 1</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Geometry/Drawing-Triangles-Using-geometrical-instruments-part-2">6.7 Drawing Triangles - 2</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Geometry/Drawing-Triangles-Using-geometrical-instruments-part-3">6.8 Drawing Triangles - 3</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Geometry/Four-sided-figures-types-and-properties">6.9 Four Sided Figures - Types and Properties</a>
		<a class="chapter__topic" data-tag="P5GeometryFourSided" href="/Learn/Primary-Grade-5/Geometry/Four-sided-figures-finding-unknown-angles-part-1">6.10 4-Sided Figures: Finding Unknown Angles - 1</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Geometry/Four-sided-figures-finding-unknown-angles-part-2">6.11 4-Sided Figures: Finding Unknown Angles - 2</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Geometry/Four-sided-figures-finding-unknown-angles-part-3">6.12 4-Sided Figures: Finding Unknown Angles - 3</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Geometry/Drawing-a-parallelogram">6.13 Drawing a  Parallelogram</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Geometry/Drawing-a-rhombus">6.14 Drawing a  Rhombus</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Geometry/Drawing-a-trapezium">6.15 Drawing a  Trapezium</a>
	</div>
	
	<!-- CHAPTER-7 Measurement -->
	<div class="chapter P5MA">
		<h4 class="chapter__name">Chapter 7: Measurement</h4>
		
		<a class="chapter__topic" data-tag="P5MeasurementUnitConversion" href="javascript:void(0);">7.1 Conversion Of Units</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Measurement/Triangle-Base-Height">7.2 Triangle Base and Height</a>
		<a class="chapter__topic" data-tag="P5MeasurementAreaOfTriangle" href="/Learn/Primary-Grade-5/Measurement/Area-of-Triangle">7.3 Area of Triangle</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Measurement/Introduction-to-volume-of-cube-cuboid-part-1">7.4 Volume of Cubes and Cuboid - 1</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Measurement/Introduction-to-volume-of-cube-cuboid-part-2">7.5 Volume of Cubes and Cuboid - 2</a>
		<a class="chapter__topic" data-tag="P5MeasurementVolume" href="/Learn/Primary-Grade-5/Measurement/Introduction-to-volume-of-cube-cuboid-part-3">7.6 Volume of Cubes and Cuboid - 3</a>
		<a class="chapter__topic" data-tag="P5MeasurementWordProblems" href="javascript:void(0);">7.7 Word Problems</a>
	</div>
	
	<!-- CHAPTER-8 Ratio -->
	<div class="chapter P5RT">
		<h4 class="chapter__name">Chapter 8: Ratio</h4>
		
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Ratio/Introduction">8.1 Introduction to Ratios</a>
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-5/Ratio/Equivalent">8.2 Equivalent Ratios</a>
		<a class="chapter__topic" data-tag="P5RatioSimplestForm" href="/Learn/Primary-Grade-5/Ratio/Simplifying">8.3 Simplifying Ratios</a>
		<a class="chapter__topic" data-tag="P5RatioMissingNumber" href="javascript:void(0);">8.4 Finding the Missing Number</a>
		<a class="chapter__topic" data-tag="P5RatioWordProblems" href="javascript:void(0);">8.5 Word Problems</a>
	</div>
	
</div>

<!-- NINJA Ranks -->
<aside class="hidden">
	{% if not current_user.IsTeacher and not current_user.IsParent %}
	{% for c in grade_concept_rank %}
		<div id="{{c}}">
		<div class="ninja-rank">
		
		
			<span>HCRank:</span>
			
			{% if grade_concept_rank[c][3] < 1001 %}
			<div class="ninja-rank__progress" style="margin: 0;">
				<span class="ninja-rank__progress-indicator">{{ grade_concept_rank[c][6]|e }} points</span>
				<div class="ninja-rank__progress-bar" style="width:{{grade_concept_rank[c][6]|e}}%;"></div>
			</div>
			<div class="ninja-rank__legend">
				<div>{{grade_concept_rank[c][8]|e}}</div>
				<div>{{grade_concept_rank[c][9]|e}}</div>
			</div>
			
			{% else %}
			
			<div class="ninja-rank__progress">
				<div class="ninja-rank__progress-bar" style="width: 100%;">
					100%
				</div>
			</div>
			
			<div class="ninja-rank__legend"><div>Congrats!! You have achieved the highest HCRank of KAGE!!</div></div>
			
			{% endif %}
			
	
			<table>
				<tr><td colspan=2 style="background-color:#307554;color:#fff;">{{grade_concept_rank[c][0]|e}}</td></tr>
				<tr><td>Attempted</td><td>{{grade_concept_rank[c][1]|e}}</td></tr>
				<tr><td>Correct</td><td>{{grade_concept_rank[c][2]|e}}</td></tr>
				<tr><td>HCScore</td><td>{{grade_concept_rank[c][3]|e}}</td></tr>
				<tr><td>Rank</td><td>{{grade_concept_rank[c][4]|e}}</td></tr>
			</table>
			
		</div>
		</div>
	{% endfor %}
	{% endif %}
		
<!-- End of NINJA RANKS -->	
</aside>

{% endblock %}

{% block xtra_scripts %}
<script src="/js/unified_grade_index.js" data-grade="5" data-intent="{{intent}}" type="text/javascript"></script>
{% endblock %}