{% extends 'MainPage.html' %}
{% block title %}
<title>Learn Primary 6 / 6th Grade Mathematics Online at Home Campus</title>
<meta name="description" content="Practice primary school mathematics online. Solve unlimited randomly generated problems on all primary mathematics concepts." />
{% endblock %}

{% block body %}
<div class="index-table">
	
	<!-- CHAPTER-1 Algebra -->
	<div class="chapter P6AG">
		<h4 class="chapter__name">Chapter 1: Algebra</h4>
   		
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-6/Algebra/What-is-Algebra-and-Algebraic-Expressions">1.1 Introducction to Algebra</a>
   		<a class="chapter__topic" data-tag="P6AGSimplifyingExpression" href="/Learn/Primary-Grade-6/Algebra/Simplifying-and-Evaluating-Algebraic-Expressions">1.2 Simplifying Algebraic Expressions</a>
   		<a class="chapter__topic" data-tag="P6AGEvaluationExpression" href="/Learn/Primary-Grade-6/Algebra/Simplifying-and-Evaluating-Algebraic-Expressions">1.3 Evaluating Algebraic Expressions</a>
   		<a class="chapter__topic" data-tag="P6AGWordProblems" href="javascript:void(0);">1.4 Word Problems</a>
	</div>
	
	<!-- Chapter-2 Fractions -->
	<div class="chapter P6FR">
		<h4 class="chapter__name">Chapter 2: Fractions</h4>
   		
   		<a class="chapter__topic" data-tag="P6FRDivideWholeNumber" href="/Learn/Primary-Grade-6/Fractions/Dividing-Whole-Number-by-Proper-Fraction">2.1 Dividing Whole Number By Proper Fractions</a>
   		<a class="chapter__topic" data-tag="P6FRDivideProperFraction" href="/Learn/Primary-Grade-6/Fractions/Dividing-Proper-Fraction-by-Proper-Fraction">2.2 Dividing Proper Fractions by Proper Fractions</a>
   		<a class="chapter__topic" data-tag="P6FRWordProblems" href="javascript:void(0);">2.3 Word Problems</a>
	</div>
	
	<!-- Chapter-3 Speed -->
	<div class="chapter P6SP">
		<h4 class="chapter__name">Chapter 3: Speed</h4>
   		
   		<a class="chapter__topic" data-tag="P6SPDTS" href="/Learn/Primary-Grade-6/Speed/Distance-Time-Speed">3.1 Finding Distance, Time and Speed</a>
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-6/Speed/Average-Speed">3.2 Average Speed</a>
   		<a class="chapter__topic" data-tag="P6SPWordProblems" href="/Learn/Primary-Grade-6/Speed/Advanced-Word-Problems">3.3 Word Problems</a>
	</div>
	
	<!-- Chapter-4 Ratio -->
	<div class="chapter P6RT">
		<h4 class="chapter__name">Chapter 4: Ratio</h4>
   		
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-6/Ratio/Ratio-and-Fraction">4.1 Ratios and Fractions</a>
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-6/Ratio/Equivalent-Fraction-and-Ratio">4.2 Equivalent Fractions and Ratios</a>
   		<a class="chapter__topic" data-tag="P6RTWordProblems" href="/Learn/Primary-Grade-6/Ratio/Word-Problems">4.3 Word Problems</a>
	</div>
	
	<!-- Chapter-5 Measurement -->
	<div class="chapter P6MT">
		<h4 class="chapter__name">Chapter 5: Measurement</h4>
		
		<a class="chapter__topic" data-tag="P6MTRadius" href="/Learn/Primary-Grade-6/Measurement/Radius-and-Diameter-of-Circle">5.1 Radius and Diameter of a Circle</a>
		<a class="chapter__topic" data-tag="P6MTCircumference" href="/Learn/Primary-Grade-6/Measurement/Circumference-of-Circle">5.2 Circumference of a Circle</a>
		<a class="chapter__topic" data-tag="P6MTArea" href="/Learn/Primary-Grade-6/Measurement/Area-of-Circle">5.3 Area of a Circle</a>
		<a class="chapter__topic" data-tag="P6MTSemiPerimeter" href="javascript:void(0);">5.4 Perimeter of Semi-circles and Quadrants</a>
		<a class="chapter__topic" data-tag="P6MTSemiArea" href="javascript:void(0);">5.5 Area of Semi-circles and Quadrants</a>
		<a class="chapter__topic" data-tag="P6MTComposite" href="/Learn/Primary-Grade-6/Area-and-Perimeter-of-Composite-Figures">5.6 Area and Perimeter of Composite Figures</a>
		<a class="chapter__topic" data-tag="P6MTVolume" href="/Learn/Primary-Grade-6/Measurement/Volume-Cube-Cuboid-Advanced-Word-Problems">5.7 Volume of Cubes and Cuboids</a>
	</div>
	
	<!-- Chapter-6 Data Analysis -->
	<div class="chapter P6DA">
		<h4 class="chapter__name">Chapter 6: Data Analysis</h4>
		
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-6/Data-Analysis/Pie-Chart">6.1 Pie Charts</a>
		<a class="chapter__topic" data-tag="P6DAWordProblems" href="/Learn/Primary-Grade-6/Data-Analysis/Pie-Chart-Word-Problems">6.2 Pie Charts - Word Problems</a>
	</div>
	
	<!-- Chapter-7 Percentage -->
	<div class="chapter P6PR">
		<h4 class="chapter__name">Chapter 7: Percentage</h4>
		
		<a class="chapter__topic" data-tag="P6PRFindWhole" href="/Learn/Primary-Grade-6/Percentage/Finding-Whole-Given-Part-and-Percentage">7.1 Finding Whole Given Part and Percentage</a>
		<a class="chapter__topic" data-tag="P6PRIncDec" href="/Learn/Primary-Grade-6/Percentage/Finding-Percentage-Increase-Decrease">7.2 Finding Percentage Increase and Decrease</a>
		<a class="chapter__topic" data-tag="P6PRWordProblems" href="/Learn/Primary-Grade-6/Percentage/Advanced-Word-Problems">7.3 Word Problems</a>
	</div>
	
	<!-- Chapter-8 Geometry -->
	<div class="chapter P6GT">
		<h4 class="chapter__name">Chapter 8: Geometry</h4>
		
		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-6/Geometry/Finding-Unknown-Angles-Advanced-Problems">7.1 Finding Unkown Angles - Advanced Problems</a>
	</div>
		
</div>

<!-- NINJA Ranks -->
<aside class="hidden">
	{% if not current_user.IsTeacher and not current_user.IsParent %}
	{% for c in grade_concept_rank %}
		<div id="{{c}}">
		<div class="ninja-rank">
		
		
			<span>HCRank:</span>
			
			{% if grade_concept_rank[c][3] < 1001 %}
			<div class="ninja-rank__progress" style="margin: 0;">
				<span class="ninja-rank__progress-indicator">{{ grade_concept_rank[c][6]|e }} points</span>
				<div class="ninja-rank__progress-bar" style="width:{{grade_concept_rank[c][6]|e}}%;"></div>
			</div>
			<div class="ninja-rank__legend">
				<div>{{grade_concept_rank[c][8]|e}}</div>
				<div>{{grade_concept_rank[c][9]|e}}</div>
			</div>
			
			{% else %}
			
			<div class="ninja-rank__progress">
				<div class="ninja-rank__progress-bar" style="width: 100%;">
					100%
				</div>
			</div>
			
			<div class="ninja-rank__legend"><div>Congrats!! You have achieved the highest HCRank of KAGE!!</div></div>
			
			{% endif %}
			
	
			<table>
				<tr><td colspan=2 style="background-color:#307554;color:#fff;">{{grade_concept_rank[c][0]|e}}</td></tr>
				<tr><td>Attempted</td><td>{{grade_concept_rank[c][1]|e}}</td></tr>
				<tr><td>Correct</td><td>{{grade_concept_rank[c][2]|e}}</td></tr>
				<tr><td>HCScore</td><td>{{grade_concept_rank[c][3]|e}}</td></tr>
				<tr><td>Rank</td><td>{{grade_concept_rank[c][4]|e}}</td></tr>
			</table>
			
		</div>
		</div>
	{% endfor %}
	{% endif %}
		
<!-- End of NINJA RANKS -->	
</aside>

{% endblock %}


{% block xtra_scripts %}
<script src="/js/unified_grade_index.js" data-grade="6" data-intent="{{intent}}" type="text/javascript"></script>
{% endblock %}