{% extends 'MainPage.html' %}
{% block title %}
<title>Learn Primary 4 / 4th Grade Mathematics Online at Home Campus</title>
<meta name="description" content="Practice primary school mathematics online. Solve unlimited randomly generated problems on all primary mathematics concepts." />
{% endblock %}

{% block body %}
<!-- Chapter Indexes -->
<div class="index-table">
	
	<!-- CHAPTER-1 Whole Numbers -->
	<div class="chapter P4WN">
		<h4 class="chapter__name">Chapter 1: Whole Numbers</h4>
		
   		<a class="chapter__topic" data-tag="P4WholeNumbersPlaceValues" href="/Learn/Primary-Grade-4/Whole-Numbers/Numbers-Up-to-100000">1.1 Numbers up to 100 000</a>
   		<a class="chapter__topic" data-tag="P4WholeNumbersWriteInWords" href="javascript:void(0);">1.2 Figures to Words up to 100 000</a>
   		<a class="chapter__topic" data-tag="P4WholeNumbersWriteInFigures" href="javascript:void(0);">1.3 Words to Figures up to 100 000</a>
   		<a class="chapter__topic" data-tag="P4WholeNumbersComparingOrdering" href="javascript:void(0);">1.4 Comparing and Ordering</a>
   		<a class="chapter__topic" data-tag="P4WholeNumbersRoundingOff" href="javascript:void(0);">1.5 Rounding Off</a>
   		<a class="chapter__topic" data-tag="P4WholeNumbersFactorMultiple" href="/Learn/Primary-Grade-4/Whole-Numbers/Factors-Multiples">1.6 Factors and Multiples</a>
   		<a class="chapter__topic" data-tag="P4WholeNumbersMutliplyDivide" href="/Learn/Primary-Grade-4/Whole-Numbers/Multiplication-Division-by-1-and-2-Digit-Numbers">1.7 Multiplication and Division</a>
   		<a class="chapter__topic" data-tag="P4WNWordProblems" href="/Learn/Primary-Grade-4/Whole-Numbers/Word-Problems">1.8 Word Problems</a>
	</div>
	
	<!-- CHAPTER-2 Fraction -->
	<div class="chapter P4FR">
		<h4 class="chapter__name">Chapter 2: Fractions</h4>
		
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-4/Types-of-Fractions">2.1 Types of Fractions</a>
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-4/Fractions/Fraction-of-a-Set">2.2 Fractions of a Set</a>
   		<a class="chapter__topic" data-tag="P4FractionsSimplifying" href="/Learn/Primary-Grade-4/Fractions/Simplifying-Fractions-GCF">2.3 Simplifying Fractions</a>
   		<a class="chapter__topic" data-tag="P4FractionsMixedImproper" href="/Learn/Primary-Grade-4/Fractions/Mixed-Numbers-Improper-Fractions">2.4 Mixed Numbers and Improper Fractions</a>
   		<a class="chapter__topic" data-tag="P4FractionsAdd" href="/Learn/Primary-Grade-4/Fractions/Addition-Proper-Fractions">2.5 Add Like and Related Fractions</a>
   		<a class="chapter__topic" data-tag="P4FractionsSubtract" href="/Learn/Primary-Grade-4/Fractions/Subtraction-Proper-Fractions">2.6 Subtract Like and Realted Fractions</a>
   		<a class="chapter__topic" data-tag="P4FractionsMultiplication" href="javascript:void(0);">2.7 Multiplying Fraction and Whole Number</a>
   		<a class="chapter__topic" data-tag="P4FRWordProblems" href="/Learn/Primary-Grade-4/Fractions/Fractions-Word-Problems-Grade-4">2.8 Word Problems</a>
	</div>
	
	<!-- CHAPTER-3 Data Analysis  -->
	<div class="chapter P4DA">
		<h4 class="chapter__name">Chapter 3: Data Analysis</h4>
		
		<a class="chapter__topic" data-tag="P4DATablesBarGraphs" href="/Learn/Primary-Grade-4/Data-Analysis/Tables-and-Bar-Graphs">3.1 Tables and Bar Graphs</a>
   		<a class="chapter__topic" data-tag="P4DALineGraphs" href="/Learn/Primary-Grade-4/Data-Analysis/Line-Graphs">3.2 Line Graphs</a>
	</div>
	
	<!-- CHAPTER-4 Measurement -->
	<div class="chapter P4MA">
		<h4 class="chapter__name">Chapter 4: Measurement</h4>
		
		<a class="chapter__topic" data-tag="P4MTTime24Hrs" href="/Learn/Primary-Grade-4/Measurement/Time-Seconds-24-Hour-Clock-Duration">4.1 24-Hour Clock</a>
   		<a class="chapter__topic" data-tag="P4MTTimeDuration" href="/Learn/Primary-Grade-4/Measurement/Time-Seconds-24-Hour-Clock-Duration">4.2 Time Duration</a>
   		<a class="chapter__topic" data-tag="P4MTPerimeter" href="/Learn/Primary-Grade-4/Measurement/Area-and-Perimeter-of-Rectangles-and-Squares">4.3 Perimeter of Rectangles and Squares</a>
   		<a class="chapter__topic" data-tag="P4MTArea" href=/Learn/Primary-Grade-4/Measurement/Area-and-Perimeter-of-Rectangles-and-Squares>4.4 Area of Rectangles and Squares</a>
   		<a class="chapter__topic" data-tag="P4MTCompositeFigures" href="javascript:void(0)">4.5 Composite Figures</a>
	</div>
	
	<!-- CHAPTER-5 Decimals -->
	<div class="chapter P4DC">
		<h4 class="chapter__name">Chapter 5: Decimals</h4>
		
		<a class="chapter__topic" data-tag="P4DecimalsTenths" href="/Learn/Primary-Grade-4/Decimal/Understanding-Tenths-Hundredths-Thousandths">5.1 Notation and Place Values - Tenths</a>
   		<a class="chapter__topic" data-tag="P4DecimalsHundredths" href="/Learn/Primary-Grade-4/Decimal/Understanding-Tenths-Hundredths-Thousandths">5.2 Notation and Place Values - Hundreths</a>
   		<a class="chapter__topic" data-tag="P4DecimalsThousandths" href="/Learn/Primary-Grade-4/Decimal/Understanding-Tenths-Hundredths-Thousandths">5.3 Notation and Place Values - Thousandths</a>
   		<a class="chapter__topic" data-tag="P4DecimalsComparingOrdering" href="javascript:void(0)">5.4 Comparing and Ordering</a>
   		<a class="chapter__topic" data-tag="P4DecimalsRoundingOff" href="javascript:void(0)">5.5 Rounding Off</a>
   		<a class="chapter__topic" data-tag="P4DecimalsFractions" href="javascript:void(0)">5.6 Decimals and Fractions</a>
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-4/Decimal/Decimals-Addition">5.7 Addition</a>
   		<a class="chapter__topic" data-tag="P4DecimalsAddSub" href="/Learn/Primary-Grade-4/Decimal/Decimals-Subtraction">5.8 Subtraction</a>
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-4/Decimal/Decimals-Multiplication">5.9 Multiplication</a>
   		<a class="chapter__topic" data-tag="P4DecimalsMultiplyDivide" href="/Learn/Primary-Grade-4/Decimal/Decimals-Division">5.10 Division</a>
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary-Grade-4/Decimal/Word-Problems">5.11 Word Problems</a>
	</div>
	
	<!-- CHAPTER-6 Geometry -->
	<div class="chapter P4GM">
		<h4 class="chapter__name">Chapter 6: Geometry</h4>
		
		<a class="chapter__topic" data-tag="" href="/Learn/Primary4/Geometry/Perpendicular-and-Parallel-Lines">6.1 Perpendicular and Parallel Lines</a>
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary4/Geometry/What-is-an-angle-how-to-measure-it">6.2 Introduction to Angles</a>
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary4/Geometry/Drawing-Angles">6.3 Drawing Angles</a>
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary4/Geometry/Angles-Turns-and-Directions">6.4 Angles, Turns and Directions</a>
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary4/Geometry/Quadrilaterals-Rectangles-and-Squares">6.5 Quadrilaterals, Rectangles and Squares</a>
   		<a class="chapter__topic" data-tag="" href="/Learn/Primary4/Geometry/Symmetric-Figures-Shapes-and-Patterns">6.6 Symmetric Figures, Shapes and Patterns</a>
	</div>
</div>

<!-- NINJA Ranks -->
<aside class="hidden">
	{% if not current_user.IsTeacher and not current_user.IsParent %}
	{% for c in grade_concept_rank %}
		<div id="{{c}}">
		<div class="ninja-rank">
		
		
			<span>HCRank:</span>
			
			{% if grade_concept_rank[c][3] < 1001 %}
			<div class="ninja-rank__progress" style="margin: 0;">
				<span class="ninja-rank__progress-indicator">{{ grade_concept_rank[c][6]|e }} points</span>
				<div class="ninja-rank__progress-bar" style="width:{{grade_concept_rank[c][6]|e}}%;"></div>
			</div>
			<div class="ninja-rank__legend">
				<div>{{grade_concept_rank[c][8]|e}}</div>
				<div>{{grade_concept_rank[c][9]|e}}</div>
			</div>
			
			{% else %}
			
			<div class="ninja-rank__progress">
				<div class="ninja-rank__progress-bar" style="width: 100%;">
					100%
				</div>
			</div>
			
			<div class="ninja-rank__legend"><div>Congrats!! You have achieved the highest HCRank of KAGE!!</div></div>
			
			{% endif %}
			
	
			<table>
				<tr><td colspan=2 style="background-color:#307554;color:#fff;">{{grade_concept_rank[c][0]|e}}</td></tr>
				<tr><td>Attempted</td><td>{{grade_concept_rank[c][1]|e}}</td></tr>
				<tr><td>Correct</td><td>{{grade_concept_rank[c][2]|e}}</td></tr>
				<tr><td>HCScore</td><td>{{grade_concept_rank[c][3]|e}}</td></tr>
				<tr><td>Rank</td><td>{{grade_concept_rank[c][4]|e}}</td></tr>
			</table>
			
		</div>
		</div>
	{% endfor %}
	{% endif %}
		
<!-- End of NINJA RANKS -->	
</aside>

{% endblock %}


{% block xtra_scripts %}
<script src="/js/unified_grade_index.js" data-grade="4" data-intent="{{intent}}" type="text/javascript"></script>
{% endblock %}
