{% extends 'MainPage.html' %}

{% block body %}

<div>
<br>
<div id="NotesContent" style="height:400px;" ><!-- InstanceBeginEditable name="maincontent" -->

<div class="content">
	    <h1>Reset Password</h1> 
    <form id="resetPassword" method="post" action="{{ current_url }}" enctype="multipart/form-data">
        <input type="hidden" name = "username" id="username" value='{{username}}'>
        <div>       
			<br>
	        {% if ValidLink and not ExpiredLink %}
		        <div id="PWResetForm">
			        <font class="RegistrationText">username: {{username}}</font><br><br>
			        <font class="RegistrationText">New Password:</font><input name="new_password" id="new_password" type="password" placeholder="Enter password"><br><br>
			        <font class="RegistrationText">Re-enter Password:</font><input name="new_password_confirm" id="new_password_confirm" type="password" placeholder="Re-enter password"><br><br>
		        </div>
		        <div><button type="submit" class="btn-primary">Change Password</button></div>
				<br>
		    {% elif not ValidLink %}
		    	<div>
		    		The password reset link you clicked in not valid. Please check the link sent to you or <a href="/ForgotPassword">go here</a>.<br><br>		    		
		    	</div>
		    {% elif ValidLink and ExpiredLink %}
		    	<div>
		    		The password reset link you clicked has expired. Please go to <a href="/ForgotPassword">forgot password page</a> to reset your password.<br><br>		    		
		    	</div>		    		    
		    {% endif %}       
        </div>
     </form>	    
	      
	</div>
</div>
</div>
	
<script>
   var new_password = new LiveValidation('new_password',{validMessage:" ", wait:10000});
   var new_password_confirm = new LiveValidation('new_password_confirm',{validMessage:" ", wait:10000});
   new_password.add(Validate.Presence,{failureMessage:"Please enter a password."});                   		            
   new_password_confirm.add(Validate.Confirmation,{failureMessage:"Both passwords should match.", match:'new_password'});
</script>
{% endblock %}
