{% extends 'MainPage.html' %}
{% block body %}
<div style="background-image: url(/images/site/background.png);">
<div id="HomeContent">
    <div style="display: inline-block;vertical-align:top;margin-left:100px;margin-top:30px;text-align:center;">
    <form id="SubscriptionPage">
		<fieldset>
			<legend><b><font style="font-size:14px;margin-left:100px;color:#000;">Please contact your teacher, </font>
			<font style="font-size:18px;color:#FF403C;">{{teacher_name}} </font>
			<font style="font-size:14px;color:#000;">for subscription details.</font></b> </legend><br>
		</fieldset>
	</form>
	</div>

</div>
</div>
{% endblock %}
