<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#FBB113;">1.1 Factors and Multiples</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#FBB113;margin-left:70%;">1.1 Factors and Multiples</div>
	{% endif %}
	<div class="grade7TopicName" style="margin-top:20px;">Practice - Medium</div>
	<div style="margin-left:20px;margin-top:20px;"><font class="grade7PracticeQuestionNumber">1 a)</font> Find all the factors of each of the following numbers.
	<br>&nbsp;&nbsp;&nbsp;&nbsp;(Enter your answers separated by commas.)
	</div>
	<div style="margin-left:50px;margin-top:20px;">54:&nbsp;&nbsp;
		{% if FMMedium_1_answer_correct is defined %}
			<input id="FMMedium_1_answer" size=18 value='{{FMMedium_1_answer}}' readonly style="background-color:#DFDFDF;">
				{% if FMMedium_1_answer_correct %}
					<img src="/images/g7_correct.png">
				{% elif not FMMedium_1_answer_correct and FMMedium_1_answer_correct is defined %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{FMMedium_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
		{% else %}
			<input id="FMMedium_1_answer" size=18 value='{{FMMedium_1_answer}}'>
		{% endif %}	
	</div>
	<div style="margin-left:50px;margin-top:20px;">63:&nbsp;&nbsp;
		{% if FMMedium_2_answer_correct is defined %}
			<input id="FMMedium_2_answer" size=18 value='{{FMMedium_2_answer}}' readonly style="background-color:#DFDFDF;">
				{% if FMMedium_2_answer_correct %}
					<img src="/images/g7_correct.png">
				{% elif not FMMedium_2_answer_correct and FMMedium_2_answer_correct is defined %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{FMMedium_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
		{% else %}
			<input id="FMMedium_2_answer" size=18 value='{{FMMedium_2_answer}}'>
		{% endif %}	
	</div>
	<div style="margin-left:30px;margin-top:20px;"><font class="grade7PracticeQuestionNumber">b)</font> Find all the common factors of 54 and 63.
	</div>
	<div style="margin-left:65px;margin-top:10px;">
		{% if FMMedium_3_answer_correct is defined %}
			<input id="FMMedium_3_answer" size=18 value='{{FMMedium_3_answer}}' readonly style="background-color:#DFDFDF;">
				{% if FMMedium_3_answer_correct %}
					<img src="/images/g7_correct.png">
				{% elif not FMMedium_3_answer_correct and FMMedium_3_answer_correct is defined %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{FMMedium_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
		{% else %}
			<input id="FMMedium_3_answer" size=18 value='{{FMMedium_3_answer}}'>
		{% endif %}	
	</div>
	<div style="margin-left:20px;margin-top:40px;"><font class="grade7PracticeQuestionNumber">2 a)</font> What are the factors common to 12 and 16?
	</div>
	<div style="margin-left:65px;margin-top:10px;">
		{% if FMMedium_4_answer_correct is defined %}
			<input id="FMMedium_4_answer" size=18 value='{{FMMedium_4_answer}}' readonly style="background-color:#DFDFDF;">
				{% if FMMedium_4_answer_correct %}
					<img src="/images/g7_correct.png">
				{% elif not FMMedium_4_answer_correct and FMMedium_4_answer_correct is defined %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{FMMedium_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
		{% else %}
			<input id="FMMedium_4_answer" size=18 value='{{FMMedium_4_answer}}'>
		{% endif %}	
	</div>
	<div style="margin-left:30px;margin-top:20px;"><font class="grade7PracticeQuestionNumber">b)</font> What are the factors common to 18, 36 and 108?
	</div>
	<div style="margin-left:65px;margin-top:10px;">
		{% if FMMedium_5_answer_correct is defined %}
			<input id="FMMedium_5_answer" size=18 value='{{FMMedium_5_answer}}' readonly style="background-color:#DFDFDF;">
				{% if FMMedium_5_answer_correct %}
					<img src="/images/g7_correct.png">
				{% elif not FMMedium_5_answer_correct and FMMedium_5_answer_correct is defined %}
					<img src="/images/g7_incorrect.png">
				{% endif %}
				<a href ="javascript:ShowExplanation('{{FMMedium_5_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
		{% else %}
			<input id="FMMedium_5_answer" size=18 value='{{FMMedium_5_answer}}'>
		{% endif %}	
	</div>

	{% if FMMedium_1_answer_correct is defined %}
		<div style="margin-top:-20px;margin-left:350px;"><button id="retry" style="outline:none;"></button></div>
	{% else %}
		<div style="margin-top:0px;margin-left:300px;"><button id="submit" style="outline:none;"></button></div>
	{% endif %}			
	<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#FBB113;color:#fff">{{page_number}}</div>
<script>
	$("#FMMedium_1_answer").change(function()
	{
		question_id = "FMMedium_1";
		question_type = "FactorsMultiples"
		answer_id = "FMMedium_1_answer";
		entered_answer = $("#FMMedium_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#FMMedium_2_answer").change(function()
			{
				question_id = "FMMedium_2";
				question_type = "FactorsMultiples"
				answer_id = "FMMedium_2_answer";
				entered_answer = $("#FMMedium_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#FMMedium_3_answer").change(function()
			{
				question_id = "FMMedium_3";
				question_type = "FactorsMultiples"
				answer_id = "FMMedium_3_answer";
				entered_answer = $("#FMMedium_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});	
	$("#FMMedium_4_answer").change(function()
			{
				question_id = "FMMedium_4";
				question_type = "FactorsMultiples"
				answer_id = "FMMedium_4_answer";
				entered_answer = $("#FMMedium_4_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});	
	$("#FMMedium_5_answer").change(function()
			{
				question_id = "FMMedium_5";
				question_type = "FactorsMultiples"
				answer_id = "FMMedium_5_answer";
				entered_answer = $("#FMMedium_5_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});	
	$("#submit").button({label:"Check Answers"});
	$("#retry").button({label:"Retry"});
	$("#submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "FactorsMultiples"
		//getting question id, answer id and entered answer in form of a string
		var answers = "FMMedium_1"+"#%$"+"FMMedium_1_answer"+"#%$"+$("#FMMedium_1_answer").val();
		answers = answers + "#%$"+"FMMedium_2"+"#%$"+"FMMedium_2_answer"+"#%$"+$("#FMMedium_2_answer").val();
		answers = answers + "#%$"+"FMMedium_3"+"#%$"+"FMMedium_3_answer"+"#%$"+$("#FMMedium_3_answer").val();
		answers = answers + "#%$"+"FMMedium_4"+"#%$"+"FMMedium_4_answer"+"#%$"+$("#FMMedium_4_answer").val();
		answers = answers + "#%$"+"FMMedium_5"+"#%$"+"FMMedium_5_answer"+"#%$"+$("#FMMedium_5_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "FMMedium_1_answer,FMMedium_2_answer,FMMedium_3_answer,FMMedium_4_answer,FMMedium_5_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


