<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#FBB113;">1.5 Lowest Common Multiple</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#FBB113;margin-left:64%;">1.5 Lowest Common Multiple</div>
	{% endif %}
	<div class="grade7TopicName">1.5 Lowest Common Multiple (LCM)</div>
	<div class="grade7PageMargin">
		<div style="margin-top:10px;">The lowest of the common multiples of two or more numbers is known as the lowest common multiple or least common multiple (LCM) of those numbers.</div>
		
		<div style="margin-top:30px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 11:</font></div>
		<div style="margin-top:30px;display:inline-block;width:320px;vertical-align:top;">Find the LCM of 12 and 18.</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 11:</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;width:320px;">
			<div><b><i>Method 1</i></b></div>
			<div style="margin-top:10px;">Multiples of 12:  12, 24, 36, 48, 60, 72, 84, 96, 108, 120, ...</div>
			<div style="margin-top:10px;">Multiples of 18:  18, 36, 54, 72, 90, 108, 126, 144, 162, ...</div>
			<div style="margin-top:10px;">Common multiples of 12 and 18: 36, 72, 108..</div>
			<div style="margin-top:10px;">Lowest of the common multiples of 12 and 18: 36</div>
			<div style="margin-top:10px;">Therefore, LCM = 36</div>
			<div style="margin-top:15px;"><b><i>Method 2: </i></b>
			We can use prime factorisation to find the LCM of 12 and 18.</div>
			<div style="margin-top:10px;">
				<div style="display:inline-block;width:23px;">12</div>
				<div style="display:inline-block;">=&nbsp;</div>
				<div style="display:inline-block;width:50px;">2<sup>2</sup> &times; 3</div>
				<div style="display:inline-block;">=&nbsp;</div>
				<div style="display:inline-block;">2 &times; 2 &times; 3</div>
			</div>		
		</div>
		
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#FBB113;color:#fff">{{page_number}}</div>

