<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#FBB113;">1.3 Prime Factorisation and Index Notation</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#FBB113;margin-left:48%;">1.3 Prime Factorisation and Index Notation</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;">Let us consider the prime factorisation of 660 in Example 7 above.</div>
		<div style="margin-top:10px;margin-left:30px;">660 = 2 &times; 2 &times; 3 &times; 5 &times; 11</div>
		<div style="margin-top:10px;">We can also write the prime factorisation of 660 in the index notation or exponential notation form as shown below:</div>
		<div style="margin-top:10px;margin-left:30px;">660 = 2<sup>2</sup> &times; 3 &times; 5 &times; 11</div>
		<div style="margin-top:30px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 8:</font></div>
		<div style="margin-top:30px;display:inline-block;width:320px;vertical-align:top;">Write the prime factorisation of 2772. Write your answer in index notation.</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 8:</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;width:320px;">
			<div>Let us use a factor tree to factorize 2772.</div>
			<div><img src="/images/Grade7/G7_PF_Factor_Tree_Eg_8.png"></div>
			<div style="display:inline-block;width:40px;margin-top:20px;">2772</div>
			<div style="display:inline-block;">=&nbsp;&nbsp;2 &times; 2 &times; 3 &times; 3 &times; 7 &times; 11</div>
			<br>
			<div style="display:inline-block;width:40px;"></div>
			<div style="display:inline-block;">=&nbsp;&nbsp;2<sup>2</sup> &times; 3<sup>2</sup> &times; 7 &times; 11</div>
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#FBB113;color:#fff">{{page_number}}</div>

