<div style="height:480px;">
	<div class="grade7PageHeader" style="color:#FBB113;margin-left:44%;">Factors, Multiples and Roots - Topical Test</div>
	<div class="grade7PageMargin">
		<div style="display:inline-block;margin-left:20px;margin-top:20px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="display:inline-block;width:380px;margin-top:20px;vertical-align:top;">
			a) If 36 is a multiple of a number, then 18 is also a multiple of the number.
		</div>
		<div style="margin-left:45px;margin-top:20px;">
			{% if test_status == 'Completed' %}
				<input type=radio name="FMRTT1_4_1_answer" value='True' disabled
				{% if FMRTT1_4_1_answer == 'True'%} 
   					checked="checked"
   				{%endif%}
				 >True
				<input type=radio name="FMRTT1_4_1_answer" value='False' disabled
				{% if FMRTT1_4_1_answer == 'False' %} 
   					checked="checked"
   				{%endif%}
				 >False&nbsp;&nbsp;
				{% if FMRTT1_4_1_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_4_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>					
					<font class="grade7TestScore">(Mark: 1 / 1)</font>

				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_4_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 1)</font>					
				{% endif %}
				
			{% else %}
				<input type=radio name="FMRTT1_4_1_answer" value='True'
				{% if FMRTT1_4_1_answer == 'True' %} 
   					checked="checked"
   				{%endif%}
				 >True
				<input type=radio name="FMRTT1_4_1_answer" value='False'
				{% if FMRTT1_4_1_answer == 'False' %} 
   					checked="checked"
   				{%endif%}
				 >False<font class="grade7TestMark">(Mark: 1)</font>		 
			{% endif %}	
		</div>
		<div style="display:inline-block;margin-left:20px;margin-top:20px;"><font class="grade7PracticeQuestionNumber"></font></div>
		<div style="display:inline-block;width:380px;margin-top:20px;vertical-align:top;">
			b) If 12 is a multiple of a number, then 24 is also a multiple of the number.
		</div>
		<div style="margin-left:45px;margin-top:20px;">
			{% if test_status == 'Completed' %}
				<input type=radio name="FMRTT1_4_2_answer" value='True' disabled
				{% if FMRTT1_4_2_answer == 'True'%} 
   					checked="checked"
   				{%endif%}
				 >True
				<input type=radio name="FMRTT1_4_2_answer" value='False' disabled
				{% if FMRTT1_4_2_answer == 'False' %} 
   					checked="checked"
   				{%endif%}
				 >False&nbsp;&nbsp;
				{% if FMRTT1_4_2_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_4_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>					
					<font class="grade7TestScore">(Mark: 1 / 1)</font>

				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_4_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 1)</font>					
				{% endif %}
				
			{% else %}
				<input type=radio name="FMRTT1_4_2_answer" value='True'
				{% if FMRTT1_4_2_answer == 'True' %} 
   					checked="checked"
   				{%endif%}
				 >True
				<input type=radio name="FMRTT1_4_2_answer" value='False'
				{% if FMRTT1_4_2_answer == 'False' %} 
   					checked="checked"
   				{%endif%}
				 >False<font class="grade7TestMark">(Mark: 1)</font>		 
			{% endif %}	
		</div>
		<div style="display:inline-block;margin-left:20px;margin-top:20px;"><font class="grade7PracticeQuestionNumber"></font></div>
		<div style="display:inline-block;width:380px;margin-top:20px;vertical-align:top;">
			c) If 3 and 6 are both factors of a number, then 18 is also a factor of the number.
		</div>
		<div style="margin-left:45px;margin-top:20px;">
			{% if test_status == 'Completed' %}
				<input type=radio name="FMRTT1_4_3_answer" value='True' disabled
				{% if FMRTT1_4_3_answer == 'True'%} 
   					checked="checked"
   				{%endif%}
				 >True
				<input type=radio name="FMRTT1_4_3_answer" value='False' disabled
				{% if FMRTT1_4_3_answer == 'False' %} 
   					checked="checked"
   				{%endif%}
				 >False&nbsp;&nbsp;
				{% if FMRTT1_4_3_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_4_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>					
					<font class="grade7TestScore">(Mark: 1 / 1)</font>

				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_4_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 1)</font>					
				{% endif %}
				
			{% else %}
				<input type=radio name="FMRTT1_4_3_answer" value='True'
				{% if FMRTT1_4_3_answer == 'True' %} 
   					checked="checked"
   				{%endif%}
				 >True
				<input type=radio name="FMRTT1_4_3_answer" value='False'
				{% if FMRTT1_4_3_answer == 'False' %} 
   					checked="checked"
   				{%endif%}
				 >False<font class="grade7TestMark">(Mark: 1)</font>		 
			{% endif %}	
		</div>
		<div style="display:inline-block;margin-left:20px;margin-top:20px;"><font class="grade7PracticeQuestionNumber"></font></div>
		<div style="display:inline-block;width:380px;margin-top:20px;vertical-align:top;">
			d)	If 8 is a factor of a number, then 4 is also a factor of the number.
		</div>
		<div style="margin-left:45px;margin-top:20px;">
			{% if test_status == 'Completed' %}
				<input type=radio name="FMRTT1_4_4_answer" value='True' disabled
				{% if FMRTT1_4_4_answer == 'True'%} 
   					checked="checked"
   				{%endif%}
				 >True
				<input type=radio name="FMRTT1_4_4_answer" value='False' disabled
				{% if FMRTT1_4_4_answer == 'False' %} 
   					checked="checked"
   				{%endif%}
				 >False&nbsp;&nbsp;
				{% if FMRTT1_4_4_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_4_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>					
					<font class="grade7TestScore">(Mark: 1 / 1)</font>

				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_4_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 1)</font>					
				{% endif %}
				
			{% else %}
				<input type=radio name="FMRTT1_4_4_answer" value='True'
				{% if FMRTT1_4_4_answer == 'True' %} 
   					checked="checked"
   				{%endif%}
				 >True
				<input type=radio name="FMRTT1_4_4_answer" value='False'
				{% if FMRTT1_4_4_answer == 'False' %} 
   					checked="checked"
   				{%endif%}
				 >False<font class="grade7TestMark">(Mark: 1)</font>		 
			{% endif %}	
		</div>
	</div>
	<div id="explain_dialog"></div>
</div>
<div class="grade7TestForwardButton"><button id="FMR_TT_1_Continue" style="outline:none;"></button></div>
<script>
$("#FMR_TT_1_Continue").button({label:">>"});
$("#FMR_TT_1_Continue").click(function()
	{
		test_id = '{{test_id}}';
		student_id = '{{student_id}}';
		leftPage = '/Grade-7/Chapter-1/Topical-Test-1-Factors-Multiples-Roots-Page-3.html';
		rightPage = '/Grade-7/Chapter-1/Topical-Test-1-Factors-Multiples-Roots-Page-4.html';
		//saving all un-attempted questions in the database on ">>" click.
		separatorText = '#%$'
		answer_ids = 'FMRTT1_1_answer'+separatorText+'FMRTT1_2_answer'+separatorText+'FMRTT1_3_answer'+separatorText
		answer_ids = answer_ids + 'FMRTT1_4_1_answer'+separatorText+'FMRTT1_4_2_answer'+separatorText+'FMRTT1_4_3_answer'+separatorText+'FMRTT1_4_4_answer'
		Grade7SaveAndLoadTest(test_id,student_id,leftPage,rightPage,total_seconds_elapsed,answer_ids);
  	});
$("input[name='FMRTT1_4_1_answer']").click(function()
		{
			question_id = "FMRTT1_4";
			test_id = '{{test_id}}';
			answer_id = "FMRTT1_4_1_answer";
			entered_answer = $("input:radio[name=FMRTT1_4_1_answer]:checked").val();
			student_id = '{{current_user.username}}';
			question_marks = 1;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("input[name='FMRTT1_4_2_answer']").click(function()
		{
			question_id = "FMRTT1_4";
			test_id = '{{test_id}}';
			answer_id = "FMRTT1_4_2_answer";
			entered_answer = $("input:radio[name=FMRTT1_4_2_answer]:checked").val();
			student_id = '{{current_user.username}}';
			question_marks = 1;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("input[name='FMRTT1_4_3_answer']").click(function()
		{
			question_id = "FMRTT1_4";
			test_id = '{{test_id}}';
			answer_id = "FMRTT1_4_3_answer";
			entered_answer = $("input:radio[name=FMRTT1_4_3_answer]:checked").val();
			student_id = '{{current_user.username}}';
			question_marks = 1;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("input[name='FMRTT1_4_4_answer']").click(function()
		{
			question_id = "FMRTT1_4";
			test_id = '{{test_id}}';
			answer_id = "FMRTT1_4_4_answer";
			entered_answer = $("input:radio[name=FMRTT1_4_4_answer]:checked").val();
			student_id = '{{current_user.username}}';
			question_marks = 1;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
		
$("#explain_dialog").dialog
({
	autoOpen: false,
	title:"Explanation",
    position:"center",   			
	buttons:{"Ok": function(){$(this).dialog("close");}},
	modal:true,
	width:500
});
function ShowExplanation(htmlText)
{
	$("#explain_dialog").html(htmlText);
	$("#explain_dialog").addClass("ExplanationFont");
	$("#explain_dialog").dialog("open");	
}

</script>

