<div style="height:480px;">
	<div class="grade7PageHeader" style="color:#FBB113;margin-left:44%;">Factors, Multiples and Roots - Topical Test</div>
	<div class="grade7PageMargin">
		<div style="margin-left:20px;margin-top:10px;display:inline-block;"><font class="grade7PracticeQuestionNumber">6)</font></div>
		<div style="margin-top:10px;display:inline-block;width:360px;vertical-align:top;">Each tube of toothpaste contains 108 ml of toothpaste. Each bottle of lotion contains 450 ml of lotion. On a certain day, a store sold the same volume of toothpaste and lotion. What is the least number of tubes of toothpaste and the least number of bottles of lotion that the store would have sold that day?</div>
		<div style="margin-left:50px;margin-top:10px;">
			<div style="display:inline-block;width:80px;">Toothpaste: </div>
			<div style="display:inline-block;"> 
			{% if test_status == 'Completed' %}
				<input id="FMRTT1_6_1_answer" size=3 value='{{FMRTT1_6_1_answer}}' readonly style="background-color:#DFDFDF;">&nbsp;
				{% if FMRTT1_6_1_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_6_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 2 / 2)</font>					
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_6_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 2)</font>					
				{% endif %}
			{% else %}
				<input id="FMRTT1_6_1_answer" size=3 value='{{FMRTT1_6_1_answer}}'><font class="grade7TestMark">(Mark: 2)</font>
			{% endif %}
			</div>				
		</div>
		<div style="margin-left:50px;margin-top:10px;">
			<div style="display:inline-block;width:80px;">Lotion: </div>
			<div style="display:inline-block;"> 
			{% if test_status == 'Completed' %}
				<input id="FMRTT1_6_2_answer" size=3 value='{{FMRTT1_6_2_answer}}' readonly style="background-color:#DFDFDF;">&nbsp;
				{% if FMRTT1_6_2_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_6_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 2 / 2)</font>					
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_6_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore">(Mark: 0 / 2)</font>					
				{% endif %}
			{% else %}
				<input id="FMRTT1_6_2_answer" size=3 value='{{FMRTT1_6_2_answer}}'><font class="grade7TestMark">(Mark: 2)</font>
			{% endif %}
			</div>				
		</div>			
		<div style="display:inline-block;margin-left:20px;margin-top:20px;"><font class="grade7PracticeQuestionNumber">7)</font></div>
		<div style="display:inline-block;width:380px;margin-top:20px;vertical-align:top;">
			The HCF of two numbers is 13 and their LCM is 2730. If one of the numbers is a multiple of 5 while the other number is a multiple of 7, find 3 possible pairs of the numbers.
		</div>
		<div style="margin-left:50px;margin-top:20px;">
			<div style="display:inline-block;width:60px;">Pair 1: </div>
			<div style="display:inline-block;"> 
			{% if test_status == 'Completed' %}
				<input id="FMRTT1_7_1_answer" size=3 value='{{FMRTT1_7_1_answer}}' readonly style="background-color:#DFDFDF;">&nbsp;&nbsp;
				<input id="FMRTT1_7_2_answer" size=3 value='{{FMRTT1_7_2_answer}}' readonly style="background-color:#DFDFDF;">
			{% else %}
				<input id="FMRTT1_7_1_answer" size=3 value='{{FMRTT1_7_1_answer}}'>&nbsp;&nbsp;
				<input id="FMRTT1_7_2_answer" size=3 value='{{FMRTT1_7_2_answer}}'>
			{% endif %}
			</div>				
		</div>
		<div style="margin-left:50px;margin-top:20px;">
			<div style="display:inline-block;width:60px;">Pair 2: </div>
			<div style="display:inline-block;"> 
			{% if test_status == 'Completed' %}
				<input id="FMRTT1_7_3_answer" size=3 value='{{FMRTT1_7_3_answer}}' readonly style="background-color:#DFDFDF;">&nbsp;&nbsp;
				<input id="FMRTT1_7_4_answer" size=3 value='{{FMRTT1_7_4_answer}}' readonly style="background-color:#DFDFDF;">
			{% else %}
				<input id="FMRTT1_7_3_answer" size=3 value='{{FMRTT1_7_3_answer}}'>&nbsp;&nbsp;
				<input id="FMRTT1_7_4_answer" size=3 value='{{FMRTT1_7_4_answer}}'>
			{% endif %}
			</div>				
		</div>

		<div style="margin-left:50px;margin-top:20px;">
			<div style="display:inline-block;width:60px;">Pair 3: </div>
			<div style="display:inline-block;"> 
			{% if test_status == 'Completed' %}
				<input id="FMRTT1_7_5_answer" size=3 value='{{FMRTT1_7_5_answer}}' readonly style="background-color:#DFDFDF;">&nbsp;&nbsp;
				<input id="FMRTT1_7_6_answer" size=3 value='{{FMRTT1_7_6_answer}}' readonly style="background-color:#DFDFDF;">&nbsp;
				{% if FMRTT1_7_1_answer_correct %}
					<img src="/images/g7_correct.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_7_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore" style="margin-left:30px;">(Mark: 4 / 4)</font>					
				{% else %}
					<img src="/images/g7_incorrect.png">
					<a href ="javascript:ShowExplanation('{{FMRTT1_7_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
					<font class="grade7TestScore" style="margin-left:30px;">(Mark: 0 / 4)</font>					
				{% endif %}
			{% else %}
				<input id="FMRTT1_7_5_answer" size=3 value='{{FMRTT1_7_5_answer}}'>&nbsp;&nbsp;
				<input id="FMRTT1_7_6_answer" size=3 value='{{FMRTT1_7_6_answer}}'><font class="grade7TestMark">(Mark: 4)</font>
			{% endif %}
			</div>				
		</div>
		
	</div>
	<div id="explain_dialog"></div>
</div>
<div class="grade7TestForwardButton"><button id="FMR_TT_1_Continue" style="outline:none;"></button></div>
<script>

$("#FMR_TT_1_Continue").button({label:">>"});
$("#FMR_TT_1_Continue").click(function()
	{
		test_id = '{{test_id}}';
		student_id = '{{student_id}}';
		leftPage = '/Grade-7/Chapter-1/Topical-Test-1-Factors-Multiples-Roots-Page-5.html';
		rightPage = '/Grade-7/Chapter-1/Topical-Test-1-Factors-Multiples-Roots-Page-6.html';
		//saving all un-attempted questions in the database on ">>" click.
		separatorText = '#%$'
		answer_ids = 'FMRTT1_5_1_answer'+separatorText+'FMRTT1_5_2_answer'+separatorText+'FMRTT1_5_3_answer'+separatorText;
		answer_ids = answer_ids + 'FMRTT1_5_4_answer'+separatorText+'FMRTT1_5_5_answer'+separatorText+'FMRTT1_5_6_answer'+separatorText+'FMRTT1_6_1_answer'+separatorText;
		answer_ids = answer_ids + 'FMRTT1_6_2_answer'+separatorText+'FMRTT1_7_1_answer'+separatorText+'FMRTT1_7_2_answer'+separatorText+'FMRTT1_7_3_answer'+separatorText;
		answer_ids = answer_ids + 'FMRTT1_7_4_answer'+separatorText+'FMRTT1_7_5_answer'+separatorText+'FMRTT1_7_6_answer';
		Grade7SaveAndLoadTest(test_id,student_id,leftPage,rightPage,total_seconds_elapsed,answer_ids);
  	});
$("#FMRTT1_6_1_answer").change(function()
		{
			question_id = "FMRTT1_6";
			test_id = '{{test_id}}';
			answer_id = "FMRTT1_6_1_answer";
			entered_answer = $("#FMRTT1_6_1_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#FMRTT1_6_2_answer").change(function()
		{
			question_id = "FMRTT1_6";
			test_id = '{{test_id}}';
			answer_id = "FMRTT1_6_2_answer";
			entered_answer = $("#FMRTT1_6_2_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#FMRTT1_7_1_answer").change(function()
		{
			question_id = "FMRTT1_7";
			test_id = '{{test_id}}';
			answer_id = "FMRTT1_7_1_answer";
			entered_answer = $("#FMRTT1_7_1_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 0;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#FMRTT1_7_2_answer").change(function()
		{
			question_id = "FMRTT1_7";
			test_id = '{{test_id}}';
			answer_id = "FMRTT1_7_2_answer";
			entered_answer = $("#FMRTT1_7_2_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 0;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#FMRTT1_7_3_answer").change(function()
		{
			question_id = "FMRTT1_7";
			test_id = '{{test_id}}';
			answer_id = "FMRTT1_7_3_answer";
			entered_answer = $("#FMRTT1_7_3_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 0;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#FMRTT1_7_4_answer").change(function()
		{
			question_id = "FMRTT1_7";
			test_id = '{{test_id}}';
			answer_id = "FMRTT1_7_4_answer";
			entered_answer = $("#FMRTT1_7_4_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 0;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#FMRTT1_7_5_answer").change(function()
		{
			question_id = "FMRTT1_7";
			test_id = '{{test_id}}';
			answer_id = "FMRTT1_7_5_answer";
			entered_answer = $("#FMRTT1_7_5_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 0;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#FMRTT1_7_6_answer").change(function()
		{
			question_id = "FMRTT1_7";
			test_id = '{{test_id}}';
			answer_id = "FMRTT1_7_6_answer";
			entered_answer = $("#FMRTT1_7_6_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 4;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
		
$("#explain_dialog").dialog
({
	autoOpen: false,
	title:"Explanation",
    position:"center",   			
	buttons:{"Ok": function(){$(this).dialog("close");}},
	modal:true,
	width:500
});
function ShowExplanation(htmlText)
{
	$("#explain_dialog").html(htmlText);
	$("#explain_dialog").addClass("ExplanationFont");
	$("#explain_dialog").dialog("open");	
}
</script>

