<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">6.1 Distance, Time and Speed</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:62%;">6.1 Distance, Time and Speed</div>
	{% endif %}
	<div class="grade7TopicName">6.1 Distance, Time and Speed</div>
	<div class="grade7PageMargin">
		<div style="margin-top:10px;">Speed describes how fast an object is moving. In other words, speed tells us the distance that an object travels per unit of time.</div>
		<br>
		<div class="grade7BlueSideBox" style="width:230px;margin-top:10px;margin-left:50px;">
			<div style="display:inline-block;vertical-align:top;width:50px;margin-top:10px;margin-left:10px;">Speed</div>
			<div style="display:inline-block;margin-top:10px;"> = &nbsp;</div>
			<div style="width:140px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:5px;">
				<p style="line-height:20%;text-align:center;">Distance travelled<br>_______________<br></p>
				<p style="line-height:20%;text-align:center;">Time taken<br></p>
			</div>	
		</div>
		<br>
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 1:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">A soccer ball takes 5 seconds to travel from one goalpost to the opposite goalpost 90 m away. What is speed of the ball?</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 1:</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;width:320px;">
			<div style="display:inline-block;vertical-align:top;width:50px;">Speed</div>
			<div style="display:inline-block;"> = &nbsp;</div>
			<div style="width:140px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-8px;">
				<p style="line-height:20%;text-align:center;">Distance travelled<br>_______________<br></p>
				<p style="line-height:20%;text-align:center;">Time taken<br></p>
			</div>
			<br>
			<div style="display:inline-block;vertical-align:top;width:50px;"></div>
			<div style="display:inline-block;"> = &nbsp;</div>
			<div style="width:60px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-8px;">
				<p style="line-height:20%;text-align:center;">90 m<br>_____<br></p>
				<p style="line-height:20%;text-align:center;">5 s<br></p>
			</div>
			<br>
			<div style="display:inline-block;vertical-align:top;width:50px;"></div>
			<div style="display:inline-block;"> = &nbsp;</div>
			<div style="display:inline-block;vertical-align:top;">18 m/s</div>					
        </div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

