<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">6.1 Distance, Time and Speed</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:62%;">6.1 Distance, Time and Speed</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 3:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">A cyclist moves from checkpost A to B in 80 seconds. If he continues at the same speed, in how much time will he reach checkpost C from checkpost B?</div>
		<div style="margin-left:60px;"><img src="/images/Grade7/G7_SP_DTS_Eg_3.png"></div>	
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 3:</font></div>
		<div style="display:inline-block;vertical-align:top;width:320px;">
			<div style="display:inline-block;vertical-align:top;width:70px;margin-top:10px;margin-left:10px;">His speed</div>
			<div style="display:inline-block;margin-top:10px;"> = &nbsp;</div>
			<div style="width:140px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:5px;">
				<p style="line-height:20%;text-align:center;">Distance travelled<br>_______________<br></p>
				<p style="line-height:20%;text-align:center;">Time taken<br></p>
			</div>
			<br>
			<div style="display:inline-block;vertical-align:top;width:70px;margin-top:10px;margin-left:10px;"></div>
			<div style="display:inline-block;margin-top:10px;"> = &nbsp;</div>
			<div style="width:60px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">400<br>_____<br></p>
				<p style="line-height:20%;text-align:center;">80<br></p>
			</div>
			<br>
			<div style="display:inline-block;vertical-align:top;width:70px;margin-top:10px;margin-left:10px;"></div>
			<div style="display:inline-block;margin-top:10px;"> = &nbsp; 5 m/s</div>
			<div style="margin-top:10px;margin-left:-60px;">Distance between B and C = 1000 - 400 = 600m</div>
			<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:-60px;width:225px;">Time taken to reach checkpost C</div>
			<div style="display:inline-block;margin-top:10px;"> = </div>
			<div style="width:130px;display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">Distance travelled<br>_______________<br></p>
				<p style="line-height:20%;text-align:center;">Speed<br></p>
			</div>
			<br>
			<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:-60px;width:225px;"></div>
			<div style="display:inline-block;margin-top:10px;"> = </div>
			<div style="width:50px;display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">600<br>____<br></p>
				<p style="line-height:20%;text-align:center;">5<br></p>
			</div>
			<br>
			<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:-60px;width:225px;"></div>
			<div style="display:inline-block;margin-top:10px;"> = 120s = 2 min</div>										
        </div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

