<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">6.1 Distance, Time and Speed</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:62%;">6.1 Distance, Time and Speed</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Flight distance from London to Singapore is 10842 km.</div>
		</div>
		<div style="display:inline-block;margin-left:40px;margin-top:10px;width:15px;">a)</div>
		<div style="display:inline-block;margin-top:10px;width:380px;vertical-align:top;">Find the average speed of the aeroplane if it took 13 hours to complete the journey from London to Singapore.</div>
		<div style="margin-left:60px;margin-top:10px;">Answer:&nbsp;
			{% if SPDTSAdvanced_4_1_answer_correct is defined %}
				<input id="SPDTSAdvanced_4_1_answer" value='{{SPDTSAdvanced_4_1_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> km/h &nbsp;
					{% if SPDTSAdvanced_4_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not SPDTSAdvanced_4_1_answer_correct and SPDTSAdvanced_4_1_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{SPDTSAdvanced_4_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="SPDTSAdvanced_4_1_answer" value='{{SPDTSAdvanced_4_1_answer}}' style="width:50px;" > km/h &nbsp;
			{% endif %}	
		</div>
		<div style="display:inline-block;margin-left:40px;margin-top:30px;width:15px;">b)</div>
		<div style="display:inline-block;margin-top:30px;width:380px;vertical-align:top;">Singapore is 7 hours ahead of London. If the plane departed from London at 0300 hours, at what time did it arrive in Singapore, as per the local time in Singapore?</div>
		<div style="margin-left:60px;margin-top:10px;">Answer:&nbsp;
			{% if SPDTSAdvanced_4_2_answer_correct is defined %}
				<input id="SPDTSAdvanced_4_2_answer" value='{{SPDTSAdvanced_4_2_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> hours &nbsp;
					{% if SPDTSAdvanced_4_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not SPDTSAdvanced_4_2_answer_correct and SPDTSAdvanced_4_2_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{SPDTSAdvanced_4_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="SPDTSAdvanced_4_2_answer" value='{{SPDTSAdvanced_4_2_answer}}' style="width:50px;" > hours &nbsp;
			{% endif %}	
		</div>


		{% if SPDTSAdvanced_4_1_answer_correct is defined %}
			<div style="margin-top:30px;margin-left:320px;"><button id="SPDTS_Advanced_3_retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:220px;"><button id="SPDTS_Advanced_3_submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>
<script>
	$("#SPDTSAdvanced_4_1_answer").change(function()
	{
		question_id = "SPDTSAdvanced_4";
		question_type = "DistanceTimeSpeed"
		answer_id = "SPDTSAdvanced_4_1_answer";
		entered_answer = $("#SPDTSAdvanced_4_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#SPDTSAdvanced_4_2_answer").change(function()
			{
				question_id = "SPDTSAdvanced_4";
				question_type = "DistanceTimeSpeed"
				answer_id = "SPDTSAdvanced_4_2_answer";
				entered_answer = $("#SPDTSAdvanced_4_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#SPDTS_Advanced_3_submit").button({label:"Check Answers"});
	$("#SPDTS_Advanced_3_retry").button({label:"Retry"});
	$("#SPDTS_Advanced_3_submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "DistanceTimeSpeed"
		//getting question id, answer id and entered answer in form of a string
		var answers = "SPDTSAdvanced_4"+"#%$"+"SPDTSAdvanced_4_1_answer"+"#%$"+$("#SPDTSAdvanced_4_1_answer").val();
		answers = answers + "#%$"+"SPDTSAdvanced_4"+"#%$"+"SPDTSAdvanced_4_2_answer"+"#%$"+$("#SPDTSAdvanced_4_2_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#SPDTS_Advanced_3_retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "SPDTSAdvanced_4_1_answer,SPDTSAdvanced_4_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


