<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">6.1 Distance, Time and Speed</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:62%;">6.1 Distance, Time and Speed</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;">The formula for speed can be interchanged to find the distance travelled and time taken.</div>
		<br>
		<div class="grade7BlueSideBox" style="width:270px;margin-top:10px;margin-left:50px;">
			<div style="margin-left:10px;">Distance travelled &nbsp; = &nbsp; Speed &times; Time taken</div>
			<div style="display:inline-block;vertical-align:top;margin-top:10px;margin-left:10px;">Time taken</div>
			<div style="display:inline-block;margin-top:10px;">&nbsp; = &nbsp;</div>
			<div style="width:140px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:5px;">
			<p style="line-height:20%;text-align:center;">Distance travelled<br>_______________<br></p>
			<p style="line-height:20%;text-align:center;">Speed<br></p>
			</div>	
		</div>
		<br>
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 2:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">Elizabeth starts from home at 7 A.M. She walks at a speed of 7.2 km/h and reaches school at 7:30 A.M. Find the distance covered by her.</div>
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 2:</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;width:320px;">
			<div>Time taken = 30 mins = 0.5 h</div>
			<div style="display:inline-block;margin-top:10px;width:50px;">Distance</div>
			<div style="display:inline-block;margin-top:10px;">&nbsp; = &nbsp;</div>
			<div style="display:inline-block;margin-top:10px;">Speed &times; Time taken</div>
			<br>
			<div style="display:inline-block;margin-top:10px;width:50px;"></div>
			<div style="display:inline-block;margin-top:10px;">&nbsp; = &nbsp;</div>
			<div style="display:inline-block;margin-top:10px;">7.2 &times; 0.5</div>
			<br>
			<div style="display:inline-block;margin-top:10px;width:50px;"></div>
			<div style="display:inline-block;margin-top:10px;">&nbsp; = &nbsp;</div>
			<div style="display:inline-block;margin-top:10px;">3.6 km</div>
        </div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

