<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">6.2 Types of Speed and Unit Conversions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:50%;">6.2 Types of Speed and Unit Conversions</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Advanced</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">A cab driver covered a journey of 60 km at an average speed of 50 km/h. He drove the first half of the journey at an average speed of 60 km/h. What was his average speed for the second half of the journey, correct to 2 decimal places?</div>
		</div>
		<div style="margin-left:60px;margin-top:20px;">Answer:&nbsp;
			{% if SPTUCAdvanced_1_answer_correct is defined %}
				<input id="SPTUCAdvanced_1_answer" value='{{SPTUCAdvanced_1_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> km/h &nbsp;
					{% if SPTUCAdvanced_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not SPTUCAdvanced_1_answer_correct and SPTUCAdvanced_1_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{SPTUCAdvanced_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="SPTUCAdvanced_1_answer" value='{{SPTUCAdvanced_1_answer}}' style="width:50px;" > km/h &nbsp;
			{% endif %}	
		</div>
		<div style="margin-left:20px;margin-top:30px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="margin-top:30px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">A man-made satellite was launched to collect weather related information in a Low Earth Orbit (LEO) at an altitude of 300 km from the surface of the earth. The orbital speed needed to maintain a stable LEO is about 7.8 km/s. If the average radius of the earth is 6371 km, find the time, rounded off to the nearest minute, taken by the satellite to complete one full orbit. Given, &pi; = 3.14</div>
		</div>
		<br>
		<div style="margin-left:60px;margin-top:20px;">Answer:&nbsp;
			{% if SPTUCAdvanced_2_answer_correct is defined %}
				<input id="SPTUCAdvanced_2_answer" value='{{SPTUCAdvanced_2_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> minutes &nbsp;
					{% if SPTUCAdvanced_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not SPTUCAdvanced_2_answer_correct and SPTUCAdvanced_2_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{SPTUCAdvanced_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="SPTUCAdvanced_2_answer" value='{{SPTUCAdvanced_2_answer}}' style="width:50px;" > minutes &nbsp;
			{% endif %}	
		</div>

		{% if SPTUCAdvanced_1_answer_correct is defined %}
			<div style="margin-top:-20px;margin-left:340px;"><button id="SPTUC_Advanced_1_retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:20px;margin-left:280px;"><button id="SPTUC_Advanced_1_submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>
<script>
	$("#SPTUCAdvanced_1_answer").change(function()
	{
		question_id = "SPTUCAdvanced_1";
		question_type = "TypesOfSpeed"
		answer_id = "SPTUCAdvanced_1_answer";
		entered_answer = $("#SPTUCAdvanced_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#SPTUCAdvanced_2_answer").change(function()
			{
				question_id = "SPTUCAdvanced_2";
				question_type = "TypesOfSpeed"
				answer_id = "SPTUCAdvanced_2_answer";
				entered_answer = $("#SPTUCAdvanced_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#SPTUC_Advanced_1_submit").button({label:"Check Answers"});
	$("#SPTUC_Advanced_1_retry").button({label:"Retry"});
	$("#SPTUC_Advanced_1_submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "TypesOfSpeed"
		//getting question id, answer id and entered answer in form of a string
		var answers = "SPTUCAdvanced_1"+"#%$"+"SPTUCAdvanced_1_answer"+"#%$"+$("#SPTUCAdvanced_1_answer").val();
		answers = answers + "#%$"+"SPTUCAdvanced_2"+"#%$"+"SPTUCAdvanced_2_answer"+"#%$"+$("#SPTUCAdvanced_2_answer").val();

		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#SPTUC_Advanced_1_retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "SPTUCAdvanced_1_answer,SPTUCAdvanced_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:550
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


