<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">6.2 Types of Speed and Unit Conversions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:50%;">6.2 Types of Speed and Unit Conversions</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">The speed limit on a road is 60 km/h. Express the speed limit in m/s. Give your answer correct to 2 decimal places.</div>
		</div>
		<div style="margin-left:60px;margin-top:20px;">Answer:&nbsp;
			{% if SPTUCEasy_4_answer_correct is defined %}
				<input id="SPTUCEasy_4_answer" value='{{SPTUCEasy_4_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> m/s &nbsp;
					{% if SPTUCEasy_4_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not SPTUCEasy_4_answer_correct and SPTUCEasy_4_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{SPTUCEasy_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="SPTUCEasy_4_answer" value='{{SPTUCEasy_4_answer}}' style="width:50px;" > m/s &nbsp;
			{% endif %}	
		</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">5)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">The preferred walking speed of humans is 1.4 m/s. Express this speed in km/h.</div>
		</div>
		<div style="margin-left:60px;margin-top:20px;">Answer:&nbsp;
			{% if SPTUCEasy_5_answer_correct is defined %}
				<input id="SPTUCEasy_5_answer" value='{{SPTUCEasy_5_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> km/h &nbsp;
					{% if SPTUCEasy_5_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not SPTUCEasy_5_answer_correct and SPTUCEasy_5_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{SPTUCEasy_5_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="SPTUCEasy_5_answer" value='{{SPTUCEasy_5_answer}}' style="width:50px;" > km/h &nbsp;
			{% endif %}	
		</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">6)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;">A child walks at a speed of 1</div>
			<div style="width:20px;display:inline-block;vertical-align:top;margin-left:-2px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;">6<br></p>
			</div>			
			<div style="display:inline-block;">m/s. Express the speed</div>
			<div> of the child in km/h.</div>			
		</div>
		<div style="margin-left:60px;margin-top:20px;">Answer:&nbsp;
			{% if SPTUCEasy_6_answer_correct is defined %}
				<input id="SPTUCEasy_6_answer" value='{{SPTUCEasy_6_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> km/h &nbsp;
					{% if SPTUCEasy_6_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not SPTUCEasy_6_answer_correct and SPTUCEasy_6_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{SPTUCEasy_6_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="SPTUCEasy_6_answer" value='{{SPTUCEasy_6_answer}}' style="width:50px;" > km/h &nbsp;
			{% endif %}	
		</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">7)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Olivia runs 675 m in 2 min 15 seconds. Find her average speed in m/s.</div>
		</div>
		<div style="margin-left:60px;margin-top:20px;">Answer:&nbsp;
			{% if SPTUCEasy_7_answer_correct is defined %}
				<input id="SPTUCEasy_7_answer" value='{{SPTUCEasy_7_answer}}' readonly style="width:50px;background-color:#DFDFDF;"> m/s &nbsp;
					{% if SPTUCEasy_7_answer_correct %}
						<img src="/images/g7_correct.png">
					{% elif not SPTUCEasy_7_answer_correct and SPTUCEasy_7_answer_correct is defined %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{SPTUCEasy_7_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
			{% else %}
				<input id="SPTUCEasy_7_answer" value='{{SPTUCEasy_7_answer}}' style="width:50px;" > m/s &nbsp;
			{% endif %}	
		</div>


		{% if SPTUCEasy_4_answer_correct is defined %}
			<div style="margin-top:-40px;margin-left:320px;"><button id="SPTUC_Easy_2_retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:0px;margin-left:280px;"><button id="SPTUC_Easy_2_submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>
<script>
	$("#SPTUCEasy_4_answer").change(function()
	{
		question_id = "SPTUCEasy_4";
		question_type = "TypesOfSpeed"
		answer_id = "SPTUCEasy_4_answer";
		entered_answer = $("#SPTUCEasy_4_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#SPTUCEasy_5_answer").change(function()
			{
				question_id = "SPTUCEasy_5";
				question_type = "TypesOfSpeed"
				answer_id = "SPTUCEasy_5_answer";
				entered_answer = $("#SPTUCEasy_5_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#SPTUCEasy_6_answer").change(function()
			{
				question_id = "SPTUCEasy_6";
				question_type = "TypesOfSpeed"
				answer_id = "SPTUCEasy_6_answer";
				entered_answer = $("#SPTUCEasy_6_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#SPTUCEasy_7_answer").change(function()
			{
				question_id = "SPTUCEasy_7";
				question_type = "TypesOfSpeed"
				answer_id = "SPTUCEasy_7_answer";
				entered_answer = $("#SPTUCEasy_7_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#SPTUC_Easy_2_submit").button({label:"Check Answers"});
	$("#SPTUC_Easy_2_retry").button({label:"Retry"});
	$("#SPTUC_Easy_2_submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "TypesOfSpeed"
		//getting question id, answer id and entered answer in form of a string
		var answers = "SPTUCEasy_4"+"#%$"+"SPTUCEasy_4_answer"+"#%$"+$("#SPTUCEasy_4_answer").val();
		answers = answers + "#%$"+"SPTUCEasy_5"+"#%$"+"SPTUCEasy_5_answer"+"#%$"+$("#SPTUCEasy_5_answer").val();
		answers = answers + "#%$"+"SPTUCEasy_6"+"#%$"+"SPTUCEasy_6_answer"+"#%$"+$("#SPTUCEasy_6_answer").val();
		answers = answers + "#%$"+"SPTUCEasy_7"+"#%$"+"SPTUCEasy_7_answer"+"#%$"+$("#SPTUCEasy_7_answer").val();


		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#SPTUC_Easy_2_retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "SPTUCEasy_4_answer,SPTUCEasy_5_answer,SPTUCEasy_6_answer,SPTUCEasy_7_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


