<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">6.2 Types of Speed and Unit Conversions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:50%;">6.2 Types of Speed and Unit Conversions</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="display:inline-block;margin-top:10px;width:170px;">
			<div style="display:inline-block;margin-top:10px;margin-left:10px;">= &nbsp; (90 &times; 5) &divide; 18 m/s</div>
			<br>
			<div style="display:inline-block;margin-top:10px;margin-left:10px;">= &nbsp; 25 m/s</div>
		</div>
		<div class="grade7YellowSideBox" style="display:inline-block;margin-top:10px;width:200px;margin-left:10px;vertical-align:top;"><strong>Tip:</strong>
			<br>
			<div style="display:inline-block;width:40px;">1 km/h</div>
			<div style="display:inline-block;">&nbsp; = &nbsp;</div>	
			<div style="width:50px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">1000<br>____<br></p>
				<p style="line-height:20%;text-align:center;">60<br></p>
			</div>			
			<div style="display:inline-block;">m/min</div>	
			<br>
			<div style="display:inline-block;width:40px;"></div>
			<div style="display:inline-block;">&nbsp; = &nbsp;</div>	
			<div style="width:50px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">1000<br>____<br></p>
				<p style="line-height:20%;text-align:center;">3600<br></p>
			</div>			
			<div style="display:inline-block;">m/s</div>	
			<br>
			<div style="display:inline-block;width:40px;"></div>
			<div style="display:inline-block;">&nbsp; = &nbsp;</div>	
			<div style="width:40px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">5<br>___<br></p>
				<p style="line-height:20%;text-align:center;">18<br></p>
			</div>			
			<div style="display:inline-block;">m/s</div>			
		</div>
		<div style="margin-top:20px;"><strong>Cross check</strong>: If the same car travels a distance of 90 km, what is the time taken by it to reach the destination at:</div>
		<div> a) 90 km/h and b) 25 m/s?</div>
		<div style="display:inline-block;width:15px;margin-top:10px;">a) </div>
		<div style="display:inline-block;width:380px;vertical-align:top;margin-top:10px;">
			<div style="display:inline-block;width:40px;">Time</div>
			<div style="display:inline-block;">&nbsp; = &nbsp;</div>	
			<div style="width:90px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">Distance<br>________<br></p>
				<p style="line-height:20%;text-align:center;">Speed<br></p>
			</div>			
			<br>
			<div style="display:inline-block;width:40px;"></div>
			<div style="display:inline-block;">&nbsp; = &nbsp;</div>	
			<div style="width:80px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">90 km<br>_______<br></p>
				<p style="line-height:20%;text-align:center;">90 km/h<br></p>
			</div>			
			<div style="display:inline-block;">&nbsp; = &nbsp;</div>	
			<div style="display:inline-block;">1 hour</div>
		</div>
		<br>
		<div style="display:inline-block;width:15px;margin-top:10px;">b) </div>
		<div style="display:inline-block;width:380px;vertical-align:top;margin-top:10px;">
			<div style="display:inline-block;width:40px;">Time</div>
			<div style="display:inline-block;">&nbsp; = &nbsp;</div>	
			<div style="width:80px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">90 km<br>_______<br></p>
				<p style="line-height:20%;text-align:center;">25 m/s<br></p>
			</div>			
			<br>
			<div style="display:inline-block;width:40px;"></div>
			<div style="display:inline-block;">&nbsp; = &nbsp;</div>	
			<div style="width:80px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">90000 m<br>_______<br></p>
				<p style="line-height:20%;text-align:center;">25 m/s<br></p>
			</div>			
			<div style="display:inline-block;">&nbsp; = &nbsp;</div>	
			<div style="display:inline-block;">3600 sec</div>
			<div style="display:inline-block;">&nbsp; = &nbsp;</div>	
			<div style="display:inline-block;">1 hour</div>
		</div>
		<div style="margin-top:10px;">It means that the car travels at the same speed, in both cases, to cover a distance of 90 km in 1 hour.</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

