<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">6.2 Types of Speed and Unit Conversions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:50%;">6.2 Types of Speed and Unit Conversions</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 8:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">A man set a record of running 200 m in 20 sec. Express the speed of the man in km/h?</div>	
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 8</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;width:320px;">
			<div style="display:inline-block;width:50px;">Speed</div>
			<div style="display:inline-block;"> = &nbsp;200 &divide; 20 m/s</div>
			<br>
			<div style="display:inline-block;width:50px;"></div>
			<div style="display:inline-block;"> = &nbsp;10 m/s</div>
			<br>
			<div style="display:inline-block;width:50px;"></div>
			<div style="display:inline-block;"> = &nbsp;(10 &divide; 1000) km/s</div>
			<br>
			<div style="display:inline-block;width:50px;"></div>
			<div style="display:inline-block;"> = &nbsp;(10 &times; 3600 ) &divide; 1000 km/h</div>
			<br>
			<div style="display:inline-block;width:50px;"></div>
			<div style="display:inline-block;"> = &nbsp;10 &times;</div>	
			<div style="width:40px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">18<br>___<br></p>
				<p style="line-height:20%;text-align:center;">5<br></p>
			</div>			
			<div style="display:inline-block;">km/h</div>			
			<br>
			<div style="display:inline-block;width:50px;"></div>
			<div style="display:inline-block;"> = &nbsp;36 km/h</div>
			<div class="grade7YellowSideBox" style="display:inline-block;margin-left:20px;">	
				<div style="display:inline-block;"><strong>Tip:</strong></div>
				<div style="display:inline-block;width:50px;">1 m/s &nbsp;= </div>
				<div style="width:20px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-10px;">
					<p style="line-height:20%;text-align:center;">18<br>___<br></p>
					<p style="line-height:20%;text-align:center;">5<br></p>
				</div>
				<div style="display:inline-block;"> &nbsp;km/h</div>
			</div>							
        </div>
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 9:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">Convert 54 km/h to m/s.</div>	
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 9</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;width:320px;">
			<div style="display:inline-block;width:50px;">Speed</div>
			<div style="display:inline-block;"> = &nbsp;54 km/h</div>
			<br>
			<div style="display:inline-block;width:50px;"></div>
			<div style="display:inline-block;"> = &nbsp;54 &times;</div>	
			<div style="width:40px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">5<br>___<br></p>
				<p style="line-height:20%;text-align:center;">18<br></p>
			</div>			
			<div style="display:inline-block;">m/s</div>			
			<br>
			<div style="display:inline-block;width:50px;"></div>
			<div style="display:inline-block;"> = &nbsp;15 m/s</div>
			
		</div>
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 10:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">Convert 50 m/s to km/h.</div>	
		<div style="margin-top:10px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 10</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:10px;width:320px;">
			<div style="display:inline-block;width:50px;">Speed</div>
			<div style="display:inline-block;"> = &nbsp;50 m/s</div>
			<br>
			<div style="display:inline-block;width:50px;"></div>
			<div style="display:inline-block;"> = &nbsp;50 &times;</div>	
			<div style="width:40px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">18<br>___<br></p>
				<p style="line-height:20%;text-align:center;">5<br></p>
			</div>			
			<div style="display:inline-block;">km/h</div>			
			<br>
			<div style="display:inline-block;width:50px;"></div>
			<div style="display:inline-block;"> = &nbsp;180 km/h</div>
			
		</div>

	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

