<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">6.2 Types of Speed and Unit Conversions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:50%;">6.2 Types of Speed and Unit Conversions</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;text-align:right;">b)&nbsp;</div>
		<div style="display:inline-block;vertical-align:top;margin-top:20px;width:320px;">
			<div style="display:inline-block;width:210px;">Time taken for return journey </div>
			<div style="display:inline-block;">= 100 &divide; 60</div>
			<br>
			<div style="display:inline-block;width:210px;"></div>
			<div style="display:inline-block;">= 1.67 h</div>
			<br>
			<div style="display:inline-block;width:120px;margin-top:10px;">Total time taken</div>
			<div style="display:inline-block;margin-top:10px;">= 2.5 h + 1.67 h</div>
			<br>
			<div style="display:inline-block;width:120px;"></div>
			<div style="display:inline-block;">= 4.17 h</div>
			<div style="margin-top:10px;">Average Speed for the whole journey</div>
			<div style="display:inline-block;margin-top:20px;"> = &nbsp;</div>
			<div style="width:180px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:10px;">
				<p style="line-height:20%;text-align:center;">Total distance travelled<br>___________________<br></p>
				<p style="line-height:20%;text-align:center;">Total time taken<br></p>
			</div>			
			<br>
			<div style="display:inline-block;margin-top:10px;"> = &nbsp;</div>
			<div style="width:50px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;">200<br>____<br></p>
				<p style="line-height:20%;text-align:center;">4.17<br></p>
			</div>
			<div style="display:inline-block;margin-top:10px;"> = &nbsp;47.96 km/h</div>												
        </div>
		<div class="grade7OrangeSideBox" style="width:420px;margin-top:10px;margin-left:10px;">
			<strong>Do note...</strong>
			<div style="margin-top:10px;">From parts (a) and (b), we can conclude that average speed of the whole journey is NOT the same as the average of the given speeds</div>
		</div>	      		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

