<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">6.2 Types of Speed and Unit Conversions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:50%;">6.2 Types of Speed and Unit Conversions</div>
	{% endif %}
	<div class="grade7TopicName">6.2 Types of Speed and Unit Conversions</div>
	<div class="grade7PageMargin">
		<div class="grade7SubTopicName" style="margin-top:15px;">6.2.1 Uniform Speed and Average Speed</div>
		<div style="margin-top:10px;">The examples in the previous section assume that the objects are moving at the same speed throughout their course of motion. The objects are said to move at a <strong>constant speed</strong> or <strong>uniform Speed</strong>. It means that the speed neither increases nor decreases; rather it is consistent over time.
				It is, however, not always possible for a moving object like car, train, aeroplane, person or animal to maintain a constant speed throughout its course of motion. In reality, an object is said to move at an <strong>average speed</strong>. Average speed is a measure of the distance travelled in a given period of time.
		</div>
		<br>
		<div class="grade7BlueSideBox" style="width:320px;margin-top:0px;margin-left:50px;">
			<div style="display:inline-block;vertical-align:top;width:100px;margin-top:10px;margin-left:10px;">Average Speed</div>
			<div style="display:inline-block;margin-top:10px;"> = &nbsp;</div>
			<div style="width:180px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:5px;">
				<p style="line-height:20%;text-align:center;">Total distance travelled<br>___________________<br></p>
				<p style="line-height:20%;text-align:center;">Total time taken<br></p>
			</div>	
		</div>
		<div class="grade7OrangeSideBox" style="margin-top:10px;"><strong>Do note...</strong>
			<div>
				There is also a third type of speed called Instantaneous speed. It is speed at a particular instant in time. Example - Speedometer reading of a car gives this value.
			</div>
		</div>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

