<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">6.2 Types of Speed and Unit Conversions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:50%;">6.2 Types of Speed and Unit Conversions</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 5:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">The following diagram shows the speed and time a train takes to travel from A to C via B.</div>
		<div style="margin-top:10px;margin-left:100px;"><img src="/images/Grade7/G7_SP_TSUC_Eg_5.png"></div>
		<br>
		<div style="margin-top:20px;width:100px;display:inline-block;text-align:right;">a)</div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">Find the average of the two speeds at which the train travels.</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;text-align:right;">b)</div>
		<div style="margin-top:10px;display:inline-block;width:320px;vertical-align:top;">Find the average speed of the train for the whole journey.</div>
		
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 5</font>a)</div>
		<div style="display:inline-block;vertical-align:top;margin-top:20px;width:320px;">
			<div style="display:inline-block;">Average of the two speeds</div>
			<div style="display:inline-block;">&nbsp; = &nbsp; (60 + 85) &divide; 2</div>
			<br>
			<div style="display:inline-block;width:180px;"></div>
			<div style="display:inline-block;">&nbsp; = &nbsp; 72.5 km/h</div>	
			<br>			
        </div>
		<div style="margin-top:20px;width:100px;display:inline-block;text-align:right;">b)&nbsp;</div>
		<div style="display:inline-block;vertical-align:top;margin-top:20px;width:320px;">
			<div style="display:inline-block;margin-top:0px;width:110px;">Average Speed</div>
			<div style="display:inline-block;margin-top:0px;"> = &nbsp;</div>
			<div style="width:140px;display:inline-block;vertical-align:top;margin-left:-5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">Total distance <br>_____________<br></p>
				<p style="line-height:20%;text-align:center;">Total time taken<br></p>
			</div>			
			<br>
			<div style="display:inline-block;margin-top:10px;width:150px;">Distance from A to B</div>
			<div style="display:inline-block;margin-top:10px;">&nbsp; = &nbsp; 3 &times; 60</div>
			<br>
			<div style="display:inline-block;margin-top:10px;width:150px;"></div>
			<div style="display:inline-block;margin-top:10px;">&nbsp; = &nbsp; 180 km</div>
			<br>									
        </div>	        		      		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

