<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">6.2 Types of Speed and Unit Conversions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:50%;">6.2 Types of Speed and Unit Conversions</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div class="grade7SubTopicName" style="margin-top:15px;">6.2.2 Unit Conversion</div>
		<div style="margin-top:10px;">
			The common units of speed are km/h (kilometers per hour) and m/s (metres per second). In general, speeds of objects that move fast and cover long distances, such as cars, are measured in km/h. On the other hand, when the movement is slow and the distance covered is short, such as the speed at which a person walks, we measure the speed in m/s. A more uncommon unit of speed, cm/s, is used for very slow moving objects which cover very small distances. Can you think of any such object?		
		</div>
		<div class="grade7OrangeSideBox" style="margin-top:10px;width:360px;"><strong>Interesting fact</strong>
			<div>
				Light travels at a speed of 299 792 458 m/s ~ 2.9 &times; 10<sup>8</sup> m/s.
			</div>
		</div>
		<div style="margin-top:10px;">To compare the speeds measured in different units, we need to convert them from one unit to the other. The following examples explain how to do that.</div>
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 7:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">A car is moving at a speed of 90 km/h. What is its speed in m/s?</div>	
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 7</font></div>
		<div style="display:inline-block;vertical-align:top;margin-top:20px;width:320px;">
				<div style="display:inline-block;width:113px;">Speed of the car</div>
				<div style="display:inline-block;"> = 90 km/h</div>
				<br>
				<div style="display:inline-block;width:113px;"></div>
				<div style="display:inline-block;"> = 90 &times; 1000 metre/h</div>
				<br>
				<div style="display:inline-block;width:113px;"></div>
				<div style="display:inline-block;"> = (90 &times; 1000) &divide; 3600 m/sec</div>
							
        </div>


	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

