<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#3DD2CD;">6.2 Types of Speed and Unit Conversions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#3DD2CD;margin-left:50%;">6.2 Types of Speed and Unit Conversions</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 4:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">A man drove 100 km at an average speed of 40 km/h. He drove back the same distance at an average speed of 60 km/h.</div>
		<div style="margin-top:10px;margin-left:100px;"><img src="/images/Grade7/G7_SP_TSUC_Eg_4.png"></div>
		<br>
		<div style="margin-top:20px;width:100px;display:inline-block;text-align:right;">a)</div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">Find the average of the speeds 40km/h and 60 km/h.</div>
		<br>
		<div style="margin-top:10px;width:100px;display:inline-block;text-align:right;">b)</div>
		<div style="margin-top:10px;display:inline-block;width:320px;vertical-align:top;">Find the average speed of the car for the whole journey.</div>
		
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleSolution">Solution 4</font>a)</div>
		<div style="display:inline-block;vertical-align:top;margin-top:20px;width:320px;">
				<div style="display:inline-block;width:155px;">Average of the speeds</div>
				<div style="display:inline-block;">&nbsp; = &nbsp; (40 + 60) &divide; 2</div>
				<br>
				<div style="display:inline-block;width:155px;"></div>
				<div style="display:inline-block;">&nbsp; = &nbsp; 50 km/h</div>
        </div>
        <br>
		<div style="margin-top:20px;width:100px;display:inline-block;text-align:right;">b)&nbsp;</div>
		<div style="display:inline-block;vertical-align:top;margin-top:20px;width:320px;">
			<div>Total distance covered &nbsp; = &nbsp; 200 km</div>
			<div style="display:inline-block;width:220px;margin-top:10px;">Time taken for one way journey</div>
			<div style="display:inline-block;margin-top:10px;">= 100 &divide; 40</div>
			<br>
			<div style="display:inline-block;width:220px;"></div>
			<div style="display:inline-block;">= 2.5 h</div>
			<br>
			
        </div>        		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#3DD2CD;color:#fff">{{page_number}}</div>

