<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.3 Evaluating Algebraic Expressions and Formulae</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:40%;">7.3 Evaluating Algebraic Expressions and Formulae</div>
	{% endif %}
	<div class="grade7TopicName">7.3 Evaluating Algebraic Expressions and Formulae</div>
	<div class="grade7PageMargin">
		<div style="margin-top:15px;"><font class="grade7SubTopicName">7.3.1 Evaluation of Algebraic Expressions</font></div>
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 8:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">Given that <font class="grade7Variables">x</font> = 4 and <font class="grade7Variables">y</font> = &minus;5, evaluate each of the following expressions.</div>
		<br>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">a) </div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font><br>___<br></p>
				<p style="line-height:20%;text-align:center;">2<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:7px;">+</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">y</font><br>___<br></p>
				<p style="line-height:20%;text-align:center;">10<br></p>
			</div>
			<div style="margin-top:10px;">b) &nbsp; 3<font class="grade7Variables">x</font> &minus; 2.6<font class="grade7Variables">y</font></div>
		</div>
		<div style="margin-top:20px;"><font class="grade7ExampleSolution">Solution 8:</font></div>
		<div style="margin-top:10px;margin-left:30px;display:inline-block;vertical-align:top;width:15px;">a)</div>
		<div style="margin-top:5px;display:inline-block;vertical-align:top;width:380px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font><br>___<br></p>
				<p style="line-height:20%;text-align:center;">2<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:7px;">+</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">y</font><br>___<br></p>
				<p style="line-height:20%;text-align:center;">10<br></p>
			</div>
			<div><strong>Substitute</strong> the values of <font class="grade7Variables">x</font> and <font class="grade7Variables">y</font> as 4 and &minus;5, respectively, in the above algebraic expression. </div>		
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">x</font><br>___<br></p>
				<p style="line-height:20%;text-align:center;">2<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:17px;">+</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">y</font><br>___<br></p>
				<p style="line-height:20%;text-align:center;">10<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:17px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:5px;">
				<p style="line-height:20%;text-align:center;">4<br>___<br></p>
				<p style="line-height:20%;text-align:center;">2<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:17px;">+</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:5px;">
				<p style="line-height:20%;text-align:center;">&minus;5<br>___<br></p>
				<p style="line-height:20%;text-align:center;">10<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:17px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:5px;">
				<p style="line-height:20%;text-align:center;">3<br>___<br></p>
				<p style="line-height:20%;text-align:center;">2<br></p>
			</div>
			<div class="grade7OrangeSideBox"><strong>Substitution</strong> is the process of replacing variables with numbers to evaluate an algebraic expression.</div>			
		</div>
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

