<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.3 Evaluating Algebraic Expressions and Formulae</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:40%;">7.3 Evaluating Algebraic Expressions and Formulae</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Evaluate each of the following:
			</div>
		</div>
		<div style="margin-left:40px;margin-top:30px;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;width:15px;">a)</div>		
			<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;width:370px;">The sum of the first <font class="grade7Variables">n</font> consecutive integers is given by the formula <font class="grade7Variables">n</font>(<font class="grade7Variables">n</font>+1) &divide; 2. Find the sum of the first 25 positive integers.</div>	
		</div>
		<div style="margin-left:60px;margin-top:20px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if EAEMedium_2_1_answer_correct is defined %}
					<input id="EAEMedium_2_1_answer" value='{{EAEMedium_2_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
				{% else %}
					<input id="EAEMedium_2_1_answer" value='{{EAEMedium_2_1_answer}}' style="width:30px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if EAEMedium_2_1_answer_correct is defined %}
					{% if EAEMedium_2_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{EAEMedium_2_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:30px;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;width:15px;">b)</div>		
			<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;width:370px;">Find the product of 3 consecutive even integers such that the second number is <font class="grade7Variables">x</font>.</div>		
		</div>
		<div style="margin-left:60px;margin-top:20px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;
				{% if EAEMedium_2_2_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;"><input id="EAEMedium_2_2_answer" value='{{EAEMedium_2_2_answer}}' readonly style="width:20px;background-color:#DFDFDF;text-align:center;" ></div>
					<div style="display:inline-block;margin-top:-14px;margin-left:-5px;vertical-align:top;"><input id="EAEMedium_2_3_answer" value='{{EAEMedium_2_3_answer}}' readonly style="width:20px;background-color:#DFDFDF;text-align:center;" ></div>
					<div style="display:inline-block;margin-left:5px;">&minus;</div>
					<div style="display:inline-block;margin-left:5px;"><input id="EAEMedium_2_4_answer" value='{{EAEMedium_2_4_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;" ></div>
				{% else %}
					<div style="display:inline-block;vertical-align:top;"><input id="EAEMedium_2_2_answer" value='{{EAEMedium_2_2_answer}}' style="width:20px;text-align:center;" ></div>
					<div style="display:inline-block;margin-top:-14px;margin-left:-5px;vertical-align:top;"><input id="EAEMedium_2_3_answer" value='{{EAEMedium_2_3_answer}}' style="width:20px;text-align:center;" ></div>
					<div style="display:inline-block;margin-left:5px;">&minus;</div>
					<div style="display:inline-block;margin-left:5px;"><input id="EAEMedium_2_4_answer" value='{{EAEMedium_2_4_answer}}' style="width:30px;text-align:center;" ></div>
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if EAEMedium_2_2_answer_correct is defined %}
					{% if EAEMedium_2_2_answer_correct and EAEMedium_2_3_answer_correct and EAEMedium_2_4_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{EAEMedium_2_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>


		{% if EAEMedium_2_1_answer_correct is defined %}
			<div style="margin-top:30px;margin-left:340px;"><button id="EAEMedium_2_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="EAEMedium_2_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>
<script>
	$("#EAEMedium_2_1_answer").change(function()
	{
		question_id = "EAEMedium_2";
		question_type = "AlgebraicExpressions"
		answer_id = "EAEMedium_2_1_answer";
		entered_answer = $("#EAEMedium_2_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#EAEMedium_2_2_answer").change(function()
			{
				question_id = "EAEMedium_2";
				question_type = "AlgebraicExpressions"
				answer_id = "EAEMedium_2_2_answer";
				entered_answer = $("#EAEMedium_2_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#EAEMedium_2_3_answer").change(function()
			{
				question_id = "EAEMedium_2";
				question_type = "AlgebraicExpressions"
				answer_id = "EAEMedium_2_3_answer";
				entered_answer = $("#EAEMedium_2_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#EAEMedium_2_4_answer").change(function()
			{
				question_id = "EAEMedium_2";
				question_type = "AlgebraicExpressions"
				answer_id = "EAEMedium_2_4_answer";
				entered_answer = $("#EAEMedium_2_4_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#EAEMedium_2_Submit").button({label:"Check Answers"});
	$("#EAEMedium_2_Retry").button({label:"Retry"});
	$("#EAEMedium_2_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "AlgebraicExpressions"
		//getting question id, answer id and entered answer in form of a string
		var answers = "EAEMedium_2"+"#%$"+"EAEMedium_2_1_answer"+"#%$"+$("#EAEMedium_2_1_answer").val();
		answers = answers + "#%$"+"EAEMedium_2"+"#%$"+"EAEMedium_2_2_answer"+"#%$"+$("#EAEMedium_2_2_answer").val();
		answers = answers + "#%$"+"EAEMedium_2"+"#%$"+"EAEMedium_2_3_answer"+"#%$"+$("#EAEMedium_2_3_answer").val();
		answers = answers + "#%$"+"EAEMedium_2"+"#%$"+"EAEMedium_2_4_answer"+"#%$"+$("#EAEMedium_2_4_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#EAEMedium_2_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "EAEMedium_2_1_answer,EAEMedium_2_2_answer,EAEMedium_2_3_answer,";
		answer_ids = answer_ids + "EAEMedium_2_4_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


