<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.3 Evaluating Algebraic Expressions and Formulae</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:40%;">7.3 Evaluating Algebraic Expressions and Formulae</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 10:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">The average, A of 3 numbers a, b and c is given by the formula A = (a + b + c) &divide; 3. If a = 15, b = 20 and c = 13, find their average.</div>
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 10:</font> A = (a + b + c) &divide; 3</div>
		<div style="margin-top:10px;margin-left:30px;">
			<div>Substituting the variables by their values in the above formula, we get</div>
			<div style="display:inline-block;width:15px;margin-top:10px;">A</div> 	
			<div style="display:inline-block;margin-top:10px;">= (15 + 20 + 13) &divide; 3</div>
			<br>
			<div style="display:inline-block;width:15px;margin-top:10px;"></div> 	
			<div style="display:inline-block;margin-top:10px;">= 48 &divide; 3 = 16</div>
			<div style="margin-top:10px;">&there4; Their average is 16.</div>		
		</div>
		<div style="margin-top:25px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 11:</font></div>
		<div style="margin-top:25px;display:inline-block;width:310px;vertical-align:top;">The circumference, C metres, of a circular field of radius, r metres, is given by the formula C = 2&pi;r. Find the circumference of a circular field of radius 35 m.</div>
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 11:</font> C = 2&pi;r</div>
		<div style="margin-top:10px;margin-left:30px;">
			<div>When r = 35,</div>	
			<div style="margin-top:10px;">C = 2&pi;(35) = 70&pi;</div>
			<div style="margin-top:10px;">&there4; The circumference of the circular field is 70&pi; m.</div>
		
		</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

