<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.3 Evaluating Algebraic Expressions and Formulae</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:40%;">7.3 Evaluating Algebraic Expressions and Formulae</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;"><font class="grade7ExampleSolution">Solution 9 (contd.):</font></div>
		<div style="margin-top:20px;margin-left:30px;display:inline-block;vertical-align:top;width:15px;">b)</div>
		<div style="margin-top:20px;display:inline-block;vertical-align:top;width:380px;">
			<div>Substituting the value of <font class="grade7Variables">x</font> = 15, we get</div>
			<div style="margin-top:10px;">p = $6.50 + $0.03 &times; 15 = $6.95</div>
			<div style="margin-top:10px;">&there4; She had $6.95 at first.</div>
		</div>
		<div style="margin-top:25px;"><font class="grade7SubTopicName">7.3.2 Formulae</font></div>
		<p><strong>Formulae</strong> (the plural of formula) is the way of representing mathematical relationship between 2 or more variables.</p> 
		<p>We have learnt that the average of 3 numbers is given by</p>
		<p>Average = (Sum of 3 numbers) &divide; 3</p>
		<p>Let <font class="grade7Variables">x</font>, <font class="grade7Variables">y</font> and <font class="grade7Variables">z</font> be the 3 numbers, and let A be the average of 3 numbers, then their relationship can be expressed as:</p>
		<p><font class="grade7Variables">A</font> = (<font class="grade7Variables">x</font> + <font class="grade7Variables">y</font> + <font class="grade7Variables">z</font>) &divide; 3</p>
		<p>The above relationship among the variables <font class="grade7Variables">A</font>, <font class="grade7Variables">x</font>, <font class="grade7Variables">y</font> and <font class="grade7Variables">z</font> is called a formula. To find the value of <font class="grade7Variables">A</font>, we substitute the values of <font class="grade7Variables">x</font>, <font class="grade7Variables">y</font>, and <font class="grade7Variables">z</font> in the formula.</p>
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

