<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.2 Interpreting Algebraic Notations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:50%;">7.2 Interpreting Algebraic Notations</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 7:</font>(contd.)</div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">Simplify each of the following:</div>
		<div style="margin-top:10px;margin-left:30px;">c)	2<font class="grade7Variables">y</font> &times; <font class="grade7Variables">y</font> &times; 3<font class="grade7Variables">z</font> &times; <font class="grade7Variables">z</font><sup>2</sup></div>
		<div style="margin-top:20px;"><font class="grade7ExampleSolution">Solution 7:</font></div>
		<div style="margin-top:10px;margin-left:30px;display:inline-block;width:15px;vertical-align:top;">a)</div>
		<div style="margin-top:10px;margin-left:0px;display:inline-block;width:360px;">
			<div style="margin-top:0px;"><font class="grade7Variables">r</font> &times; <font class="grade7Variables">r</font> &times; 3 &times; <font class="grade7Variables">s</font> &times; <font class="grade7Variables">t</font></div>
			<div style="margin-top:10px;">= <font class="grade7Variables">r</font><sup>2</sup>  &times; 3 &times; <font class="grade7Variables">st</font></div>
			<div style="margin-top:10px;">= 3<font class="grade7Variables">r</font><sup>2</sup><font class="grade7Variables">st</font></div>
		</div>
		<div style="margin-top:10px;margin-left:30px;display:inline-block;width:15px;vertical-align:top;">b)</div>
		<div style="margin-top:10px;margin-left:0px;display:inline-block;width:360px;">
			<div style="margin-top:0px;">7<font class="grade7Variables">p</font> &divide; <font class="grade7Variables">q</font> &times; 3</div>
			<div style="display:inline-block;vertical-align:top;margin-top:13px;margin-left:0px;">= 7<font class="grade7Variables">p</font> &times;</div>
			<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-0px;">
				<p style="line-height:20%;text-align:center;">1<br>__<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">q</font><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:13px;margin-left:3px;">&times; 3</div>
			<br>
			<div style="display:inline-block;vertical-align:top;margin-top:13px;margin-left:0px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-0px;">
				<p style="line-height:20%;text-align:center;">(7<font class="grade7Variables">p</font> &times; 1 &times; 3)<br>_________<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">q</font><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-top:13px;margin-left:5px;">=</div>
			<div style="display:inline-block;vertical-align:top;margin-left:4px;margin-top:-0px;">
				<p style="line-height:20%;text-align:center;">21<font class="grade7Variables">p</font><br>___<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">q</font><br></p>
			</div>			
		</div>
		<div style="margin-top:10px;margin-left:30px;display:inline-block;width:15px;vertical-align:top;">c)</div>
		<div style="margin-top:10px;margin-left:0px;display:inline-block;width:360px;">
			<div style="margin-top:-4px;">2<font class="grade7Variables">y</font> &times; <font class="grade7Variables">y</font> &times; 3<font class="grade7Variables">z</font> &times; <font class="grade7Variables">z</font><sup>2</sup></div>
			<div style="margin-top:10px;">= (2<font class="grade7Variables">y</font><sup>2</sup>) &times; (3<font class="grade7Variables">z</font><sup>3</sup>)</div>
			<div style="margin-top:10px;">= 6<font class="grade7Variables">y</font><sup>2</sup><font class="grade7Variables">z</font><sup>3</sup></div>
		</div>			
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

