<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.2 Interpreting Algebraic Notations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:50%;">7.2 Interpreting Algebraic Notations</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;">The table below shows some algebraic notations and their meanings.</div>
		<table style="border-collapse:collapse;margin-top:20px;">
			<tr style="background-color:#FFC000;"><th style="border:1px solid black;">Algebraic Notation</th><th style="border:1px solid black;">Meaning</th></tr>
			<tr>
				<td style="border:1px solid black;"><font class="grade7Variables">p</font> + <font class="grade7Variables">q</font> = <font class="grade7Variables">q</font> + <font class="grade7Variables">p</font> = <font class="grade7Variables">r</font></td>
				<td style="border:1px solid black;text-align:left;">The sum of <font class="grade7Variables">p</font> and <font class="grade7Variables">q</font> (or <font class="grade7Variables">q</font> and <font class="grade7Variables">p</font>) is <font class="grade7Variables">r</font>.</td>
			</tr>
			<tr>
				<td style="border:1px solid black;"><font class="grade7Variables">p</font> &minus; <font class="grade7Variables">q</font> = <font class="grade7Variables">r</font></td>
				<td style="border:1px solid black;text-align:left;">The difference between <font class="grade7Variables">p</font> and <font class="grade7Variables">q</font> is <font class="grade7Variables">r</font>.</td>
			</tr>
			<tr>
				<td style="border:1px solid black;"><font class="grade7Variables">p</font> &times; <font class="grade7Variables">q</font> = <font class="grade7Variables">q</font> &times; <font class="grade7Variables">p</font> = <font class="grade7Variables">r</font><div style="text-align:left;">Usually, this is written as <font class="grade7Variables">p</font><font class="grade7Variables">q</font> = <font class="grade7Variables">q</font><font class="grade7Variables">p</font> = <font class="grade7Variables">r</font></div></td>
				<td style="border:1px solid black;text-align:left;">The product of <font class="grade7Variables">p</font> and <font class="grade7Variables">q</font> (or <font class="grade7Variables">q</font> and <font class="grade7Variables">p</font>) is <font class="grade7Variables">r</font>.</td>
			</tr>
			<tr>
				<td style="border:1px solid black;"><font class="grade7Variables">p</font> &times; <font class="grade7Variables">p</font> = <font class="grade7Variables">p</font><sup>2</sup><div><font class="grade7Variables">p</font> &times; <font class="grade7Variables">p</font> &times; <font class="grade7Variables">p</font> = <font class="grade7Variables">p</font><sup>3</sup></div></td>
				<td style="border:1px solid black;text-align:left;">The square of <font class="grade7Variables">p</font> is <font class="grade7Variables">p</font><sup>2</sup>.<div>The cube of <font class="grade7Variables">p</font> is <font class="grade7Variables">p</font><sup>3</sup>.</div>
				</td>
			</tr>
			<tr>
				<td style="border:1px solid black;width:180px;">
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:0px;"><font class="grade7Variables">p</font> &divide; <font class="grade7Variables">q</font> = <font class="grade7Variables">p</font> &times;</div>		
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-10px;">
						<p style="line-height:20%;text-align:center;">1<br>__<br></p>
						<p style="line-height:20%;text-align:center;"><font class="grade7Variables">q</font><br></p>
					</div>
					<div style="display:inline-block;vertical-align:top;margin-top:0px;margin-left:3px;">= <font class="grade7Variables">r</font></div>
					<br>
					<div style="text-align:left;">Usually, this is written as</div>		
					<div style="display:inline-block;vertical-align:top;margin-left:2px;margin-top:-5px;text-align:left;">
						<p style="line-height:20%;text-align:center;"><font class="grade7Variables">p</font><br>__<br></p>
						<p style="line-height:20%;text-align:center;"><font class="grade7Variables">q</font><br></p>
					</div>
					<div style="display:inline-block;vertical-align:top;margin-top:8px;margin-left:3px;text-align:left;">= <font class="grade7Variables">r</font></div>					
				</td>
				<td style="border:1px solid black;text-align:left;">The quotient of <font class="grade7Variables">p</font> when divided by <font class="grade7Variables">q</font> is <font class="grade7Variables">r</font>. where <font class="grade7Variables">q</font> &#8800; 0.</td>
			</tr>												
		</table>
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

