<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.2 Interpreting Algebraic Notations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:50%;">7.2 Interpreting Algebraic Notations</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;margin-left:30px;">b) Height after a gain of 10 cm = 151 + 10 = 161 cm</div>
		<div style="margin-top:10px;margin-left:30px;">c) Height after a gain of <font class="grade7Variables">x</font> cm = (151 + <font class="grade7Variables">x</font>) cm</div>
		<div style="margin-top:10px;width:360px;margin-left:20px;" class="grade7BlueSideBox">Here, 151 + <font class="grade7Variables">x</font> or <font class="grade7Variables">x</font> + 151 is an algebraic expression in terms of x.</div>
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 5:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">Jessie is selling burgers and hot dogs at a carnival. The price of a burger is $3 and the price of a hot dog is $1. Find the total price of</div>
		<div style="margin-top:10px;margin-left:30px;">a) 2 burgers and 5 hot dogs</div>
		<div style="margin-top:10px;margin-left:30px;">b) <font class="grade7Variables">p</font> burgers and 4 hot dogs</div>
		<div style="margin-top:10px;margin-left:30px;">c) <font class="grade7Variables">m</font> burgers and <font class="grade7Variables">n</font> hot dogs</div>
		
		<div style="margin-top:20px;"><font class="grade7ExampleSolution">Solution 5:</font></div>
		<div style="margin-top:10px;margin-left:30px;display:inline-block;width:15px;vertical-align:top;">a)</div>
		<div style="margin-top:10px;display:inline-block;width:310px;">
			<div style="display:inline-block;width:130px;">Price of 2 burgers</div>
			<div style="display:inline-block;">= $3 &times; 2</div>
			<br>
			<div style="display:inline-block;width:130px;">Price of 5 hot dogs</div>
			<div style="display:inline-block;">= $1 &times; 5</div>
			<br>
			<div style="display:inline-block;width:130px;">&there4; Total price</div>
			<div style="display:inline-block;">= $(3 &times; 2 + 1 &times; 5)</div>						
			<br>
			<div style="display:inline-block;width:130px;"></div>
			<div style="display:inline-block;">= $11</div>	
		</div>
		
		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

