<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.2 Interpreting Algebraic Notations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:50%;">7.2 Interpreting Algebraic Notations</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Medium</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			The monthly salary of Roy is $100 less than two-thirds of the monthly salary of Karl. The monthly expenditure of Karl is three-quarters that of Roy. The monthly expenditure of Roy is $3016. If the monthly salary of Karl is $<font class="grade7Variables">x</font>, express the following in terms of <font class="grade7Variables">x</font>:
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:20px;">a) Monthly salary of Roy = $</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				{% if IANMedium_1_1_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="IANMedium_1_1_answer" value='{{IANMedium_1_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br>______<br></p>
						<p style="line-height:20%;text-align:center;"><input id="IANMedium_1_2_answer" value='{{IANMedium_1_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br></p>
					</div>
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:30px;">&minus; <input id="IANMedium_1_3_answer" value='{{IANMedium_1_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;"></div>
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="IANMedium_1_1_answer" value='{{IANMedium_1_1_answer}}' style="width:30px;text-align:center;" ><br>______<br></p>
						<p style="line-height:20%;text-align:center;"><input id="IANMedium_1_2_answer" value='{{IANMedium_1_2_answer}}' style="width:30px;text-align:center;" ><br></p>
					</div>
					<div style="display:inline-block;vertical-align:top;margin-left:8px;margin-top:35px;">&minus; &nbsp;&nbsp;<input id="IANMedium_1_3_answer" value='{{IANMedium_1_3_answer}}' style="width:30px;"></div>
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if IANMedium_1_1_answer_correct is defined or IANMedium_1_2_answer_correct is defined or IANMedium_1_3_answer_correct is defined %}
					{% if IANMedium_1_1_answer_correct and IANMedium_1_2_answer_correct and IANMedium_1_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{IANMedium_1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">b) Monthly savings of Karl = $</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">
				{% if IANMedium_1_1_answer_correct is defined %}
					<input id="IANMedium_1_4_answer" value='{{IANMedium_1_4_answer}}' readonly style="width:60px;background-color:#DFDFDF;">
				{% else %}
					<input id="IANMedium_1_4_answer" value='{{IANMedium_1_4_answer}}' style="width:60px;">
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if IANMedium_1_4_answer_correct is defined %}
					{% if IANMedium_1_4_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{IANMedium_1_4_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:30px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:20px;">c) Monthly savings of Roy = $</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				{% if IANMedium_1_1_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="IANMedium_1_5_answer" value='{{IANMedium_1_5_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br>______<br></p>
						<p style="line-height:20%;text-align:center;"><input id="IANMedium_1_6_answer" value='{{IANMedium_1_6_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br></p>
					</div>
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:30px;">&minus; <input id="IANMedium_1_7_answer" value='{{IANMedium_1_7_answer}}' readonly style="width:40px;background-color:#DFDFDF;"></div>
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="IANMedium_1_5_answer" value='{{IANMedium_1_5_answer}}' style="width:30px;text-align:center;" ><br>______<br></p>
						<p style="line-height:20%;text-align:center;"><input id="IANMedium_1_6_answer" value='{{IANMedium_1_6_answer}}' style="width:30px;text-align:center;" ><br></p>
					</div>
					<div style="display:inline-block;vertical-align:top;margin-left:8px;margin-top:35px;">&minus; &nbsp;&nbsp;<input id="IANMedium_1_7_answer" value='{{IANMedium_1_7_answer}}' style="width:40px;"></div>
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if IANMedium_1_5_answer_correct is defined or IANMedium_1_6_answer_correct is defined or IANMedium_1_7_answer_correct is defined %}
					{% if IANMedium_1_5_answer_correct and IANMedium_1_6_answer_correct and IANMedium_1_7_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{IANMedium_1_5_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		{% if IANMedium_1_1_answer_correct is defined %}
			<div style="margin-top:20px;margin-left:340px;"><button id="IANMedium_1_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:20px;margin-left:280px;"><button id="IANMedium_1_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>
<script>
	$("#IANMedium_1_1_answer").change(function()
	{
		question_id = "IANMedium_1";
		question_type = "AlgebraicNotations"
		answer_id = "IANMedium_1_1_answer";
		entered_answer = $("#IANMedium_1_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#IANMedium_1_2_answer").change(function()
			{
				question_id = "IANMedium_1";
				question_type = "AlgebraicNotations"
				answer_id = "IANMedium_1_2_answer";
				entered_answer = $("#IANMedium_1_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#IANMedium_1_3_answer").change(function()
			{
				question_id = "IANMedium_1";
				question_type = "AlgebraicNotations"
				answer_id = "IANMedium_1_3_answer";
				entered_answer = $("#IANMedium_1_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#IANMedium_1_4_answer").change(function()
			{
				question_id = "IANMedium_1";
				question_type = "AlgebraicNotations"
				answer_id = "IANMedium_1_4_answer";
				entered_answer = $("#IANMedium_1_4_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#IANMedium_1_5_answer").change(function()
			{
				question_id = "IANMedium_1";
				question_type = "AlgebraicNotations"
				answer_id = "IANMedium_1_5_answer";
				entered_answer = $("#IANMedium_1_5_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#IANMedium_1_6_answer").change(function()
			{
				question_id = "IANMedium_1";
				question_type = "AlgebraicNotations"
				answer_id = "IANMedium_1_6_answer";
				entered_answer = $("#IANMedium_1_6_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#IANMedium_1_7_answer").change(function()
			{
				question_id = "IANMedium_1";
				question_type = "AlgebraicNotations"
				answer_id = "IANMedium_1_7_answer";
				entered_answer = $("#IANMedium_1_7_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});


	$("#IANMedium_1_Submit").button({label:"Check Answers"});
	$("#IANMedium_1_Retry").button({label:"Retry"});
	$("#IANMedium_1_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "AlgebraicNotations"
		//getting question id, answer id and entered answer in form of a string
		var answers = "IANMedium_1"+"#%$"+"IANMedium_1_1_answer"+"#%$"+$("#IANMedium_1_1_answer").val();
		answers = answers + "#%$"+"IANMedium_1"+"#%$"+"IANMedium_1_2_answer"+"#%$"+$("#IANMedium_1_2_answer").val();
		answers = answers + "#%$"+"IANMedium_1"+"#%$"+"IANMedium_1_3_answer"+"#%$"+$("#IANMedium_1_3_answer").val();
		answers = answers + "#%$"+"IANMedium_1"+"#%$"+"IANMedium_1_4_answer"+"#%$"+$("#IANMedium_1_4_answer").val();
		answers = answers + "#%$"+"IANMedium_1"+"#%$"+"IANMedium_1_5_answer"+"#%$"+$("#IANMedium_1_5_answer").val();
		answers = answers + "#%$"+"IANMedium_1"+"#%$"+"IANMedium_1_6_answer"+"#%$"+$("#IANMedium_1_6_answer").val();
		answers = answers + "#%$"+"IANMedium_1"+"#%$"+"IANMedium_1_7_answer"+"#%$"+$("#IANMedium_1_7_answer").val();

		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#IANMedium_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "IANMedium_1_1_answer,IANMedium_1_2_answer,IANMedium_1_3_answer,";
		answer_ids = answer_ids + "IANMedium_1_4_answer,IANMedium_1_5_answer,IANMedium_1_6_answer,IANMedium_1_7_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


