<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.2 Interpreting Algebraic Notations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:50%;">7.2 Interpreting Algebraic Notations</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Advanced</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			A school distributed c packets of sweets among <font class="grade7Variables">d</font> pupils. If each packet contained <font class="grade7Variables">e</font> pieces of sweets,
		</div>
		<div style="margin-left:40px;margin-top:10px;">a) How many sweets did each pupil get?</div>
		<div style="margin-left:60px;margin-top:20px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:20px;">Answer: </div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				{% if IANAdvanced_1_1_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="IANAdvanced_1_1_answer" value='{{IANAdvanced_1_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br>______<br></p>
						<p style="line-height:20%;text-align:center;"><input id="IANAdvanced_1_2_answer" value='{{IANAdvanced_1_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br></p>
					</div>
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="IANAdvanced_1_1_answer" value='{{IANAdvanced_1_1_answer}}' style="width:30px;text-align:center;" ><br>______<br></p>
						<p style="line-height:20%;text-align:center;"><input id="IANAdvanced_1_2_answer" value='{{IANAdvanced_1_2_answer}}' style="width:30px;text-align:center;" ><br></p>
					</div>
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if IANAdvanced_1_1_answer_correct is defined or IANAdvanced_1_2_answer_correct is defined %}
					{% if IANAdvanced_1_1_answer_correct and IANAdvanced_1_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{IANAdvanced_1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:10px;display:inline-block;width:15px;vertical-align:top;">b)</div>
		<div style="margin-left:0px;margin-top:10px;display:inline-block;width:360px;">If the number of packets was increased by <font class="grade7Variables">f</font> units and <font class="grade7Variables">g</font> number of pupils were dropped from the list of those receiving sweets, find the number of sweets that each pupil got?</div>
		<div style="margin-left:60px;margin-top:20px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:20px;">Answer: </div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				{% if IANAdvanced_1_3_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="IANAdvanced_1_3_answer" value='{{IANAdvanced_1_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"> &times; <font class="grade7Variables">e</font><br>________<br></p>
						<p style="line-height:20%;text-align:center;"><input id="IANAdvanced_1_4_answer" value='{{IANAdvanced_1_4_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br></p>
					</div>
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="IANAdvanced_1_3_answer" value='{{IANAdvanced_1_3_answer}}' style="width:30px;text-align:center;" > &times; <font class="grade7Variables">e</font><br>________<br></p>
						<p style="line-height:20%;text-align:center;"><input id="IANAdvanced_1_4_answer" value='{{IANAdvanced_1_4_answer}}' style="width:30px;text-align:center;" ><br></p>
					</div>
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if IANAdvanced_1_3_answer_correct is defined or IANAdvanced_1_4_answer_correct is defined %}
					{% if IANAdvanced_1_3_answer_correct and IANAdvanced_1_4_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{IANAdvanced_1_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		{% if IANAdvanced_1_1_answer_correct is defined %}
			<div style="margin-top:20px;margin-left:340px;"><button id="IANAdvanced_1_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:20px;margin-left:280px;"><button id="IANAdvanced_1_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>
<script>
	$("#IANAdvanced_1_1_answer").change(function()
	{
		question_id = "IANAdvanced_1";
		question_type = "AlgebraicNotations"
		answer_id = "IANAdvanced_1_1_answer";
		entered_answer = $("#IANAdvanced_1_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#IANAdvanced_1_2_answer").change(function()
			{
				question_id = "IANAdvanced_1";
				question_type = "AlgebraicNotations"
				answer_id = "IANAdvanced_1_2_answer";
				entered_answer = $("#IANAdvanced_1_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#IANAdvanced_1_3_answer").change(function()
			{
				question_id = "IANAdvanced_1";
				question_type = "AlgebraicNotations"
				answer_id = "IANAdvanced_1_3_answer";
				entered_answer = $("#IANAdvanced_1_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#IANAdvanced_1_4_answer").change(function()
			{
				question_id = "IANAdvanced_1";
				question_type = "AlgebraicNotations"
				answer_id = "IANAdvanced_1_4_answer";
				entered_answer = $("#IANAdvanced_1_4_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});


	$("#IANAdvanced_1_Submit").button({label:"Check Answers"});
	$("#IANAdvanced_1_Retry").button({label:"Retry"});
	$("#IANAdvanced_1_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "AlgebraicNotations"
		//getting question id, answer id and entered answer in form of a string
		var answers = "IANAdvanced_1"+"#%$"+"IANAdvanced_1_1_answer"+"#%$"+$("#IANAdvanced_1_1_answer").val();
		answers = answers + "#%$"+"IANAdvanced_1"+"#%$"+"IANAdvanced_1_2_answer"+"#%$"+$("#IANAdvanced_1_2_answer").val();
		answers = answers + "#%$"+"IANAdvanced_1"+"#%$"+"IANAdvanced_1_3_answer"+"#%$"+$("#IANAdvanced_1_3_answer").val();
		answers = answers + "#%$"+"IANAdvanced_1"+"#%$"+"IANAdvanced_1_4_answer"+"#%$"+$("#IANAdvanced_1_4_answer").val();

		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#IANAdvanced_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "IANAdvanced_1_1_answer,IANAdvanced_1_2_answer,IANAdvanced_1_3_answer,";
		answer_ids = answer_ids + "IANAdvanced_1_4_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


