<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.2 Interpreting Algebraic Notations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:50%;">7.2 Interpreting Algebraic Notations</div>
	{% endif %}
	<div class="grade7TopicName">7.2 Interpreting Algebraic Notations</div>
	<div class="grade7PageMargin">
		<div style="margin-top:20px;">An algebraic expression is made up of <strong>algebraic terms</strong>.</div>
		<div style="margin-top:10px;">For example, <font class="grade7Variables">x</font> + 2<font class="grade7Variables">y</font> &minus; 3<font class="grade7Variables">z</font> + 4 consists of 4 algebraic terms which are <font class="grade7Variables">x</font>, 2<font class="grade7Variables">y</font>, &minus;3<font class="grade7Variables">z</font> and <font class="grade7Variables">4</font>.</div>
		<div style="margin-top:10px;">The numeric part with each variable is called its <strong>coefficient</strong>. In the above example, 1, 2 and &minus;3 are the coefficients of <font class="grade7Variables">x</font>, <font class="grade7Variables">y</font> and <font class="grade7Variables">z</font>.</div>
		<div style="margin-top:10px;">The term 4 is called a <strong>constant</strong> because it has no variable attached to it. This means that it does not change with the change in value of any variable.</div>
		<div style="margin-top:20px;" class="grade7OrangeSideBox"><strong>Do Note:</strong>
			<div>Coefficients and constants include the sign that is in front of them.</div>
		</div>
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 3:</font></div>
		<div style="margin-top:25px;display:inline-block;width:310px;vertical-align:top;"><div>Consider the algebraic expression 21<font class="grade7Variables">a</font><sup>2</sup> &minus; 6<font class="grade7Variables">a</font><font class="grade7Variables">b</font> + <font class="grade7Variables">b</font><sup>2</sup> &minus; 19 and answer the following questions:</div></div>
		<br>
		<div style="margin-top:10px;margin-left:30px;">a)&nbsp; Mention the algebraic terms.</div>
		<br>	
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

