<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.2 Interpreting Algebraic Notations</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:50%;">7.2 Interpreting Algebraic Notations</div>
	{% endif %}
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			Sierra baked 18 cup cakes of which two got burnt. She threw away the burnt cupcakes and distributed the remaining equally among her 4 children.
		</div>
		<div style="margin-left:40px;margin-top:10px;">a) How many cupcakes did each child get?</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">Answer: </div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:10px;">
				{% if IANMedium_2_1_answer_correct is defined %}
					<input id="IANMedium_2_1_answer" value='{{IANMedium_2_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;"> cupcakes
				{% else %}
					<input id="IANMedium_2_1_answer" value='{{IANMedium_2_1_answer}}' style="width:30px;"> cupcakes
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if IANMedium_2_1_answer_correct is defined %}
					{% if IANMedium_2_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{IANMedium_2_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:20px;width:15px;display:inline-block;vertical-align:top;">b)</div>
		<div style="margin-left:0px;margin-top:20px;display:inline-block;vertical-align:top;width:360px;">Write down an algebraic expression for the above situation if there were <font class="grade7Variables">p</font> cupcakes and <font class="grade7Variables">q</font> children.</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:20px;">Answer: </div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				{% if IANMedium_2_2_answer_correct is defined or IANMedium_2_3_answer_correct is defined %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="IANMedium_2_2_answer" value='{{IANMedium_2_2_answer}}' readonly style="width:40px;background-color:#DFDFDF;text-align:center;"><br>_______<br></p>
						<p style="line-height:20%;text-align:center;"><input id="IANMedium_2_3_answer" value='{{IANMedium_2_3_answer}}' readonly style="width:30px;background-color:#DFDFDF;text-align:center;"><br></p>
					</div>
				{% else %}
					<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:0px;">
						<p style="line-height:20%;text-align:center;"><input id="IANMedium_2_2_answer" value='{{IANMedium_2_2_answer}}' style="width:40px;text-align:center;" ><br>_______<br></p>
						<p style="line-height:20%;text-align:center;"><input id="IANMedium_2_3_answer" value='{{IANMedium_2_3_answer}}' style="width:30px;text-align:center;" ><br></p>
					</div>
				{% endif %}
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:10px;margin-top:0px;">
				{% if IANMedium_2_2_answer_correct is defined or IANMedium_2_3_answer_correct is defined %}
					{% if IANMedium_2_2_answer_correct and IANMedium_2_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{IANMedium_2_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		{% if IANMedium_2_1_answer_correct is defined %}
			<div style="margin-top:20px;margin-left:340px;"><button id="IANMedium_2_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:20px;margin-left:280px;"><button id="IANMedium_2_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>
<script>
	$("#IANMedium_2_1_answer").change(function()
	{
		question_id = "IANMedium_2";
		question_type = "AlgebraicNotations"
		answer_id = "IANMedium_2_1_answer";
		entered_answer = $("#IANMedium_2_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#IANMedium_2_2_answer").change(function()
			{
				question_id = "IANMedium_2";
				question_type = "AlgebraicNotations"
				answer_id = "IANMedium_2_2_answer";
				entered_answer = $("#IANMedium_2_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#IANMedium_2_3_answer").change(function()
			{
				question_id = "IANMedium_2";
				question_type = "AlgebraicNotations"
				answer_id = "IANMedium_2_3_answer";
				entered_answer = $("#IANMedium_2_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});


	$("#IANMedium_2_Submit").button({label:"Check Answers"});
	$("#IANMedium_2_Retry").button({label:"Retry"});
	$("#IANMedium_2_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "AlgebraicNotations"
		//getting question id, answer id and entered answer in form of a string
		var answers = "IANMedium_2"+"#%$"+"IANMedium_2_1_answer"+"#%$"+$("#IANMedium_2_1_answer").val();
		answers = answers + "#%$"+"IANMedium_2"+"#%$"+"IANMedium_2_2_answer"+"#%$"+$("#IANMedium_2_2_answer").val();
		answers = answers + "#%$"+"IANMedium_2"+"#%$"+"IANMedium_2_3_answer"+"#%$"+$("#IANMedium_2_3_answer").val();

		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#IANMedium_2_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "IANMedium_2_1_answer,IANMedium_2_2_answer,IANMedium_2_3_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


