<div style="height:480px;">
	<div class="grade7ChapterNumberDiv" style="background-color:#7B43A0;">
		<div class="grade7ChapterNumber" style="color:#FFF;">
			Chapter 7
		</div>
	</div>
	<div class="grade7ChapterNameDiv" style="background-color:#EBBBF1;">
		<div class="grade7ChapterName" style="width:380px;color:#7B43A0;">
			Introduction to Algebra
		</div>
	</div>
	<br>
	<div class="grade7LearningOutcomes">Learning Outcomes</div>
	<div class="grade7LearningOutcomesList" style="margin-left:20%;">
		<ul>
			<li><a href="javascript:Grade7BookPageLoadByName('Using-Letters-to-Represent-Numbers-1')">Using Letters to Represent Numbers</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Interpreting-Algebraic-Notations-1')">Interpreting Algebraic Notations</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Evaluating-Algebraic-Expressions-1')">Evaluating Algebraic Expressions and Formulae</a></li>
			<li><a href="javascript:Grade7BookPageLoadByName('Real-World-Algebraic-Expressions-1')">Translating Real-World Situations into Algebraic Expressions</a></li>				
			<li><a href="javascript:Grade7BookPageLoadByName('Topical-Test-1-Introduction-to-Algebra')">Topical Test</a></li>
		</ul>		
	</div>		
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

