<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.4 Translating Real-World Situations into Algebraic Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:25%;">7.4 Translating Real-World Situations into Algebraic Expressions</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 13:</font>(contd.)</div>
		<div style="margin-top:10px;margin-left:30px;display:inline-block;vertical-align:top;width:15px;">c)</div>
		<div style="margin-top:10px;display:inline-block;vertical-align:top;width:380px;">
			<div>Given that z = 10</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:15px;">From (b), we know y = </div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:5px;">
				<p style="line-height:20%;text-align:center;">100<br>___<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">z</font><br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:5px;">&there4; Number of children in each group, y = </div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
				<p style="line-height:20%;text-align:center;">100<br>___<br></p>
				<p style="line-height:20%;text-align:center;">10<br></p>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:5px;">= 10</div>			
		</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

