<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.4 Translating Real-World Situations into Algebraic Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:25%;">7.4 Translating Real-World Situations into Algebraic Expressions</div>
	{% endif %}		
		<div style="margin-left:40px;margin-top:20px;display:inline-block;width:30px;vertical-align:top;">4 b)</div> 
		<div style="margin-left:0px;margin-top:20px;display:inline-block;width:345px;">
		<div>If the gas consumption of the household is 250 kWh and water consumption is 41.3 m<sup>3</sup>, find the net charges of gas and water consumption inclusive of tax, correct to 2 decimal places.</div>
		</div>
		<div style="margin-left:80px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Answer: &nbsp;$
				{% if RWAAdvanced_4_2_answer_correct is defined %}
					<input id="RWAAdvanced_4_2_answer" value='{{RWAAdvanced_4_2_answer}}' readonly style="width:45px;background-color:#DFDFDF;" > 
				{% else %}
					<input id="RWAAdvanced_4_2_answer" value='{{RWAAdvanced_4_2_answer}}' style="width:45px;" > 
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if RWAAdvanced_4_2_answer_correct is defined %}
					{% if RWAAdvanced_4_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RWAAdvanced_4_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>

		{% if RWAAdvanced_4_2_answer_correct is defined %}
			<div style="margin-top:20px;margin-left:340px;"><button id="RWAAdvanced_5_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:20px;margin-left:280px;"><button id="RWAAdvanced_5_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>
<script>
	$("#RWAAdvanced_4_2_answer").change(function()
			{
				question_id = "RWAAdvanced_4";
				question_type = "RealWorldAlgebra"
				answer_id = "RWAAdvanced_4_2_answer";
				entered_answer = $("#RWAAdvanced_4_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#RWAAdvanced_5_Submit").button({label:"Check Answers"});
	$("#RWAAdvanced_5_Retry").button({label:"Retry"});
	$("#RWAAdvanced_5_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "RealWorldAlgebra"
		//getting question id, answer id and entered answer in form of a string
		var answers = "RWAAdvanced_4"+"#%$"+"RWAAdvanced_4_2_answer"+"#%$"+$("#RWAAdvanced_4_2_answer").val();

		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#RWAAdvanced_5_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "RWAAdvanced_4_2_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


