<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.4 Translating Real-World Situations into Algebraic Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:25%;">7.4 Translating Real-World Situations into Algebraic Expressions</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Medium</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">Cindy is 2 feet shorter than her brother Dave and Dave is 1 foot shorter than his friend Elena. Let the height of Dave be x feet.
			</div>
		</div>
		<div style="margin-left:40px;margin-top:20px;">a) Find the heights of Cindy and Elena in terms of <font class="grade7Variables">x</font>.</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Height of Cindy &nbsp; = &nbsp;
				{% if RWAMedium_1_1_answer_correct is defined %}
					<input id="RWAMedium_1_1_answer" value='{{RWAMedium_1_1_answer}}' readonly style="width:40px;background-color:#DFDFDF;"> feet
				{% else %}
					<input id="RWAMedium_1_1_answer" value='{{RWAMedium_1_1_answer}}' style="width:40px;" > feet
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if RWAMedium_1_1_answer_correct is defined %}
					{% if RWAMedium_1_1_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RWAMedium_1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Height of Elena &nbsp; = &nbsp;
				{% if RWAMedium_1_2_answer_correct is defined %}
					<input id="RWAMedium_1_2_answer" value='{{RWAMedium_1_2_answer}}' readonly style="width:40px;background-color:#DFDFDF;"> feet
				{% else %}
					<input id="RWAMedium_1_2_answer" value='{{RWAMedium_1_2_answer}}' style="width:40px;" > feet
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if RWAMedium_1_2_answer_correct is defined %}
					{% if RWAMedium_1_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RWAMedium_1_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:40px;margin-top:20px;display:inline-block;width:15px;vertical-align:top;">b)</div>
		<div style="margin-left:0px;margin-top:20px;display:inline-block;width:360px;">If the height of Cindy is <font class="grade7Variables">c</font> feet, write a formula to express <font class="grade7Variables">c</font> in terms of <font class="grade7Variables">x</font>.</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;"><font class="grade7Variables">c</font> &nbsp; = &nbsp;
				{% if RWAMedium_1_3_answer_correct is defined %}
					<input id="RWAMedium_1_3_answer" value='{{RWAMedium_1_3_answer}}' readonly style="width:40px;background-color:#DFDFDF;"> 
				{% else %}
					<input id="RWAMedium_1_3_answer" value='{{RWAMedium_1_3_answer}}' style="width:40px;" > 
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if RWAMedium_1_3_answer_correct is defined %}
					{% if RWAMedium_1_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RWAMedium_1_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>			


		{% if RWAMedium_1_1_answer_correct is defined %}
			<div style="margin-top:30px;margin-left:340px;"><button id="RWAMedium_1_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:30px;margin-left:280px;"><button id="RWAMedium_1_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>
<script>
	$("#RWAMedium_1_1_answer").change(function()
	{
		question_id = "RWAMedium_1";
		question_type = "RealWorldAlgebra"
		answer_id = "RWAMedium_1_1_answer";
		entered_answer = $("#RWAMedium_1_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RWAMedium_1_2_answer").change(function()
			{
				question_id = "RWAMedium_1";
				question_type = "RealWorldAlgebra"
				answer_id = "RWAMedium_1_2_answer";
				entered_answer = $("#RWAMedium_1_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#RWAMedium_1_3_answer").change(function()
			{
				question_id = "RWAMedium_1";
				question_type = "RealWorldAlgebra"
				answer_id = "RWAMedium_1_3_answer";
				entered_answer = $("#RWAMedium_1_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#RWAMedium_1_Submit").button({label:"Check Answers"});
	$("#RWAMedium_1_Retry").button({label:"Retry"});
	$("#RWAMedium_1_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "RealWorldAlgebra"
		//getting question id, answer id and entered answer in form of a string
		var answers = "RWAMedium_1"+"#%$"+"RWAMedium_1_1_answer"+"#%$"+$("#RWAMedium_1_1_answer").val();
		answers = answers + "#%$"+"RWAMedium_1"+"#%$"+"RWAMedium_1_2_answer"+"#%$"+$("#RWAMedium_1_2_answer").val();
		answers = answers + "#%$"+"RWAMedium_1"+"#%$"+"RWAMedium_1_3_answer"+"#%$"+$("#RWAMedium_1_3_answer").val();

		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#RWAMedium_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "RWAMedium_1_1_answer,RWAMedium_1_2_answer,RWAMedium_1_3_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


