<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.4 Translating Real-World Situations into Algebraic Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:25%;">7.4 Translating Real-World Situations into Algebraic Expressions</div>
	{% endif %}
	<div class="grade7TopicName">7.4 Translating Real-World Situations into Algebraic Expressions</div>
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 12:</font></div>
		<div style="margin-top:20px;display:inline-block;width:310px;vertical-align:top;">The annual income of Fred is 10 times that of Glen.
		</div>
		<br>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;width:15px;">a) </div>
			<div style="display:inline-block;vertical-align:top;width:360px;">Find the annual income of Fred given that Glen's annual income is <font class="grade7Variables">p</font>.</div>
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;width:15px;">b) </div>
			<div style="display:inline-block;vertical-align:top;width:360px;">Let Fred's annual income be <font class="grade7Variables">q</font>. Express the relation between annual incomes of Fred and Glen using a formula.</div>
		</div>		
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 12:</font></div>
		<div style="margin-top:10px;margin-left:30px;display:inline-block;vertical-align:top;width:15px;">a)</div>
		<div style="margin-top:10px;display:inline-block;vertical-align:top;width:380px;">
			Glen's annual income = <font class="grade7Variables">p</font>
			<p>Since, Fred's annual income is 10 times that of Glen,</p>
			<p>&there4; Fred's annual income = 10<font class="grade7Variables">p</font></p>		
		</div>
		<div style="margin-top:0px;margin-left:30px;display:inline-block;vertical-align:top;width:15px;">b)</div>
		<div style="margin-top:0px;display:inline-block;vertical-align:top;width:380px;">
			Using (a), we get the formula, <font class="grade7Variables">q</font> = 10<font class="grade7Variables">p</font>	
		</div>
		<p>From the above example, we see that real-world situations can be translated to algebraic expressions. Let us see another example.</p>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

