<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.4 Translating Real-World Situations into Algebraic Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:25%;">7.4 Translating Real-World Situations into Algebraic Expressions</div>
	{% endif %}
		<div class="grade7TopicName" style="margin-top:20px;">Practice - Easy</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;"><font class="grade7PracticeQuestionNumber">1)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;vertical-align:top;">
			<div style="display:inline-block;vertical-align:top;margin-top:0px;">The price of a ceramic pot is 2.5 times that of a clay pot. If the price of the ceramic pot is $<font class="grade7Variables">y</font>, find the price of the clay pot.
			</div>
		</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">Price of clay pot: &nbsp;$
				{% if RWAEasy_1_1_answer_correct is defined %}
					<input id="RWAEasy_1_1_answer" value='{{RWAEasy_1_1_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
					&divide;
					<input id="RWAEasy_1_2_answer" value='{{RWAEasy_1_2_answer}}' readonly style="width:30px;background-color:#DFDFDF;">
				{% else %}
					<input id="RWAEasy_1_1_answer" value='{{RWAEasy_1_1_answer}}' style="width:30px;" >
					&divide;
					<input id="RWAEasy_1_2_answer" value='{{RWAEasy_1_2_answer}}' style="width:30px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if RWAEasy_1_1_answer_correct is defined %}
					{% if RWAEasy_1_1_answer_correct and RWAEasy_1_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RWAEasy_1_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;vertical-align:top;"><font class="grade7PracticeQuestionNumber">2)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;">
			<div style="display:inline-block;margin-top:0px;">A man exchanges <font class="grade7Variables">x</font> number of $50 notes with <font class="grade7Variables">y</font> number of $5 notes. Express <font class="grade7Variables">y</font> in terms of <font class="grade7Variables">x</font>.
			</div>
		</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;"><font class="grade7Variables">y</font> &nbsp; = &nbsp;
				{% if RWAEasy_2_answer_correct is defined %}
					<input id="RWAEasy_2_answer" value='{{RWAEasy_2_answer}}' readonly style="width:35px;background-color:#DFDFDF;">
				{% else %}
					<input id="RWAEasy_2_answer" value='{{RWAEasy_2_answer}}' style="width:35px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if RWAEasy_2_answer_correct is defined %}
					{% if RWAEasy_2_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RWAEasy_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>
		<div style="margin-left:20px;margin-top:20px;display:inline-block;width:20px;vertical-align:top;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="margin-top:20px;display:inline-block;width:390px;">
			<div style="display:inline-block;margin-top:0px;">Three times the area of an isosceles right triangle is equal to one-sixth the area of a square. Let <font class="grade7Variables">x</font> be the length of one of the equal sides of the triangle and <font class="grade7Variables">y</font> be the side of the square. Express <font class="grade7Variables">y</font> in terms of <font class="grade7Variables">x</font>. Given,
				<div style="margin-top:10px;">Area of a triangle = &frac12; &times; base &times; height</div>
				<div style="margin-top:5px;">Area of a square = (Side)<sup>2</sup></div> 
			</div>
		</div>
		<div style="margin-left:60px;margin-top:10px;">
			<div style="display:inline-block;margin-left:5px;margin-top:10px;"><font class="grade7Variables">y</font> &nbsp; = &nbsp;
				{% if RWAEasy_3_answer_correct is defined %}
					<input id="RWAEasy_3_answer" value='{{RWAEasy_3_answer}}' readonly style="width:35px;background-color:#DFDFDF;">
				{% else %}
					<input id="RWAEasy_3_answer" value='{{RWAEasy_3_answer}}' style="width:35px;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if RWAEasy_3_answer_correct is defined %}
					{% if RWAEasy_3_answer_correct %}
						<img src="/images/g7_correct.png">
					{% else %}
						<img src="/images/g7_incorrect.png">
					{% endif %}
					<a href ="javascript:ShowExplanation('{{RWAEasy_3_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
				{% endif %}
			</div>			
		</div>


		{% if RWAEasy_1_1_answer_correct is defined %}
			<div style="margin-top:-20px;margin-left:340px;"><button id="RWAEasy_1_Retry" style="outline:none;"></button></div>
		{% else %}
			<div style="margin-top:-20px;margin-left:280px;"><button id="RWAEasy_1_Submit" style="outline:none;"></button></div>
		{% endif %}			
		<div id="explain_dialog"></div>	
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>
<script>
	$("#RWAEasy_1_1_answer").change(function()
	{
		question_id = "RWAEasy_1";
		question_type = "RealWorldAlgebra"
		answer_id = "RWAEasy_1_1_answer";
		entered_answer = $("#RWAEasy_1_1_answer").val();
		student_id = '{{current_user.username}}';
		Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
	});
	$("#RWAEasy_1_2_answer").change(function()
			{
				question_id = "RWAEasy_1";
				question_type = "RealWorldAlgebra"
				answer_id = "RWAEasy_1_2_answer";
				entered_answer = $("#RWAEasy_1_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#RWAEasy_2_answer").change(function()
			{
				question_id = "RWAEasy_2";
				question_type = "RealWorldAlgebra"
				answer_id = "RWAEasy_2_answer";
				entered_answer = $("#RWAEasy_2_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});
	$("#RWAEasy_3_answer").change(function()
			{
				question_id = "RWAEasy_3";
				question_type = "RealWorldAlgebra"
				answer_id = "RWAEasy_3_answer";
				entered_answer = $("#RWAEasy_3_answer").val();
				student_id = '{{current_user.username}}';
				Grade7SaveAnswer(question_id,question_type,answer_id,entered_answer,student_id);
			});

	$("#RWAEasy_1_Submit").button({label:"Check Answers"});
	$("#RWAEasy_1_Retry").button({label:"Retry"});
	$("#RWAEasy_1_Submit").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		question_type = "RealWorldAlgebra"
		//getting question id, answer id and entered answer in form of a string
		var answers = "RWAEasy_1"+"#%$"+"RWAEasy_1_1_answer"+"#%$"+$("#RWAEasy_1_1_answer").val();
		answers = answers + "#%$"+"RWAEasy_1"+"#%$"+"RWAEasy_1_2_answer"+"#%$"+$("#RWAEasy_1_2_answer").val();
		answers = answers + "#%$"+"RWAEasy_2"+"#%$"+"RWAEasy_2_answer"+"#%$"+$("#RWAEasy_2_answer").val();
		answers = answers + "#%$"+"RWAEasy_3"+"#%$"+"RWAEasy_3_answer"+"#%$"+$("#RWAEasy_3_answer").val();
		Grade7SubmitAnswer(student_id,question_type,answers);
	});
	$("#RWAEasy_1_Retry").click(function(){
		//#%$ is a string separator
		student_id = '{{current_user.username}}';
		answer_ids = "RWAEasy_1_1_answer,RWAEasy_1_2_answer,RWAEasy_2_answer,";
		answer_ids = answer_ids + "RWAEasy_3_answer";
		Grade7ClearAnswer(student_id,answer_ids);
	});
	$("#explain_dialog").dialog
	({
		autoOpen: false,
		title:"Explanation",
        position:"center",   			
		buttons:{"Ok": function(){$(this).dialog("close");}},
		modal:true,
		width:500
	});
	function ShowExplanation(htmlText)
	{
		$("#explain_dialog").html(htmlText);
		$("#explain_dialog").addClass("ExplanationFont");
		$("#explain_dialog").dialog("open");	
	}
</script>


