<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.4 Translating Real-World Situations into Algebraic Expressions</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:25%;">7.4 Translating Real-World Situations into Algebraic Expressions</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;width:100px;display:inline-block;"><font class="grade7ExampleNumber">Example 13:</font></div>
		<div style="margin-top:20px;display:inline-block;width:320px;vertical-align:top;">A summer camp 'Lovely Summers' is organized for school children every year. It takes in 100 children every year. The manager of the summer camp splits these children into <font class="grade7Variables">z</font> groups, each group having the same number of children.
		</div>
		<br>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;width:15px;">a) </div>
			<div style="display:inline-block;vertical-align:top;width:360px;">Find the number of children in each group.</div>
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;width:15px;">b) </div>
			<div style="display:inline-block;vertical-align:top;width:360px;">Let the number of children in each group be <font class="grade7Variables">y</font>. Express the relation between <font class="grade7Variables">y</font> and <font class="grade7Variables">z</font> using a formula.</div>
		</div>		
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;vertical-align:top;width:15px;">c) </div>
			<div style="display:inline-block;vertical-align:top;width:360px;">Given that every year 10 groups are formed, find the number of children in each group using the formula derived in part (b).</div>
		</div>		
		<div style="margin-top:10px;"><font class="grade7ExampleSolution">Solution 13:</font></div>
		<div style="margin-top:10px;margin-left:30px;display:inline-block;vertical-align:top;width:15px;">a)</div>
		<div style="margin-top:10px;display:inline-block;vertical-align:top;width:380px;">
			Total number of children = 100
			<p>Number of Groups	= z</p>
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:5px;">&there4; Number of children in each group	= </div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-5px;">
				<p style="line-height:20%;text-align:center;">100<br>___<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">z</font><br></p>
			</div>		
		</div>
		<div style="margin-top:5px;margin-left:30px;display:inline-block;vertical-align:top;width:15px;">b)</div>
		<div style="margin-top:5px;display:inline-block;vertical-align:top;width:380px;">
			<div style="display:inline-block;vertical-align:top;margin-left:0px;margin-top:0px;">Using (a), we get the formula, <font class="grade7Variables">y</font> = </div>
			<div style="display:inline-block;vertical-align:top;margin-left:5px;margin-top:-10px;">
				<p style="line-height:20%;text-align:center;">100<br>___<br></p>
				<p style="line-height:20%;text-align:center;"><font class="grade7Variables">z</font><br></p>
			</div>		
		</div>		
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

