<div style="height:480px;">
	<div class="grade7PageHeader" style="color:#7B43A0;margin-left:48%;">Introduction to Algebra - Topical Test</div>
	<div class="grade7PageMargin" style="clear:both;">
		<div style="display:inline-block;margin-left:20px;margin-top:10px;"><font class="grade7PracticeQuestionNumber">3)</font></div>
		<div style="display:inline-block;width:380px;margin-top:10px;vertical-align:top;">
			Mindy had a stock of 13 chickens. She kept 2 for herself and sold the remaining at $6.50 per chicken.
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="">a) How much money did she collect?</div>
			<div style="display:inline-block;margin-left:15px;margin-top:10px;">Answer: &nbsp;$</div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
					<input id="IAGTT1_3_1_answer" value='{{IAGTT1_3_1_answer}}' readonly style="width:40px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="IAGTT1_3_1_answer" value='{{IAGTT1_3_1_answer}}' style="width:40px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if IAGTT1_3_1_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{IAGTT1_3_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 1 / 1)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{IAGTT1_3_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 1)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 1)</font>
				{% endif %}
			</div>		
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;width:15px;vertical-align:top;">b)</div>
			<div style="display:inline-block;width:370px;">If she kept <font class="grade7Variables">w</font> out of a total of <font class="grade7Variables">z</font> chickens for herself and sold the rest at $6.50 each, how much money would she collect?</div>
			<div style="display:inline-block;margin-left:15px;margin-top:10px;">Answer: &nbsp;$</div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
					<input id="IAGTT1_3_2_answer" value='{{IAGTT1_3_2_answer}}' readonly style="width:55px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="IAGTT1_3_2_answer" value='{{IAGTT1_3_2_answer}}' style="width:55px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if IAGTT1_3_2_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{IAGTT1_3_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 2 / 2)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{IAGTT1_3_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 2)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 2)</font>
				{% endif %}
			</div>		
		</div>
		<div style="display:inline-block;margin-left:20px;margin-top:30px;"><font class="grade7PracticeQuestionNumber">4)</font></div>
		<div style="display:inline-block;width:380px;margin-top:30px;vertical-align:top;">
			Norah spent a part of $150 on buying cups and plates. A cup was worth $7 and a plate was worth $10.
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;width:15px;vertical-align:top;">a)</div>
			<div style="display:inline-block;width:370px;">How much money was left with her after buying 3 cups and 3 plates?</div>
			<div style="display:inline-block;margin-left:15px;margin-top:10px;">Answer: &nbsp;$</div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
					<input id="IAGTT1_4_1_answer" value='{{IAGTT1_4_1_answer}}' readonly style="width:40px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="IAGTT1_4_1_answer" value='{{IAGTT1_4_1_answer}}' style="width:40px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if IAGTT1_3_1_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{IAGTT1_3_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 1 / 1)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{IAGTT1_3_1_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 1)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 1)</font>
				{% endif %}
			</div>		
		</div>
		<div style="margin-left:40px;margin-top:10px;">
			<div style="display:inline-block;width:15px;vertical-align:top;">b)</div>
			<div style="display:inline-block;width:370px;">How much money was left with her after buying <font class="grade7Variables">c</font> cups and <font class="grade7Variables">d</font> plates?</div>
			<div style="display:inline-block;margin-left:15px;margin-top:10px;">Answer: &nbsp;$</div>
			<div style="display:inline-block;margin-left:5px;margin-top:10px;">
				{% if test_status == 'Completed' %}
					<input id="IAGTT1_4_2_answer" value='{{IAGTT1_4_2_answer}}' readonly style="width:70px;background-color:#DFDFDF;text-align:center;">
				{% else %}
					<input id="IAGTT1_4_2_answer" value='{{IAGTT1_4_2_answer}}' style="width:70px;text-align:center;" >
				{% endif %}
			</div>
			<div style="display:inline-block;margin-left:10px;margin-top:0px;">
				{% if test_status == 'Completed' %}
					{% if IAGTT1_4_2_answer_correct %}
						<img src="/images/g7_correct.png">
						<a href ="javascript:ShowExplanation('{{IAGTT1_4_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 2 / 2)</font>
					{% else %}
						<img src="/images/g7_incorrect.png">
						<a href ="javascript:ShowExplanation('{{IAGTT1_4_2_answer_explain}}')">&nbsp;&nbsp;<img src="/images/g7_explanation.png"></a>
						<font class="grade7TestScore" style="margin-left:10px;">(Mark: 0 / 2)</font>
					{% endif %}
				{% else %}
					<font class="grade7TestMark">(Mark: 2)</font>
				{% endif %}
			</div>		
		</div>		
		
			
	</div>
	<div id="explain_dialog"></div>
</div>
<div class="grade7TestForwardButton"><button id="IAG_TT_1_Continue" style="outline:none;"></button></div>
<script>
$("#IAG_TT_1_Continue").button({label:">>"});
$("#IAG_TT_1_Continue").click(function()
	{
		test_id = '{{test_id}}';
		student_id = '{{student_id}}';
		leftPage = '/Grade-7/Chapter-7/Topical-Test-1-Introduction-to-Algebra-Page-3.html';
		rightPage = '/Grade-7/Chapter-7/Topical-Test-1-Introduction-to-Algebra-Page-4.html';
		//saving all un-attempted questions in the database on ">>" click.
		separatorText = '#%$'
		answer_ids = 'IAGTT1_1_1_answer'+separatorText+'IAGTT1_1_2_answer'+separatorText+'IAGTT1_1_3_answer'+separatorText+'IAGTT1_1_4_answer'+separatorText+'IAGTT1_2_1_answer'+separatorText+'IAGTT1_2_2_answer'+separatorText
		answer_ids = answer_ids + 'IAGTT1_3_1_answer'+separatorText+'IAGTT1_3_2_answer'+separatorText+'IAGTT1_4_1_answer'+separatorText+'IAGTT1_4_2_answer'
		Grade7SaveAndLoadTest(test_id,student_id,leftPage,rightPage,total_seconds_elapsed,answer_ids);
  	});

$("#IAGTT1_3_1_answer").change(function()
		{
			question_id = "IAGTT1_3";
			test_id = '{{test_id}}';
			answer_id = "IAGTT1_3_1_answer";
			entered_answer = $("#IAGTT1_3_1_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 1;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#IAGTT1_3_2_answer").change(function()
		{
			question_id = "IAGTT1_3";
			test_id = '{{test_id}}';
			answer_id = "IAGTT1_3_2_answer";
			entered_answer = $("#IAGTT1_3_2_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#IAGTT1_4_1_answer").change(function()
		{
			question_id = "IAGTT1_4";
			test_id = '{{test_id}}';
			answer_id = "IAGTT1_4_1_answer";
			entered_answer = $("#IAGTT1_4_1_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 1;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
$("#IAGTT1_4_2_answer").change(function()
		{
			question_id = "IAGTT1_4";
			test_id = '{{test_id}}';
			answer_id = "IAGTT1_4_2_answer";
			entered_answer = $("#IAGTT1_4_2_answer").val();
			student_id = '{{current_user.username}}';
			question_marks = 2;
			elapsed_time = total_seconds_elapsed;
			Grade7SaveTestAnswer(test_id,question_id,answer_id,entered_answer,student_id,question_marks,elapsed_time);
		});
		
$("#explain_dialog").dialog
({
	autoOpen: false,
	title:"Explanation",
    position:"center",   			
	buttons:{"Ok": function(){$(this).dialog("close");}},
	modal:true,
	width:500
});
function ShowExplanation(htmlText)
{
	$("#explain_dialog").html(htmlText);
	$("#explain_dialog").addClass("ExplanationFont");
	$("#explain_dialog").dialog("open");	
}

</script>

