<div style="height:480px;">
	{% if page_number % 2 == 0 %}
		<div class="grade7PageHeader" style="color:#7B43A0;">7.1 Using Letters to represent numbers</div>
	{% else %}
		<div class="grade7PageHeader" style="color:#7B43A0;margin-left:45%;">7.1 Using Letters to represent numbers</div>
	{% endif %}
	<div class="grade7PageMargin">
		<div style="margin-top:20px;">An algebraic expression consists of numbers and variables along with operation symbols (&plus;, &minus;, &times; and &divide;). It may also contain brackets.</div>
		<div style="margin-top:30px;width:90px;display:inline-block;"><font class="grade7ExampleNumber">Example 2:</font></div>
		<div style="margin-top:30px;display:inline-block;width:310px;vertical-align:top;">A man distributed an equal sum of money among 3 children. How much money did each child get if the total amount distributed was:</div>
		<br>
		<div style="margin-top:10px;width:120px;display:inline-block;text-align:right">a)&nbsp; $270</div>
		<div style="margin-top:10px;width:120px;display:inline-block;text-align:right">b)&nbsp; $3300</div>
		<div style="margin-top:10px;width:100px;display:inline-block;text-align:right">c)&nbsp; $<font class="grade7Variables">z</font></div>
		<br>			
		<div style="margin-top:20px;"><font class="grade7ExampleSolution">Solution 2:</font></div>
		<div style="margin-top:10px;width:220px;display:inline-block;margin-left:30px;">a) Money received by each child</div>
		<div style="margin-top:10px;display:inline-block;">= $270 &divide; 3</div>
		<br>
		<div style="margin-top:10px;width:220px;display:inline-block;margin-left:30px;"></div>
		<div style="margin-top:10px;display:inline-block;">= $90</div>
		<br>
		<div style="margin-top:10px;width:220px;display:inline-block;margin-left:30px;">b) Money received by each child</div>
		<div style="margin-top:10px;display:inline-block;">= $3300 &divide; 3</div>
		<br>
		<div style="margin-top:10px;width:220px;display:inline-block;margin-left:30px;"></div>
		<div style="margin-top:10px;display:inline-block;">= $1100</div>
		<br>
		<div style="margin-top:10px;width:220px;display:inline-block;margin-left:30px;">c) Money received by each child</div>
		<div style="margin-top:10px;display:inline-block;">= $<font class="grade7Variables">z</font> &divide; 3</div>

		
		<div style="margin-top:30px;text-align:center;width:360px;margin-left:30px;" class="grade7YellowSideBox">
			Here, <font class="grade7Variables">z</font> &divide; 3 is an algebraic expression in which <font class="grade7Variables">z</font> is a variable.
		</div>
			
	</div>
</div>
<div class="{{page_class}}" style="background-color:#7B43A0;color:#fff">{{page_number}}</div>

